<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer src="js/Homepage/homepage.js"></script>
</head>

<body>
    <!-- quote -->
    <div class="main-inner-top-header">
        <div class="quote">
            <div id="quote-text"></div>
            <div id="author-text"></div>
        </div>
    </div>

    <div class="main-content">

    </div>
</body>

</html>