<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer src="js/Homepage/homepage.js"></script>
</head>

<body>
    <!-- quote -->
    <div style="display: none;" class="main-inner-top-header">
        <div class="quote">
            <div id="quote-text"></div>
            <div id="author-text"></div>
        </div>
    </div>

    <div class="main-content" style="margin-top: 2em;padding:6em;">
        <div class="box-grid main-box-grid" style="width: 85%;">

            <!-- box 1 - Neuigkeiten -->
            <a href="/neues" class="box no-color-on-hover">
                <h2 class="color-box-title">Neues</h2>
                <h1 style="font-size: 100px;" class="fa-regular fa-newspaper"></h1>
                <span>Entdecke was momentan im sgw pasiert und werde Teil einer Bewegung</span>
            </a>

            <!-- box 1 - anmeldung -->
            <a href="/node/2249" class="box no-color-on-hover">
                <h2 class="color-box-title">Anmeldung</h2>
                <h1 style="font-size: 100px;" class="fa-solid fa-school"></h1>
                <span>Melden sie ihr Kind jetzt an. Wir heißen sie herzlich Willkommen!</span>
            </a>

            <!-- box 1 - termine und berufsorientierung -->
            <a href="/terminuebersicht" class="box no-color-on-hover">
                <h2 class="color-box-title">Termine</h2>
                <h1 style="font-size: 100px;" class="fa-regular fa-calendar-days"></h1>
                <span>Finden sie hier wichtige Veranstaltungen/ Termine und Termine zur Berufsorientierung</span>
            </a>

            <a href="/faecher" class="box no-color-on-hover">
                <h2 class="color-box-title">F&auml;cher</h2>
                <h1 style="font-size: 100px;" class="fa-solid fa-chalkboard-user"></h1>
                <span>Erfahren sie hier etwas über unsere F&auml;cher und den entsprechenden Fachschaften/ Lehrern</span>
            </a>

        </div>
    </div>


</body>

</html>