<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style/library.css">
    <script defer src="js/Homepage/homepage.js"></script>
    <script defer src="js/canvas.js"></script>
</head>

<body>
    <!-- quote -->
    <div style="display: none;" class="main-inner-top-header">
        <div class="quote">
            <div id="quote-text"></div>
            <div id="author-text"></div>
        </div>
    </div>

    <div class="main-content">
        <canvas id="canvas"></canvas>

        <div class="searchBarWrapper">
            <div class="searchBox">

                <input class="searchInput" type="text" name="" placeholder="Suche nach...">
                <button class="searchButton" href="#">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>

        </div>

        <div class="grid-container main-box-grid" style="width: 100%;margin-bottom: 4em;">

            <!-- box 1 - Neuigkeiten -->
            <a href="/neues" class="box no-color-on-hover">
                <h2 class="color-box-title">Neues</h2>
                <h1 style="font-size: 100px;" class="fa-regular fa-newspaper"></h1>
                <span>Entdecke was momentan im sgw passiert und werde Teil einer Bewegung</span>
            </a>

            <!-- box 2 - anmeldung -->
            <a href="/node/2249" class="box no-color-on-hover">
                <h2 class="color-box-title">Anmeldung</h2>
                <h1 style="font-size: 100px;" class="fa-solid fa-school"></h1>
                <span>Melden sie ihr Kind jetzt an. Wir heißen sie herzlich Willkommen!</span>
            </a>

            <!-- box 3 - termine und berufsorientierung -->
            <a href="/terminuebersicht" class="box no-color-on-hover">
                <h2 class="color-box-title">Termine</h2>
                <h1 style="font-size: 100px;" class="fa-regular fa-calendar-days"></h1>
                <span>Finden sie hier wichtige Veranstaltungen/ Termine und Termine zur Berufsorientierung</span>
            </a>

            <!-- box 4 - Berufsorientierung -->
            <a href="/node/2165" class="box no-color-on-hover">
                <h2 class="color-box-title-large-text">Berufsorientierung</h2>
                <h1 style="font-size: 100px;" class="fa-regular fa-newspaper"></h1>
                <span>Hier wirst du aufgeklärt... Keine Verwirrung mehr!</span>
            </a>

            <!-- box 5 - Fächer -->
            <a href="/faecher" class="box no-color-on-hover">
                <h2 class="color-box-title">F&auml;cher</h2>
                <h1 style="font-size: 100px;" class="fa-solid fa-chalkboard-user"></h1>
                <span>Erfahren sie hier etwas über unsere F&auml;cher und den entsprechenden Fachschaften/ Lehrern</span>
            </a>

            <!-- box 6 - Schülerzeitung -->
            <a href="/node/2594" class="box no-color-on-hover">
                <h2 class="color-box-title-large-text">Schülerzeitung</h2>
                <h1 style="font-size: 100px;" class="fa-solid fa-school"></h1>
                <span>Erfahre was momentan abgeht und lese mit Spaß.</span>
            </a>

            <!-- box 7 - Schülervertretung -->
            <a href="/schuelervertretung" class="box no-color-on-hover">
                <h2 class="color-box-title-large-text">Schülervertretung</h2>
                <h1 style="font-size: 100px;" class="fa-regular fa-calendar-days"></h1>
                <span>Die Schülervertretung kümmert vertritt die Schüler. Jeder kann mitmachen!</span>
            </a>

            <!-- box 8 - Schulprogramm -->
            <a href="/node/2153" class="box no-color-on-hover">
                <h2 class="color-box-title-large-text">Schulprogramm</h2>
                <h1 style="font-size: 100px;" class="fa-solid fa-chalkboard-user"></h1>
                <span>Gestaltung des Schullebens, Beratung, Betreuung, Kooperationen, Leistungsbewertung und vieles mehr.</span>
            </a>

        </div>
    </div>


</body>

</html>