<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer src="js/Homepage/homepage.js"></script>
</head>

<body>
    <!-- quote -->
    <div style="display: block;" class="main-inner-top-header">
        <div class="quote">
            <div id="quote-text"></div>
            <div id="author-text"></div>
        </div>
    </div>

    <!-- main page content -->
    <div class="main-content">
        <!-- editable content wrapped and constructed in packages -->

        <div class="info-package-1 info-text-box-big clm-flex">
            <h1 class="bc-theme">Terminbuchung Anmeldung</h1>

            <p class="inner-list">
                Liebe Eltern,<br>
                <br> aufgrund des hohen Andrangs kam es zu Verzögerungen bei der Anmeldung. Wir bitten dies zu entschuldigen. <br>
                <br> Die Anmeldung ist ab sofort möglich. Sollten Sie das Anmeldefenster noch geöffnet haben, schließen Sie es bitte und starten Sie die Anmeldung über die Homepage erneut. Bei Bedarf werden weitere Termine freigeschaltet.
                <br> <br> Alle Anmeldungen vor dem 30.01.2024 müssen leider erneut vorgenommen werden, da die offizielle Freischaltung und Speicherung der Termine erst ab dem 30.01.2024 erfolgte.
            </p>

            <hr align="center" width="95%">

            <br>
            <h1><a class="pk-theme inner-list" href="/node/2703">Anmeldung Klasse 5</a></h1>
            <h1><a class="bc-theme inner-list" href="/node/2616">Anmeldung Oberstufe</a></h1>

            <p class="inner-list">Für die Anmeldung zur Oberstufe ist keine Terminbuchung nötig.</p>
        </div>

    </div>
</body>

</html>