<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content">
        <h1 class="bc-theme" style="font-size: 70px;">
            Impressum
        </h1>

        <br>

        <div class="card">
            <font size="4">
                <h3>Anschrift:</h3>
                <p class="inner-list">Städtisches Gymnasium Wermelskirchen (kurz SGW), Stockhauser Str. 13, D-42929 Wermelskirchen, <br>Tel. 02196/708690, Fax 02196/70869100
                </p>
                <br>
                <h3>Verantwortung:</h3>

                <p class="inner-list">Verantwortlich für den Inhalt der Website ist die Schulleitung. <br> Für den Inhalt externer Links übernimmt das SGW keine Verantwortung.</p>
                <p class="inner-list">Durch Anklicken externer Links verlassen Sie die Seite von www.gymnasium-wk.de. Für den Inhalt der dann angezeigten Seiten ist allein der jeweilige Betreiber verantwortlich. <br> Hierzu die Rechtslage:</p>
                <p class="inner-list">Mit Urteil vom 12. Mai 1998 hat das Landgericht Hamburg entschieden, dass man durch die Anbringung eines Links die Inhalte der gelinkten Seite ggf. mit zu verantworten hat. Dies kann - so das LG - nur dadurch verhindert werden, dass man
                    sich ausdrücklich von diesen Inhalten distanziert. Aus diesem Grunde folgende Erklärung:</p>
                <p class="inner-list">Für alle Links stellen wir fest, dass das SGW keinerlei Einfluss auf die Gestaltung und die Inhalte der gelinkten Seiten hat. Deshalb distanzieren wir uns hiermit ausdrücklich von den Inhalten aller gelinkten Seiten auf unserer Homesite
                    und machen uns ihre Inhalte nicht zu Eigen.</p>

                <br>
                <h3>Irrtum:</h3>
                <p class="inner-list">Falls irrtümlicherweise durch die Wiedergabe von Text bzw. Bild ein Copyright verletzt wurde, so bitten wir um einen Hinweis, damit die Informationsdarstellung unverzüglich korrigiert werden kann. Vielen Dank.</p>
                <br>
                <h3>Dankeschön</h3>
                <p class="inner-list">Wir sind auf Ihre Mithilfe angewiesen. Für Ihre Kritik bedankt sich das Homepage-Team des SGW ebenso wie für Ideen und Anregungen.</p>
            </font>
        </div>
    </main>
</body>

</html>