<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content">
        <h1 class="bc-theme" style="font-size: 70px;">
            Kontakt
        </h1>

        <font size="4">
            <p>
                Städtisches Gymnasium Wermelskirchen <br> Stockhauser Str. 13 <br> 42929 Wermelskirchen <br>
            </p>

            <p>Tel.: 02196/708690</p>

            <p>sekretariat.gymnasium(at)wermelskirchen.de</p>

            <br><br><br>

            <h2>Information zur Erreichbarkeit von Lehrerinnen und Lehrern per E-Mail</h2>

            <p>
                Alle am Städtischen Gymnasium Wermelskirchen unterrichtenden Lehrerinnen und Lehrer haben eine Email-Adresse bei <a class="color-link" href="https://sgw-schule.de/iserv/auth/login?_target_path=/iserv/auth/auth?_iserv_app_url%3D%252Fiserv%252Fmail%253Fpath%253DINBOX%2526start%253D0%26client_id%3D4_43lbgfkt68g0c8ocg8cwwcw00400ssowwggcgs08gggoc4c80g%26nonce%3D03d746de-38a2-479e-965e-1f31d33f2147%26redirect_uri%3Dhttps%253A%252F%252Fsgw-schule.de%252Fiserv%252Fapp%252Fauthentication%252Fredirect%26response_type%3Dcode%26scope%3Dopenid%2520uuid%2520iserv%253Asession-id%2520iserv%253Aweb-ui%2520iserv%253A2fa%253Aconfiguration%2520iserv%253Aaccess-groups%26state%3DeyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiIsImtpZCI6IjEifQ.eyJyZWRpcmVjdF91cmkiOiJodHRwczpcL1wvc2d3LXNjaHVsZS5kZVwvaXNlcnZcL21haWw_cGF0aD1JTkJPWCZzdGFydD0wIiwibm9uY2UiOiIwM2Q3NDZkZS0zOGEyLTQ3OWUtOTY1ZS0xZjMxZDMzZjIxNDciLCJhZG1pbiI6ZmFsc2UsImlzcyI6Imh0dHBzOlwvXC9zZ3ctc2NodWxlLmRlXC9pc2VydlwvIiwiZXhwIjoxNzE1NTE1NTExLCJuYmYiOjE3MDc3Mzk0NTEsImlhdCI6MTcwNzczOTUxMSwic2lkIjoiIn0.kj48KRieOP6gHGfaLdYh82HKT2S2Ai1raRYwJ7eO2fGy7DUb_neKrQsGbj4ywbmH1e5_OhY21glZnj4dSpentA">iServ</a>,
                unserer Schulplattform. Sie können dort in folgender Weise erreicht werden:
                <br> <br> 1. Wenn Sie bereits bei iServ (sgw-schule.de bzw. sgw-dienst.de) angemeldet sind, gehen Sie im E-Mail-Bereich auf „Verfassen“ und geben in der Empfängerzeile den Nachnamen des gewünschten Adressaten ein. Ihnen werden dann alle
                Mitglieder der Schulgemeinde dieses Namens angezeigt.
                <br> <br> 2. Wenn Sie aus Ihrem privaten E-Mail-Account heraus schreiben möchten, generieren Sie die E-Mail-Adresse wie folgt: vorname.nachname@sgw-schule.de (Umlaute und ß müssen aufgelöst werden, mehrteilige Nachnamen als ein Wort geschrieben
                werden: z.B. guenter.vomstein@sgw-schule.de). Wir achten darauf, dass die Lehrkräfte der Fachbereiche, die auf der Homepage zusammengestellt sind, dort in der korrekten Schreibweise verzeichnet sind.
            </p>
        </font>
    </main>
</body>

</html>