<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content">

        <div class="card">
            <section>
                <h2 class="second-class-title">Probenfahrt 2024</h2>

                <div class="region region-content">
                    <div class="content">
                        <article>
                            <div class="content">
                                <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                                    <div class="field-items">
                                        <div>
                                            <p><img src="assets/sgw-official/Orch1.jpg" style="height:270px; width:600px"></p>
                                            <br>
                                            <p>Vom <strong>29. Januar bis zum 31. Januar 2024</strong> fand die alljährliche Probenfahrt des Städtischen Gymnasiums in der malerischen Jugendherberge Lindlar statt. Schüler:innen und Lehrer:innen nahmen an
                                                diesem Event teil, das nicht nur musikalische und schauspielerische Talente förderte, sondern auch den Teamgeist stärkte. Hintergrund der Probenfahrt sind die anstehenden Aufführungen aller Gruppen im zweiten
                                                Schulhalbjahr.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>

            </section>
        </div>
    </main>

</body>

</html>