body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--font-color-reverse);
    transition: background-color 0.25s ease-out;
    width: 100%;
}

* {
    box-sizing: border-box;
}

:root {
    --font-color: #313131;
    --font-color-reverse: white;
    --light-font-color: #171717;
    --hover-color: orange;
    --transition-time: 0.15s;
    /* images of school for slide show */
    /* --image1: url("../assets/dummy_1920x1080_ffffff_cccccc_image-1.png");
    --image2: url("../assets/dummy_1920x1080_ffffff_cccccc_image-2.png");
    --image3: url("../assets/dummy_1920x1080_ffffff_cccccc_image-3.png");
    --image4: url("../assets/dummy_1920x1080_ffffff_cccccc_image-4.png"); */
    --image1: url("../assets/gymnasium-wermelskirchen-ii-af1bfe17-2a9a-409d-b44e-c7e70691c707.jpg");
    --image2: url("../assets/nature-3082832_1920.jpg");
    --image3: url("../assets/mountain-landscape-2031539_1920.jpg");
    --image4: url("../assets/road-1072821_1920.jpg");
}

.dark-theme {
    --font-color: white;
    --font-color-reverse: #171717;
    --light-font-color: rgb(255, 255, 255);
}


/* default style */

nav ul {
    display: flex;
    flex-direction: row;
    gap: 0.65em;
}

ul {
    line-height: 1.5em;
}

li a {
    display: flex;
    justify-content: start;
    align-items: center;
}

ul li {
    list-style-type: none;
}

li ul li {
    list-style-type: disc;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

a {
    color: var(--font-color);
    text-decoration: none;
    transition: color var(--transition-time) ease-out;
}

a:hover {
    cursor: pointer;
    transition: color var(--transition-time) ease-out;
    color: var(--hover-color);
}

.hover-item {
    transition: color var(--transition-time) ease-out;
}

.hover-item:hover {
    cursor: pointer;
    color: var(--hover-color);
    transition: color var(--transition-time) ease-out;
}

.inner-list {
    margin: 15px 0 10px 40px;
    font-size: 20px;
}

.main-list {
    margin: 15px 0 5px 15px;
}

.bc-theme {
    color: #4d87c7;
}

.pk-theme {
    color: #e94592;
}


/* general mini classes */

.rw-flex {
    display: flex;
    flex-direction: row !important;
    gap: 0.25em;
}

.clm-flex {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.info-text-box-big {
    color: var(--font-color);
}

.list-image {
    width: 100%;
    height: 100%;
}

.color-link {
    color: #4d87c7;
}

.color-link:hover {
    color: var(--hover-color);
}

.align-cnt {
    display: flex !important;
    align-items: center !important;
}

.no-color-on-hover:hover {
    color: unset;
}

.rw-list {
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.rw-list li {
    display: flex;
    flex-direction: row;
}

.big-lh {
    line-height: 1.7em;
}

.color-box-title {
    font-size: 40px;
    color: #4d87c7;
}

.img-small {
    width: 20%;
}

.center-max-div {
    border: 4px solid #b12f6c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.15s ease-out;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.699);
    /*  */
    width: 100%;
    height: 100%;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    transition: transform 0.15s ease-out, opacity 1.5s ease-out;
}

.em2-gap {
    gap: 2em;
}

.basic-table {
    width: 50%;
}

.basic-table tr {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.basic-table tr td {
    width: 100%;
}

.scroll-box {
    border: 4px solid #b12f6c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.15s ease-out;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.699);
    /*  */
    width: 100%;
    height: 100%;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    transition: transform 0.15s ease-out, opacity 1.5s ease-out;
    overflow-y: scroll;
}

.scroll-box-inner-wrapper {
    height: 100%;
}

.contact-table {
    width: 100%;
}

.contact-table tr {
    display: inline-grid;
    padding: 10px;
}

.contact-table td {
    padding: 0 0 5px 0;
}

.revert-table tr {
    display: revert-layer;
}

.NullWidth {
    width: 0;
}

.MaxWidth {
    width: 100%;
}

.bigh1 {
    font-size: 60px;
    color: #4d87c7;
}


/* header */

.site-header {
    position: relative;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
    z-index: 1;
    color: var(--font-color);
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.699);
    /* background-color: #4d87c7; */
    /* border-bottom: solid 3px var(--font-color); */
}

.header-inner-wrapper {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    margin: 0 0 0 20px;
}

.header-right-inner {
    justify-content: end;
    margin: 0 20px 0 0 !important;
}


/* homepage-image-slideshow */


/* version 1 */

.homepage-image-slideshow {
    z-index: 0;
    width: 100%;
    height: 55vh;
    position: absolute;
    top: 0;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    background-image: var(--image1);
    transition: background-image 2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: solid 3px var(--font-color);
    filter: blur(2px);
    border-radius: 53% 0% 100% 17% / 0% 0% 100% 6%;
}


/* other */

.title-text {
    position: absolute;
    text-align: center;
    font-size: 80px;
    color: var(--light-font-color);
    top: 130px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    text-shadow: 4px 4px 6px var(--font-color-reverse);
    width: 100%;
    height: max-content;
}

.align-div {
    height: calc(55vh - 65px);
    width: 100%;
}


/* main body */

main {
    height: max-content;
    width: 100%;
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.main-bar-middle {
    width: 100%;
    height: max-content;
}

.main-content {
    width: 90%;
    height: max-content;
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 40px 0 0 20px;
    flex-direction: column;
    gap: 1em;
    color: var(--font-color);
    /*  */
    /* height: 45vh; */
    width: 100%;
    justify-content: flex-start;
    /* margin-top: 3em; */
    margin-bottom: 100px;
    align-items: center;
}


/* .main-content h1 {
    font-size: 60px;
    color: #4d87c7;
    align-self: center;
} */

.main-bar-left {
    padding: 10px 0 0 20px;
    position: fixed;
    height: 100vh;
    width: 24.5%;
    z-index: 1;
    top: 0;
    left: -50vh;
    opacity: 0;
    background-color: var(--font-color-reverse);
    color: var(--font-color);
    border-right: 5px solid var(--font-color);
    overflow-y: scroll;
    overflow-x: hidden;
    transition: left 0.5s ease-in-out, opacity 0.6s ease-in-out;
}

.main-bar-left::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0);
    color: var(--font-color);
}

.main-bar-left::-webkit-scrollbar-thumb {
    background-color: var(--font-color);
    color: var(--font-color);
}

.LeftBarCloseBtn {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
    transition: color var(--transition-time) ease-out;
}

.LeftBarCloseBtn:hover {
    transition: color var(--transition-time) ease-out;
    color: var(--hover-color);
}

.main-bar-left ul {
    flex-direction: column;
    display: flex;
    gap: 0.85em;
}

.main-bar-right {
    margin: 20px 20px 0 0;
    height: 100%;
    width: 17.5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--font-color);
}

.main-bar-right ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.main-inner-top-header {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    height: 50px;
    color: var(--font-color);
}

.quote div span {
    transition: opacity 0.2s ease-out;
}

.quote div:last-child {
    color: #e94592;
}


/* box grid */

.box-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    width: 85%;
    height: 210px;
    gap: 3em;
}

.box {
    border: 4px solid #b12f6c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.15s ease-out;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.699);
    /*  */
    width: 285px;
    height: 125%;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    transition: transform 0.15s ease-out, opacity 1.5s ease-out;
}

.box:hover {
    cursor: pointer;
    transition: transform 0.15s ease-out;
    transform: scale(1.05);
}

.main-box-grid .box {
    opacity: 0;
    /* modify in main.js */
}


/* footer */

.AboveFooterInfo {
    color: var(--font-color);
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    padding: 0 0 10px 20px;
    animation: fade linear;
    animation-timeline: view();
    animation-range: entry 50% cover 10%;
}

footer {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: var(--font-color-reverse);
    color: var(--font-color);
    padding-top: 2em;
    border-top: 2px solid var(--font-color);
}

.footer-wrapper {
    display: flex;
    width: 100%;
    height: 70%;
    gap: 2em;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    opacity: 0;
    animation: fade linear;
    animation-timeline: view();
    animation-range: entry 50% cover 20%;
}

.footer-wrapper div {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer-wrapper div a {
    text-align: center;
}

.footer-wrapper div h3 {
    text-align: center;
}

.faecher-list-content {
    line-height: 2em;
    border-right: 2px solid var(--font-color);
    padding: 20px 25px 20px 0;
}


/* tables */

.Calender-table {
    border-collapse: collapse;
}

.Calender-table tr {
    display: flex;
    gap: 15em;
    flex-direction: row;
    line-height: 2em;
    border-bottom: 1px solid grey;
}

.Calender-table tr td {
    text-align: left;
    min-width: 13%;
}

.Unterrichtsorga-main-content .card {
    width: 80% !important;
}

.Unterrichtsorga-table td:first-child {
    text-align: left;
    min-width: 30%;
}

.Unterrichtsorga-table th:first-child {
    text-align: left;
    min-width: 30%;
}


/* LeitungVerwaltungWrapper */

.gridBox-wrapper {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LeitungVerwaltungWrapper {
    width: 100%;
    height: max-content;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(4, minmax(300px, 400px));
    justify-content: space-around;
}

.card {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 20px;
    border: 2px solid var(--font-color);
    border-radius: 20px;
}


/* animations */

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}