<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%- title %>
    </title>
    <style>
        .container {
            margin-top: 100px;
            text-align: center;
        }
        
        .notFound_title {
            font-size: 4em;
            color: #4d87c7;
        }
        
        .notFoundText {
            font-size: 1.5em;
        }
        
        .notFoundLink {
            color: orange;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <main class="main-content">
        <div class="container">
            <h1 class="notFound_title">404 - Nichts gefunden!</h1>
            <br>
            <p class="notFoundText">Entschuldigung, die angeforderte Seite wurde nicht gefunden.</p>
            <p class="notFoundText">Gehe zurück zur <a class="notFoundLink" href="/">Startseite</a>.</p>
        </div>

        <br><br><br><br>
    </main>
</body>

</html>