<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%- title %>
    </title>
    <style>
        body {
            background: linear-gradient( 45deg, #ff7f08, #ffc637, #b12f6c, #4d88c7);
        }
        
        .container {
            text-align: center;
            color: rgb(12, 12, 12);
            width: 70vh;
            height: 60vh;
            background-color: rgb(241, 241, 241);
            border-radius: 10px;
            box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
        }
        
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        input[type="text"],
        input[type="password"] {
            font-size: 17.5px;
            outline: none;
            width: 70%;
            padding: 10px;
            margin-bottom: 20px;
            border: none;
            border-radius: 5px;
            background-color: rgba(65, 86, 104, 0.288);
            color: white;
        }
        
        input[type="submit"] {
            background-color: #4d87c7;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.25s ease;
            font-size: 18px;
        }
        
        input[type="submit"]:hover {
            transition: background-color 0.25s ease;
        }
        
        .webLogInTitle {
            padding: 20px;
        }
    </style>
</head>

<body>
    <main class="main-content" style="height: 45vh;">
        <div class="container">
            <h1 class="webLogInTitle">Website Anmeldung</h1>
            <form method="post">
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                <input type="submit" value="Login">
            </form>
        </div>
    </main>
</body>

</html>