<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main class="main-content">
        <h1>Arbeitsgemeinschaft Auschwitz</h1>

        <hr align="center" width="95%">

        <div class="card">
            <h3>
                Die Arbeitsgemeinschaft „Erinnerungen wachhalten“ ist wieder aktiv. Nach der Fahrt nach Auschwitz-Birkenau Anfang Oktober (Bericht unten), beschäftigt sich die Gruppe jetzt weiter mit den Themen Zweiter Weltkrieg und Erinnerungskultur.
                <br><br> So haben drei Schüler/innen des Kurses am vorletzten Sonntag im Rahmen der Feierlichkeiten zum Volkstrauertag im Hüpptal von ihren Erlebnissen berichtet: Marie Benedix, Julien Philipp und Jonathan Schöpp (alle 10EF) sprachen über
                den Besuch der Gedenkstätte Auschwitz-Birkenau und von ihrem Gespräch mit der Zeitzeugin Monika Goldwasser, das sie nachhaltig beeindruckte.
            </h3>

            <br>

            <div class="rw-flex MaxWidth" style="justify-content: center;">
                <img src="assets/sgw-official/Download (14).png" alt="">
                <img src="assets/sgw-official/Download (15).png" alt="">
                <img src="assets/sgw-official/Download (16).png" alt="">
            </div>

            <br>

            <h3>
                In dieser Woche säubert die AG die neun in Wermelskirchen verlegten Stolpersteine. Vier Schüler haben dazu die Schicksale der Opfer aufbereitet und stellen sie ihren Mitschülern bei dem Rundgang vor.
                <br><br> Nach den Weihnachtsferien besuchen die anderen Teilnehmer der AG die Geschichtskurse der Jahrgangsstufen 9 und 10EF, um den potentiell nächsten AG-Teilnehmern ihre Erfahrungen näher zu bringen.
            </h3>

            <br>
            <hr align="center" width="95%">
            <br>

            <div>
                <h4>
                    <ul class="em2-gap rw-flex" style="justify-content: center;">
                        <li>
                            <a href="/" class="pk-theme" target="_blank">AG Studienfahrt nach Auschwitz</a>
                        </li>

                        <li>
                            <a href="/" class="pk-theme" target="_blank">Erinnerungen wachhalten - ein Projekt in und über Auschwitz</a>
                        </li>

                        <li>
                            <a href="/" class="pk-theme" target="_blank">Fahrtberichte 2014</a>
                        </li>

                        <li>
                            <a href="/" class="pk-theme" target="_blank">Fahrtberichte 2019</a>
                        </li>

                        <li>
                            <a href="/" class="pk-theme" target="_blank">Große Anerkennung für Facharbeit über Auschwitz</a>
                        </li>
                    </ul>
                </h4>
            </div>
        </div>

    </main>
</body>

</html>