<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <main class="main-content">
        <h1>Ehemaligenverein</h1>

        <div class="card">
            <h3>
                Liebe Ehemalige,<br> liebe Freunde des Gymnasiums Wermelskirchen,<br> sehr geehrte Damen und Herren,<br>
            </h3>

            <br>

            <h3>
                Schön, dass Sie sich für die Seite des Vereins der Ehemaligen interessieren. Der Vorstand begrüßt Sie aufs herzlichste! Im Jahre 1993 wurde anlässlich des 125-jährigen Jubiläums unserer Schule der Verein der Ehemaligen gegründet. Der Verein versteht sich
                als Bindeglied zwischen den heutigen und ehemaligen Schülerinnen und Schülern. Wir wollen vor allem den heutigen Schülerinnen und Schülern ihren Start ins Berufsleben, sei es über eine Ausbildung oder ein Studium, erleichtern. Zu unseren
                traditionellen Aktivitäten gehört daher eine Informationsveranstaltung, auf der Absolventen unserer Schule ihre persönlichen Erfahrungen an die heutigen Schülerinnen und Schüler weitergeben. Diese alljährlich stattfindende Veranstaltung
                erfreut sich nicht nur hohen Zuspruchs von Seiten der gesamten Schulgemeinde, sondern bietet allen interessierten Schülerinnen und Schüler der Oberstufe attraktive Tipps und Kniffe, die beim Start nach der Schulzeit helfen können. Ein
                weiterer Schwerpunkt unserer Arbeit ist die finanzielle Unterstützung der Schule bei außergewöhnlichen Anschaffungen und Exkursionen, die der Vorbereitung auf Studium und Beruf dienen. In Ergänzung zum Schulverein konnten wir in den vergangenen
                Jahren zahlreiche Aktivitäten unterstützen, deren Realisierung aufgrund knapper finanzieller Mittel sonst nicht möglich gewesen wäre. Darüber hinaus werden jedes Jahr bei der Entlassfeier besonders förderungswürdige Abiturienten mit Buchgutscheinen
                ausgezeichnet.
            </h3>

            <br>

            <h3>
                Für diese und weitere Aktivitäten ist der Verein auf finanzielle Unterstützung angewiesen. Wir fügen daher diesem Schreiben ein Beitrittsformular bei und würden uns sehr freuen, Sie bald als Mitglied begrüßen zu dürfen. Auch für Spenden sind wir natürlich
                dankbar Mitgliedsbeiträge und Spenden sind steuerlich absetzbar. Sie erhalten jährlich automatisch eine entsprechende Bescheinigung über Ihre Zuwendungen.
            </h3>

            <h3>
                Bitte unterstützen auch Sie unseren Verein, damit wir auch zukünftig einen kleinen Beitrag zur Aufrechterhaltung der Attraktivität unseres Gymnasiums leisten können. Vielen Dank!
            </h3>

            <br>

            <h3>
                Mit freundlichen Grüßen
            </h3>

            <br>

            <h3>
                Thorsten Schmalt, Vorsitzender
            </h3>

            <hr width="100%">

            <h2>Zum Herunterladen:</h2>
            <a class="color-link" href="assets/sgw-official/Aufnahmeformular 2017.pdf">Mitgliedsformular</a>

            <hr width="100%">

            <h3>Ihre Ansprechpartner für weitere Fragen:</h3>

            <table class="contact-table">
                <tr>
                    <td>Vorsitzender:</td>
                    <td>
                        Thorsten Schmalt <br> Pohlhauser Straße 28a <br> 42929 Wermelskirchen
                    </td>
                    <td>
                        02196 / 973717 <br>
                        <a class="color-link" href="mailto:thorsten.schmalt@t-online.de">thorsten.schmalt@t-online.de</a>
                    </td>
                </tr>
                <tr>
                    <td>stellv. Vorsitz.: </td>
                    <td>
                        Silke Vogel <br> Remscheider Str. 13 <br> 42929 Wermelskirchen <br>
                    </td>
                    <td>
                        02196 / 4993 <br>
                        <a class="color-link" href="mailto:silke@vogelwk.de">silke@vogelwk.de</a>
                    </td>
                </tr>
                <tr>
                    <td>Schriftwartin:</td>
                    <td>
                        Sigrid Köhler-Friese <br> Brunnenstraße 10 <br> 42929 Wermelskirchen <br>
                    </td>
                    <td>
                        02196 / 93061 <br>
                        <a class="color-link" href="mailto:sihoko@t-online.de">sihoko@t-online.de</a>
                    </td>
                </tr>
                <tr>
                    <td>Kassierer:</td>
                    <td>
                        Sylvia Regina Leister <br> Tente113b <br> 42929 Wermelskirchen <br>
                    </td>
                    <td>
                        02196 / 7060431 <br>
                        <a class="color-link" href="mailto:Leister85@yahoo.com">Leister85@yahoo.com</a>
                    </td>
                </tr>
            </table>
        </div>
    </main>
</body>

</html>