<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <main class="main-content">
        <h1>Literatur</h1>

        <hr align="center" width="95%">

        <div class="literatur-mitglieder align-cnt MaxWidth clm-flex" style="justify-content: center;">
            <h1>Mitglieder der Fachkonferenz Literatur</h1>

            <br>

            <h3 class="align-cnt">
                <ul class="rw-flex em2-gap">
                    <li class="pk-theme">Marcus Augustin (Vorsitzender)</li>
                    <li class="pk-theme">Robert Köhler</li>
                </ul>
            </h3>
        </div>

        <br>
        <hr align="center" width="55%">


        <div class="literatur-bilder grid-container">

            <div class="grid-item">
                <img src="assets/sgw-official/Kreatives Schreiben EI 03_2.jpg" alt="">
            </div>

            <div class="grid-item">
                <img src="assets/sgw-official/Medien EI 01_2.jpg" alt="">

            </div>

            <div class="grid-item">
                <img src="assets/sgw-official/Theater EI 02_1.jpg" alt="">

            </div>

        </div>

        <br>
        <hr align="center" width="55%">


        <h3>
            Liebe Schülerinnen und Schüler,
            <br><br> in der Sekundarstufe II (Oberstufe) werdet Ihr Fächer wählen können, die Euch in dieser Form aus der Sekundarstufe I (Mittelstufe) noch nicht bekannt sind. Dazu zählt das Fach Literatur. Dieses Fach enthält Inhalte und Arbeitsweisen
            der Fächer Deutsch, Kunst, Musik sowie eventuell der Fremdsprachen und Arbeitsgemeinschaften (Theater AG), setzt aber methodisch andere Schwerpunkte (Projekte, Werkstattcharakter).
            <br><br> „Literatur“ wird als Grundkurs geführt und kann anstelle von Musik oder Kunst gewählt werden. Die Kurse werden in die Gesamtqualifikation im Grundkursbereich eingebracht. Das Fach wird in zwei aufeinanderfolgenden Halbjahren in der
            Q1 unterrichtet. Es weden keine Klausuren geschrieben und „Literatur“ kann nicht Abiturfach sein.
        </h3>

        <br>
        <hr align="center" width="55%">

        <h1>
            Beispiel für ein Filmprojekt
        </h1>

        <br>

        <h3>
            Ein Beispiel für ein gemeinsames Anfangsprojekt: Projekt „Film“
            <br><br> Bearbeitungen verschiedener Filme:
            <br><br> In diesem Projekt sollen von kleinen Arbeitsgruppen (3-4 Schüler) Filme eigener Wahl vorgestellt werden. Es können Filme verschiedener Gattungen ausgewählt werden, längere Spielfilme, Kinofilme, Jugendfilme ebenso wie Krimis oder
            Science Fiction- / Fantasyfilme.
            <br><br> Es soll einerseits der Gesamtzusammenhang (Inhalt, Charaktere) dargestellt werden, andererseits aber auch das Typische des Werkes anhand einer Schlüsselszene oder einer Handlung einer Hauptperson „vorgeführt“ werden. Mit „Vorführen“
            ist in diesem Fall gemeint, dass eine mediale Umsetzung eines Filmes (einer Filmstelle) erstellt wird. Dies kann ein Hörspiel, eine Fotostrecke oder ein wiederum eigener Film sein. Das Produkt der Projektarbeit soll zum Schluss an einem zentralen
            Termin dem Kurs vorgestellt werden.
            <br><br> Für die Bewertung ist nicht „nur“ das Produkt ausschlaggebend. Ebenso sind sämtliche Ergebnisse und Zwischenergebnisse (auch die, welche verworfen wurden) schriftlich zu dokumentieren, um eine ständige Übersicht über Arbeitsweisen
            und Ergebnisse zu erhalten. Wichtig ist auch, dass jedes Gruppenmitglied die gleichen Arbeitsergebnisse vorzuweisen hat und sich so auch ein Fehlen einzelner Schüler nicht negativ auswirken kann.
        </h3>

        <br>
        <hr align="center" width="55%">

        <h1>
            Beispiel für ein Lektüreprojekt
        </h1>

        <br>

        <h3>
            Ein Beispiel für ein gemeinsames Anfangsprojekt: Projekt „Lektüre“
            <br><br> Literaturbearbeitungen verschiedener Texte:
            <br><br> In diesem Projekt sollen von kleinen Arbeitsgruppen (3-4 Schüler) Bücher eigener Wahl vorgestellt werden. Es können Texte verschiedener Gattungen ausgewählt werden, längere Erzählungen, Romane ebenso wie Theaterstücke, Schullektüren,
            Jugendbücher, Krimis oder Fantasybücher.
            <br><br> Es soll einerseits der Gesamtzusammenhang (Inhalt, Charaktere) dargestellt werden, andererseits aber auch das Typische des Werkes anhand einer Schlüsselszene oder einer Handlung einer Hauptperson „vorgeführt“ werden. Mit „Vorführen“
            ist in diesem Fall gemeint, dass eine mediale Umsetzung eines Textes (einer Textstelle) erstellt wird. Dies kann ein Hörspiel, eine Fotostrecke oder ein Film sein. Das Produkt der Projektarbeit soll zum Schluss an einem zentralen Termin dem
            Kurs vorgestellt werden.
            <br><br> Für die Bewertung ist nicht „nur“ das Produkt ausschlaggebend. Ebenso sind sämtliche Ergebnisse und Zwischenergebnisse (auch die, welche verworfen wurden) schriftlich zu dokumentieren, um eine ständige Übersicht über Arbeitsweisen
            und Ergebnisse zu erhalten. Wichtig ist auch, dass jedes Gruppenmitglied die gleichen Arbeitsergebnisse vorzuweisen hat und sich so auch ein Fehlen einzelner Schüler nicht negativ auswirken kann.</h3>


        <br>
        <hr align="center" width="55%">

        <h1>
            Beschreibung des Fachbereichs Literatur
        </h1>

        <br>

        <h3>
            Die Arbeitsweise ist werkstatt- und projektorientiert, d. h. Planung, Durchführung und Präsentation haben gleichen Stellenwert. Ziel ist die Erstellung eines Produktes aus den Bereichen kreatives Schreiben, Theater oder Medien.
            <br> Es können eigene Texte unterschiedlicher Gattungen erstellt und veröffentlicht, eigene und fremde Texte durch Illustrationen oder Rezitation interpretiert, Theaterszenen und Hörspiele eingeübt und präsentiert oder Filmsequenzen (Werbefilme,
            Reportagen, Kurzfilme) zu eigenen oder fremden Texten erstellt werden.
            <br> Ein Literaturkurs beginnt in der Q1 stets mit einem gemeinsamen (d.h. zentral und von allen Schülerinnen und Schülern durchgeführten) Anfangsprojekt. Ein Beispiel für ein solches Projekt ist das Projekt „Lektüre“ / Film, welches unten
            beschrieben ist.
            <br> Teilprojekte in Kleingruppen können erst im Anschluss an dieses folgen.
            <br> Die Projekte erstrecken sich in der Regel über ein bis zwei Quartale und werden meist arbeitsteilig in Kleingruppen erstellt. Dabei kann ein Kurs ein gemeinsames Oberthema haben (z. B. Ausstellung zu Leben und Werk eines Autors) oder
            an verschiedenen Themen arbeiten.
            <br> Je nach Fachlehrer / Fachlehrerin können sich verschiedene Schwerpunkte ergeben: Medien, Theater oder kreatives Schreiben.
            <br> Neben Kreativität und Planungsfähigkeit spielen auch soziale Kompetenzen eine wichtige Rolle.
            <br> Das Oberthema eines Kurses wird also einem der folgenden Bereiche entnommen:

        </h3>

        <br>

        <h3>
            <ul class="em2-gap rw-flex pink-list">
                <li>Kreatives Schreiben </li>
                <li>Theater</li>
                <li>Medien</li>
            </ul>
        </h3>

        <br>

        <h3>
            Erläuterungen:
            <br><br> Im Bereich „kreatives Schreiben“ lernen die Schülerinnen und Schüler eigene Texte verschiedener Gattungen (Lyrik, Epik, Drama) zu verfassen, vorgegebene Texte zu verändern oder unter einem gewählten Gesichtspunkt zusammenzustellen.
            Ein Einbezug zeichnerischer oder sonstiger bildlicher Elemente und auch des Computers sind denkbar.
            <br><br> Der Bereich „Theater“ umfasst die Erarbeitung von dramatischen Szenen oder einer vorgegebenen Textvorlage mit den notwendigen Vorbereitungen und begleitenden Arbeiten.
            <br><br> Ziel des Bereiches „Medien“ ist das Kennenlernen medialer Mittel und die Erarbeitung ihrer Wirkung. Dies erfolgt durch die Arbeit an einem Medien- oder Filmprojekt, das die Schülerinnen und Schüler planen und durchführen.

            <br> <br> Auf welchem Feld der Schwerpunkt eines Kurses liegt (Mischformen sind möglich), hängt von folgenden Faktoren ab:
        </h3>

        <div class="MaxWidth">
            <h3>
                <ol type="A" class="big-lh">
                    <li>Der Ausrichtung des jeweiligen Kurslehrers</li>
                    <li>Der Größe des Kurses</li>
                    <li>Der Ausrichtung einer deutlichen Mehrheit des Kurses</li>
                    <li>Der Ausstattung der Schule (besonders in den Bereichen „Medien“ und „Theater“)</li>
                </ol>
            </h3>

            <br>

            <h3>
                Beispiele für Literaturkursprojekte und –produkte sind:
            </h3>

            <br>

            <h3>
                <ol type="A" class="big-lh">
                    <li>Verfassen eigener Texte unterschiedlicher Gattungen sowie deren Veröffentlichung als Broschüre / Buch oder Zeitung.</li>
                    <li>Filmsequenz, Werbespot oder Kurzfilm</li>
                    <li>Illustrationen eigener und / oder fremder Texte sowie deren Veröffentlichung</li>
                    <li>Rezitation und / oder szenische Präsentation eigener und / oder fremder Texte = literarischer Vortragsabend</li>
                    <li>Theaterinszenierung + Aufführung</li>
                    <li>Realisierung eines Hörspiels</li>
                    <li>Gestaltung einer Fotopräsentation / eines Fotoromans / eines Films</li>
                    <li>Gestaltung einer Werbesequenz / eines Musikvideoclips</li>
                    <li>Gestaltung einer Ausstellung zu einem (literarischen) Thema mit eigenen und / oder fremden Texten sowie akustischen und bildlichen Exponaten</li>
                </ol>
            </h3>

            <br>
            <hr align="center" width="55%">

        </div>



        <h1>
            Leistungsbewertung und allgemeine Regelungen
        </h1>

        <div class="MaxWidth">

            <br>

            <h3>
                Grundsätzliches: Werkstatt als Methode
                <br><br> Die Arbeitsweise im Literaturkurs ist werkstatt- und projektorientiert, d.h. Planung, Durchführung und Präsentation der Ergebnisse liegen in der Hand der Schüler. Hierbei nehmen vor allem der Arbeitsprozess, das hieraus entstehende
                Produkt und dessen anschließende Präsentation einen wichtigen Stellenwert ein. Die Projekte erstrecken sich in der Regel über ein Quartal oder Halbjahr und werden arbeitsteilig in Kleingruppen erarbeitet. Mögliche Schwerpunkte eines Literaturkurses
                liegen in den Bereichen Medien, Theater oder kreatives Schreiben. Hierbei wird es bisweilen nötig sein, dass die Kleingruppen sich während mancher regulärer Schulstunden außerschulisch aufhalten (Drehorte, Computer zu Hause). Hierfür ist
                die Einverständniserklärung der Eltern notwendig, zudem muss die Beurlaubung persönlich vorher beim Kurslehrer / bei der Kurslehrerin beantragt werden.
                <br><br> Leistungsbewertung
                <br><br> Die Sominote am Ende eines Quartals setzt sich in der Regel zusammen aus mehreren Einzel- oder Gruppenleistungen, wobei praktische und theoretische Leistungen berücksichtigt werden. Folgende vier Bereiche könnten beispielsweise
                Bestandteile der Leistungsbewertung sein:
            </h3>

            <br>

            <h3>
                <ol type="1">
                    <li>
                        mündliche Mitarbeit im Unterricht

                        <ol type="a">
                            <li>
                                Quantität und Qualität der Beiträge
                            </li>
                        </ol>
                    </li>
                    <br>
                    <li>
                        Arbeitsverhalten in der Gruppen- bzw. Projektarbeit

                        <ol type="a">
                            <li>Engagement und Interesse</li>
                            <li>Experimentierbereitschaft, Ideenreichtum</li>
                            <li>Kommunikations- und Teamfähigkeit, Geduld und Ausdauer</li>
                            <li>Erledigen von Aufgaben, Zuverlässigkeit</li>
                        </ol>
                    </li>
                    <br>
                    <li>
                        Arbeitsdokumentation (schriftliche Dokumentation von Projektphasen außerhalb der Schule)

                        <ol type="a">
                            <li>Struktur</li>
                            <li>Material (Arbeitsblätter, Kopien aus dem Unterricht und selbst gesammeltes Material)</li>
                            <li>Inhalt</li>
                        </ol>
                    </li>
                    <br>
                    <li>
                        Produkt (z.B. Filmsequenz, Werbespot oder Film)

                        <ol type="a">
                            <li>Idee</li>
                            <li>Einsatz von Gestaltungsmitteln</li>
                            <li>Qualität (der Realisierung)</li>
                        </ol>
                    </li>
                    <br>
                    <li>
                        Präsentation:

                        <ol type="a">
                            <li>Termingerecht</li>
                            <li>Adressatenbezogen</li>
                            <li>Technisch funktionierend</li>
                        </ol>
                    </li>
                </ol>
            </h3>

            <br>

            <h3>
                Individuelle Schwerpunktsetzungen und detaillierte Leistungsanforderungen werden zu Beginn einer Unterrichtssequenz durch den Fachlehrer / die Fachlehrerin erläutert und können ggf. durch von Schülerinnen und Schüler genannte Aspekte ergänzt werden.
                <br><br> Bei Nichtabgabe von gestalterischen und schriftlichen Arbeiten zum vereinbarten Termin handelt es sich, wie in anderen Fächern auch, um eine nicht erbrachte und entsprechend negativ zu bewertende Leistung,
                <br><br> Regelungen bei Fehlstunden
                <br><br> Die Nacharbeit von versäumtem Unterrichtsstoff gilt nicht nur für die Theorie, sondern auch für das Arbeiten in der Gruppe an dem Produkt. Angestaute oder nicht erledigte Aufgaben müssen mit der Gruppe abgeklärt und nachgeholt
                werden.
                <br><br> Ist ein Schüler an einem Tag nur in Literatur nicht anwesend und hat sich im Sekretariat abgemeldet, wird dies vermerkt. Falls das Fehlen nur im Literaturunterricht wiederholt vorkommen sollte, kann eine zusätzliche schriftliche
                Hausarbeit angeordnet werden. Die Hausarbeit wird benotet.
            </h3>
        </div>

    </main>
</body>

</html>