<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <main class="main-content rw-flex">

        <div class="rw-flex" style="width: 95%;justify-content:space-between;">

            <ul class="inner-list faecher-list-content">
                <li><a href="/deutsch">Deutsch</a></li>
                <li>
                    <a href="/englisch">Englisch</a>
                </li>
                <li>
                    <a href="/franzoesisch">Französisch</a>
                </li>
                <li>
                    <a href="/spanisch">Spanisch</a>
                </li>
                <li>
                    <a href="/latein">Latein</a>
                </li>
                <li>
                    <a href="/kunst">Kunst</a>
                </li>
                <li>
                    <a href="/musik">Musik</a>
                </li>
                <li>
                    <a href="/faecher/literatur/fachbuch">Literatur</a>
                </li>
                <li>
                    <a href="/geschichte">Geschichte</a>
                </li>
                <li>
                    <a href="/erdkunde">Erdkunde</a>
                </li>
                <li>
                    <a href="/sozialwissenschaften-politik-0">Sozialwissenschaften / Politik</a>
                </li>
                <li>
                    <a href="/paedagogik">Pädagogik</a>
                </li>
                <li>
                    <a href="/philosophie">Philosophie</a>
                </li>

                <li>
                    <a href="/node/2609" class="rw-flex">
                        Mathematik
                    </a>
                </li>
                <li>
                    <a href="/fachbereich-physik">Physik</a>
                </li>
                <li>
                    <a href="/chemie">Chemie</a>
                </li>
                <li>
                    <a href="/biologie">Biologie</a>
                </li>
                <li>
                    <a href="/evangelische-religion">Ev. Religion</a>
                </li>
                <li>
                    <a href="/katholische-religion">Kath. Religion</a>
                </li>
                <li>
                    <a href="/sport">Sport</a>
                </li>
                <li>
                    <a class="color-link" href="/wahlpflichtfaecher-89">Interessiert an Wahlpflichtfächern?</a>
                </li>
            </ul>

            <div class="MaxWidth rw-flex" style="justify-content:center;">
                <div>
                    <img src=<%- locals.faecherIMG %> >
                </div>

                <div class=< %- locals.fachContentWidth || "MaxWidth" %> >
                    <%- include(locals.fachContent || "./empty.ejs") %>
                </div>
            </div>

        </div>

    </main>
</body>

</html>