<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<style>
    .chaos-list {
        list-style-type: none;
        position: relative;
    }
    
    .chaos-list li {
        font-size: 30px;
        font-weight: 500;
        position: absolute;
        left: calc(90vw * var(--random-x));
        top: calc(90vh * var(--random-y));
        transform: translate(-50%, -50%);
    }
    
    .chaos-list li {
        transition: font-size 0.15s ease-in-out, transform 3s ease;
    }
    
    .chaos-list li:hover {
        transition: font-size 0.15s ease-in-out, transform 3s ease;
    }
    
    .chaos-list li a:hover {
        color: #4d87c7;
    }
</style>

<body>
    <main class="main-content">

        <div class="FaecherListMain">

            <div class="chaos-list-wrapper">

                <ul class="chaos-list">

                    <li style="--random-x: 0.2; --random-y: 0.05;"><a href="/deutsch">Deutsch</a></li>
                    <li style="--random-x: 0.3; --random-y: 0.25;"><a href="/englisch">Englisch</a></li>
                    <li style="--random-x: 0.5; --random-y: 0.6;"><a href="/franzoesisch">Französisch</a></li>
                    <li style="--random-x: 0.7; --random-y: 0.35;"><a href="/spanisch">Spanisch</a></li>
                    <!-- Add more list items with different --random-x and --random-y values -->
                    <li style="--random-x: 0.2; --random-y: 0.5;"><a href="/latein">Latein</a></li>
                    <li style="--random-x: 0.5; --random-y: 0.0;"><a href="/kunst">Kunst</a></li>
                    <li style="--random-x: 0.6; --random-y: 0.3;"><a href="/musik">Musik</a></li>
                    <li style="--random-x: 0.4; --random-y: 0.7;"><a href="/faecher/fachbuch/literatur">Literatur</a></li>
                    <li style="--random-x: 0.8; --random-y: 0.2;"><a href="/geschichte">Geschichte</a></li>
                    <li style="--random-x: 0.3; --random-y: 0.7;"><a href="/erdkunde">Erdkunde</a></li>
                    <li style="--random-x: 0.4; --random-y: 0.1;"><a href="/sozialwissenschaften-politik-0">Sozialwissenschaften / Politik</a></li>
                    <li style="--random-x: 0.8; --random-y: 0.7;"><a href="/paedagogik">Pädagogik</a></li>
                    <li style="--random-x: 0.5; --random-y: 0.2;"><a href="/philosophie">Philosophie</a></li>
                    <li style="--random-x: 0.4; --random-y: 0.4;"><a href="/node/2609" class="rw-flex">Mathematik</a></li>
                    <li style="--random-x: 0.6; --random-y: 0.6;"><a href="/fachbereich-physik">Physik</a></li>
                    <li style="--random-x: 0.8; --random-y: 0.4;"><a href="/chemie">Chemie</a></li>
                    <li style="--random-x: 0.2; --random-y: 0.3;"><a href="/biologie">Biologie</a></li>
                    <li style="--random-x: 0.3; --random-y: 0.5;"><a href="/evangelische-religion">Ev. Religion</a></li>
                    <li style="--random-x: 0.6; --random-y: 0.1;"><a href="/katholische-religion">Kath. Religion</a></li>
                    <li style="--random-x: 0.15; --random-y: 0.74;"><a href="/sport">Sport</a></li>
                    <li style="--random-x: 0.55; --random-y: 0.5;"><a class="color-link bc-theme" href="/wahlpflichtfaecher-89">Interessiert an Wahlpflichtfächern?</a></li>
                </ul>

            </div>
        </div>

    </main>
</body>

<script>
    function getRandomPosition() {
        return (Math.random() * 30); // Adjust the range and magnitude of the random movement
    };

    const items = document.querySelectorAll('.chaos-list li');

    setInterval(() => {
        items.forEach(item => {
            const randomX = getRandomPosition();
            const randomY = getRandomPosition();

            item.style.transform = `translate(calc( -50% + ${randomX}px), calc(-50% + ${randomY}px))`; // Specify 'px' units
        });
    }, 100);
</script>

</html>