<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <main class="main-content">
        <h1>Förderverein</h1>

        <div class="card Foerderverein-header-wrapper">
            <div class="rw-flex em2-gap" style="height: 100%;">

                <div class="rw-flex center-max-div" style="height: 100%;    height: 100%;
    background-image: url(../assets/sgw-official/Download.png);
    background-attachment: local;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: content-box;">
                    <div class="clm-flex">
                        <h3>Vorsitzende</h3>
                        <img src="assets/sgw-official/Download (1).png" alt="" width="230" height="300" style="border-radius:10px;">
                        <h3>Uta Lenz</h3>
                        <br>
                    </div>
                    <div>
                        <h3>Stellvertreter</h3>
                        <img src="assets/sgw-official/Download (2).png" alt="" width="230" height="300" style="border-radius:10px;">
                        <h3>Felix Thulke</h3>
                        <br>
                    </div>
                    <div>
                        <h3>Schatzmeister</h3>
                        <img src="assets/sgw-official/Download (3).png" alt="" width="230" height="300" style="border-radius:10px;">
                        <h3>Ralf Schwarz</h3>
                        <br>
                    </div>
                </div>
            </div>

            <h3>Der Förderverein</h3>

            <h3>
                <ol type="1" class="inner-list big-lh">
                    <li>finanziert so manche Anschaffung für das Gymnasium</li>
                    <li>unterstützt Klassenfahrten mit finanziellen Zuschüssen</li>
                    <li>fördert bei Notlagen auf unbürokratische Weise</li>
                    <li>gibt Geld für Projekte (Beispiele s.u.)</li>
                    <li>bezahlt Honorare für Künstler, Musiker oder Referenten, die in Projekten oder Veranstaltungen mit Schülern arbeiten</li>
                </ol>
            </h3>

            <h3>
                und vieles, vieles mehr. Eltern, Lehrer und Freunde des Städtischen Gymnasiums Wermelskirchen helfen seit über 30 Jahren durch ihre Mitgliedsbeiträge und Spenden, das Schulleben reicher zu gestalten.
            </h3>

            <br>

            <h3>
                er Mindesbeitrag beträgt zur Zeit 15 € pro Jahr. Der Förderverein ist als gemeinnützig anerkannt, Spenden sind steuerabzugsfähig!
            </h3>

            <br>

            <h3>
                Wenn Sie das Städtische Gymnasium Wermelskirchen unterstützen wollen und sich für die Arbeit des Schulvereins interessieren, können Sie hier Ihr Interesse mit einer Mail an die Schule bekunden: foerderverein-gymwk(at)t-online.de.
            </h3>

            <br>

            <div class="center-max-div clm-flex" style="align-items: self-start;">
                <div style="border-bottom: 2px solid var(--font-color);padding:10px; width:100%;">
                    <h3 class="rw-flex" style="width: 100%;justify-content:center;">
                        <table class="basic-table big-lh">
                            <tr>
                                <td>Schriftführerin</td>
                                <td>Kerstin Schmitt</td>
                            </tr>
                            <tr>
                                <td>Stellv. Schatzmeisterin</td>
                                <td>Daniela Rauschert</td>
                            </tr>
                            <tr>
                                <td>Stellv. Schriftführer</td>
                                <td>Daniel Wieneke</td>
                            </tr>
                            <tr>
                                <td>Beisitzer</td>
                                <td>Thomas Gittermann</td>
                            </tr>
                        </table>
                    </h3>

                    <img src="assets/sgw-official/Download (4).png" alt="">

                    <div class="big-lh" style="margin-top: 1em;">
                        <h3>Hinten: FelixThulke, Thomas Gittermann </h3>
                        <h3>Mitte: Daniel Wieneke, Ralf Schwarz </h3>
                        <h3>Vorne: Uta Lenz, Kerstin Schmitt, Anke Held (von links)</h3>

                        <h3>Ehrenmitglieder: Ulrike Krechel ( seit Mai 2011 )</h3>
                    </div>
                </div>

                <div style="padding: 10px; text-align:left;">
                    <h2 class="bc-theme">Download Bereich</h2>
                    <br>
                    <h3>Hier können Sie die <a class="color-link" target="_blank" href="assets/sgw-official/Satzung_Förderverein_2014.pdf">Satzung</a> herunterladen.</h3>
                    <h3>Und hier können Sie Mitglied werden, indem Sie die <a class="color-link" target="_blank" href="assets/sgw-official/Beitrittserklärung_2020.pdf">Beitrittserklärung</a> ausdrucken, ausfüllen und im Sekretariat abgeben.</h3>
                    <h3>Hier können Sie einen Antrag zur Kostenübernahme herunterladen: <a class="color-link" target="_blank" href="assets/sgw-official/Antrag-Foerderverein-2016.pdf">Antrag</a>.</h3>
                    <br>
                    <h3>Unsere Kinder danken es Ihnen!</h3>

                    <br>

                    <h2 class="bc-theme">
                        Förderverein des Gymnasiums hat neuen Vorstand
                    </h2>
                    <br>
                    <h3>
                        Nach vier Jahren stehen Veränderungen beim Förderverein des Städtischen Gymnasiums Wermelskirchen an: Die Mitglieder haben am Mittwochabend einen neuen Vorstand gewählt. Neue Vorsitzende ist Uta Lenz. Der bisherige Vorsitzende Sascha Lindner schied auf
                        eigenen Wunsch aus. Neu gewählt wurden zudem Schatzmeister Ralf Schwarz und sein Stellvertreter Felix Thulke. Die weiteren Vorstandsmitglieder wurden im Amt bestätigt.
                    </h3>
                    <br>
                    <h3>
                        Der Förderverein hat es sich zur Aufgabe gemacht, die Schülerinnen und Schüler auch über den normalen Schulbetrieb hinaus zu unterstützen – etwa mit der Bezuschussung von pädagogischen Wettbewerben und zusätzliche Ausstattung für diverse Fächer. Für die
                        kommende Zeit will der Förderverein auch ausloten, ob und wie die Situation an der Schule in der Corona-Krise weiter verbessert werden kann.
                    </h3>

                    <br>

                    <h2 class="bc-theme">
                        Projektbeispiele
                    </h2>
                    <br>
                    <h3>Projekte, die der Schulverein in jüngster Vergangenheit finanziert hat:</h3>

                    <br>

                    <h3>
                        <ul style="border-bottom: 2px solid var(--font-color);padding:20px;">
                            <li>Neue Chemie-Kästen (Juli 2016)</li>
                            <li>Shakespeare-Workshop (Anfang 2017)</li>
                            <li>Dezimeterwellensender</li>
                            <li>Induktionsspule mit Helmholtzspulenpaar</li>
                            <li>PC-Schneideplatz</li>
                            <li>Energiekoffer</li>
                            <li>Anschaffung von Headsets</li>
                            <li>Anschaffungen Chemie</li>
                            <li>Projektgruppe Film ab</li>
                            <li>Anschaffung von Musikinstrumenten</li>
                            <li>Arbeitskreis Mediation</li>
                            <li>Beschallungsanlage PZ</li>
                            <li>Messerfassungssystem PASCO</li>
                            <li>Präsenzbibliothek in der Mediothek</li>
                            <li>Ausleih-Bücherei im Hauptgebäude</li>
                            <li>Bücherei in der Schillerstraße</li>
                            <li>Materialien für die Beratungslehrer</li>
                            <li>GEO AG Geologie-Hämmer für die Schüler</li>
                        </ul>
                    </h3>

                    <br>

                    <h3>
                        <ul style="padding:20px;border-bottom: 2px solid var(--font-color)">
                            <li>Anschaffung von Head Sets</li>
                            <li>Anschaffungen von Musikinstrumenten</li>
                            <li>Arbeitskreis Mediation</li>
                            <li>Ausleih-Bücherei im Hauptgebäude</li>
                            <li>Beschallungsanlage PZ</li>
                            <li>Bücheraktion 2010</li>
                            <li>Bücherei in der Schillerstraße</li>
                            <li>Dezimeterwellensender</li>
                            <li>Energiekoffer</li>
                            <li>Fachgruppe Chemie / Neuanschaffungen, Dezember 2010</li>
                            <li>Gestaltung von Molekül-Orbital Modellen im Chemie-Grundkurs der Stufe 13</li>
                            <li>Induktionsspule</li>
                            <li>Materialien für die Beratungslehrer</li>
                            <li>Messerfassungssystem PASCO</li>
                            <li>PC-Schneideplatz</li>
                            <li>Projektgruppe "Film ab" / Aktionswoche 2010 Bereich Chemie</li>
                            <li>Präsenzbibliothek in der Mediothek</li>
                        </ul>

                    </h3>

                </div>

                <div style="padding: 10px; text-align:left;">
                    <h2 class=" bc-theme ">
                        Schulengel
                    </h2>
                    <br>

                    <div class="clm-flex em2-gap">
                        <img src="assets/sgw-official/banner_schulengel_137x60.gif " alt=" " class="img-small ">
                        <img src="assets/sgw-official/spendenbanner135x134-2785.png " alt=" " class="img-small ">

                        <h3>
                            Liebe Schüler, <br> liebe Eltern! <br> Der Schulverein hat sich nach Entscheidung des Vorstandes bei dem Spendennetzwerk
                            <br> <a target="_blank" href="https://www.schulengel.de" class="color-link">www.schulengel.de</a> registriert! <br> „Gemeinsam stark für gute Bildung“
                            <br> Deutschlands erstes aktives Spenden-Netzwerk im Bildungsbereich! <br>
                            <p>WAS IST SCHULENGEL?</p>
                            <p>Schulengel.de ist ein Online-Sozialunternehmen, das es sich zum Ziel gesetzt hat, die Bildung in Deutschland zu verbessern.</p>
                            <p>Ziel ist es, Euch und Ihnen mit einem geringen Zeitaufwand eine einfache Möglichkeit an die Hand zu geben, Gutes zu tun.</p>
                            <p>WIE SOLL DAS GEHEN?</p>
                            <p>Starten Sie Ihre Online-Einkäufe auf www.schulengel.de und sammeln Sie damit kostenlos Spenden für unsere Schule.</p>
                            <p>Wählen Sie unsere Einrichtung an und registrieren Sie sich. Danach können Sie in über 350 Onlinepartnershops ohne Mehrkosten einkaufen und durch Ihren Einkauf Spenden sammeln.</p>
                            <p>WARUM?</p>
                            <p>Wir erhalten danach eine Danke-Schön-Prämie (ca. 5-10%), die uns gutgeschrieben wird. Also: wer kauft, hilft!</p>
                            <p>JA, ABER!</p>
                            <p>Sie möchten Schulengel erst einmal ausprobieren, ohne sich als Nutzer zu registrieren? Sie können auch ohne Login einkaufen.</p>
                            <br> <br> Sie möchten den Wermelskirchener Einzelhandel nicht vernachlässigen? Sie können weiterhin so einkaufen, wie Sie es gewohnt sind.
                        </h3>
                    </div>
                </div>
            </div>

        </div>
    </main>
</body>

</html>