<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <main class="main-content">
        <h1 class="bc-theme" style="font-size: 60px;">Haus- und Schulordnung</h1>

        <p><a target="_blank" class="color-link" href="assets/sgw-official/Haus- und Schulordnung 2016-08.pdf">Hier</a> finden sie die aktuelle Haus- und Schulordnung</p>

        <p><a target="_blank" class="color-link" href="assets/sgw-official/J Nutzung Handys.pdf">Konzept</a> zur Nutzung mobiler Kommunikationsgeräte ab Schuljahr 2016/17</p>

        <p><a target="_blank" class="color-link" href="assets/sgw-official/2021_04_29_Nutzungsordnung_private_Endgeräte_im_Unterricht_0.pdf">Konzept</a> zur Nutzung digitaler Endgeräte im Unterricht ab Schuljahr 2021/22</p>
    </main>
</body>

</html>