<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main class="main-content">
        <h1>IVK</h1>

        <div class="card">
            <h2>Integration auf dem Golplatz</h2>

            <div class="inner-list">
                <h3>
                    Ein Ausflug nach Dreibäumen
                </h3>
                <br>

                <p>
                    Der Golfclub Dreibäumen hat interessierte Schülerinnen und Schüler des Gymnasiums zum Kennenlernen des Golfsports nach Dreibäumen eingeladen. Unter den zweiundzwanzig Schülerinnen und Schülern waren auch dreizehn der Internationalen Vorbereitungsklasse
                    aus Syrien, dem Irak, aus Afghanistan, Holland und aus der Türkei. Bis auf Anna war es für alle das erste Mal, auf einem großen Golfplatz zu sein.
                    <br> <br> Der Trainer Christoph Durchner hat uns die wichtigsten Regeln erklärt und die Funktion der verschiedenen Schläger erläutert.
                    <br> <br> Dann durften wir es selber ausprobieren, einen kleinen gelben Ball über die Wiese zu schlagen. Alle waren sich schnell einig: Es ist viel schwieriger als es aussieht! Zum Glück hat Herr Durchner erklärt: "Das Ziel ist es
                    nicht, den Ball zu treffen, sondern ihn im Schwung mitzunehmen". Mancher Schwung war auch ohne Ball großartig!
                    <br> <br> Am Ende gab es für alle Getränke und Pizza im Restaurant des Golfclubs.
                    <br> <br> Dieser Ausflug war als Einstieg in ein Projekt gedacht:
                    <br> <br> In Zusammenarbeit mit dem Gymnasium bietet der Golfclub Dreibäumen Schülerinnen und Schülern an, einmal in der Woche außerhalb des Unterrichts auf dem Platz zu üben und dabei auch miteinander Deutsch zu lernen. Die Mitglieder
                    des Clubs wollen auch bei der Vermittlung in ein Praktikum helfen. Wir alle fanden heute: Auch Golfsport ist hervorragend geeignet zur Integration und kann in dieser Verbindung eine echte Hilfe zum Ankommen in Deutschland sein.
                    <br> <br> Herzlichen Dank an den Vorsitzenden des Clubs, Herrn Spital, und an den Trainer, Herrn Durchner, für die Einladung und Organisation!

                </p>
            </div>
        </div>
    </main>
</body>

</html>