<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <main class="main-content">
        <h1>Kind-im-Chat</h1>

        <div class="card">
            <h3>
                <p>Liebe Eltern,</p>
                <br>
                <p>Ihr Kind sitzt schon stundenlang am PC und chattet, wissen Sie, mit wem? Ob Sie es wissen oder nicht, hängt sicherlich vom Alter Ihres Kindes ab. Die vielleicht wichtigere Frage aber ist "Weiß Ihr Kind mit wem?"</p>
                <br>
                <p>Untersuchungen zeigen, dass Kinder und Jugendliche das im Freundeskreis erworbene soziale Vertrauen nahezu bedenkenlos auf Internet-Freundeskreise übertragen und sich des erschreckend hohen Anteils unechter Gegenüber nicht bewusst sind.
                    Aber auch ohne Kontaktaufnahme im Chat können sich Täter mit Hilfe eines z.B. sorglos hinterlassenen Profils an Kinder heranmachen.</p>
                <br>
                <p>Vielleicht haben Sie auch Sorge, dass Ihr Kind möglicherweise in zweifelhafte Aktivitäten rund ums Internet und Handy hineingezogen werden könnte.</p>

                <p>Die beste Empfehlung für Eltern zwischen Sorglosigkeit und Panik ist die sachliche Information. Dazu sollen Ihnen die folgenden Verweise zu den Seiten verschiedener Initiativen und Institutionen verhelfen.</p>
                <br>
                <p>Vielleicht können Sie Ihr Kind dazu gewinnen, mit Ihnen zusammen oder allein ebenfalls die Seiten zu besuchen.</p>

            </h3>

            <br>

            <h3>
                <ol type="1">
                    <li style="display: flex;"><a target="_blank" href="https://www.klicksafe.de/" class="color-link">Klicksafe</a>, eine Initiative für mehr Sicherheit im Netz.</li><br>
                    <li style="display: flex;"><a target="_blank" href="http://bmfsfj.de/" class="color-link">Bundesministerium</a>&nbsp; für Familie, Senioren, Frauen und Jugend, u.a. Informationen zu Kinder- und Jugendschutz.</li><br>
                    <li style="display: flex;"><a target="_blank" href="http://www.ajs.nrw.de/" class="color-link">Arbeitsgemeinschaft</a>&nbsp; Kinder und Jugendschutz Landesstelle Nordrhein-Westfalen e.V.</li><br>
                    <li style="display: flex;"><a target="_blank" href="http://polizei-beratung.de/" class="color-link">Beratung der Polizei</a></li><br>
                    <li style="display: flex;"><a target="_blank" href="assets/sgw-official/Info-Medienkompetenz.pdf" class="color-link">Elterninformationsschreiben der Polizei Göttingen</a></li><br>
                    <li style="display: flex;"><a target="_blank" href="http://chatten-ohne-risiko.de/" class="color-link">Chatten ohne Risiko</a>, diese Seite wendet sich u.a. direkt an Kinder und Jugendliche.</li><br>
                    <li style="display: flex;flex-flow:wrap;">Die "<a target="_blank" href="https://www.polizei-nrw.de/internetwache/Start/" class="color-link">Internetwache</a>" der Polizei NRW Hier können Sie Anzeige online erstatten, insbesondere bei Internetstraftaten, wenn es z.B. darum
                        geht, sehr schnell Rechneradressen zurückzuverfolgen und sicherzustellen.</li><br>
                    <li style="display: flex;"><a target="_blank" href="http://www.jugendschutz.net/" class="color-link">Jugendschutz </a>, bietet alles zur Sicherheit für Youngsters im Netz.</li><br>
                    <li style="display: flex;"><a target="_blank" href="http://schau-hin.info/" class="color-link">Schau hin ! </a>&nbsp; - Eine Initiative des Bundes und der Fernsehanstalten.</li><br>
                </ol>

            </h3>

            <br>

            <h3>
                Zum Thema "Cybermobbing", also Mobbing im Internet, bieten wir
                <a target="_blank" href="assets/sgw-official/Cybermobbing_Tipps.pdf" class="pk-theme">hier</a> eine PDF-Datei zum Download an, die Eltern Tipps zur schnellen Vorgehensweise im Problemfall gibt.
            </h3>
        </div>
    </main>
</body>

</html>