<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <main class="main-content" style="margin-top: 0;">
        <h1 style="font-size: 60px;align-self:center;" class="bc-theme">Leitung/ Verwaltung</h1>
        <br>

        <hr width="60%" align="center">

        <div class="gridBox-wrapper">
            <div class="LeitungVerwaltungWrapper">

                <div class="card">
                    <h1>Schulleitung</h1>

                    <img src="assets/sgw-official/Schulleitung.png" alt="">


                    <ul>
                        <li>Elvira Persian, Schulleiterin</li>
                        <li>Dr. Martin Burghoff, stellvertretender Schulleiter</li>
                    </ul>

                    <ul>
                        <li>Beate Draber, Erprobungsstufe (5-6)</li>
                        <li>Irina Kaufmann, Mittelstufe (7-9)</li>
                        <li>Ulrike Gerber, Oberstufe (EF-Q2)</li>
                    </ul>

                    <ul>
                        <li>Raphael Kemna, IT-Administration/Verwaltung</li>
                        <li>Andree Sohmen, Pädagogische Leitung</li>
                        <li>Katja Limberg, Didaktische Leitung</li>
                    </ul>
                </div>

                <div class="card">
                    <h1>Anschrift</h1>

                    <p>
                        Städtisches Gymnasium Wermelskirchen <br> Stockhauser Str. 13 <br> 42929 Wermelskirchen <br> 02196/708690 Fax 02196-70869100 <br> sekretariat(at)sgw-dienst.de <br>
                    </p>
                </div>

                <div class="card">
                    <h1>Sekretariat</h1>

                    <p>
                        Susanne Schmitz <br> Michaela Müller <br> <br> <b>Öffnungszeiten:</b> <br> Mo und Mi bis Fr 07:00 - 16:00 Uhr <br> Di 07:00 - 14:00 Uhr <br> <br> 02196 - 708690 <br>
                    </p>
                </div>

                <div class="card">
                    <h1>Hausmeister</h1>

                    <p>
                        <b> Hauptgebäude:</b> <br> Frank Hackländer 0175 - 5747665 <br> <br> Dienstzeiten: - <br> Mo - Do 06:45 - 12:00 Uhr und 13:00 - 17:15 Uhr, <br> Fr 06:45 - 16:15 Uhr <br> <br> <b>Nebengebäude:</b> <br> Stefan Müller 0175 - 2632796
                        <br> <br> Dienstzeiten:
                        <br> Mo - Do 07:00 - 12:00 Uhr und 13:00 - 17:30 Uhr, <br> Fr 07:00 - 15:30 Uhr <br>
                    </p>
                </div>

            </div>
        </div>

        <hr width="60%" align="center">


        <h4>Liebe Besucher der Homepage des Städtischen Gymnasiums Wermelskirchen!</h4>

        <p>Das Gymnasium Wermelskirchen ist das einzige Gymnasium am Ort und versteht sich insofern als Städtisches Gymnasium. <br> Zur Zeit besuchen 937 Schülerinnen und Schüler unsere Schule und es unterrichten cs. 80 Kolleginnen und Kollegen (einschließlich
            Referendarinnen und Referendaren).</p>

        <hr width="60%" align="center">

        <h4>Die unten stehenden Informationen können Sie hier zum Ausdrucken herunterladen:</h4>

        <ul style="text-align: center;">
            <li style="display: flex;"><a class="color-link" target="_blank" href="assets/sgw-official/Organigramm2022-23.pdf">Organigramm</a>&nbsp; des Städtischen Gymnasiums Wermelskirchen</li>
            <li>Ansprechpartner/innen für schulische Aufgaben</li>
            <li>Schulmitwirkung - wird aktualisiert</li>
        </ul>

        <br>
        <h2>Bock die <a class="color-link" href="/node/2594">Schulzeitung</a> zu lesen?</h2>

    </main>
</body>

</html>