<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <main class="main-content">
        <h1>Schulpflegschaft</h1>

        <div class="card">

            <div class="rw-flex center-max-div" style="justify-content: space-around;">
                <div>
                    <h3 style="text-align: center;">Die Schulpflegschaft stellt sich vor:</h3>
                    <table style="margin: 0 auto;">
                        <tr>
                            <th style="padding: 5px;">Rolle</th>
                            <th style="padding: 5px;">Name</th>
                            <th style="padding: 5px;">Kontakt</th>
                        </tr>
                        <tr>
                            <td style="padding: 5px;">
                                <h3>Vorsitzende</h3>
                            </td>
                            <td style="padding: 5px;">
                                <h3>Aylin Halici</h3>
                            </td>
                            <td style="padding: 5px;">
                                <h3>Tel. 02196/8989914</h3>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 5px;">
                                <h3>Stellvertreterin</h3>
                            </td>
                            <td style="padding: 5px;">
                                <h3>Tanja Senss</h3>
                            </td>
                            <td style="padding: 5px;">
                                <h3>Tel. 02196/95418</h3>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 5px;">
                                <h3>Stellvertreterin</h3>
                            </td>
                            <td style="padding: 5px;">
                                <h3>Tabea Hübner</h3>
                            </td>
                            <td style="padding: 5px;"></td>
                        </tr>
                        <tr>
                            <td style="padding: 5px;">
                                <h3>Stellvertreter</h3>
                            </td>
                            <td style="padding: 5px;">
                                <h3>Mario Müller</h3>
                            </td>
                            <td style="padding: 5px;"></td>
                        </tr>
                    </table>
                </div>

                <img src="assets/sgw-official/Download (5).png" alt="" class="img-small">
            </div>
            <br>
            <h3>
                <p>Liebe Eltern,</p>
                <br>
                <p>Wir sind der festen Überzeugung, dass Erziehung und Entwicklung nur in offener und vertrauensvoller Zusammenarbeit von Eltern, Lehrern und Schülern stattfinden kann. Elternarbeit hat daher an unserer Schule einen hohen Stellenwert. Sie
                    ist ein wichtiger Bestandteil der schulischen Arbeit. Lehrer, Schüler und Eltern unterstützen einander kollegial und vertrauensvoll. In diesem Verständnis möchten wir ein funktionierendes Bindeglied zwischen Kindern, Lehrern, Erziehern
                    und Eltern darstellen. Für Vorschläge, Anliegen und Kritik haben wir jederzeit ein offenes Ohr.</p>
                <br>
                <p>Haben Sie Fragen zum Schulalltag?<br> Haben Sie Anregungen und Ideen?<br> Sind Probleme aufgetreten?</p>
                <br>
                <p>Wenn Sie uns etwas mitteilen wollen oder eine Frage an uns haben, können Sie unter der folgenden Email-Adresse mit uns Kontakt aufnehmen: <a class="color-link" href="mailto:schulpflegschaft.gym.wk@gmail.com">schulpflegschaft.gym.wk@gmail.com</a></p>
                <br>
                <p>Unsere Schulpflegschaft ist Mitglied der Landeselternschaft der Gymnasien (LEG) NRW mit Informationen im Mitgliederbereich der Website <a class="color-link" href="https://www.le-gymnasien-nrw.de">www.le-gymnasien-nrw.de</a>. Der aktuelle
                    Zugangscode für alle Eltern unseres Gymnasiums lautet: <strong>1-7752015</strong>. Hier haben Sie auch eine Austauschmöglichkeit untereinander in unserem Forum. Zur Registrierung melden Sie sich mit Ihrem eigenen Namen und der Angabe
                    unseres Gymnasiums unter <a class="color-link" href="http://t1p.de/LEGYMNRW">http://t1p.de/LEGYMNRW</a> an. Nach Freischaltung durch den Administrator sind Sie Mitglied der Forumsgemeinschaft.</p>
                <br>
                <p>Informationen zu allgemeinen schulischen Fragen wie z.B. Elternmitwirkung, Schulrecht, zentrale Prüfungen etc. können Sie auf der Internetseite des Schulministeriums <a class="color-link" href="http://www.bildungsportal.nrw.de/">http://www.bildungsportal.nrw.de/</a>                    erhalten.</p>
            </h3>

        </div>

        <a target="_blank" href="assets/sgw-official/Anhang 1_Mitwirkungsmöglichkeiten.pdf" class="color-link">Mitwirkungsmöglichkeiten - Erläuterungen der einzelnen Gremien</a>
    </main>
</body>

</html>