<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<style>
    .header {
        text-align: center;
        margin-bottom: 30px;
    }
    
    .section {
        margin-bottom: 20px;
    }
    
    .section h2 {
        color: var(--light-font-color);
        border-bottom: 2px solid var(--light-font-color);
        padding-bottom: 10px;
    }
    
    .section p {
        margin-bottom: 10px;
    }
    
    .section ul {
        list-style-type: none;
        padding-left: 0;
    }
    
    .section ul li {
        margin-bottom: 10px;
    }
</style>

<body>
    <main class="main-content">
        <h1>Schülervertretung</h1>

        <div class="card">
            <img src="assets/sgw-official/svlogo002.jpg" alt="" class="img-small">


            <h3>
                <p>Auf den folgenden Seiten stellen wir, die SV des Gymnasiums Wermelskirchens, uns vor.</p><br>
                <p>Jeder von der 5. bis zur Q2 darf und kann in der SV mitmachen!</p><br>
                <p>Alle Schüler_innen profitieren von einer aktiven SV mit vielen Mitgliedern – es liegt also an uns allen gemeinsam, was sich an unserer Schule tut.</p><br>
                <p>DU hast Interesse daran an unserer Schule etwas zu verändern?</p><br>
                <p>Dann sprich uns einfach an oder komm am besten direkt mittwochs nach der sechsten Stunde, also um 13:15 Uhr zum SV-Raum (Raum 151) und mach mit!</p>

            </h3>
            <br>
            <h3>
                Unsere SV-Lehrer sind Markus Weber und Sanjin Selimovic.
            </h3>

            <hr width="100%" align="center">

            <br>

            <img src="assets/sgw-official/Download (6).png" alt="" class="img-small">

            <h3>Die SV bedankt sich: in den ersten zwei Monaten unserer Pfandaktion sind 27,18€ gespendet worden! Macht weiter so!</h3>

            <hr width="100%" align="center">

            <h2 class="bc-theme">Das neue Logo</h2>

            <div class="rw-flex">
                <img src="assets/sgw-official/SV-Logo.jpg" alt="" class="img-small">
                <h3>
                    Nach dem erfolgreichen Logowettbewerb Ende 2016 haben wir, die SV, uns nach reichlicher Überlegung für ein neues Logo entschieden. Die Entscheidung fiel uns aufgrund der zahlreichen, kreativen Einsendungen sehr schwer. Gewonnen hat dann aber das Logo
                    von Moritz Schreiter aus der damaligen 8e! Wir gratulieren dem Gewinner und bedanken uns herzlich bei allen, die teilgenommen haben. Eure SV
                </h3>
            </div>
            <hr width="100%" align="center">

            <h2 class="bc-theme">Junior-SV</h2>

            <h3>SV aktuell: Wir gründen eine Junior-SV!</h3>
            <h3>Bei Interesse: <a class="color-link" target="_blank" href="assets/sgw-official/Junior SV_Einladung November 2016.pdf">Einladung</a></h3>

            <hr width="100%" align="center">
            <h2 class="bc-theme">Struktur der SV</h2>

            <img src="assets/sgw-official/svlogo002.jpg" alt="" class="img-small">

            <h3>Die SV des Gymnasiums Wermelskirchen besteht derzeit aus 16 Mitgliedern.</h3>
            <h3>Um effektiv arbeiten und das schulische Leben gestalten zu können, hat sich die SV in einzelne Projektgruppen und eine Steuerungsgruppe, die Orga-SV aufgeteilt:</h3>

            <img src="assets/sgw-official/Organisation der SV.jpg" alt="" width="45%">

            <hr width="100%" align="center">
            <h2 class="bc-theme">Aktionen der SV</h2>

            <div>
                <h2>Nikolausaktion der SV - Spende an die Tafel</h2>

                <h3>
                    <p>170 Nikoläuse machen sich auf den Weg an die Tafel</p>
                </h3>
                <br>
                <h3>
                    <p>
                        Auch dieses Jahr war die Nikolausaktion super erfolgreich! Wir konnten noch mehr Nikoläuse besorgen als im letzten Jahr, über 1600. Es freut uns sehr, dass ihr euch so gerne eine kleine Freude untereinander macht!
                    </p>
                </h3>

                <img src="assets/sgw-official/Download (7).png" alt="">

                <h3>
                    <p>
                        Jedes Jahr bleiben bei unserer Nikolausaktion ein paar Nikoläuse übrig. Dieses Jahr haben wir uns dafür entschieden diese Nikoläuse an die Tafel zu spenden um noch mehr Menschen die Weihnachtszeit versüßen zu können. <br> Einige
                        Lehrer haben ihre erhaltenen Nikoläuse auch noch dabei gelegt, so dass wir ca. 170 Nikoläuse an die Tafel Wermelskirchen weitergeben konnten.
                    </p>
                </h3>

                <h3>
                    <p>
                        Am Montag erhalten viele Kinder Weihnachtsgeschenke durch die Tafel, da aber nicht für jedes Kind genug dabei war, kamen die Nikoläuse wie gerufen.
                    </p>
                </h3>

                <h3>
                    <p>
                        Die Tafel lässt ein herzliches Dankeschön an euch und unsere Lehrer ausrichten!
                    </p>
                </h3>

                <h3>
                    <p>
                        Auch wir sagen "Danke!" für das super liebe Feedback eurerseits und freuen uns schon auf das nächste Jahr!
                    </p>
                </h3>
            </div>
            <br>
            <div>
                <h2>Spendenaktion für Geflüchtete der Ukraine</h2>

                <img src="assets/sgw-official/Ukraine.jpeg" alt="">

                <h3>
                    <p>Vor zwei Wochen hat die SV in der gesamten Schule Spenden für die Flüchtlinge aus der Ukraine gesammelt. Wir haben mit der lokalen Initiative “Willkommen In Wermelskirchen” zusammengearbeitet und ein stolzer Betrag von 1320 € kam am
                        Ende raus!
                    </p>
                </h3>

                <h3>
                    <p>
                        Das Geld wurde am Dienstag, 29.03., an die Initiative übergeben und es wurde ein großes Dankeschön an alle, die gespendet haben, ausgesprochen! <br> Eure SV
                    </p>
                </h3>
            </div>


            <hr width="100%" align="center">
            <h2 class="bc-theme">Klassenrat</h2>

            <div class="rw-flex em2-gap" style="height: 400px;">
                <div class="center-max-div">
                    <div class="clm-flex em2-gap" style="    align-items: center;">
                        <img src="assets/sgw-official/klassenrat001.jpg" alt="" width="15%">

                        <h3>
                            <ul class="big-lh rw-flex em2-gap" style="text-align: left;">
                                <li>Klassenrat Anleitung</li>
                                <li>Rolle des Lehrers im Klassenrat</li>
                                <li>Moderatoren Tipps</li>
                                <li>Anleitung für die Klassensprecherwahl</li>
                                <li>Druckvorlagen: Anleitungen, Protokollvorlagen, Gesprächsregeln</li>
                            </ul>

                        </h3>
                    </div>

                    <img src="assets/sgw-official/svlogo001.jpg" alt="" width="15%">
                </div>

            </div>

            <div class="rw-flex em2-gap" style="height: 400px;">


                <div class="scroll-box">
                    <div class="scroll-box-inner-wrapper">
                        <div class="header">
                            <h1>Klassenrat Anleitung</h1>
                        </div>

                        <div class="section">
                            <h2 class="section-title">Ablauf</h2>
                            <div class="section-content">
                                <p><strong>Informieren:</strong> Ihr lest euch in der Klasse gemeinsam die Aufgaben und Bedingungen im Klassenrat durch.</p>
                                <p><strong>Aufgabenverteilung:</strong></p>
                                <ul>
                                    <li>a) Ihr wählt einen Klassensprecher und einen Vertreter (Moderator und Co-Moderator) und einen Mappenwart.</li>
                                    <li>b) Mit Hilfe der Klassenliste bestimmt ihr, wer der erste Protokollant und wer der erste Regelwächter ist.</li>
                                </ul>
                                <p><strong>Start:</strong> Nun kann der erste Klassenrat beginnen.</p>
                                <p><strong>Ämter und Aufgaben:</strong></p>
                                <ul>
                                    <li><strong>Lehrer:</strong> verhält sich im Klassenrat wie ein normales Mitglied, greift nur bei mehrfachem Regelverstoß ein.</li>
                                    <li><strong>Moderator/ Klassensprecher:</strong> wird von der Klasse für ein Jahr gewählt leitet den Klassenrat (Moderatoren Tipps) bereitet den Klassenrat vor Das heißt er sammelt mögliche Themen und spricht sie eine Woche
                                        vor der Klassenratssitzung mit dem jeweiligen Fachlehrer und seinem Klassenlehrer ab, ansonsten kann der Lehrer den Klassenrat absagen. Der Lehrer hat die Möglichkeit bestimmte Themen begründet abzulehnen, sollte
                                        dies jedoch der Klasse erklären. Bei Themen, wie Mobbing oder Konflikten mit anderen Lehrern sollte der Klassenlehrer unbedingt informiert werden. bei dringenden Problemen spricht er sich mit dem Klassenlehrer ab,
                                        ob der Klassenrat vorgezogen werden kann wurden keine Themen vorgeschlagen, informiert er den Fachlehrer, dass der Klassenrat nicht statt findet</li>
                                    <li><strong>Co-Moderator/ stellvertretender Klassensprecher:</strong> wird von der Klasse für ein Jahr gewählt unterstützt den Klassensprecher, bei seinen Aufgaben und vertritt ihn Notfalls</li>
                                    <li><strong>Mappenwart:</strong> wird von der Klasse für ein Jahr gewählt sorgt dafür, dass die Protokolle in die Klassenratsmappe eingeheftet werden ist verantwortlich für die Klassenratsmappe, die im Klassenschrank aufbewahrt
                                        wird verkündet kurz vor Ende einer Sitzung, welcher Schüler beim nächsten mal Regelwächter und welcher Protokollant ist</li>
                                    <li><strong>Protokollant:</strong> wechselt bei jeder Klassenratssitzung, angefangen beim ersten Schüler in der Klassenliste schreibt die wichtigsten Beschlüsse während des Klassenrates in ein Protokoll (siehe Protokollvorlage)
                                        liest 10 min vor Ende der Sitzung das Protokoll vor</li>
                                    <li><strong>Regelwächter:</strong> wechselt bei jeder Klassenratssitzung, angefangen beim letzten Schüler in der Klassenliste passt auf, dass alle Regeln eingehalten werden, ermahnt bei Verstoß und erinnert euch an eure
                                        festgelegten Konsequenzen erinnert daran, dass 10 min vor Ende der Sitzung das Protokoll noch einmal vorgelesen wird</li>
                                    <li><strong>Termine für den Klassenrat</strong>Der Termin für den Klassenrat wird nach dem Rotationsverfahren durch den Klassenrat festgelegt und findet alle zwei Wochen statt( Ausnahmen können nach Absprache mit dem Klassenlehrer
                                        bei besonders wichtigen und dringenden Themen gemacht werden). Bis auf die ersten drei Sitzungen wechselt der Termin bei jedem Klassenrat. Das bedeutet, dass der erste Klassenrat am Montag in der ersten Stunde stattfindet,
                                        der zweite zwei Wochen später am Montag in der zweiten Stunde und so weiter. So wechselt der Termin jedes Mal, bis Freitag in der Letzten, danach wird wieder montags in der Ersten angefangen. Ausgenommen sind Fächer
                                        wie Sport, Religion und die Differenzierungskurse bei denen die Klasse aufgeteilt ist.</li>
                                    <li><strong>Regeln</strong>
                                        <ul class="rule-list">
                                            <li>Nur der Moderator erteilt nach Handzeichen das Wort.</li>
                                            <li>Der Moderator erteilt nach der Reihenfolge der Meldung das Wort.</li>
                                            <li>Nur einer spricht.</li>
                                            <li>Jeder darf ausreden.</li>
                                            <li>Niemand wird beleidigt.</li>
                                            <li>Es wird nicht vom Thema abgewichen.</li>
                                        </ul>
                                    </li>
                                    <li><strong>Wahlen</strong>
                                        <strong><p>Geheime Wahl:</p></strong>
                                        <ul class="wahl-liste">
                                            <li>Ämterwahl</li>
                                            <li>Anleitung: siehe Anhang (Anleitung für die Klassensprecher Wahl)</li>
                                        </ul>
                                        <strong><p>Öffentliche Wahl:</p></strong>
                                        <ul class="wahl-liste">
                                            <li>schnelle Abstimmungen per Handzeichen</li>
                                        </ul>
                                    </li>
                                    <li style="    display: flex;
                                    flex-flow: column;
                                    align-items: center;">
                                        <strong>Unterstützung</strong> Hilfe bei Problemen und Antworten auf eure Fragen bekommt ihr, wenn ihr eine e-mail an&nbsp;
                                        <a class="pk-theme" href="mailto:klassenrat.gym.wk@gmx.de">klassenrat.gym.wk@gmx.de</a>&nbsp; schreibt. Auch über Verbesserungsvorschläge oder Erfahrungsberichte freuen wir uns. Ihr könnt euch natürlich auch an
                                        ein Mitglied der SV oder die SV-Lehrer wenden.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="scroll-box">
                    <div class="scroll-box-inner-wrapper">
                        <div class="header">
                            <h1>Rolle des Lehrers im Klassenrat</h1>
                        </div>

                        <div class="section">
                            <h2 class="section-title">Bis sich der Ablauf der Ratssitzungen eingespielt hat</h2>
                            <div class="section-content">
                                <p>Bis sich der Ablauf der Ratssitzungen eingespielt hat, trägt der Lehrer dafür Sorge, dass die festgelegten Regeln eingehalten werden (immer nur, wenn der Regelwächter darin Unterstützung braucht). Die ersten drei Klassenräte
                                    in der Jahrgangsstufe 5 übernimmt der Klassenlehrer die Leitung (statt der Moderatoren/ Klassensprecher). Ist dieser Anfangsprozess erfolgreich, wird die Verantwortung an die Schüler übergeben.</p>
                                <p>In der Anfangsphase ist es besonders wichtig, methodische Kompetenzen zu schulen, die das selbstständige Durchführen des Rates ermöglichen. Überforderung oder Unterforderung von Verantwortungsträgern sollten die Lehrer
                                    erkennen und darauf reagieren, um Demotivierung vorzubeugen. Eine Reflexion mit den Schülern nach Durchführung des Klassenrates bietet sich an, um Aufgaben und Verfahren anzupassen.</p>
                                <p>
                                    Der Klassenrat zeichnet sich dadurch aus, dass seine Teilnehmer gleichberechtigt sind. Daraus erhält der Lehrer eine veränderte Position, die größtmögliche Gleichberechtigung anstrebt. Die Lehrer haben dabei eine schwierige Rolle, da sie abwägen müssen,
                                    wann die jeweilige Situation ein erzieherisches/ pädagogisches Eingreifen erfordert. Kurze Aufzeichnungen darüber, wann man warum eingegriffen hat, können zum eigenen Hinterfragen sinnvoll sein.
                                </p>
                                <p>Wesentlich ist auf jeden Fall die Vorbildfunktion des Lehrers, zu der gehört, sich ebenfalls an die vereinbarten Regeln zu halten (z.B. Melden). Auch müssen eigene Punkte, die thematisiert werden sollen, vorher angemeldet
                                    werden, wie es die Schüler machen.</p>
                                <p>
                                    Bei der Erörterung von Problemen kann Beratung notwendig sein, doch Ergebnisse sollten nicht vorgegeben werden. Denn der Prozess der Lösungsfindung ist für die Schüler wichtig zu lernen. Zudem bietet sich so die Möglichkeit für den Lehrer an, alternativ
                                    Lösungen anzuhören, die besser als die eigenen sein könnten.
                                </p>
                                <p>
                                    Während des Klassenrates kann der Lehrer durch geeignete Fragen die Schüler unterstützen. Er kann nachfragen, wenn es einem Schüler nicht gelungen ist, seine Meinung klar genug zuäußern (z.B. „Verstehe ich dich richtig…/ Meinst du…“).
                                </p>
                                <p>
                                    Die Moderatoren/ Klassensprecher sollen eine Woche vor dem Klassenrat die Themenliste mit Klassenlehrer und dem jeweiligen Fachlehrer besprechen. Geschieht dies nicht kann der Lehrer die Sitzung verbieten. Bei der Besprechung haben sie die Möglichkeit
                                    Themen begründet ab zulehnen. Bei Konflikten, Mobbingfällen oder Problemen mit Lehrern sollte der Klassenlehrer informiert werden, der über das weitere Vorgehen entscheidet.
                                </p>
                                <p>
                                    Organisatorische Aufgabe des Klassenlehrers ist es, am Anfang des Schuljahres eine Klassenliste und einen Stundenplan der Klassenratsmappe bei zuheften. Zudem sorgt er dafür dass, ausreichend Protokollvorlagen vorhanden sind und die Gesprächsregeln im
                                    Klassenraum aufgehängt werden.
                                </p>
                                <p>
                                    Die 5. Klassen erhalten bei der Einführung eine Klassenratsmappe von der SV/ Steuergruppe Klassenrat. Diese behalten sie bis zur Klasse 10 und geben sie dann zurück.
                                </p>
                                <p>
                                    Es empfiehlt sich die gesamte Anleitung des Klassenrates durchzulesen. Im Lehrerzimmer und auf der Schulhomepage (http://www.staedtisches-gymnasium-wermelskirchen.de) steht sie zur Verfügung. Dort findet man auch die Protokollvorlagen, die Gesprächsregeln,
                                    eine Liste mit Tipps für die Moderatoren und die Anleitung für die Klassensprecherwahl zum kopieren und ausdrucken.
                                </p>
                                <p>Bei Fragen und Anregungen kann man sich an die Steuergruppe Klassenrat wenden. Kontakt Steuergruppe Klassenrat: klassenrat.gym.wk@gmx.de</p>
                                <p>Auf folgenden Internet Seiten kann man weiter Informationen und Anregungen zum Klassenrat finden:</p>
                                <ul class="rw-flex em2-gap" style="display:flex;width:100%;align-items:center;justify-content:center;">
                                    <li><a href="http://www.buddy-ev.de/Download/Aktuelles/Praxishilfe_Klassenrat.pdf" class="color-link">Praxishilfe Klassenrat</a></li>
                                    <li><a href="http://blk-demokratie.de/materialien/demokratiebausteine/programmthemen/klassenrat.html" class="color-link">Demokratiebausteine - Klassenrat</a></li>
                                    <li><a href="http://www.learn-line.nrw.de/angebote/schulberatung/schulformen/grundschule/streit/klassenrat.htm" class="color-link">Klassenrat auf learn:line</a></li>
                                    <li><a href="http://www.buddy-ev.de/Buddy-Programm/Klassenrat_Zur_Nachahmung" class="color-link">Klassenrat zur Nachahmung</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="rw-flex em2-gap" style="height: 400px;">

                <div class="scroll-box">
                    <div class="scroll-box-inner-wrapper">
                        <div class="header">
                            <h1>Moderatoren Tipps</h1>
                        </div>

                        <div class="section">
                            <h2 class="section-title">Vor dem Klassenrat:</h2>
                            <div class="section-content">
                                <p>hemenvorschläge von Mitschülern notieren</p>
                                <p>eine Woche vor dem Klassenrat mit dem Klassenlehrer und dem jeweiligen Fachlehrer die Themen besprechen</p>
                            </div>

                            <h2 class="section-title">
                                Ablauf der Klassenratssitzung:
                            </h2>
                            <div class="section-content">
                                <ul>
                                    <li>Begrüßung</li>
                                    <li>Eventuell an die Beschlüsse des letzten Klassenrats erinnern</li>
                                    <li>Heutige Themen des Klassenrats auflisten</li>
                                    <li>Mit dem wichtigsten Thema beginnen</li>
                                    <li>Aufpassen, dass jeder zu Wort kommt</li>
                                    <li>Sobald Beiträge wiederholt werden und keine neuen Ideen genannt werden, zu einem Ergebnis kommen (abstimmen)</li>
                                    <li>Termin für die nächste Klassenratssitzung bestimmen</li>
                                    <li>Schüler aus der Klassenliste bestimmen, die das nächste Mal die Aufgaben des Regelwächters und des Protokollanten übernehmen</li>
                                    <li>10 Minuten vor Ende des Klassenrats sollte der Protokollant das Protokoll vorlesen</li>
                                </ul>
                            </div>

                            <h2 class="section-title">
                                Nach dem Klassenrat:
                            </h2>
                            <div class="section-content">
                                <p>den Klassenlehrer bei der nächsten Gelegenheit über die Beschlüsse des Klassenrats informieren</p>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>

            </div>

            <div class="rw-flex em2-gap" style="height: 400px;">

                <div class="scroll-box">
                    <div class="scroll-box-inner-wrapper">
                        <div class="header">
                            <h1>Anleitung für die Klassensprecherwahl</h1>
                        </div>

                        <div class="section">
                            <p>
                                <strong>Wahltermin:</strong><br> Die Wahl erfolgt jährlich zu Beginn des Schuljahres bis spätestens 2 Wochen nach Unterrichtsbeginn (BASS Nr.17-01 Nr.1 §1 Abs. 1). Gewählt wird in den jeweiligen Klassen. Insbesondere in
                                neu zusammengesetzten Klassen müssen die Schüler sich erst kennen lernen. Auch die Klärung von Aufgaben und Kompetenzen des Klassensprechers brauchen Zeit. Die Wahl sollte deshalb sinnvollerweise nicht unmittelbar nach
                                Schuljahresbeginn stattfinden. Für die Vorbereitung und Durchführung der Wahl muss ausreichend Unterrichtszeit zur Verfügung gestellt werden.
                            </p>
                            <p>
                                <strong>Einladung zur Wahl:</strong><br> Der Klassensprecher des Vorjahres oder der Klassenlehrer lädt zur Wahl ein.[...] Eine besondere Ladungsfrist braucht nicht eingehalten zu werden, da die Wahlberechtigten ohnehin
                                anwesend sind. Sinnvoll ist es jedoch, die Wahlstunde einige Tage vorher anzukündigen, damit jeder Schüler sich überlegen kann, ob er kandidieren will. Ferner sollte darauf geachtet werden, dass am Wahltag möglichst alle
                                Kinder der Klasse anwesend sind.
                            </p>
                            <p>
                                <strong>Wahlleiter:</strong><br> Der einladende Klassensprecher oder der Klassenlehrer leitet die Wahl nur für die Neuwahl des Klassensprechers. Danach übernimmt dieser die weitere Wahlleitung. Kandidiert der alte Klassensprecher
                                erneut, so muss für die Klassensprecherwahl ein anderer Wahlleiter bestimmt werden.
                            </p>
                            <p>
                                <strong>Wahlvorbereitungen:</strong><br>
                                <ul>
                                    <li>Ausreichende Zahl von Stimmzetteln</li>
                                    <li>Vorherige Vereinbarung über die Protokollführung</li>
                                    <li>Protokollblatt vorbereiten</li>
                                    <li>Aufstellen der Kandidaten (wer schlägt wen oder sich selbst vor):
                                        <ul>
                                            <li>Durch Zuruf oder durch geheime schriftliche Vorschläge</li>
                                        </ul>
                                    </li>
                                </ul>
                                <br> Der alte Klassensprecher sollte ,wenn möglich, einen kurzen Bericht über seine Arbeit im vergangenen Jahr verfassen und hierin beschreiben was ihm Spaß gemacht hat, wo er vielleicht Probleme hatte und was es im nächsten
                                Jahr noch zu tun gibt. Die aufgestellten Kandidaten sollten sich der Klasse etwas genauer vorstellen und erläutern warum sie Klassensprecher werden möchten. Es können auch Wahlplakate erstellt werden. Die Klasse muss Gelegenheit
                                zur Nachfrage und zum Vergleich erhalten. Insbesondere in Klasse 5 ist es sinnvoll vor der Wahl eine Unterrichtseinheit zum Thema Klassensprecher durchzuführen, in der Themen besprochen werden wie:

                                <br>
                                <ul>
                                    <li>Welche Aufgaben hat der Klassensprecher?</li>
                                    <li>Welche Aufgaben muss er nicht übernehmen?</li>
                                    <li>Welche Fähigkeiten sollte er haben?</li>
                                    <li>Wie wird der Klassensprecher gewählt?</li>
                                </ul>
                                <br> Sollte die Klasse durch einen Jungen UND ein Mädchen vertreten werden? Diese Unterrichtseinheit ist durch den Klassenlehrer durchzuführen oder zu koordinieren. Methodische Anregungen finden sich unter der u.g. Quelle.
                            </p>
                            <p>
                                <strong>Wahlverfahren:</strong><br> Der Klassensprecher und sein Vertreter müssen in geheimer, freier, gleicher und allgemeiner Wahl und in getrennten Wahlgängen bestimmt werden. Die Klasse muss bei der Wahl beschlussfähig
                                sein. Bei der geheimen Wahl schreibt jeder Schüler den Namen seines Kandidaten auf einen Wahlzettel. Gewählt ist, wer die meisten Stimmen erhalten hat. Die Stimmen werden an der Tafel ausgezählt. Es wird überprüft, ob die
                                Zahl der Stimmen mit der Zahl der Anwesenden übereinstimmt. Die Gewählten haben zu erklären, ob sie die Wahl annehmen. Bei Stimmengleichheit findet eine Stichwahl statt.
                            </p>
                            <p>
                                <strong>Wahlprotokoll:</strong><br> Über die Wahl ist ein Protokoll anzufertigen, das folgende Angaben enthalten muss.

                                <ul>
                                    <li>Wahlzeitpunkt</li>
                                    <li>Zahl der Stimmberechtigten</li>
                                    <li>Name der Kandidaten für das jeweilige Amt</li>
                                    <li>Wahlergebnis</li>
                                    <li>Feststellung, ob der Gewählte das Amt angenommen hat</li>
                                </ul>
                                <br> Die Wahlzettel sollten zwei Wochen lang von dem Schüler aufbewahrt werden, der die Wahl geleitet hat, weil nach Ablauf dieser Frist gegen die Wahl kein Einspruch mehr eingelegt werden kann. Gegen die Wahl kann schriftlich
                                beim Schulleiter Einspruch erhoben werden. Das Wahlprotokoll sollte der Klassensprecher bis zur Neuwahl im nächsten Schuljahr aufbewahren; diese Aufgabe kann auch die Schülervertretung zentral für alle Klassen übernehmen.
                                Das Wahlergebnis ist schriftlich festzuhalten und der Schulleitung mitzuteilen.
                            </p>
                            <p>
                                <strong>Protokollführer:</strong><br> Protokollführer kann nicht der Wahlleiter sein, er muss vielmehr einen Mitschüler dazu auswählen. Das Protokoll sollte vom Protokollführer und vom gewählten neuen Klassensprecher unterschrieben
                                werden.
                            </p>
                            <p>
                                <strong>Amtsdauer:</strong><br> Die Amtsdauer erstreckt sich bis zum Ende des Schuljahres. Der Klassensprecher ist solange Mitglied des Schülerrates, bis im folgenden Jahr der neue Schülerrat zusammen tritt. Die Wiederwahl
                                des alten Klassensprechers ist möglich. Ist eine Klasse im Laufe des Schuljahres mit ihrem Klassensprecher nicht mehr zufrieden, können sie mit Zweidrittelmehrheit der Anwesenden einen Nachfolger wählen. [...]
                            </p>
                            <br>
                            <p>
                                (Quelle: <a target="_blank" class="color-link" href="http://www.schulinfos.de/SV/svfortbildung/Klassensprecher.pdf">http://www.schulinfos.de/SV/svfortbildung/Klassensprecher.pdf</a> )
                            </p>
                            <br>
                        </div>
                    </div>
                </div>

            </div>

            <div class="rw-flex em2-gap" style="height: 400px;">

                <div class="scroll-box">
                    <div class="scroll-box-inner-wrapper">
                        <div class="header">
                            <h2>Druckvorlagen: Anleitungen, Vorlagen, Gesprächsregeln</h2>
                        </div>

                        <div class="section">
                            <ul class="rw-flex em2-gap">
                                <li><a href="assets/sgw-official/KR - Anleitung für die Klassensprecherwahl.pdf" class="color-link">Anleitung für die Klassensprecherwahl</a></li>
                                <li><a href="assets/sgw-official/KR - Klassenrats Anleitung.pdf" class="color-link">Klassenrat Anleitung</a></li>
                                <li><a href="assets/sgw-official/KR - Moderatoren Tipps.pdf" class="color-link">Moderatoren Tipps</a></li>
                                <li><a href="assets/sgw-official/KR - Protokollvorlagen.pdf" class="color-link">Protokollvorlagen</a></li>
                                <li><a href="assets/sgw-official/KR - Rolle des Lehrers im Klassenrat.pdf" class="color-link">Rolle des Lehrers im Klassenrat</a></li>
                            </ul>


                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- <h3>
            <ul class="big-lh rw-flex">
                <li>
                    <a href="/"></a>
                </li>
                <li>
                    <a href="/"></a>
                </li>
                <li>
                    <a href="/"></a>
                </li>
                <li>
                    <a href="/"></a>
                </li>
                <li>
                    <a href="/"></a>
                </li>
            </ul>
        </h3> -->
    </main>
</body>

</html>