<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%- title %>
    </title>
</head>
<style>
    .back_btn {
        position: fixed;
        padding: 10px;
        padding-left: 15px;
        background-color: #4d87c7;
        font-weight: 600;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        float: right;
        inset: 0 0 0 90%;
        margin: auto 0 auto auto;
        color: var(--font-color);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        height: max-content;
        width: max-content;
        cursor: pointer;
    }
    
    .back_btn_arrow {
        transition: transform 0.15s ease-in-out;
    }
    
    .back_btn_arrow:hover {
        transition: transform 0.15s ease-in-out;
        transform: scale(1.1);
        color: var(--font-color);
    }
    
    .list_3 li {
        display: flex;
        flex-direction: row;
        gap: 1em;
    }
</style>

<body>
    <span class="back_btn"><a href="#main" class="fa-solid fa-arrow-up back_btn_arrow"></a></span>

    <main class="main-content">
        <a name="main"></a>
        <h1>Sekundarstufe II</h1>

        <img src="assets/sgw-official/BO2-Uebersicht.jpg" alt="">
        <br>

        <h3 style="display: flex;
            align-self: center;
            margin-top: 1em;
            flex-direction: column;
            align-items: center;">
            <ul class="rw-flex" style="gap: 2em;width:max-content;">
                <li><a class="pk-theme" href="#1">Berufsorientierung und Studienwahlvorbereitung</a></li>
                <li><a class="pk-theme" href="#2">Studifinder.de - Das richtige Studium finden</a></li>
                <!-- <li><a class="pk-theme" href="#6">Berufsfeldtag 2017 für die Oberstufe</a></li> -->
            </ul>

            <ul class="rw-flex" style="gap: 2em;margin-top:1em;">
                <li><a class="bc-theme" href="#3">Freiwilliges Soziales oder Ökologisches Jahr</a></li>
                <li><a class="bc-theme" href="#4">Informationen zum Schülerbetriebspraktikum</a></li>


            </ul>

            <ul class="rw-flex" style="gap: 2em;margin-top:1em;">
                <!-- <li><a class="pk-theme" href="#5">SommerUni Wuppertal</a></li> -->
                <li><a class="pk-theme" href="#6">Studien- und Berufsorientierung der Arbeitsagentur</a></li>
                <li><a class="pk-theme" href="#7">Tag der Studienorientierung</a></li>
            </ul>

            <ul class="rw-flex" style="gap: 2em;margin-top:1em;">
                <li><a class="bc-theme" href="#5">Schultour 2024 in der Q1 eine gelungene Premiere</a></li>
            </ul>
        </h3>

        <br>
        <hr align="center" width="95%">
        <br>

        <section>
            <div class="rw-flex">
                <img src="assets/berufs_18.jpg" class="img-half-round-right">

                <a name="1"></a>
                <div class="inner-list">
                    <h2 class="second-class-title">Berufsorientierung und Studienwahlvorbereitung</h2>
                    <h4>Berufsorientierung und Studienwahlvorbereitung Sek II am Gymnasium Wermelskirchen</h4>

                    <br>

                    <img src="assets/sgw-official/Download (20).png" alt="">

                    <br>

                    <h3>1. Schule und Beruf</h3>

                    <p>
                        Die heutige Welt von Gesellschaft und Wirtschaft ist u.a. gekennzeichnet durch immer stärkere Spezialisierung einerseits und Vernetzung, Internationalisierung und Globalisierung andererseits, durch rasante Veränderungen, beispielsweise von der Industriegesellschaft
                        zur Dienstleistungs-, Medien- und Informationsgesellschaft. Dementsprechend rasch ändert sich das Spektrum von Berufsfeldern und Berufen, ändern sich ständig Voraussetzungen und Anforderungen, Ausbildungsgänge und Studienbedingungen.
                    </p>

                    <br>

                    <p>
                        Über umfassende, systematische und detaillierte Kenntnisse auf dem Gebiet der Ausbildungs und Studienberatung verfügen Institutionen und Personen, die hierauf spezialisiert und hierfür zuständig sind. Ihrer Hilfe und Beratung bedient sich die Schule.
                        Mit ihrer Unterstützung bietet die Schule Informationen und Anregungen, Hinweise auf Veranstaltungen und Einrichtungen sowie eigene außerunterrichtliche Veranstaltungen an, die wiederum eng in den Unterricht eingebunden sind.
                    </p>

                    <br>

                    <p>
                        In diesen Kontext lassen sich folgende zentrale Bausteine des Berufsorientierungskonzeptes am Gymnasium Wermelskirchen einbetten.
                    </p>

                    <br>

                    <h3>
                        2. Schülerbetriebspraktikum (SBP) in der Jahrgangsstufe 10EF
                    </h3>

                    <br>

                    <p>
                        Zum Halbjahresübergang im Januar / Februar absolvieren die Schülerinnen und Schüler der Jgst. 10 EF das zweiwöchige SBP in Unternehmen, Betrieben und Einrichtungen in Wermelskirchen und der näheren Umgebung.
                    </p>

                    <br>

                    <p>
                        Das SBP bietet die Möglichkeit, die Berufs- und Arbeitswelt unmittelbar kennenzulernen, mit ihrer sozialen Wirklichkeit vertraut zu werden und sich kritisch mit ihr auseinanderzusetzen. Im Hinblick auf den Prozess der Berufswahl können die im SBP gemachten
                        Erfahrungen dazu beitragen, eigene Vorstellungen zu entwickeln, zu präzisieren oder zu korrigieren, Interessen und Eignung kritisch zu überdenken sowie Entscheidungen für eine Berufsausbildung oder ein Studium sicherer zu machen.
                    </p>

                    <br>

                    <p>
                        Das SBP wird im Unterricht und durch Betriebserkundungen vorbereitet. Für die Dauer des SBP haben die Schülerinnen und Schüler festgelegte Beobachtungsaufträge und die Pflicht, ihre Beobachtungen und Erfahrungen in einer verbindlichen Form schriftlich
                        zu dokumentieren. Die Praktikantinnen und Praktikanten werden im Betrieb von LehrerInnen betreut, die wiederum dem Koordinator für das SBP über ihre Gespräche mit den Schülerinnen und Schülern sowie mit den zuständigen Betriebsangehörigen
                        berichten.
                    </p>

                    <br>

                    <p>
                        Diese Berichte und vor allem die von den Schülerinnen und Schülern erstellten SBP-Berichtsmappen sind Grundlage der unterrichtlichen Nachbereitung und Auswertung des Praktikums. Die Ergebnisse können auch Grundlage für Gespräche mit der Berufsberatung
                        sein.
                    </p>

                    <br>

                    <h3>
                        3. Workshop „Berufsorientierung“ in der Qualifikationsphase I im Rahmen der Methodentrainingswoche:
                    </h3>

                    <br>

                    <p>
                        Im Kontext der einwöchigen Methodentrainingswoche im September / Oktober haben interessierte Schülerinnen und Schüler der Jahrgangsstufe 11 (G8) die Möglichkeit an einem Workshop „Berufsorientierung“ teilzunehmen. Das zugrundeliegende Konzept beinhaltet
                        neben einem Berufswahltest, einer Berufsrecherche, einem Bewerbungs- und Assessmentcenter-Training auch eine Betriebsbesichtigung bzw. einen Hochschulbesuch.
                    </p>

                    <br>

                    <p>
                        Träger der Veranstaltung sind sowohl Lehrkräfte des Gymnasiums als auch externe Fachkräfte aus der beruflichen Praxis.
                    </p>

                    <br>

                    <h3>
                        4. Veranstaltungen des Ehemaligen-Vereins:
                    </h3>

                    <br>

                    <p>
                        In den letzten Jahren hat der Verein der ehemaligen Schüler des Gymnasiums Wermelskirchen damit begonnen, Veranstaltungen zur Berufsorientierung anzubieten. Ehemalige Schüler des Gymnasiums werden eingeladen, um ihre Berufsfelder und ihre jeweiligen Ausbildungs-
                        und Studiengänge vorzustellen.
                    </p>

                    <br>

                    <p>
                        Diese Veranstaltungen haben das Ziel, den Schülerinnen und Schülern aus berufenem Munde Informationen darüber zukommen zu lassen, wie man die Schwierigkeiten beim Einstieg in ein Studium oder eine Ausbildung bewältigt. Zum anderen sollen sie den Schülerinnen
                        und Schülern Gelegenheit geben, erste Kontakte zu knüpfen, um sich gegebenenfalls für den Eintritt in eine Firma oder einen Betrieb zu bewerben.
                    </p>

                    <br>

                    <h3>
                        5. Informationsveranstaltung zur Berufsorientierung der Agentur für Arbeit Bergisch-Gladbach in der Qualifikationsphase I
                    </h3>

                    <br>

                    <p>
                        Die allgemeine Einführung richtet sich an alle Schülerinnen und Schüler der Jahrgangsstufe 11 (G8) und ist eine Pflichtveranstaltung im zweiten Schulhalbjahr. Die Vorstellung verschiedener Berufsfelder sowie die Information über die Bewerbung um einen
                        Ausbildungs- oder Studienplatz findet an einem zentralen Vormittag statt und wird in Gruppenveranstaltungen angeboten, die jeweils eine Doppelstunde beanspruchen.
                    </p>

                    <br>

                    <p>
                        Im Anschluss an die Gruppenveranstaltungen bieten die Berufsberater der Agentur für Arbeit jeweils Einzelsprechstunden an.
                    </p>

                    <br>

                    <h3>
                        6. Berufsfeldtag am Gymnasium Wermelskirchen in Kooperation mit dem Rotary-Club Remscheid-Lennep
                    </h3>

                    <br>

                    <p>
                        Im zweijährigen Turnus findet ein Berufsfeldtag für die Jahrgangsstufen 10 und 11 (G8) in den Räumlichkeiten des Gymnasiums statt. Mit Unterstützung des Rotary-Clubs Remscheid-Lennep und zahlreicher weiterer Berufsexperten erhalten die Schülerinnen und
                        Schüler die Möglichkeit, sich gezielt über zwei Berufsbereiche / Studiengänge ihrer Wahl zu informieren.
                    </p>

                    <br>

                    <p>
                        In Ergänzung zum Informationsangebot des Vereins der Ehemaligen ist auch hier wiederum ein individueller Einblick in diverse Tätigkeitsfelder intendiert bzw. das Knüpfen vielfältiger Kontakte für die Planung der eigenen Erwerbsbiografie möglich.
                    </p>
                </div>
            </div>
        </section>

        <br>
        <hr align="center" width="95%">
        <br>

        <section>
            <div class="rw-flex">
                <img src="assets/berufs_14.jpg" class="img-half-round-right">

                <a name="2"></a>
                <div class="inner-list">
                    <h2 class="second-class-title">Studifinder.de - Das richtige Studium finden</h2>
                    <h4>Das richtige Studium zu finden ... ist nahezu unmöglich.</h4>

                    <br>

                    <p>
                        Fast im Wochentakt werden spezielle Studiengäge an neuen Universitäten oder Fachhochschulen angeboten. Dabei einen Überblick zu gewinnen, ist immer schwieriger. Zudem wissen viele Abiturienten gar nicht, was sie studieren sollen.
                    </p>

                    <br>

                    <p>
                        Finden Sie heraus, welche Eigenschaften und Talente Sie auszeichnen. In welchen Studienfeldern kommen Ihre Stärken am besten zum Einsatz? Wo wird Ihr Studiengang angeboten?
                    </p>

                    <br>

                    <p>
                        Die neue Plattform <a class="color-link" href="http://www.studifinder.de" target="_blank" rel="noopener noreferrer">studifinder.de</a> im Auftrag des Ministeriums für Wissenschaft und Forschung bietet Ihnen Hilfe und Orientierung.
                    </p>

                    <br>

                    <p>
                        Wenn Sie einen Account anmelden, begleitet Sie diese Plattform durch den gesamten Prozess der Studienorientierung.
                    </p>
                </div>
            </div>
        </section>

        <br>
        <hr align="center" width="95%">
        <br>

        <section>
            <div class="rw-flex">
                <a name="3"></a>
                <div class="inner-list">
                    <h2 class="second-class-title">Freiwilliges Soziales oder Ökologisches Jahr</h2>

                    <br>

                    <p>Wer nicht genau weiß, was er nach dem Abitur genau machen möchte, für den ist möglicherweise das FSJ = Freiwilliges Soziales Jahr oder das FÖJ = Freiwilliges Ökologisches Jahr als Übergang zum Berufsleben eine Lösung. Es gibt aber
                        auch noch weitere freiwillige Dienste in der Politik, in der Denkmalpflege, in Schulen, in der Kultur oder im Sport.</p>

                    <p>Voraussetzungen:</p>

                    <br>

                    <ol type="a">
                        <li> Alter: 16-26 Jahre</li>
                        <li>Beginn: jederzeit möglich (in der Regel August oder September)</li>
                        <li>Umfang: Vollzeit</li>
                        <li>Dauer: 6 bis 18 Monate möglich (in der Regel 12 Monate)</li>
                    </ol>

                    <br>

                    <p>Im FSJ / FÖJ kannst du dich in einer sozialen oder ökologischen Einrichtung engagieren, verknüpft häufig mit Bildungsseminaren (ca. 25).</p>

                    <br>

                    <p>Leistungen:</p>

                    <ol type="a">
                        <li>gesetzliche Sozialversicherungsbeiträge</li>
                        <li>Anerkennung für Studium und Ausbildung (je nach Berufswunsch)</li>
                        <li>spannende Erfahrungen</li>
                        <li>qualifiziertes Zeugnis</li>
                    </ol>

                    <br>

                    <p>Bewerbungen und weitere Informationen unter</p>
                    <br>

                    <ul class="list_3">
                        <li><a href="https://www.arbeitsagentur.de" class="color-link" target="_blank">www.arbeitsagentur.de</a> (Überblick und wichtige Informationen)</li>
                        <li><a href="https://www.freiwilligendienste-koeln.de" class="color-link" target="_blank">www.freiwilligendienste-koeln.de</a> (DRK)</li>
                        <li><a href="https://www.freiwillige.lvr.de" class="color-link" target="_blank">www.freiwillige.lvr.de</a> (Umweltschutz LVR)</li>
                        <li><a href="https://www.bund.net" class="color-link" target="_blank">www.bund.net</a> (Umweltschutz BUND)</li>
                        <li><a href="https://www.freiwilligendienste-im-sport.de" class="color-link" target="_blank">www.freiwilligendienste-im-sport.de</a> (Sport)</li>
                        <li><a href="https://www.fsj-bfd.de" class="color-link" target="_blank">www.fsj-bfd.de</a> (Diakonie, Evangelische Kirche Rheinland)</li>
                        <li><a href="https://www.fsd-koeln.de" class="color-link" target="_blank">www.fsd-koeln.de</a> (Katholische Kirche, Erzbistum Köln)</li>
                        <li><a href="https://www.awo-freiwillich.de" class="color-link" target="_blank">www.awo-freiwillich.de</a> (AWO)</li>
                        <li><a href="https://www.bundes-freiwilligendienst.de" class="color-link" target="_blank">www.bundes-freiwilligendienst.de</a> (Stellenbörse)</li>
                    </ul>
                </div>

                <img src="assets/beruf_15.jpg" class="img-half-round-left">
            </div>
        </section>

        <br>
        <hr align="center" width="95%">
        <br>

        <section>
            <div class="rw-flex">
                <img src="assets/berufs_16.jpg" class="img-half-round-right">

                <a name="4"></a>
                <div class="inner-list">
                    <h2 class="second-class-title">Informationen zum Schülerbetriebspraktikum</h2>

                    <br>

                    <p>
                        Allgemeine Informationen zum Schülerbetriebspraktikum am Städt. Gymnasium Wermelskirchen Das Schülerbetriebspraktikum findet in der jeweiligen Jahrgangsstufe 10 EF an folgenden Terminen statt:
                    </p>

                    <br>

                    <ul>
                        <li>2021: 06.09. - 10.09.2021 (aufgrund der Covid-19-Pandemie abweichend in Q1)</li>
                        <li>2022: 24.01. - 04.02.2022</li>
                        <li>2023: 16.01. - 27.01.2023</li>
                        <li>2024: 22.01. - 02.02.2024</li>
                    </ul>

                    <br>

                    <p>Unterlagen, Hinweise und Vordrucke für die Durchführung des aktuellen Praktikums können Sie hier downloaden.
                    </p>

                    <br>

                    <ol type="A" class="big-lh">
                        <li>Die Schüler/innen suchen sich fristgerecht und selbstständig einen der Schulform angemessenen Praktikumsplatz. Dabei ist die Wahl eines elterlichen Unternehmens auszuschließen.</li>
                        <li>Liegt die Praktikumsstelle außerhalb eines Radius von 5 km um den Wohnort, kann im Rahmen bestimmter Voraussetzungen über das Schulsekretariat rückwirkend eine Erstattung der Fahrtkosten (bis max. 25 km) beim Schulverwaltungsamt
                            Wermelskirchen beantragt werden.</li>
                        <li>Die Schüler/innen sind im Rahmen des Schülerbetriebspraktikums am Arbeitsplatz wie auf dem Weg dorthin durch die gesetzliche Schüler-Unfallversicherung unfallschutzversichert.</li>
                        <li>Die Arbeitszeit der Praktikanten/innen richtet sich nach den Vorgaben des jeweiligen Unternehmens in Abstimmung mit den entsprechenden Jugendschutzbestimmungen.</li>
                        <li>Schüler/innen, die in medizinischen, sozialen Einrichtungen wie Kindergärten bzw. gastronomischen Betrieben ihr Praktikum machen, benötigen eine kostenpflichtige Belehrung des Gesundheitsamtes nach dem Bundesseuchengesetz. Die
                            Organisation dieser Veranstaltung übernimmt die Schule.</li>
                        <li>Die Schüler/innen werden während ihres Praktikums von einer Lehrkraft der Schule betreut, welche auch den anzufertigenden Praktikumsbericht sichtet und nach festgelegten Kriterien bewertet.</li>
                    </ol>

                    <br>

                    <p>
                        Grundlegende Hinweise zur Durchführung des Schülerbetriebspraktikums sind u.a. auch auf der Homepage des Schulministeriums NRW zu finden:
                    </p>

                    <br>

                    <a href="assets/sgw-official/Arbeitsschutz Schuelerbetriebspraktikum.pdf">Übersicht über Arbeitsschutz in Schülerpraktika</a>
                </div>
            </div>
        </section>

        <br>
        <hr align="center" width="95%">
        <br>

        <section>
            <div class="rw-flex">

                <a name="5"></a>
                <div class="inner-list">
                    <h2 class="second-class-title">Schultour 2024 in der Q1 eine gelungene Premiere</h2>

                    <br>

                    <img src="assets/sgw-official/PZ_Schueler.jpeg" alt="">

                    <br>

                    <p>
                        Nach einer Vorläuferveranstaltung in der Sekundarstufe I fand am 30. Januar nun zum ersten Mal in dieser Form die „Schultour 2024“, unterstützt und ausgestaltet vom Interessensbündnis WiW in Wermelskirchen, auch für die Sekundarstufe II an unserem Gymnasium
                        statt. Den Schülerinnen und Schülern der Jahrgangsstufe Q1 konnte an diesem Tag ein attraktives Informationsangebot zum Themenbereich „Ausbildung“ unterbreitet werden.
                    </p>

                    <br>

                    <p>
                        Die Veranstaltung bot insoweit eine sinnvolle Ergänzung zum alle zwei Jahre stattfindenden Berufsfeldtag in der Oberstufe, welcher seinen Schwerpunkt auf die Studienorientierung legt.
                    </p>

                    <br>

                    <p>
                        Die gut 50 vom WiW rekrutierten Auszubildenden informierten die Schülerinnen und Schüler in den Räumlichkeiten unseres Oberstufentraktes in zwei individuellen Informationseinheiten umfassend zu Fragen der „Ausbildung“ im allgemeinen und spezifisch im
                        Hinblick auf die Ausbildungssituation in ihren weit über 20 Unternehmen aus Wermelskirchen und Umgebung.
                    </p>

                    <br>

                    <p>
                        Das vielfältige Angebot umfasste die Bereiche Industrie- und Bankkaufwesen, Büro- und Kaufmännisches Management, IT-/Systemmanagement, Fachinformatik, Steuerfachwesen, Notariat, Verfahrens-/Betriebstechnik, Kfz-Mechatronik, Garten-/Landschaftsbau, Lebensmitteltechnik-
                        und handwerk, Sozialpädagogik.
                    </p>

                    <br>

                    <p>
                        Die persönliche Ansprache, die authentische individuelle Ausbildungserfahrung, kurze Fachvorträge unserer Gäste und die anschließenden Fragerunden ließen diesen neuen Baustein unserer Studien- und Berufsorientierung durchweg gelingen.
                    </p>

                    <br>

                    <p>
                        Unsere Schülerinnen und Schüler können nun ihre frisch gewonnenen Einblicke auf der Ausbildungsmesse „connect“ des WiW am 09. März 2024 in Wermelskirchen intensivieren.
                    </p>
                </div>

                <img src="assets/berufs_17.jpg" class="img-half-round-left">
            </div>
        </section>

        <br>
        <hr align="center" width="95%">
        <br>

        <section>
            <div class="rw-flex">

                <a name="6"></a>
                <div class="inner-list">
                    <h2 class="second-class-title">Studien- und Berufsorientierung der Arbeitsagentur</h2>

                    <br>

                    <p>
                        In Kooperation mit der Arbeitsagentur für Arbeit besucht uns einmal im Monat die Beraterin Frau Weß-Etzel, die in 30-minütigen Gesprächen in unserem BOB (Raum 170 / Schülerbücherei) Hinweise auf Studienformalitäten, -aufbau, -kriterien etc. gibt.
                    </p>

                    <br>

                    <p>
                        Frau Weß-Etzel besucht uns in diesem Schuljahr an folgenden Terminen:
                    </p>

                    <br>

                    <ul>
                        <li>16.01.</li>
                        <li>06.03.</li>
                        <li>10.04.</li>
                        <li>08.05.</li>
                        <li>05.06.</li>
                        <li>03.07.</li>
                        <li>in der Zeit von 8.00 - 13.00 Uhr</li>
                    </ul>

                    <br>

                    <p>
                        Wenn ihr eine 30-minütige Beratung erhalten habt, dürft ihr entschuldigt aus dem Unterricht gehen. Neben Eintragungsterminen auf den Schwarzen Brettern könnt ihr vordringliche Terminwünsche auch direkt an unsere E-Mail senden:
                    </p>

                    <br>

                    <a href="mailto:stubo @ wk-gymnasium.de" class="color-link">stubo @ wk-gymnasium.de</a>
                </div>

                <img src="assets/berufs_13.jpg" class="img-half-round-left">
            </div>
        </section>

        <br>
        <hr align="center" width="95%">
        <br>

        <section>
            <div class="rw-flex">
                <img src="assets/beruf_bild11.jpg" class="img-half-round-right">

                <a name="7"></a>
                <div class="inner-list">
                    <h2 class="second-class-title">Tag der Studienorientierung</h2>

                    <br>

                    <p>
                        Am Tag der Studienorientierung des Rheinisch-Bergischen Kreises stellen viele verschiedene Universitäten der Umgebung, z.B. Köln, Bonn, Wuppertal, Düsseldorf, einen Teil ihrer Studiengänge in einer zentralen Veranstaltung in Bergisch Gladbach vor. Ihr
                        könnte euch zwei Studiengänge aussuchen, die euch in ca. 30-minütigen Vorträgen vorgestellt werden. Ihr werdet kostenlos mit einem Bus dorthin gebracht und abgeholt.
                    </p>

                    <br>

                    <p>
                        Zudem sind Studienberater der Universitäten vor Ort, die euch wichtige Detailfragen nach NC, Propädeutika, Studienordnung usw. beantworten können.
                    </p>

                    <br>

                    <p>
                        Das ist der einfachste Weg zur Studienorientierung.
                    </p>
                </div>
            </div>
        </section>
    </main>
</body>

</html>