<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <div class="main-content" style="margin-top: 0 !important;">
        <h1 style="font-size:50px;" class="bc-theme">Terminübersicht</h1>
        <br>
        <div style="display:flex; width: 100%;flex-direction:row;justify-content:space-evenly">
            <h3>Terminübersicht</h3>
            <h3>Schuljahr 2023/2024</h3>
        </div>

        <p>In dieser Übersicht finden sich ausschließlich Veranstaltungstermine. Interne schulische Termine finden sich für Schüler*innen, Eltern und Lehrer*innen im IServ-Kalender.</p>

        <hr align="center" width="65%">

        <p>Bewegliche Ferientage: <b>09. und 12.02., 10. und 31.05.2024</b></p>

        <h1>Unterrichtsfrei:</h1>

        <ul class="rw-list">
            <li>
                <h2>26.09.2023 - </h2> &nbsp;
                <h3>pädagogischer Tag I</h3>
            </li>
            <li>
                <h2>09.11.2023 - </h2> &nbsp;
                <h3>pädagogischer Tag II - Achtung: Shadowingday für die Jgst. ?</h3>
            </li>
            <li>
                <h2>23.01.2024 - </h2> &nbsp;
                <h3>Zeugniskonferenzen</h3>
            </li>
            <li>
                <h2>15.04.2024 - </h2> &nbsp;
                <h3>pädagogischer Tag III - Achtung: Shadowingday für die Jgst. ?</h3>
            </li>
            <li>
                <h2>29.05.2024 - </h2> &nbsp;
                <h3>mündliche Abiturprüfungen</h3>
            </li>
            <li>
                <h2>01.07.2024 - </h2> &nbsp;
                <h3>Zeugniskonferenzen</h3>
            </li>
        </ul>


        <hr align="center" width="65%">


        <h1 style="font-size:50px;" class="bc-theme">Veranstaltungskalender</h1>

        <table class="Calender-table" cellspacing="1" cellpadding="1">
            <tr>
                <td>26.August</td>
                <td>12:00</td>
                <td>150 Jahre Wermelskirchen (Festumzug)</td>
            </tr>

            <tr>
                <td>01. Dezember</td>
                <td>15:00 - 18</td>
                <td>Tag der offenen Tür</td>
            </tr>

            <tr>
                <td>13. Dezember</td>
                <td>18:00</td>
                <td>Weihnachts-Kulturabend</td>
            </tr>

            <tr>
                <td>25. Januar</td>
                <td>19:00</td>
                <td>Benefiz-Konzert Q2</td>
            </tr>

            <tr>
                <td>15. Februar</td>
                <td>19:00</td>
                <td>Kammerkonzert</td>
            </tr>

            <tr>
                <td>25. April</td>
                <td>&nbsp;</td>
                <td>Zauberer von OZ - Theater-AG</td>
            </tr>

            <tr>
                <td>21. März</td>
                <td>19:00</td>
                <td>Bunter Abend Q2</td>
            </tr>

            <tr>
                <td>19. Juni</td>
                <td>19:00</td>
                <td>Kulturabend</td>
            </tr>

            <tr>
                <td>21. Juni</td>
                <td>18:00</td>
                <td>Abitur-Entlassfeier</td>
            </tr>

            <tr>
                <td>25. Juni</td>
                <td>19:00</td>
                <td>Abschlusskonzert der Musikklassen 5d, 6c, 6d</td>
            </tr>

            <tr>
                <td>27. Juni</td>
                <td>19:00</td>
                <td>Abiball</td>
            </tr>

            <tr>
                <td>28. Juni</td>
                <td>&nbsp;</td>
                <td>Kennenlern-Nachmittag neue 5er</td>
            </tr>

        </table>

    </div>
</body>

</html>