<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th,
    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>

<body>
    <main class="main-content">
        <h1>Chemie</h1>

        <hr width="95%" align="center">

        <div class="center-max-div rw-flex em2-gap" style="align-items: start;">
            <img src="assets/sgw-official/Fachschaftsfoto_2023.jpg" alt="" width="40%">

            <table>
                <tr>
                    <th style="text-align: center;" colspan="7">Kolleginnen und Kollegen im Fach Chemie</th>
                </tr>
                <tr>
                    <td>Lena Klein </td>
                    <td>Pia Olsson (z. Zt. beurlaubt)</td>
                </tr>
                <tr>
                    <td>Dr. Martina Pesch</td>
                    <td>Stephanie Richter (stellv. Fachvorsitzende)</td>
                </tr>
                <tr>
                    <td>Dr. Uwe Sackmann</td>
                    <td>Stefan Selbach (Sammlungsleiter, Gefahrstoffbeauftragter)</td>
                </tr>
                <tr>
                    <td> Markus Weber (Fachvorsitzender)
                    </td>
                    <td>Anmerkung: Hr. Dr. Sackmann fehlt auf dem Foto. </td>
                </tr>
            </table>
        </div>
        <br>

        <div style="text-align: left;" class="MaxWidth">
            <h2>
                Ausstattung
            </h2>
            <br>

            <p>Die Ausstattung des Fachbereichs Chemie an unserer Schule ist ausgesprochen gut. Mit fünf Fachräumen (Räume 280, 282, 350, 351, 357) ist gewährleistet, dass jede Unterrichtsstunde auch in den hierfür eingerichteten Räumlichkeiten erteilt werden
                kann. Zahlreichen Fachgeräte, wie beispielsweise Photometer, Modell-Gaschromatographen, Analysewaagen, Eudiometer, Polarimeter, sichern einen fachlich anspruchsvollen Unterricht bis zum Abitur.</p>
            <br>

            <p>
                Die mediale Ausstattung durch Beamer und Notebooks ist bereits auf einem guten Stand, sodass kurze Filmsequenzen, Animationen oder Visualisierungen das Verständnis der teilweise abstrakten Vorgänge des Alltags unterstützen können. In der kommenden Zeit
                sollen alle Fachräume auf den gleichen hohen Stand gebracht werden.
            </p>
            <br>

            <p>
                Lehrpläne und Unterrichtsinhalte
            </p>
            <br>

            <p>
                Chemie zeigt sich in jedem Augenblick unseres Lebens – dieser Grundsatz bildet die Leitidee der schulinternen Lehrpläne. Chemie ist nicht mehr das abstrakte Schreckensfach, sondern seine Inhalte werden an den Stellen aufgegriffen, an denen sie für die
                Kinder erkennbar sind: in der Küche, bei der Ernährung oder im Kinderzimmer. Dabei beeinträchtigt dieser starke Kontextbezug keineswegs die Tiefe der wissenschaftlichen Erkenntnis, sondern fördert über die prozess- und konzeptbezogenen
                Methodenkompetenz die Selbstständigkeit der Schülerinnen und Schüler in besonderem Maß.
            </p>
            <br>

            <p>
                Am Gymnasium Wermelskirchen wurden im vergangenen Jahr schulinterne Lehrpläne für das Fach Chemie entwickelt, die damit in jeder Hinsicht beispielhaft die Vorgaben der aktuellen Kernlehrpläne umsetzen. Sie können diesen schulinternen Lehrplan im Download-Bereich
                herunterladen.
            </p>

            <br>
            <h2>

                Lehrpläne und Unterrichtsinhalte
            </h2>
            <br>

            <p>
                Chemie zeigt sich in jedem Augenblick unseres Lebens – dieser Grundsatz bildet die Leitidee der schulinternen Lehrpläne. Chemie ist nicht mehr das abstrakte Schreckensfach, sondern seine Inhalte werden an den Stellen aufgegriffen, an denen sie für die
                Kinder erkennbar sind: in der Küche, bei der Ernährung oder im Kinderzimmer. Dabei beeinträchtigt dieser starke Kontextbezug keineswegs die Tiefe der wissenschaftlichen Erkenntnis, sondern fördert über die prozess- und konzeptbezogenen
                Methodenkompetenz die Selbstständigkeit der Schülerinnen und Schüler in besonderem Maß.
            </p>
            <br>

            <p>
                Am Gymnasium Wermelskirchen wurden im vergangenen Jahr schulinterne Lehrpläne für das Fach Chemie entwickelt, die damit in jeder Hinsicht beispielhaft die Vorgaben der aktuellen Kernlehrpläne umsetzen. Sie können diesen schulinternen Lehrplan im Download-Bereich
                herunterladen.
            </p>
            <br>

            <h2>Informationen über Lehrpläne und schulische Vereinbarungen</h2>
            <br>

            <ul class="big-lh">
                <li>
                    <a href="assets/sgw-official/Schulinternes Curriculum Chemie Sek I am SGW.pdf" class="color-link">schulinterner Lehrplan Sek I - G8</a>
                </li>
                <li>
                    <a href="assets/sgw-official/G9_Klasse_7+8.pdf" class="color-link">schulinterner Lehrplan Sek I - G9 (Jgst. 7 + 8)</a>
                </li>
                <li>
                    <a href="assets/sgw-official/GymWK_Schulcurriculum_Chemie_2015-03-11-Kurzversion.pdf" class="color-link">schulinterner Lehrplan Sek II</a>
                </li>
                <li>
                    <a href="assets/sgw-official/Leistungsbeurteilung im Fach Chemie.pdf" class="color-link">Konzept zur Leistungsbewertung im Fach Chemie</a>
                </li>
                <li>
                    <a href="assets/sgw-official/Betriebsanweisung Schueler.pdf" class="color-link">Betriebsanweisung für Schülerinnen und Schüler</a>
                </li>
                <li>
                    <a href="assets/sgw-official/Gefahrensymbole und R-, S-Sätze.pdf" class="color-link">Gefahrensymbole sowie R- und S-Sätze zu Risiken und Sicherheitsratschlägen</a>
                </li>
                <li style="display: ruby-text;">
                    <a href="assets/sgw-official/Anleitung Chemieheft.pdf" class="color-link">Anleitung</a> zur Führung des Chemieheftes mit <a href="assets/sgw-official/Inhaltsverzeichnis Chemieheft.pdf" class="color-link">Inhaltsverzeichnis</a>.
                </li>
                <li>
                    <a href="assets/sgw-official/Anleitung zur Abfassung von Referaten.pdf" class="color-link">Tipps für ein erfolgreiches Referat</a>
                </li>
                <li>
                    <a href="assets/sgw-official/Anleitung zu Ausarbeitungen.pdf" class="color-link">Anleitung zur Gestaltung einer Unterrichtsausarbeitung.</a>
                </li>
            </ul>

            <br>
            <div>
                <h2><strong>Chemisches Rechnen</strong></h2>
                <br>
                <p>Herleitung <a href="/assets/sgw-official/SI-Gr%C3%B6%C3%9Fen.pdf" target="_blank" class="color-link">physikalischer u. chemischer Einheiten</a> aus&nbsp; SI-Grundeinheiten</p>
                <p><a href="/assets/sgw-official/Einf%C3%BChrung%20in%20chemisches%20Rechnen.pdf" target="_blank" class="color-link">Einführung in chemisches Rechnen</a> (mit Übungen und <a href="/assets/sgw-official/Einf%C3%BChrung%20in%20chemisches%20Rechnen%20-%20L%C3%B6sungen.pdf"
                        target="_blank" class="color-link">Lösungen</a>)</p>
                <p>... oder versucht es mit einer <a href="/assets/sgw-official/Chemisches%20Rechnen%20aus%20Sch%C3%BClersicht.pdf" target="_blank" class="color-link">Schüler-Anleitung</a> zum chemischen Rechnen.</p>
                <p>&nbsp;</p>
                <h3>Lernmethoden</h3>
                <br>
                <p>Die Anfertigung von <em><strong>Fließschemata </strong></em>zur Visualisierung von komplexen Lernzusammenhängen ist eine sehr effiziente Methode, Lerninhalte durch Reorganisation einerseits zu veranschaulichen und dabei andererseits noch
                    einmal vertiefend zu wiederholen. Meist werden Zusammenhänge und auch noch versteckte Verständnisschwierigkeiten erst bei der Umsetzung in eine graphische Form bewusst.</p>
                <p>Im Folgenden finden sich gelungene Beispiele für Fließschemata zur Übersicht der <a href="/assets/sgw-official/Fliessschema%20-%20Reaktionsmechanismen2.pdf" target="_blank" class="color-link">Reaktionsmechanismen,&nbsp; </a>zum <a href="/assets/sgw-official/Fliessschema%20-%20Doppelkontaktverfahren2.pdf"
                        target="_blank" class="color-link">Doppelkontaktverfahren </a>zur <a href="/assets/sgw-official/Fliessschema%20-%20Doppelkontakt%20b.pdf" target="_blank" class="color-link">Herstellung von Schwefels<img alt="" src="/assets/sgw-official/Fliessschema%20-%20Reaktionsmechanismen2.pdf" style="height:0px; width:0px">äure</a>                    oder zur <a href="/assets/sgw-official/Fliessschema%20-%20Ammoniaksythese.pdf" target="_blank" class="color-link">Ammoniak-Synthese</a> nach dem Haber-Bosch-Verfahren.</p>
                <p>&nbsp;</p>
                <h2><strong>Stufe 7</strong></h2>
                <br>
                <p>Übungen zu <a href="/assets/sgw-official/Laborregeln.mtt" target="_blank" class="color-link">Laborregeln</a>, <a href="/assets/sgw-official/Laborger%C3%A4te.mtt" target="_blank" class="color-link">Laborgeräten</a>, <a href="/assets/sgw-official/Brennerbeschriftung.mtt"
                        target="_blank" class="color-link">Brenner</a>,
                    <a href="/assets/sgw-official/Brenner%20anz%C3%BCnden.mtt" target="_blank" class="color-link">Umgang mit dem Brenner</a>, <a href="/assets/sgw-official/Brennerflammen.mtt" target="_blank" class="color-link">Flammenarten</a>, <a href="/assets/sgw-official/Gefahrensymbole.mtt"
                        target="_blank" class="color-link">Gefahrensymbolen</a></p>
                <p>(Dazu <a href="http://www.mastertool-autorensystem.de/downloads.html" target="_blank" class="color-link"><em><strong>MasterTool Basissystem</strong></em></a> downloaden und installieren (Freeware))</p>
                <p>&nbsp;</p>
                <p>Laborgeräte richtig <a href="/assets/sgw-official/Ger%C3%A4te%20richtig%20zeichnen.pdf" target="_blank" class="color-link">zeichnen</a></p>
                <p>&nbsp;</p>
                <h2><strong>Stufe 8</strong></h2>
                <br>
                <p>Umwelterziehung: <a href="/assets/sgw-official/Treibhauseffekt.pdf" target="_blank" class="color-link">Treibhaus</a>-Effekt</p>
                <p>&nbsp;</p>
                <h2><strong>Stufe 9</strong></h2>
                <br>
                <p>Arten der <a href="/assets/sgw-official/Korrosion.pdf" target="_blank" class="color-link">Korrosion </a></p>
                <p><a href="/assets/sgw-official/Batterien.pdf" target="_blank" class="color-link">Aufbau </a>der Zink-Kohle und der Alkaline-Batterien</p>
                <p><a href="/assets/sgw-official/Elektrolyse%20u.%20Vergleich.pdf" target="_blank" class="color-link">Elektrolyse </a>und <a href="/assets/sgw-official/Galvanisches%20Element.pdf" target="_blank" class="color-link">Galvanisches Element</a>                    im Vergleich</p>
                <p>Skript zum <a href="/assets/sgw-official/Stationenlernen%20S%C3%A4uren%20u.%20Laugen%20-%20SGW.pdf" target="_blank" class="color-link">Stationenlernen </a><a href="/assets/sgw-official/Stationenlernen%20S%C3%A4uren%20u.%20Laugen%20-%20SGW.pdf"
                        target="_blank" class="color-link">Säuren und Basen</a></p>

                <div>
                    <a href="/assets/sgw-official/Beispiell%C3%B6sung%20einer%20Stationsaufgabe%20-%20Kalkl%C3%B6ser.pdf" target="_blank" class="color-link">Beispiellösung </a>zu einer Station (<em>Zitronensäue als Kalklöser</em>)
                </div>
                <div>
                    <a href="/assets/sgw-official/Teste%20dich%20selbst%20-%20Chemie%20der%20Sek%20I.pdf" target="_blank" class="color-link"><em>Teste dich selbst!</em></a> - 36 Fragen aus dem Chemieunterricht der Sekundarstufe I
                </div>
                <div> </div>
                <br>
                <h2><strong>Stufe 10EF</strong></h2>
                <br>
                <div>
                    <a href="/assets/sgw-official/Repetitorium%20-%20Handout.pdf" target="_blank" class="color-link">Grundwissen für die Oberstufe</a> (knappe Wiederholungseinheit Chemie der Sek I)
                </div>
                <div>
                    <a href="/assets/sgw-official/Siedenpunktver%C3%A4nderung%20der%20Wasserstoffverbindungen%20der%20Perioden.pdf" target="_blank" class="color-link">Siedetemperaturen </a>durch intermolekulare Wechselwirkungen erklären
                </div>
                <div>
                    <a href="/assets/sgw-official/Erstellung%20von%20Redox-Gleichungen.pdf" target="_blank" class="color-link">Reaktionsgleichungen </a>richtig einrichten - ein einfaches Schema
                </div>
                <div>
                    <a href="/assets/sgw-official/%C3%9Cbungen%20zu%20Redox-Reaktionen%20%28mit%20L%C3%B6sungen%29.pdf" target="_blank" class="color-link">Übungen</a> (mit Lösungen) zu Redox-Reaktionen
                </div>
                <div> </div>
                <div>Das <a href="/assets/sgw-official/Das%20chemische%20Gleichgewicht.pdf" target="_blank" class="color-link">chemische Gleichgewicht</a> mit Beispielen und Einflussfaktoren</div>
                <div> </div>
                <div>"Wie entsteht Bier?" - eine <a href="/assets/sgw-official/Wie%20entsteht%20unser%20Bier.pdf" target="_blank" class="color-link">Brauanleitung </a></div>
                <p> </p>
                <p>Einzelaspekte der Chemie</p>
                <div><a href="/assets/sgw-official/0%20Chemisches%20Rechnen.pdf" target="_blank" class="color-link">Chemisches Rechnen</a></div>
                <div><a href="/assets/sgw-official/1%20Atomaufbau.pdf" target="_blank" class="color-link">Atombau</a></div>
                <div><a href="/assets/sgw-official/2%20Isotope%20und%20Ionen.pdf" target="_blank" class="color-link">Isotope u. Ionen</a></div>
                <div><a href="/assets/sgw-official/3%20Elektronenpaarbindung.pdf" target="_blank" class="color-link">Elektronenpaarbindung</a></div>
                <div><a href="/assets/sgw-official/4%20S%C3%A4uren%20und%20Basen.pdf" target="_blank" class="color-link">Säuren u. Basen</a></div>
                <div><a href="/assets/sgw-official/5%20Redoxreaktionen.pdf" target="_blank" class="color-link">Redox-Reaktionen</a></div>
                <div><a href="/assets/sgw-official/6%20Organische%20Chemie.pdf" target="_blank" class="color-link">Organische Chemie</a></div>
                <div><a href="/assets/sgw-official/7%20Stoffklassen%20der%20Bio-Chemie.pdf" target="_blank" class="color-link">Stoffklassen der Bio-Chemie</a></div>
                <div> </div>
                <div><a href="/assets/sgw-official/bungsklausur.pdf" target="_blank" class="color-link">Übungsklausur </a>zu den Themengebieten (mit <a href="/assets/sgw-official/bungsklausur%20-%20L%C3%B6sung.pdf" target="_blank" class="color-link">Lösungen</a>)</div>
                <div> </div>
                <br>
                <h2><strong>Stufe 11/Q1</strong></h2>
                <br>
                <div>Grundlagen zur <a href="/assets/sgw-official/Seife.pdf" target="_blank" class="color-link">Seife</a></div>
                <div><a href="/assets/sgw-official/Wasserenth%C3%A4rter%20in%20Waschmitteln.pdf" target="_blank" class="color-link">Wasserenthärter </a>in Waschmitteln als Beispiel dialektischer Entwicklungen</div>
                <div> </div>
                <div>Tabelle der <a href="/assets/sgw-official/S%C3%A4ure-und%20Basenst%C3%A4rke.pdf" target="_blank" class="color-link">Säuren- und Basenstärken</a> (pKs- / pKb-Werte)</div>
                <div> </div>
                <div><a href="/assets/sgw-official/Radikalische%20Substitution.pdf" target="_blank" class="color-link">Radikalische Substitution</a></div>
                <div><a href="/assets/sgw-official/Enantiomere.pdf" target="_blank" class="color-link">Chiralität, Enantiomere und deren Eigenschaft</a></div>
                <div>Übersicht über <a href="/assets/sgw-official/Isomeriearten%20%28OHP%29.pdf" target="_blank" class="color-link">Isomerie </a>sowie <a href="/assets/sgw-official/Stereochemie%20%28Foliensammlung%29.pdf" target="_blank" class="color-link">Stereoisomerie</a></div>
                <div><a href="/assets/sgw-official/Die%20nucleophile%20Substitution.pdf" target="_blank" class="color-link">Nucleophile Substitution</a> - Mechanismen und Einflussfaktoren</div>
                <div> </div>
                <div><a href="/assets/sgw-official/Grundlagen%20der%20Elektrochemie.pdf" target="_blank" class="color-link">Galvanische Elemente</a> - Potenziale und Doppelschicht</div>
                <div><a href="/assets/sgw-official/Standard-Redox-Potenziale.pdf" target="_blank" class="color-link">Standard-Redox-Potentiale</a> ("Normalpotentiale") als Tabelle</div>
                <div>Einführung in die <a href="/assets/sgw-official/Thermodynamik%20und%20Nernst-Gleichung.pdf" target="_blank" class="color-link">Thermodynamik </a>mit Herleitung der Nernst-Gleichung</div>
                <div>Energiespeicherung mit Hilfe von <a href="/assets/sgw-official/Alternative%20Energiespeicherung%20-%20Ionen-Akku%20u.%20Brennstoffzelle.pdf" target="_blank" class="color-link">Li-Ionen-Akku</a> oder <a href="/assets/sgw-official/Brennstoffzelle.pdf"
                        target="_blank" class="color-link">Brennstoffzelle</a></div>
                <div><a href="/assets/sgw-official/Korrosion%20-%20detailliert.pdf" target="_blank" class="color-link">Korrosion </a>und Schutzmaßnahmen</div>
                <div> </div>
                <br>
                <h2><strong>Stufe 12/Q2</strong></h2>
                <br>
                <div><a href="/assets/sgw-official/Aromatizit%C3%A4t.pdf" target="_blank" class="color-link">Aromatizität</a></div>
                <div><a href="/assets/sgw-official/Elektrophile%20Substitution.pdf" target="_blank" class="color-link">Elektrophile Substitution</a> am Aromaten</div>
                <div>Verheerende <a href="/assets/sgw-official/Chemie-Unf%C3%A4lle.pdf" target="_blank" class="color-link">Chemie-Unfälle</a> als Zeichen wissenschaftlicher Verantwortung</div>
                <div><a href="/assets/sgw-official/Farbigkeit%20nach%20verschiedenen%20Theorien.pdf" target="_blank" class="color-link">Farbigkeit </a>nach verschiedenen Theorien</div>
                <div>Theorie und Anleitung zu <a href="/assets/sgw-official/Farbstoff-Versuche%20nach%20Dr.%20Beneth%20-%20%C3%9Cbersicht.pdf" target="_blank" class="color-link">Farbstoff-Experimenten</a> nach Dr. Berneth</div>
                <div> </div>
                <div>Ganz viele Lerneinheiten zu allen Themen in</div>
                <div><a href="http://www.khanacademy.org/#chemistry" target="_blank" class="color-link">allgemeiner Chemie </a></div>
                <div><a href="http://www.khanacademy.org/#organic-chemistry" target="_blank" class="color-link">organischer Chemie</a></div>
                <div> </div>
                <br>
                <div><a href="http://www.max-wissen.de/Fachwissen/bereich/Chemie.html"><strong>Ideen für Abitur- und Klausuraufgaben</strong></a></div>
                <br>
                <div>Die Publikationen der Max-Planck-Gesellschaft liefern immer wieder gute Ideen für Klausuraufgaben.</div>
                <div> </div>
                <br>
                <div>Abitur</div>
                <br>
                <div><a href="https://www.standardsicherung.schulministerium.nrw.de/cms/zentralabitur-wbk/faecher/getfile.php?file=2234" target="_blank" class="color-link">Operatoren </a>im Fach Chemie</div>
                <div><a href="https://www.standardsicherung.schulministerium.nrw.de/cms/zentralabitur-gost/faecher/fach.php?fach=7" target="_blank" class="color-link">Abiturvorgaben</a> im Fach Chemie</div>
                <br>
                <div>Filme zur Wiederholung</div>
                <br>
                <div>Bei <a href="http://www.youtube.com/results?search_type=search_playlists&amp;search_query=telekolleg+chemie&amp;uni=1" target="_blank" class="color-link">Youtube</a> gibt es aus der Reihe <a href="http://www.youtube.com/results?search_type=search_playlists&amp;search_query=telekolleg+chemie&amp;uni=1"
                        target="_blank" class="color-link"><strong>"Telekolleg Chemie"</strong></a> die u.g. Themen</div>
                <div>und auf den folgenden Seiten werden die Inhalte noch einmal zusammengefasst. Abschließend kann man anhand von Fragen sein Verständnis prüfen:</div>
                <div>
                    Sehr schöne Zeichentrickserien ist die Sendung
                </div>
                <div><a href="http://www.youtube.com/user/eswareinmalmaestro/videos?view=1" target="_blank" class="color-link">"<em>Es war einmal ...</em> "  </a></div>
                <div> </div>
                <div>durch die man etwas erfahren kann über</div>
                <br>
                <div> - <strong>Menschheitsgeschichte        </strong>("...<em> der Mensch</em>")</div>
                <div> - <strong>Wissenschaftsgeschichte     </strong>(" ... <em>Entdecker und Erfinde</em>r")</div>
                <div> - <strong>Erd-Entdeckungen</strong> ("... <em>Entdeckung der Welt</em>")</div>
                <div> - <strong>den menschlichen Körper</strong> ("... <em>das Leben</em>")</div>
            </div>
            <br>

            <h2>Ausflugsziele</h2>
            <br>
            <ul>
                <li><a class="color-link" href="https://www.odysseum.de/" target="_blank">Odysseum, Köln</a></li>
                <li><a class="color-link" href="https://www.phaenomenta.de/luedenscheid" target="_blank">Phänomenta, Lüdenscheid</a></li>
                <li><a class="color-link" href="https://www.roentgenmuseum.de/" target="_blank">Röntgen-Museum, Remscheid</a></li>
                <li><a class="color-link" href="https://www.mineralogisches-museum.uni-bonn.de/" target="_blank">Mineralogisches Museum, Bonn</a></li>
                <li><a class="color-link" href="https://www.deutsches-museum.de/bonn/" target="_blank">Deutsches Museum, Bonn</a></li>
                <li><a class="color-link" href="https://www.deutsches-museum.de/" target="_blank">Deutsches Museum, München</a></li>
                <li><a class="color-link" href="https://www.liebig-museum.de/" target="_blank">Liebig-Museum, Gießen (Chemie-Museum)</a></li>
                <li><a class="color-link" href="https://www.deutsches-chemie-museum.de/" target="_blank">Bergisches Museum für Bergbau, Handwerk und Gewerbe, Berg. Gladbach</a></li>
                <li><a class="color-link" href="https://www.chemie-museum.de/" target="_blank">Deutsches Chemie-Museum, Merseburg</a></li>
            </ul>
            <br>

            <h2>Wettbewerbe</h2>
            <br>

            <ul class="big-lh">
                <li>Chemie entdecken (Klasse 5-10)</li>
                <li style="display: ruby-text;"><a href="https://www.icho-nrw.de/" class="color-link">Chemie-Olympiade</a> (Klasse 10-13)</li>
                <li style="display: ruby-text;"><a href="https://www.jugend-forscht.de/" class="color-link">Jugend forscht</a></li>
            </ul>

        </div>

    </main>
</body>

</html>