<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th,
    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>

<body>
    <main class="main-content" style="align-items: start;">
        <h1>Deutsch</h1>

        <hr width="95%" align="center">

        <div class="center-max-div rw-flex em2-gap" style="align-items: start;">
            <img src="assets/sgw-official/Fachschaftsfoto_2023.jpg" alt="" width="40%">

            <table>
                <tr>
                    <th style="text-align: center;" colspan="7">Kolleginnen und Kollegen im Fach Deutsch</th>
                </tr>
                <tr>
                    <td>Daniela Andert</td>
                    <td>Thomas Berndhäuser</td>
                </tr>
                <tr>
                    <td>Sarah Beutling</td>
                    <td>Isabell Büchner</td>
                </tr>
                <tr>
                    <td>Andreas Frömmel</td>
                    <td>Sara Fürstenau</td>
                </tr>
                <tr>
                    <td>Eva Maria Gutschera</td>
                    <td>Laura Klaus</td>
                </tr>
                <tr>
                    <td>Nina Klune</td>
                    <td>Robert Köhler</td>
                </tr>
                <tr>
                    <td>Katja Limberg</td>
                    <td>Lukas Merten</td>
                </tr>
                <tr>
                    <td>Sandra Meurer (FV)</td>
                    <td>Svea Reichel</td>
                </tr>
                <tr>
                    <td>Susanne Schäfer-Donath</td>
                    <td>Lukas Schumacher</td>
                </tr>
                <tr>
                    <td>Susanne Sidon</td>
                    <td>Markus Speicher</td>
                </tr>
                <tr>
                    <td>Marlen Wallisch</td>
                    <td>Juliana Wachnowezki</td>
                </tr>
                <tr>
                    <td>Eleonore Ziaja</td>
                    <td><strong>Referendare:</strong> Metin Genc</td>
                    <!-- This cell is empty to maintain consistency in the table structure -->
                </tr>
            </table>
        </div>

        <!-- <hr width="95%" align="center"> -->


        <div>

            <h2><a target="_blank" class="color-link" href="assets/sgw-official/Leistungsbewertungskonzept der Fachschaft Deutsch des städtischen Gymnasiums Wermelskirchen.pdf">Informationen zur Leistungsbewertung im Fach Deutsch</a></h2>
            <br>

            <hr width="95%" align="center">
            <br>

            <h2>
                Schulinterne Lehrpläne und Curricula:
            </h2>
            <br>

            <h3>Curriculum Sek I</h3>
            <div class="inner-list">
                <a target="_blank" href="assets/sgw-official/2018_Curriculum Sek I Deutsch_Homepage.pdf" class="color-link">Curriculum Sek I (G8)</a>
                <br> Curriculum Sek I (G9):&nbsp;
                <a href="assets/sgw-official/Curriculum Deutsch Jgst 5 HP Version.pdf" target="_blank" class="color-link">Jgst. 5</a>
                <a href="assets/sgw-official/Curriculum Deutsch Jgst 6 HP Version_0.pdf" target="_blank" class="color-link">Jgst. 6</a>
                <a href="assets/sgw-official/Curriculum Deutsch Jgst 7.pdf" target="_blank" class="color-link">Jgst. 7</a>
                <a href="assets/sgw-official/Curriculum Deutsch Jgst 8.pdf" target="_blank" class="color-link">Jgst. 8</a>

            </div>
            <br>

            <h3>Curriculum Sek II</h3>
            <div class="inner-list">
                <p>
                    Als thematische und methodische Konkretisierung dieser allgemeinen Obligatorik sind die in jedem Jahr aktuellen Vorgaben für das Zentralabitur <br> ( <a target="_blank" href="https://www.standardsicherung.schulministerium.nrw.de/cms/zentralabitur-gost/faecher/fach.php?fach=1"
                        class="color-link">Bildungsserver NRW</a> ) zu beachten.
                </p>
            </div>
            <br>

            <hr width="95%" align="center">

            <br> <br>
            <h3><a href="https://www.schul-welt.de/de/kernlehrplaene.html" target="_blank" class="color-link">Link</a> zum Ritterbach-Verlag (aktuelle Lehrpläne)</h3>
            <br> <br>

            <hr width="95%" align="center">

            <h1>Vorlesewettbewerb</h1>
            <br>

            <div class="inner-list" style="font-size:medium;">
                <h3>
                    Der Vorlesewettbewerb findet jedes Jahr kurz vor den Sommerferien in der Schülerbücherei im Nebengebäude statt. 20 Schülerinnen und Schüler der Klassen 5 und 6 (aus jeder Klasse haben sich zuvor zwei Schüler/innen für den Wettbewerb im Deutschunterricht
                    durch Vorlesen qualifiziert) nehmen hieran teil. Die Jury besteht aus zwei Deutschlehrkräften und zwei Eltern.
                </h3>

                <br>
                <h2 class="pk-theme">
                    Anforderungen / Verlauf:
                </h2>
                <br>

                <h3>
                    Die Teilnehmer lesen aus einem selbst mitgebrachten Buch ihrer Wahl vor. Danach wird ihnen ein noch unbekannter Text zum Vorlesen vorgelegt.
                </h3>
                <br>

                <h2 class="pk-theme">
                    Allgemeine Informationen Vorlesewettbewerb
                </h2>
                <br>

                <h3>
                    Der Vorlesewettbewerb wird seit 1959 jedes Jahr vom Börsenverein des Deutschen Buchhandels in Zusammenarbeit mit Buchhandlungen, Bibliotheken, Schulen und sonstigen kulturellen Einrichtungen veranstaltet. Er steht unter der Schirmherrschaft des Bundespräsidenten
                    und zählt zu den größten bundesweiten Schülerwettbewerben. Fast 700.000 Schülerinnen und Schüler beteiligen sich jedes Jahr.
                </h3>
                <br>

                <h2 class="pk-theme">
                    Preise
                </h2>
                <br>

                <h3>
                    Jeder Teilnehmer bekommt als Preis ein Buch oder einen Büchergutschein. Der Gewinner / die Gewinnerin der Klassen 5 tritt im folgenden Schuljahr bei den Regionalentscheiden des Vorlesewettbewerbs für unsere Schule an.
                </h3>
            </div>
        </div>

    </main>
</body>

</html>