<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <main class="main-content">
        <h1>Differenzierungskurs Biologie-Chemie</h1>
        <hr align="cener" width="95%">

        <h3>
            Liebe Schülerinnen und Schüler, liebe Eltern !
            <br> <br> Im Folgenden findet ihr und finden Sie eine Übersicht über die Themenvielfalt im Wahlpflichtunterricht Biologie/Chemie in den Jahrgangsstufen 9 und 10 an unserem Gymnasium:
        </h3>

        <br>

        <img src="assets/sgw-official/Übersichtsbild.jpg" alt="">

        <br>

        <h3>
            Die Abfolge der Halbjahresthemen gestaltet jede Kollegin und jeder Kollege immer etwas anders. Das ist auch von den Vorerfahrungen und den Wünschen des aktuellen Kurses abhängig. Grundsätzlich besteht auch immer die Möglichkeit einer Wettbewerbsteilnahme
            eines Kurses, z.B. am Chemiewettbewerb "Chemie entdecken" oder am Bio-Wettbewerb "Bio-logisch".
            <br> <br> Pro Halbjahr werden 2 Klassenarbeiten geschrieben, die ab der 10. Jahrgangsstufe 60-90 Minuten dauern. Mündliche Mitarbeit, Projektarbeiten, Referate und Experimentierverhalten werden allerdings gleichrangig in der Endbenotung mit
            berücksichtigt.
        </h3>

        <h3>
            Die Besonderheit dieses Kurses liegt gewiss darin, dass die SchülerInnen nicht nur viel experimentieren und forschen, sondern dass sie auch viele (chemische) Produkte selbst herstellen, z.B. Seife, Cremes, Duschgel, Shampoo, Deo usw., die größtenteils
            zu Hause auch verwendet werden können.
        </h3>
    </main>
</body>

</html>