<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th,
    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>

<body>
    <main class="main-content" style="align-items: start;">
        <h1>Englisch</h1>

        <hr width="95%" align="center">

        <div class="center-max-div rw-flex em2-gap" style="align-items: start;">
            <img src="assets/sgw-official/Englisch_22_23.jpeg" alt="">

            <table>
                <tr>
                    <th style="text-align: center;" colspan="7">Kolleginnen und Kollegen im Fach Deutsch</th>
                </tr>
                <tr>
                    <td>Maria Pérez-Bazán</td>
                    <td>Sanjin Selimovic</td>
                </tr>
                <tr>
                    <td>Franz Gottschalch</td>
                    <td>Eleonore Ziaja</td>
                </tr>
                <tr>
                    <td>Eleonore Ziaja</td>
                    <td>Katja Limberg</td>
                </tr>
                <tr>
                    <td>Ricarda Wilkening</td>
                    <td>Iris Stahl</td>
                </tr>
                <tr>
                    <td>Nele Franc</td>
                    <td>Lars Berghaus</td>
                </tr>
                <tr>
                    <td>Saede Kamar</td>
                    <td>Melanie Bleckmann</td>
                </tr>
                <tr>
                    <td>Claudia Franken</td>
                    <td>Franziska Ovenhausen</td>
                </tr>
                <tr>
                    <td>Carolin Ridder</td>
                    <td>Johanna Schepers</td>
                </tr>
                <tr>
                    <td>Susanne Sidon</td>
                    <td>Marisa Stöwer</td>
                </tr>
                <tr>
                    <td>Marisa Stöwer</td>
                    <td>Ricarda Wilkening</td>
                </tr>
                <tr>
                    <td>Eleonore Ziaja</td>
                    <td>Metin Genc</td>
                    <!-- Diese Zelle ist leer, um die Konsistenz in der Tabellenstruktur zu wahren -->
                </tr>
            </table>

        </div>

        <div>

            <h2><a target="_blank" class="color-link" href="assets/sgw-official/Leistungsbewertungskonzept.pdf">Informationen zur Leistungsbewertung im Fach Englisch</a></h2>
            <br>

            <hr width="95%" align="center">
            <br>

            <h2>
                Schulinterne Lehrpläne und Curricula:
            </h2>
            <br> <br>

            <h3>Schulinternes Curriculum für die Sekundarstufe I</h3>

            <div class="inner-list">
                <a target="_blank" href="assets/sgw-official/0_InternesCurriculum_Englisch_SI_11.07.17_1.pdf" class="color-link">Schulinterne Curriculum Sek I</a> <br>
                <a href="assets/sgw-official/0_InternesCurriculum_Englisch_SI_16.04.2020_Jg. 5-8.pdf" target="_blank" class="color-link">Curriculum 2020</a> <br>
                <a href="assets/sgw-official/G8_InternesCurriculum_Englisch_SI_2.11.15.pdf" target="_blank" class="color-link">Curriculum 2015</a>

            </div>
            <br>

            <h3>Schulinternes Curriculum für die Sekundarstufe II</h3>

            <div class="inner-list">

                <a target="_blank" href="assets/sgw-official/0_InternesCurriculum_Englisch_2017.08.31.pdf" class="color-link">Schulinterne Curriculum (gültig bis 2024)</a> <br>
                <a href="assets/sgw-official/0_InternesCurriculum_Englisch_2023.01.24 Kopie.pdf" target="_blank" class="color-link">Curriculum 2023</a> <br>

            </div>
            <br>

            <hr width="95%" align="center">
            <br>

            <h1>Orientierungshilfen und Materialien für SchülerInnen</h1>

            <div>
                <br>
                <h2 class="pk-theme">
                    In dieser Sektion werden Materialien für SchülerInnen eingestellt, die auf dem Weg zum Abitur hilfreich sind.
                </h2>

                <br>

                <h2 style="text-decoration: underline;">Sekundarstufe II</h2>
                <br>

                <div>
                    <h2 class="bc-theme">Operatoren für den Englischunterricht</h2>
                    <br>
                    <h3>Hier findet sich eine Übersicht über die in Klausuren verwendeten Operatoren. Sie werden kurz erklärt, damit es nicht zu Unsicherheiten über das Ziel einer Aufgabenstellung kommt.</h3>
                    <br>
                    <br>

                    <table>
                        <tr>
                            <th>Task</th>
                            <th>Definition</th>
                        </tr>
                        <tr>
                            <td>Analyse</td>
                            <td>Describe in detail and give reasons for / criticism of. Draw conclusions where this is possible.</td>
                        </tr>
                        <tr>
                            <td>Comment</td>
                            <td>Express your opinion about someone or something that you have seen, heard or read about.</td>
                        </tr>
                        <tr>
                            <td>Compare / Contrast</td>
                            <td>Describe similarities and differences.</td>
                        </tr>
                        <tr>
                            <td>Criticise</td>
                            <td>Give your own views and those of others against a subject or topic; remember to present evidence for any criticisms.</td>
                        </tr>
                        <tr>
                            <td>Define</td>
                            <td>Give the meaning of. You must not give an example.</td>
                        </tr>
                        <tr>
                            <td>Describe</td>
                            <td>Give a detailed account of something.</td>
                        </tr>
                        <tr>
                            <td>Discuss / Evaluate</td>
                            <td>Explain, and then give the pros and cons. Write about the consequences and ramifications of what is being discussed together with a brief, reasoned personal conclusion; give evidence.</td>
                        </tr>
                        <tr>
                            <td>Illustrate</td>
                            <td>Give clear examples of something.</td>
                        </tr>
                        <tr>
                            <td>Justify</td>
                            <td>Make out a case, using reasons and evidence for one particular point of view.</td>
                        </tr>
                        <tr>
                            <td>Outline</td>
                            <td>Give the main features only. Do not go into detail.</td>
                        </tr>
                        <tr>
                            <td>Summarise</td>
                            <td>Give a brief account of the main points without details or examples.</td>
                        </tr>
                        <tr>
                            <td>Trace</td>
                            <td>Follow the development of a topic from the beginning.</td>
                        </tr>
                    </table>
                </div>

                <br>

                <hr width="95%" align="center">

                <br>
                <h1 class="pk-theme">Children International Summer Village - Erfahrungsbericht zweier Schülerinnen</h1>
                <br>
                <h3>
                    C.I.S.V.
                    <br> <br> Children International Summer Village
                    <br> <br> CISV ist eine Organisation, die erreichen will, dass Kinder aus verschiedenen Nationen in Frieden und Harmonie zusammen leben lernen, indem sie 4 Wochen zusammen an einem Ort verbringen, zusammen essen und trinken, spielen
                    und auch arbeiten, reden und singen, lachen und weinen, toben und schlafen.
                    <br> <br> Unser Village fand in Knoxville, Tennessee - also in den USA - statt. Dort waren 16 Nationen vertreten. Zwölf Nationen davon waren als eine Delegation dabei: USA, Australien, Ecuador, Brasilien, Schweden, Portugal, China,
                    Italien, Österreich, Thailand, Norwegen und natürlich auch wir Deutschen. Eine Delegation bestand immer aus 2 Jungen und 2 Mädchen, die mindestens an einem Tag der Reise 11 Jahre sein mussten und einem Betreuer, der mindestens 21 Jahre
                    alt war. Ja, ihr habt richtig gelesen: Wir beide (wir vergaßen uns vorzustellen: wir sind Vera Buß und Amira Klimpel) sind erst 11 Jahre, waren gerade fertig mit dem 6. Schuljahr und flogen ohne unsere Eltern ganz allein und mutterseelensolo
                    vier Wochen nach Amerika! Mit uns reisten Darius aus Köln und Max aus Flensburg und der Student Stefan, unser Leader, der momentan auch in Köln wohnt.
                    <br> <br> Im Camp gab es dann noch 16-17 jährige JCs aus Kanada, Honduras, Luxemburg, Spanien und USA , die den Erwachsenen helfen sollten uns Kinder besser zu verstehen und fünf Staffs aus Israel und USA , die alles ans Laufen brachten,
                    sich um uns kümmerten und für uns verantwortlich waren.
                    <br> <br> Wir starteten den Flug in Düsseldorf am 4. Juli (das ist zwei Wochen vor den Sommerferien), nach 10 Stunden kamen wir in Atlanta an. Es war noch nicht so spät, da die Zeitverschiebung sechs Stunden beträgt. Von dort aus ging
                    es mit dem Flieger nach Knoxville. Wir wurden schon von unserer Gastfamilie erwartet, denn - wie ihr vielleicht wisst - ist der 4. Juli ein ganz besonderer Tag in den USA: Nationalfeiertag. Und das bedeutet Party! Kaputt wie wir waren
                    (Stichwort Jetleg), konnten wir das riesige Feuerwerk und das ganze Tamtam nicht so recht genießen. Und die Eingewöhnung an Monsterburger und triefend süße Marshmellow-Donuts-Jellys ging uns beiden echt zu schnell. Wir litten an Bauch(heim)weh!
                    Zwei Tage blieben wir nun in der Gastfamilie.
                    <br> <br> Im Village angekommen, wurden wir aufgeteilt in zwei Jungen- und zwei Mädchenschlafräume. Immer nur ein Kind aus einer Delegation schlief in einem Raum, damit keines in seiner Muttersprache sprechen konnte. Die Campsprache
                    war Englisch, aber es lief besser als gedacht. Wir hatten mehr Spaß denn je!
                    <br> <br> Unser Tagesplan sah so aus: wake-up um 8 Uhr Flag-time (dort wurde allen Nationen Guten Morgen gesagt und die Flaggen gehisst.) Frühstück Cleaning Groups (dort mussten wir das große Gelände reinigen) Activities Freetime Lunch
                    JC-Shop (dort konnte man Souvenirs und Süßigkeiten kaufen) Siesta/Leaders Meeting Dann wieder Activity Delegation time (dort wurden in der eigenen Delegation in der eigenen Sprache wichtige Sachen besprochen) Lunch Kids Choice (Die
                    Kinder konnten sich Spiele wünschen), Evening Activity Flag-Time Shower/Brushing teeth/Pjs Lullabies Lights out.
                    <br> <br> Bei den Activities, die vom CISV-Team ausgearbeitet wurden, ging es zuerst darum sich kennenzulernen, dann um Spaß zu haben aber auch um zu lernen. So zeigten uns die CISV-Leute mit Spielen, wie es in der Welt aussieht und
                    manchmal begriffen wir auch, wie man etwas in der Welt bewegen kann. Eigentlich gab es nur das Ziel in Frieden und Freundschaft zusammenzuleben.
                    <br> <br> Wenn jemand krank war, kam er in die Klinik und wurde untersucht. In der Klinik wurden auch die Medikamente aufbewahrt.
                    <br> <br> Manchmal hatten wir besondere Tage wie Schwimmen gehen, ein Ausflug in die Smoky Mountains, Homestays, National Nights (dort stellte jeweils ein Land seine Kultur, sein Essen und viele andere Sachen vor), eine Casino Night
                    (da gab es Bingo, Wahrsager, Duck Race, Black Jack…) und einen Shopping Day.
                    <br> <br> Nach der Halbzeit gab es wieder ein Weekend bei einer Amerikanischen Familie. Doch diesmal war jedes Kind einer Delegation allein mit Kindern aus anderen Nationen bei einer Familie. Aber nach 2 Wochen Campleben war das wirklich
                    kein Problem mehr. Und an amerikanisches Essen kann man sich auch gewöhnen.
                    <br> <br> Vor den Sommerferien hatten wir im Reli-Unterricht das Thema „Wäre die Welt ein Dorf“. Jetzt wissen wir, wie es IST! Wir haben uns vielleicht nicht immer wohlgefühlt, manchmal auch geärgert und auch Heimweh gehabt, aber wir
                    waren nie allein und immer war jemand in der Nähe, der uns trösten konnte. Wir haben andere nicht immer verstanden, aber wir haben uns nie fremd gefühlt. Wir sind gut mit den anderen klar gekommen und haben sogar neue Freunde gefunden,
                    die in der ganzen Welt verteilt sind. Amira besucht in den Herbstferien eine Freundin in Österreich und Vera hat eine Einladung nach Australien. Sie muss nur noch ein bisschen sparen. Wir würden jedem empfehlen, so ein Village auch
                    zu besuchen! Schade nur, dass man ja an mindestens einem Tag der Reise 11 Jahre alt sein muss!
                </h3>
            </div>

            <br>
            <hr width="95%" align="center">
            <br>

            <div class="em2-gap rw-flex">
                <h2><a class="pk-theme" href="/">Shakespeare Workshop</a></h2>
                <h2><a class="pk-theme" href="/">Wettbewerbe</a></h2>
            </div>
        </div>
    </main>
</body>

</html>