<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th,
    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>

<body>
    <main class="main-content">
        <h1>Englisch</h1>

        <hr width="95%" align="center">

        <div class="center-max-div rw-flex em2-gap" style="align-items: start;">
            <img src="assets/sgw-official/Englisch_22_23.jpeg" alt="" width="40%">

            <table>
                <tr>
                    <th style="text-align: center;" colspan="7">Kolleginnen und Kollegen im Fach Deutsch</th>
                </tr>
                <tr>
                    <td>Daniela Andert</td>
                    <td>Thomas Berndhäuser</td>
                </tr>
                <tr>
                    <td>Sarah Beutling</td>
                    <td>Isabell Büchner</td>
                </tr>
                <tr>
                    <td>Andreas Frömmel</td>
                    <td>Sara Fürstenau</td>
                </tr>
                <tr>
                    <td>Eva Maria Gutschera</td>
                    <td>Laura Klaus</td>
                </tr>
                <tr>
                    <td>Nina Klune</td>
                    <td>Robert Köhler</td>
                </tr>
                <tr>
                    <td>Katja Limberg</td>
                    <td>Lukas Merten</td>
                </tr>
                <tr>
                    <td>Sandra Meurer (FV)</td>
                    <td>Svea Reichel</td>
                </tr>
                <tr>
                    <td>Susanne Schäfer-Donath</td>
                    <td>Lukas Schumacher</td>
                </tr>
                <tr>
                    <td>Susanne Sidon</td>
                    <td>Markus Speicher</td>
                </tr>
                <tr>
                    <td>Marlen Wallisch</td>
                    <td>Juliana Wachnowezki</td>
                </tr>
                <tr>
                    <td>Eleonore Ziaja</td>
                    <td><strong>Referendare:</strong> Metin Genc</td>
                    <!-- This cell is empty to maintain consistency in the table structure -->
                </tr>
            </table>
        </div>
    </main>
</body>

</html>