<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th,
    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>

<body>
    <main class="main-content">
        <h1>Erdkunde</h1>

        <div class="card">
            <img src="assets/sgw-official/800px-Worldmap_LandAndPolitical.jpg" alt="">
            <p>Quelle: en.wikipedia.org. This file has been identified as being free of known restrictions of copyright laws.</p>

            <br>

            <div class="center clm-flex">
                <h2>Fachschaft Erdkunde</h2>

                <br>

                <div class="center-max-div rw-flex em2-gap MaxWidth">
                    <table>
                        <tr>
                            <th style="text-align: center;" colspan="2">Kolleginnen und Kollegen im Fach Philosophie</th>
                        </tr>
                        <tr>
                            <td>Beate Draber</td>
                            <td>Nele Franc</td>
                        </tr>
                        <tr>
                            <td>Franz Gottschalch</td>
                            <td>Marc Mattiesson</td>
                        </tr>
                        <tr>
                            <td>Markus Weber</td>
                            <td></td>
                        </tr>
                    </table>
                </div>

                <br>
                <hr width="95%">
                <br>

                <h2>Was ist Erdkunde?</h2>


                <h3 class="pk-theme">
                    „Es ist nichts, was den geschulten Verstand mehr kultiviert und bildet, als Geographie.“ Immanuel Kant
                </h3>

                <br>

                <h3>
                    Die Welt verstehen und mit neuen Augen sehen.
                </h3>

                <img src="assets/sgw-official/Was ist Erdkunde -Titel.jpg" alt="">
                <p>(Universität Passau. 2010)</p>

                <br>

                <h3 class="pk-theme">
                    Was ist Geographie?
                </h3>

                <br>

                <h3 class="center">
                    Die Geographie erfasst, beschreibt und erklärt die räumlichen Strukturen und Vorgänge in der Geosphäre und deren Auswirkungen auf den Menschen – und umgekehrt.
                </h3>

                <br>

                <img src="assets/sgw-official/TEST.jpg" alt="">

                <br>
                <hr width="95%">
                <br>

                <h2>
                    Berufsfelder
                </h2>
                <br>

                <h3>
                    Geographie - ein Potenzial für viele Berufsfelder
                    <br><br> Erdkundewissen ermöglicht ein breites Berufsfeld. Ob Klimawandel, Migration, Demographischer Wandel, Umwelt-/ Naturschutz, Tourismus, Stadt-/ Regionalmarketing, Landschafts-/ Raumplanung, Naturgefahrenmanagement, Stadt(teil)-
                    oder Standortplanung, etc., Geographinnen und Geographen sind gefragte Gesprächspartnerinnen und Gesprächspartner und besetzen häufig attraktive Aufstiegspositionen (Universität Göttingen 2010).

                    <br><br> Es gibt Lehre und Forschung an weltweiten Universitäten und Schulen, besonders für die Bereiche Raum- und Regionalplanung, Politik- und Wirtschaftsberatung sowie für den Tourismus.

                    <br><br> Auch in öffentlichen Verwaltungen, Verbänden (z.B. Planungsabteilungen, Wirtschaftsförderung, Tourismusabteilungen, Naturparks) und in privaten Betrieben der Beratung und Touristik (z.B. Consulting, Reiseveranstalter, Event-
                    und Incentiveunternehmen, Freizeitparks, Erlebniswelten) sind Geographinnen und Geographen hoch angesehen.

                    <br><br> Die Spezialisierung auf einen Kulturraum, verbunden mit dem entsprechenden Ausbau der Fremdsprachenkenntnisse, bieten beste Voraussetzungen für eine berufliche Tätigkeit im internationalen Umfeld. Spezifische Regionalkenntnisse,
                    kulturelle und interkulturelle Kompetenz sind dabei unerlässlich (Universität Passau 2010).
                </h3>

                <br>
                <hr width="95%">
                <br>

                <h2>Internetlinks</h2>
                <br>
                <h3>
                    <ul class="center clm-flex">
                        <li><a href="http://www.geographie.uni-koeln.de/index.371.de.html">Universität Köln</a></li>
                        <li><a href="http://www.geographie.de">Geographie</a></li>
                        <li><a href="http://www.nationalgeographic.de">National Geographic</a></li>
                        <li><a href="http://www.bmu.de/klima_energie/doc/41060.php">Bundesministerium für Umwelt, Naturschutz und Reaktorsicherheit</a></li>
                        <li><a href="http://www.wwf.de">World Wide Fund For Nature</a></li>
                        <li><a href="http://www.greenpeace.de">Greenpeace</a></li>
                        <li><a href="http://www.spiegel.de/wissenschaft/natur/">Spiegel</a></li>
                        <li><a href="http://www.geocaching.de">Geocaching</a></li>
                        <li><a href="http://www.geo.de">GEO</a></li>
                        <li><a href="http://www.tourismus.de">Tourismus</a></li>
                        <li><a href="http://www.pik-potsdam.de">Potsdam-Institut für Klimafolgenforschung</a></li>
                        <li><a href="http://terra-x.zdf.de/ZDFde/inhalt/28/0,1872,7522396,00.html">ZDF Terra X- Faszination Erde</a></li>
                        <li><a href="http://klima-der-erde.de">Klima der Erde</a></li>
                        <li><a href="http://earthview-wallpaper.softonic.de/download#pathbar">Der ideale frei verwendbare und kostenlose Desktophintergrund</a></li>
                        <li><a href="http://earthquake-3d.softonic.de/">Erdbeben der vergangenen sieben Tage auf einem dreidimensionalen Globus</a></li>
                    </ul>
                </h3>

                <br>
                <h2>Videolinks</h2>
                <br>
                <h3>
                    <ul class="center clm-flex">
                        <li><a href="http://www.zdf.de/ZDFmediathek/beitrag/video/913314/inside-science---Teil-3?setTime=0#/beitrag/video/913314/inside-science---Teil-3">ZDF Terra X- Inside Science</a></li>
                        <li><a href="http://www.youtube.com/watch?v=IbDmOt-vIL8">HOME - Yann Arthus-Bertrand</a></li>
                        <li><a href="http://www.zdf.de/ZDFmediathek/beitrag/interaktiv/588016/Urkraefte-der-Erde#/beitrag/interaktiv/588016/Urkraefte-der-Erde">ZDF Terra X- Urkräfte der Erde</a></li>
                        <li><a href="http://xt.zdf.de/wetterwissen/?deepLink=gewitter">ZDF Terra X- Wetterwissen</a></li>
                        <li><a href="http://klimagipfel.zdf.de/ZDFde/inhalt/24/0,1872,7919448,00.html?dr=1">ZDF- H.-J. Schellhuber- Antworten zum Klimawandel</a></li>
                        <li><a href="http://www.planet-wissen.de/natur_technik/naturgewalten/erdbeben/video_erdbeben.jsp">Dynamik der Erde</a></li>
                    </ul>
                </h3>


                <br>
                <hr width="95%">
                <br>


                <h2>Sekundarstufe I</h2>

                <h3>
                    <a target="_blank" href="assets/sgw-official/Unterrichtsinhalte Jahrgangsstufe 5.pdf" class="color-link">Unterrichtsinhalte Jahrgangsstufe 5</a>
                </h3>

                <h3>
                    <a target="_blank" href="assets/sgw-official/Unterrichtsthemen Jahrgangsstufe 7.pdf" class="color-link">Unterrichtsinhalte Jahrgangsstufe 7</a>
                </h3>

                <h3>
                    <a target="_blank" href="assets/sgw-official/Unterrichtsinhalte Jahrgangsstufe 9.pdf" class="color-link">Unterrichtsinhalte Jahrgangsstufe 9</a>
                </h3>

                <br>

                <h2>Sekundarstufe II</h2>

                <h3>
                    <a target="_blank" href="http://www.standardsicherung.nrw.de/abitur-gost/fach.php?fach=9" class="color-link">A) Operatoren</a>
                </h3>

                <h3>
                    <a href="https://www.standardsicherung.schulministerium.nrw.de/cms/error-404.php?error=1" target="_blank" class="color-link"> B) Abiturvorgaben</a>
                </h3>

                <h3>
                    C) Lehrplan
                </h3>

                <br>

                <h3 class="pk-theme">
                    1. Übersicht Unterrichtsvorhaben Einführungsphase
                </h3>

                <div class="clm-flex">
                    <img src="assets/sgw-official/erdkunde_b-lehrplan.PNG" alt="">
                    <img src="assets/sgw-official/Screenshot 2024-02-22 175121.png" alt="">
                    <img src="assets/sgw-official/Screenshot 2024-02-22 175244.png" alt="">


                </div>

                <br>

                <h3 class="pk-theme">
                    2. Übersicht Unterrichtsvorhaben Qualifikationsphase
                </h3>

                <br>

                <div class="clm-flex">
                    <img src="assets/sgw-official/Screenshot 2024-02-22 175422.png" alt="">
                    <img src="assets/sgw-official/Screenshot 2024-02-22 175537.png" alt="">
                    <img src="assets/sgw-official/Screenshot 2024-02-22 175601.png" alt="">
                    <img src="assets/sgw-official/Screenshot 2024-02-22 175643.png" alt="">
                    <img src="assets/sgw-official/Screenshot 2024-02-22 175705.png" alt="">
                    <img src="assets/sgw-official/Screenshot 2024-02-22 175735.png" alt="">
                    <img src="assets/sgw-official/Screenshot 2024-02-22 175810.png" alt="">
                    <img src="assets/sgw-official/Screenshot 2024-02-22 175837.png" alt="">
                    <img src="assets/sgw-official/Screenshot 2024-02-22 175907.png" alt="">
                    <img src="assets/sgw-official/Screenshot 2024-02-22 175933.png" alt="">
                    <img src="assets/sgw-official/Screenshot 2024-02-22 175953.png" alt="">

                </div>
            </div>
        </div>

    </main>
</body>

</html>