<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <main class="main-content" style="align-items: start;">
        <h1>Französisch</h1>

        <hr align="center" width="95%">

        <section>
            <h2 class="pk-theme">Kompetenzerwartung</h2>

            <br>

            <h3>
                <ul class="rw-flex em2-gap inner-list">
                    <li>
                        <a class="bc-theme" href="assets/sgw-official/Kompetenzerwartungen Stufe 6.pdf">Kompetenzerwartung Stufe 6</a>
                        <a class="bc-theme" href="assets/sgw-official/Kompetenzerwartungen Stufe 7.pdf">Kompetenzerwartung Stufe 7</a>
                        <a class="bc-theme" href="assets/sgw-official/Kompetenzerwartungen Stufe 8.pdf">Kompetenzerwartung Stufe 8</a>
                        <a class="bc-theme" href="assets/sgw-official/Kompetenzerwartungen Stufe 9.pdf">Kompetenzerwartung Stufe 9</a>
                        <a class="bc-theme" href="assets/sgw-official/Kompetenzen Stufe 9 Differenzierung.pdf">Kompetenzerwartung Stufe 9 ( Differenzierung )</a>

                    </li>
                </ul>
            </h3>

            <hr align="center" width="95%">

            <br>

            <h2 class="pk-theme">Schulinterne Curricula / Vorgaben Abitur</h2>

            <br>

            <h3>
                <ul class="rw-flex em2-gap inner-list">
                    <li>
                        <a class="bc-theme" href="assets/sgw-official/CUrriculum 10EF.pdf">Schulinternes Curriculum Jgst. 10 EF</a>
                        <a class="bc-theme" href="assets/sgw-official/Qualifikationsphase GK.pdf">Schulinternes Curriculum Qualifikationsphase GK</a>
                        <a class="bc-theme" href="assets/sgw-official/Qualifikationsphase LK.pdf">Schulinternes Curriculum Qualifikationsphase LK</a>
                        <a class="bc-theme" href="assets/sgw-official/schulinternes Curriculum 8 Diff.pdf">Schulinternes Curriculum Jgst. 8 (Differenzierung)</a>
                        <a class="bc-theme" href="assets/sgw-official/Curriculum_F8.pdf">Schulinternes Curriculum Jgst. 8</a>

                        <a class="bc-theme" href="assets/sgw-official/Curriculum_F7.pdf">Schulinternes Curriculum Jgst. 7</a>
                        <a class="bc-theme" href="assets/sgw-official/Leistungskonzept FRZ in WK für die Homepage.pdf">Leistungsbewertungskonzept</a>

                    </li>
                </ul>
            </h3>

            <hr align="center" width="95%">
            <br>
            <h2 class="pk-theme">Mündliche Prüfungen als Ersatz für eine Klassenarbeit in der Sek I</h2>
            <br>

            <h3>
                Im Sinne einer <strong class="bc-theme">Stärkung der mündlichen Kompetenzen</strong> wurden bereits in den vergangenen Schuljahren vereinzelt mündliche Prüfungen als Teil oder Ersatz einer Klassenarbeit bzw. Klausur durchgeführt. Da sich
                nun die Erlasslage dahingehend verändert hat, dass ab dem Schuljahr 2014/15 in der gymnasialen Oberstufe eine Klausur in den modernen Fremdsprachen durch eine mündliche Prüfung ersetzt wird (s. RdErl. des Ministeriums für Schule und Weiterbildung
                v. 17.05.2011), hat die Fachkonferenz Französisch den Beschluss gefasst, im zweiten Halbjahr des laufenden Schuljahres 2011/12 eine Klassenarbeit in den Jahrgangsstufen 6 und 8 durch eine mündliche Prüfung zu ersetzen. Im kommenden Schuljahr
                2012/13 werden dann zusätzlich die Jahrgangsstufen 7 und 9 hinzukommen. Diese Form der Leistungsbewertung ist auch im Kernlehrplan für das Fach Französisch verankert (s. S. 59, Punkt „Leistungsbewertung; schriftl. Arbeiten“). Ziel dieses
                Fachkonferenzbeschlusses ist einerseits die Aufwertung der mündlichen Verständigung im Zuge einer kommunikativen Ausrichtung des Fremdsprachenunterrichts, andererseits aber auch eine adäquate Vorbereitung der Schülerinnen und Schüler auf
                anstehende mündliche Prüfungen in der Sekundarstufe II.
            </h3>

            <br>

            <h3>
                Anders als in einer Klassenarbeit können Schülerinnen und Schüler im Rahmen eines Prüfungsgesprächs ihre im Unterricht erworbenen mündlichen Kompetenzen in realitätsnahen Aufgabenformaten anwenden. In diesem Sinne wird der tatsächlichen Anwendung der
                erlernten Sprache hinsichtlich der modernen Anforderungen im Berufsleben und in der Freizeit Rechnung getragen, da die Beherrschung einer oder mehrerer Fremdsprachen heute in vielen Bereichen zweifelsfrei unverzichtbar ist. Somit kommt
                der mündlichen Kommunikationsfähigkeit eine wichtige Bedeutung zu.
            </h3>

            <br>

            <h3>
                Nach dem Beschluss der Fachkonferenz Französisch führen daher die Französischkurse der Klassen 6 und 8 im zweiten Hj. 2011/12 eine mündliche Prüfung durch.
            </h3>

            <br>

            <h3>
                <ol type="A" class="big-lh">
                    <li>
                        Die mündliche Prüfung ersetzt eine Klassenarbeit.
                    </li>
                    <li>
                        Die Halbjahresnote im Beurteilungsbereich „schriftl. Klassenarbeiten“ setzt sich somit aus der Note von zwei schriftlichen Klassenarbeiten und der Note der mündlichen Prüfung zusammen. (Die Zeugnisnote setzt sich wie bisher gleichwertig aus den Leistungen
                        in den Beurteilungsbereichen „Klassenarbeiten“ und „sonstige Leistungen“ zusammen.)
                    </li>
                    <li>
                        Wie bei einer Klassenarbeit bezieht sich die mündliche Prüfung inhaltlich und thematisch auf die vorangegangene(n) Unterrichtsreihe(n). Die Besonderheiten der mündlichen Prüfungen werden im Unterricht besprochen und die verschiedenen Aufgabentypen der
                        Prüfungen im Unterricht vorbereitet.
                    </li>
                    <li>
                        Die Prüfung findet als Partner- oder Gruppenprüfung statt und besteht aus zwei Teilen:

                        <ol class="inner-list" type="I">
                            <li>
                                Teil 1 – „Zusammenhängendes Sprechen“ (monologischer Teil)
                            </li>
                            <li>
                                Teil 2 – „An Gesprächen teilnehmen“ (dialogischer Teil)
                            </li>
                        </ol>
                    </li>
                    <li>
                        Die Zusammensetzung der Prüfungsgruppen wird den Schülerinnen und Schülern einige Tage vor der Prüfung mitgeteilt. Der terminliche Ablauf des Prüfungstages wird noch bekannt gegeben.
                    </li>
                    <li>
                        Die Prüfungen werden jeweils von zwei Fachlehrerinnen unserer Schule durchgeführt und bewertet (die eigene Fachlehrerin und eine weitere Französischlehrerin).
                    </li>
                    <li>
                        Die Ergebnisse werden den Schülerinnen und Schülern in der Unterrichtsstunde nach den Prüfungen mitgeteilt.
                    </li>
                </ol>
            </h3>

            <br> <br>

            <p>
                Wermelskirchen, den 28. November 2011
            </p>

            <hr align="center" width="95%">
            <br>
            <h2 class="pk-theme">DELF-AG</h2>
            <br>

            <img src="assets/sgw-official/Download (13).png" alt="">

            <h2>Was ist DELF?</h2>

            <h3>Hinter der Abkürzung DELF verbirgt sich ein international anerkanntes französisches Sprachdiplom, das vier verschiedene Niveaus umfasst (A1, A2, B1 und B2). Alle vier Stufen werden an unserer Schule angeboten. In jeder dieser vier Niveaustufen
                werden - in Anlehnung an die Forderungen des europäischen Referenzrahmens - vier verschiedene Kompetenzen gefördert und gefordert:
            </h3>

            <br>

            <h3>
                <ol type="I">
                    <li>Compréhension des écrits (Leseverstehen)</li>
                    <li>Compréhension orale (Hörverstehen)</li>
                    <li>Production des écrits (Textproduktion)</li>
                    <li>Production orale (mündliche Sprachkompetenz)</li>
                </ol>
            </h3>

            <br>

            <h3>
                Alle Prüfungen werden zentral vom französischen Bildungsministerium gestellt und die entsprechenden Unterlagen werden im Rahmen der "DELF scolaire"- Prüfungen an die Schulen versandt. Alle Prüfungsteile bis auf die production orale werden an unserer Schule
                abgehalten und extern korrigiert. Die production orale wird im Institut Français in Köln abgehalten.
            </h3>

            <br>

            <h3>
                Zur Zeit ist die DELF-Prüfung integriert in unser <a href="/node/2173" class="color-link">Forderprogramm</a>.
            </h3>

            <hr align="center" width="95%">

            <br>

            <h2 class="pk-theme">Wettbewerbe</h2>

            <br>

            <h2>
                Internetteamwettbewerb
            </h2>

            <br>

            <h3>
                Anlässlich des Jahrestages der Unterzeichnung des deutsch-französischen Freundschaftsvertrages am 22. Januar 1963 stellten sich Schülerinnen und Schüler unseres Gymnasiums im Rahmen des Internetteamwettbewerbs zahlreichen Aufgaben.
            </h3>

            <br>

            <h3>
                Den vollständigen Bericht lesen Sie <a href="assets/sgw-official/Artikel Homepage.pdf" class="color-link">hier</a>.
            </h3>

            <hr align="center" width="95%">

            <br>

            <h2 class="pk-theme">Lesewettbewerb Jgst. 6-8</h2>

            <br>

            <h3>
                Alle zwei Jahre findet für die Schüler der Klassen sechs bis neun im Fach Französisch ein Lesewettbewerb statt. Der beste Leser jedes Kurses tritt im Wettbewerb gegen andere Schüler seines Jahrgangs an. Hierfür präsentiert er einen vorbereiteten Text
                sowie eine kurze Passage eines ihm unbekannten Textes. Bewertet werden die Leser von einer Jury, die aus Oberstufenschülern sowie je zwei Französischlehrern der Schule besteht. Alle Teilnehmer erhalten eine Urkunde sowie kleine Preise
                aus Frankreich.
            </h3>


            <hr align="center" width="95%">

            <br>

            <h2 class="pk-theme">Lüttich</h2>

            <br>

            <h3>
                Am 2. Mai fand der alljährliche Ausflug der 7. Klassen nach Lüttich statt.
            </h3>

            <br>

            <h3>
                <a href="assets/sgw-official/Bienvenue à Liège.pdf" class="color-link">mehr</a>
            </h3>
            <br>

            <hr align="center" width="95%">

            <br>

            <h2 class="pk-theme">Austausch Bretagne</h2>

            <br>

            <h3>
                <ul class="rw-flex em2-gap">
                    <li>Austausch Bretagne 2017</li>
                    <li>Salut, on est de retour - Bretagne 2019</li>
                </ul>
            </h3>
        </section>
    </main>
</body>

</html>