<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th,
    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>

<body>
    <main class="main-content">
        <h1>Geschichte</h1>

        <hr width="95%" align="center">

        <div class="center-max-div rw-flex em2-gap MaxWidth align-cnt">
            <img src="assets/sgw-official/Geschichte.jpeg" alt="" width="40%">

            <div class="clm-flex">
                <table>
                    <tr>
                        <th style="text-align: center;" colspan="2">Kolleginnen und Kollegen im Fach Pädagogik</th>
                    </tr>
                    <tr>
                        <td>Thomas Berndhäuser</td>
                        <td>Eva Maria Gutschera</td>
                    </tr>
                    <tr>
                        <td>Katharina Peters</td>
                        <td>Marco Berscheidt</td>
                    </tr>
                    <tr>
                        <td>Stephanie Keitel</td>
                        <td>Carolin Ridder</td>
                    </tr>
                    <tr>
                        <td>Isabell Büchner</td>
                        <td>Robert Köhler</td>
                    </tr>
                    <tr>
                        <td>Marc Rodermund</td>
                        <td>Arne Fröhlingsdorf</td>
                    </tr>
                    <tr>
                        <td>Michael Latschan</td>
                        <td>Christian Rolhauser</td>
                    </tr>
                    <tr>
                        <td>Ramona Gläser</td>
                        <td>Lukas Merten</td>
                    </tr>
                    <tr>
                        <td>Anne Stroman</td>
                        <td></td>
                    </tr>
                </table>

                <br>

                <p>Die Fachbereichsleitung nimmt Frau Stroman wahr.</p>
            </div>
        </div>

        <br>

        <div>
            <div class="rw-flex" style="justify-content: center;">
                <img src="assets/sgw-official/800px-Auschwitz_entrance.jpg" style="width: 30%;">
                <img src="assets/sgw-official/National_Park_Service_9-11_Statue_of_Liberty_and_WTC_fire.jpg" alt="" style="width: 30%;">
                <img src="assets/sgw-official/800px-Wm_2006_autokorso.jpg" alt="" style="width: 30%;">

            </div>
            <br>
            <p>copyright: wikipedia commons</p>

            <br>
            <br>

            <div class="MaxWidth">
                <h3>
                    Das Fach Geschichte vermittelt ein Basiswissen, methodische Fertigkeiten und Vorstellungsvermögen für Fragestellungen und Aufgaben in vielen anderen Fächern; so verhilft es mit zur Allgemeinbildung, die schon bei der Zeitungslektüre vorausgesetzt wird.
                    Das Fach trägt außerdem zur Identitätsfindung bei, indem es zur Auseinandersetzung mit Wertmaßstäben und historischen Strategien zur Lösung gesellschaftlicher Probleme anregt. So befördert es die Klärung der eigenen Werte und Maßstäbe
                    und eröffnet Perspektiven zu eigenen politischen Zielsetzungen und Handlungen. <br> In der Oberstufe fördert das Fach die kritische Distanz zu Geschichtsbildern und Ideologien, indem über die Kenntnisse von historischen
                    Vorgängen hinaus auch deren Rolle in Geschichtsbildern und kontroversen Beurteilungen thematisiert wird. <br> Die fächerübergreifenden sog. Differenzierungskurse Deutsch/Geschichte thematisieren gesellschaftspolitische, kulturgeschichtliche
                    und ästhetische Fragen zu ausgewählten Epochen, Gattungen oder historischen Vorgängen. Über geschichtliche Quellen und/oder literarische Texte werden Zusammenhänge zwischen kulturellen, politischen und künstlerischen Prozessen und
                    Absichten erhellt.
                </h3>

                <br>

                <h3>
                    <a class="pk-theme" href="assets/sgw-official/gym8_geschichte.pdf">Kernlehrplan Geschichte G8</a>
                </h3>
            </div>
        </div>

        <hr width="95%">

        <h1>
            Schulinterne Vorgaben
        </h1>

        <h3>
            Die Fachschaft Geschichte hat es sich zur Aufgabe gemacht, den Unterricht so transparent wie möglich zu gestalten, sodass sowohl Inhalte des Fachs als auch Erwartungen der Geschichtslehrer/innen an die Schülerinnen und Schüler hier zu finden sind.
            <br><br> Die zur Verfügung gestellten Dokumente wurden auf Grundlage der Vorgaben des Ministeriums erarbeitet. Verbesserungsvorschläge oder Kritiken können an die Fachlehrer/innen oder an die Fachschaftsvorsitzende Frau Gutschera gerichtet
            werden. DANKE für jeden Hinweis!
        </h3>

        <div class="MaxWidth">
            <h3>
                <ul class="big-lh">
                    <li>
                        <a href="assets/sgw-official/Geschichte Curriculum_02_11_22.pdf" class="bc-theme">Schulinternes Curriculum Sek I</a>
                    </li>
                    <li>
                        <a href="assets/sgw-official/EF Details.docx" class="bc-theme">Curriculum EF</a>
                    </li>
                    <li>
                        <a href="assets/sgw-official/Kurzfassung Curriculum Q1Q2.pdf" class="bc-theme">Kurzfassung Curriculum Q1/Q2</a>
                    </li>
                    <li>
                        <a href="assets/sgw-official/GE Schulinternes Curriculum Q1Q2.pdf" class="bc-theme">Curriculum Q1/Q2</a>
                    </li>
                    <li>
                        <a href="assets/sgw-official/Geschichte Leistungsbewertungskonzept_02_11_22.pdf" class="bc-theme">Leistungsbewertungskonzept</a>
                    </li>
                    <li>
                        <a href="assets/sgw-official/Geschichte Leistungsbewertungskonzept.2.pdf" class="bc-theme">Kompetenzraster für die Somi-Noten</a>
                    </li>
                    <li>
                        <a href="assets/sgw-official/Geschichte Leistungsbewertungskonzept.3.pdf" class="bc-theme">Operatoren und Vereinbarungen zu schriftlichen Übungen</a>
                    </li>
                </ul>
            </h3>
        </div>

        <hr width="95%">

        <h1>
            Link-Liste rund um die Geschichte
        </h1>

        <h3>
            Wir bemühen uns, eine nützliche Link-Liste rund um das Fachgebiet Geschichte zu erstellen, die sowohl interessierte Historiker bedienen als auch die Recherche bei Referaten, Facharbeiten usw. erleichtern soll. Wir übernehmen keine Verantwortung für den
            Inhalt dieser Seiten, überprüfen diese aber in unregelmäßigen Abständen.
        </h3>

        <h3>
            <ol class="big-lh" type="A">
                <li>
                    <a target="_blank" href="https://www.bpb.de/themen/4/geschichte-offline/" class="bc-theme">Bundeszentrale für politische Bildung</a>

                    <p>
                        Die Bundeszentrale für politische Bildung in Bonn stellt Material der jüngsten deutschen Geschichte bereit, vornehmlich zur Geschichte des Nationalsozialismus und zur DDR-Geschichte. Ebenso lohnenswert ist ein Blick in die Liste der fachwissenschaftlichen
                        Publikationen, die die BpB herausgibt, denn hier ist fachwissenschaftliche Literatur bemerkenswert günstig zu erwerben.
                    </p>
                </li>

                <li>
                    <a target="_blank" href="https://www.dhm.de/lemo/" class="bc-theme">Lebendiges Museum online</a>

                    <p>
                        Das Lebendige Museum online (lemo) ist in Zusammenarbeit mit dem Fraunhofer Institut für Software- und Systemtechnik, dem Deutschen Historischen Museum in Berlin und dem Haus der Geschichte in Bonn entstanden und bietet sehr solide ausgearbeitete Beiträge
                        von der Gründung des Kaiserreiches 1871 bis zur Gegenwart und die Seite ist sehr übersichtlich strukturiert. Ebenso spannend ist ein Blick auf die Seite des Deutschen Historischen Museums, da hier Film- und Tonquellen als Audiodateien
                        und Videoclips zu finden sind.
                    </p>
                </li>

                <li>
                    <a target="_blank" href="http://documentarchiv.de" class="bc-theme">Dokumentarchiv</a>

                    <p>
                        Das Dokumentarchiv ist eine digitale Quellensammlung, die Quellen ab dem 19. Jahrhundert bis zur Gegenwart bereitstellt. Der Hauptteil des Bestandes bilden Verträge und Dokumente der deutschen Geschichte. Hier sind aber auch Verträge, Verfassungen und
                        Dokumente aus dem internationalen Bereich zu finden.
                    </p>
                </li>

                <li>
                    <a target="_blank" href="http://deutschegeschichten.de" class="bc-theme">Deutsche Geschichten</a>

                    <p>
                        Die Seiten der Deutschen Geschichten, unterstützt u.a. von der Bundeszentrale für politische Bildung, stellt Text-, Audio- und Videodatein rund um die deutsche Geschichte ab 1890 zur Verfügung. Gleichzeitig werden am Rand der Seite Links zu Verfassungen,
                        Videos, Dokumenten, Chronologien usw. angeboten, die zu dem thematischen Kontext der angezeigten Seite passen. Das weitere Recherchieren wird dadurch erheblich erleichtert.
                    </p>
                </li>

                <li>
                    <a target="_blank" href="https://www.historicum.net/home" class="bc-theme">Historicum.net</a>

                    <p>
                        Historicum.net versteht sich als Netzwerk für Geschichtswissenschaften, an dem sich Institutionen gleichermaßen beteiligen können wie Privatleute oder einzelne Wissenschaftler. Historicum.net bietet epochen- und themenorientierte Einführungstexte, Quellen
                        und Bilder sowie eine Linksammlung zu relevanten Internetressourcen verschiedener europäischer Länder. Historicum.net stellt Material ab der Frühen Neuzeit (16. Jahrhundert) bereit.
                    </p>
                </li>
            </ol>
        </h3>

        <br>
        <hr width="95%">

        <h3>
            <ul class="rw-flex em2-gap">
                <li>
                    <a href="/arbeitsgemeinschaft-auschwitz" class="pk-theme">Arbeitsgemeinschaft Auschwitz</a>
                </li>

                <li>
                    <a href="/projektwoche-2016-stadtgeschichte" class="pk-theme">Projektwoche 2016 - Stadtgeschichte</a>
                </li>

                <li>
                    <a href="/node/2247" class="pk-theme">Szenische Lesung der Eichmann-Protokolle</a>
                </li>
            </ul>
        </h3>
    </main>
</body>

</html>