<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <main class="main-content">
        <h1>Kunst</h1>

        <hr align="center" width="95%">

        <div class="center-max-div rw-flex em2-gap MaxWidth" style="align-items: start;">

            <div class="grid-container">
                <div class="grid-item">
                    <img src="assets/sgw-official/z Fachschaft Ku-Klein.jpg" alt="">
                    <p>Lars Klein</p>
                </div>
                <div class="grid-item">
                    <img src="assets/sgw-official/z Fachschaft Ku- Kortebusch.jpg" alt="">
                    <p>Daniela Kortebusch</p>
                </div>
                <div class="grid-item">
                    <img src="assets/sgw-official/z Fachschaft Ku- Reichel.jpg" alt="">
                    <p>Svea Reichel</p>
                </div>
                <div class="grid-item">
                    <img src="assets/sgw-official/Download (1).jpg" alt="">
                    <p>Daria Mingels</p>
                </div>
                <div class="grid-item">
                    <img src="assets/sgw-official/Download.jpg" alt="">
                    <p>Marlen Wallisch</p>
                </div>
            </div>

        </div>

        <div class="rw-flex 2em-gap">
            <img src="assets/sgw-official/SchmetterlingAnnKathrin.jpg" alt="">
            <img src="assets/sgw-official/Rahmen.jpg" alt="">
            <img src="assets/sgw-official/Jg 12_0.jpg" alt="">
        </div>

        <br>

        <div>
            <h2 class="pk-theme">
                Informationen zum Kunstunterricht
            </h2>

            <br>

            <h3>
                Kunst wird zurzeit durchgängig in den Klassen 5 und 6 unterrichtet und halbjährig im Wechsel mit Musik in den Klassen 7,8 und 9. Zusätzlich bieten wir Differenzierungskurse zum Themenbereich Kunst-Politik an (Klassen 8+9). In der Oberstufe kann Kunst
                als Grund- oder Leistungskurs angewählt werden. Das Angebot eines LK Kunst hängt vom Wahlverhalten der Schüler/innen ab. Kunst ist gleichzeitig ein Fach der Praxis und ein wissenschaftliches Fach, wobei der Anteil der Theorie mit ansteigenden
                Klassenstufen wächst. Themenbereiche des Kunstunterrichts sind: Malerei, Grafik, Plastik, Design, Architektur und neue Medien. Zur Fachschaft Kunst gehören:
            </h3>

            <br>

            <h3>
                Die praktischen Fertigkeiten, die die Schüler/innen erwerben, trainieren und verfeinern können, sind: Malen, Zeichnen, Drucken, Collagieren, Bauen (z.B. mit Holz, Pappe, Draht), Formen (z.B. mit Ton, Pappmaché), Bildhauern (z.B. aus Holz und Stein), Fotografieren
                und digitale Bildbearbeitung.
            </h3>

            <br>
        </div>

        <div class="rw-flex 2em-gap">
            <img src="assets/sgw-official/design 005.jpg" alt="">
            <img src="assets/sgw-official/Klasse 6 026.jpg" alt="">
            <img src="assets/sgw-official/Portrait_ Alexandra Collong.jpg" alt="">
        </div>

        <img src="assets/sgw-official/01 Panorama GESAMT_ Mail 2.jpg" alt="">

        <br>

        <h3>
            Die Freude an der eigenen Kreativität zu wecken, zu vertiefen und zu pflegen, dabei auch verschüttete oder nicht wahrgenommene künstlerische „Adern“ freizulegen und nach Möglichkeit individuell zu fördern, ist eines der wichtigsten Anliegen des Kunstunterrichts.
            Die direkte sinnliche Erfahrung mit den Materialien spielt hierbei eine große Rolle. Zudem ist die Auseinandersetzung mit Bildern und ästhetischen Fragen in einer Zeit, in der unsere Wahrnehmung immer mehr durch medial vermittelte Bilder geprägt
            ist, von grundlegender Bedeutung. Es gilt bewusstes Sehen zu fördern, Manipulationsmechanismen und Klischees als solche zu entlarven und die Schülerinnen und Schüler dabei zu unterstützen, selbstbestimmte Persönlichkeiten mit eigenen Werten
            und frei entfalteter Kreativität zu werden.
        </h3>

        <br>

        <div>
            <h3>
                Nicht zuletzt ist kunstgeschichtliches Wissen eng verwoben mit gesellschaftlichen und politischen Hintergründen. So ist es auch ein Ziel des Kunstunterrichts kulturelle Bildung zu vermitteln, die nicht nur zur Persönlichkeitsentwicklung beiträgt, sondern
                beispielsweise auch auf Reisen nützlich ist, etwa, wenn man einer romanischen Kirche begegnet oder in der Metro von Paris ein typisches Werk des Jugendstils erkennt.
            </h3>

            <br>

            <div class="rw-flex 2em-gap">
                <img src="assets/sgw-official/2009 10 013.jpg" alt="">
                <img src="assets/sgw-official/2009 10 002.jpg" alt="">
            </div>

            <br>

            <h3>
                Kunstraum im Altbau:
            </h3>

            <br>

            <img src="assets/sgw-official/Kunstraum 020_0.jpg" alt="">
        </div>

        <br>
        <hr align="center" width="95%">

        <br>

        <h3>
            <ul class="rw-flex em2-gap">
                <li>
                    <a href="" class="pk-theme">Projekte, Bühnenbild, Schulplaner, Weihnachtskarten</a>
                </li>
                <li>
                    <a href="" class="pk-theme">Schülerarbeiten: Fotogalerie</a>
                </li>
                <li>
                    <a href="" class="pk-theme">Schulgestaltung</a>
                </li>
                <li>
                    <a href="" class="pk-theme">Unterrichtsinhalte und Leistungsbewertung</a>
                </li>
            </ul>
        </h3>
    </main>
</body>

</html>