<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <main class="main-content" style="align-items: self-start;">
        <h1>Kunst/ Politik</h1>

        <img src="assets/sgw-official/Download (10).png" alt="" style="align-self: center;">

        <br><br>

        <h1>
            Differenzierungskurs Kunst - Politik in den Jahrgangsstufen 8 und 9
        </h1>

        <p>
            <p class="pk-theme" style="font-size: 50px;">
                Unterrichtsinhalte in Jahrgangsstufe 8
            </p>

            <h3>Medien: Chancen und Risiken Sozialer Netzwerke</h3>
            <ol type="1">
                <li>Identitäten in sozialen Netzwerken</li>
                <li>„Selfis“</li>
            </ol>

            <h3>Portrait-Fotografie</h3>
            <ol type="1">
                <li>Gestaltungsmittel der Fotografie, Foto-PRAXIS</li>
                <li>Foto-Journalismus: Können Bilder Wirklichkeit konstruieren?</li>
                <li>PRAXIS: Fotoreportage erstellen</li>
            </ol>

            <h3>Geschlechterrollen im Wandel (mit Bezugnahme zur Gesetzgebung)</h3>
            <ol type="1">
                <li>Geschlechterrollen in der Werbung (Bsp. Plakatkunst), Analyse von Werbeplakaten</li>
            </ol>

            <h3>Produkt-Design</h3>
            <ol type="1">
                <li>PRAXIS: Design</li>
                <li>Design, Kitsch und Kunst</li>
            </ol>

            <h3>Kunst als Wirtschaftsfaktor</h3>
            <ol type="1">
                <li>Angebot – Nachfrage – Preis/ Preismechanismen auf dem Kunstmarkt</li>
            </ol>

            <h3>Berufsbilder im Berufsfeld (z.B. in der Kunstvermarktung)</h3>
        </p>

        <p>
            <p class="pk-theme" style="font-size: 50px;">Unterrichtsinhalte in Jahrgangsstufe 9</p>

            <h3>Architektur: Wandel der Architektur und der Nutzungsbedingungen, Familie im Wandel</h3>
            <ol type="1">
                <li>PRAXIS: Architektur (zeichnerischer Entwurf, Modellbau)</li>
            </ol>

            <h3>„Herrscherbilder“ (früher – heute), PRAXIS: Malerei</h3>

            <h3>Politisches Denkmal/ Mahnmal: Demokratisierung des Denkmals durch Auguste Rodin und aktuelle Konzepte</h3>
            <ol type="1">
                <li>PRAXIS: Entwurf eines Denkmals/ Mahnmals</li>
            </ol>

            <h3>Politik und Kunst: politische Kunst, Kunst als politische Äußerung, Entartete Kunst</h3>
            <ol type="a">
                <li>Kunst als (staatlicher) Propaganda (NS-Zeit, DDR-Staatskunst)</li>
                <li>Kunst als Möglichkeit politischer Meinungsäußerung und damit verbundener Kritik an Missständen/ als Möglichkeit „Gesellschaft zu verändern“ (Beuys)</li>
            </ol>

            <p><strong>Anmerkung:</strong> Die Planung bezieht sich auf einen dreistündigen Kurs. Da zwischenzeitlich eine Kürzung auf zwei Wochenstunden vorgenommen wurde, müssen ggf. einzelne Themen gekürzt werden oder entfallen.</p>
            <p>Die Themen können in ihrer Abfolge getauscht werden. Die Schwerpunktsetzung für die praktische Arbeit erfolgt in Absprache mit der Lerngruppe und kann daher etwas variieren. Grundsätzlich sind praktsiche Arbeiten mit den jeweiligen theoretischen
                Themen verknüpft.</p>
            <p><strong>Klausuren und Notengebung:</strong></p>
            <p>Klausuren haben Gestaltungen aus dem Bereich Fotografie, Design, Architektur, Malerei, Plastik usw. zum Thema; sie haben in der Regel einen theoretischen Schwerpunkt, können aber auch künstlerisch-praktische Anteile enthalten (z.B. einen zeichnerischen
                Entwurf) oder als praktische Klausur mit schriftlicher Erläuterung durchgeführt werden wie dies in der Oberstufe im Fach Kunst gängige Praxis ist.</p>
            <p>Es gibt grundsätzlich auch die Möglichkeit alternativer Klausurformen. Diese können von der Lehrperson beantragt werden und sind dann für die gesamte Lerngruppe verbindlich (z.B. praktische Hausarbeiten oder das Erstellen eines Portfolios
                als Ersatzleistungen).</p>
            <p>Die Gesamtnote bildet sich immer zu 50% aus den Noten der beiden Klausuren und zu 50% aus der Mitarbeit im Unterricht und den Noten aus der Gestaltungspraxis, d.h. den praktischen Arbeitsergebnissen aus dem Unterricht.</p>

        </p>

        <hr align="center" width="95%">

        <h3>
            <ul class="rw-flex em2-gap">
                <li class="pk-theme">Kunstobjekte aus Gebrauchsgegenständen (Differenzierungskurs)</li>
                <li class="pk-theme">Taschendesign (Differenzierungskurs)</li>
                <li class="pk-theme">Architekturmodelle (Differenzierungskurs)</li>
                <li class="pk-theme">Selbstportraits (Differenzierungskurs)</li>
            </ul>
        </h3>
    </main>
</body>

</html>