<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <main class="main-content">
        <h1>Latein</h1>

        <hr align="center" width="95%">

        <div class="center-max-div rw-flex em2-gap MaxWidth" style="align-items: start;">
            <img src="assets/sgw-official/img_6977.jpg" alt="" width="35%">

            <table>
                <tr>
                    <th style="text-align: center;" colspan="2">Kolleginnen und Kollegen im Fach Latein</th>
                </tr>
                <tr>
                    <td>Thomas Berndhäuser</td>
                    <td>Sara Fürstenau</td>
                </tr>
                <tr>
                    <td>Kamil Viktor Gizenski (Ref.)</td>
                    <td>Irina Kaufmann (Stellv. Vorsitz)</td>
                </tr>
                <tr>
                    <td>Anja Kramer</td>
                    <td>Andree Sohmen (Vorsitz)</td>
                </tr>
            </table>
        </div>

        <section>
            <div class="rw-flex">
                <div>
                    <br> <br>
                    <h2>HERZLICH WILLKOMMEN auf der Latein-Homepage unserer Schule !</h2>
                    <h3>
                        <br>
                        <p>Mit vielen eigenen Seiten und Links bemühen wir uns, Ihnen und euch ein reichhaltiges Informationsangebot zur Verfügung zu stellen.</p>
                        <br>
                        <p>VIEL SPASS BEIM STÖBERN !</p>
                        <br>
                        <p><a href="assets/sgw-official/gym8_latein.pdf" class="color-link">Hier</a> gelangen Sie zum aktuellen Kernlehrplan des Faches Latein für die Sekundarstufe I in NRW.</p>
                        <br>
                        <p>Das hausinterne Curriculum für die Sekundarstufe I (Jahrgangsstufen 6 bis 9), basierend auf den Vorgaben des Kernlehrplanes des Ministeriums, finden Sie <a type="download" href="assets/sgw-official/KLP_Latein_Oktober_2009_komplett.doc"
                                class="color-link">hier</a>, das Methoden-Curriculum auf <a href="assets/sgw-official/Methoden im Fach Latein_1.pdf" class="color-link">dieser Seite</a>.</p>
                        <br>
                        <p>Wenn Sie sich über die Bewertungsgrundlagen im Fach Latein am Städtischen Gymnasium Wermelskirchen informieren möchten, sind Sie <a href="asssets/sgw-official/Konzept zur Leistungsbewertung final - Homepage.pdf" class="color-link">hier</a>                            richtig.</p>
                        <br>
                        <p>FREQUENTER QUAESITA</p>
                        <br>
                        <p>FAQs: Was man schon immer mal zum Fach LATEIN wissen wollte</p>
                        <br>
                        <p>DELECTAMENTA - Paginae praeceptivae et iocosae, quae in interrete inveniuntur</p>
                    </h3>
                </div>

                <div>
                    <img src="assets/sgw-official/Titusbogen.jpg" alt="">
                </div>
            </div>

            <br>
            <hr align="center" width="95%">
            <br>

            <h2>
                <p class="pk-theme">FAQs: Was man schon immer mal zum Fach LATEIN wissen wollte</p>
            </h2>

            <h3>
                <ol type="1">
                    <li>
                        Gibt es noch das große und das kleine Latinum?

                        <br> <br>

                        <p>
                            Immer noch kursieren falsche Informationen über die genannten Abschlüsse. Im Zuge der Umstellung der allermeisten Studiengänge auf Bachelor/Master-Studiengänge genügen an vielen Universitäten nachgewiesene Lateinkenntnisse im Umfang des Kleinen Latinums.
                            Schüler_innen unseres Gymnasiums, die in Klasse 6 mit Latein beginnen, erwerben das Kleine Latinum, wenn sie in der Jahrgangsstufe 9 Latein mit der Note "ausreichend" abgeschlossen haben. Sollte ein Latein-Kurs im Differenzierungbereich
                            in der Jgst. 8 zustande kommen, würden die Schüler_innen an unserem Gymnasium das Kleine Latinum am Ende der Q I (am Ende der Jgst. 11) bei ausreichenden Leistungen (5 Punkte) in Latein erwerben. In dem Moment, wenn die Schule
                            verlassen wird, wird das Kleine Latinum auf dem Abgangszeugnis bzw. Abschlusszeugnis bescheinigt. Der Erwerb des (umgangssprachlich: Großen) Latinums wird an unserem Gymnasium nach 5 Jahren bei mindestens ausreichenden Leistungen
                            im Abschlusshalbjahr bescheinigt, d.h. am Ende der Jgst. 10EF, wenn in Klasse 6 mit Latein begonnen wurde, oder aber am Ende der Q II (am Ende der Jgst. 12), wenn in Klasse 8 mit Latein begonnen wurde. Der Erwerb des (Großen)
                            Latinums wird auf dem Abiturzeugnis ohne Notenangabe vermerkt. Weitere Details im Wortlaut der maßgeblichen Bestimmungen durch das Schulministerium NRW finden Sie hier. Das Latinum wurde bisher insbesondere in NRW vor allem
                            für Lehramtsstudiengänge benötigt: für Latein, Griechisch, Germanistik, die romanischen Sprachen und für Anglistik, sodann für Geschichte, Philosophie und u.U. Theologie. Das soll sich nach dem Wunsch der NRW-Bildungsministerin
                            ändern: Für die modernen Fremdsprachen soll die Latinumspflicht wegfallen, für Geschichte und Philosophie das Kleine Latinum genügen. Das Latinum wird grundsätzlich nicht für Medizin benötigt. Einzelheiten variieren von Universität
                            zu Universität, auch innerhalb eines Bundeslandes. Hier sind die entsprechenden Internetseiten bzw. Studienberatungsstellen zu besuchen.
                        </p>
                    </li>

                    <br>

                    <li>
                        Welche zusätzlichen Materialien und Übungsbücher sind für den Lateinunterricht an unserer Schule empfehlenswert ?

                        <br><br>

                        <p>
                            Salvete hospites carissimi carissimaeque !
                            <br><br> HERZLICH WILLKOMMEN auf den Latein-Seiten unserer Schule !
                            <br><br> Als Angebot möchten wir dir und Ihnen zum Download eine Literaturliste zur Verfügung stellen, auf der unser aktuelles Lehrwerk, Ergänzungsmaterialien, Lernhilfen und viele weitere Büchertipps, z.T. mit Kommentaren
                            versehen, aufgelistet sind.
                            <br><br> Auch Nachhilfe-Lehrerinnen und -Lehrer können hier nach Fundgruben für Texte und Übungen stöbern.
                            <br><br> Für Hinweise und Anregungen sind wir stets aufgeschlossen. Wenn Sie Fragen haben oder ihr noch Hilfe braucht, dann stehen die Fachbereichsmitglieder gerne mit Rat und Tat zur Seite.
                        </p>

                        <br>

                        <p><a href="assets/sgw-official/Literaturliste - Kopie-1.pdf" class="color-link">Literaturliste.pdf</a></p>
                    </li>

                    <br>

                    <li>
                        Welche Argumente sprechen für die Wahl des Faches Latein als zweite Fremdsprache ?

                        <br><br>

                        <p>
                            Argumente für Latein als zweite Fremdsprache Vieles spricht für Latein und viele Menschen haben zu den unterschiedlichsten Gelegenheiten Argumente für das Fach finden können. Wir präsentieren Ihnen und euch hier eine kleine Auswahl (s.u.). Gleichzeitig
                            bieten alle Mitglieder der Fachbereiches Latein an, dass sie bei Fragen zur Sprachenwahl jederzeit zur Verfügung stehen.
                        </p>

                        <br>

                        <p>
                            <ul style="list-style-type: none; padding: 0;">
                                <li><a href="http://www.spiegel.de/unispiegel/wunderbar/argumente-pro-latein-cui-bono-vielen-nuetzt-es-a-397150.html" class="pk-theme">Spiegel-online I</a></li>
                                <li><a href="http://www.spiegel.de/fotostrecke/sprachunterricht-nachfrage-nach-latein-bei-schuelern-stark-gestiegen-fotostrecke-86249.html" class="pk-theme">Spiegel-online II</a></li>
                                <li><a href="http://www.fr-online.de/wissenschaft/schueler-waehlen-wieder-latein-potter-erweckt-latein-zum-leben,1472788,16907368.html" class="pk-theme">Frankfurter Rundschau I</a></li>
                                <li><a href="http://www.fr-online.de/schule/fr-interview-ueber-die-sprache-latein--gerechte-sprache-,5024182,8340792.html" class="pk-theme">Frankfurter Rundschau II</a></li>
                                <li><a href="http://www.faz.net/aktuell/beruf-chance/campus/latein-als-studienvoraussetzung-cicero-wird-noch-gebraucht-12000586.html" class="pk-theme">Frankfurter Allgemeine</a></li>
                                <li><a href="http://www.zeit.de/2003/11/B-Latein" class="pk-theme">ZEIT-online</a></li>
                                <li><a href="http://www.spiegel.de/schulspiegel/leben/latein-pop-wenn-es-besser-klingt-nehme-ich-halt-den-dativ-a-707550.html" class="pk-theme">Spiegel-online III</a></li>
                                <li><a href="http://www.sueddeutsche.de/bildung/pro-lateinunterricht-die-bedeutung-bleibt-1.2274649" class="pk-theme">Süddeutsche</a></li>
                            </ul>

                        </p>
                    </li>

                </ol>
            </h3>

            <br>
            <hr align="center" width="95%">
            <br>

            <h2>
                <p class="pk-theme">Differenzierungskurs Latein in der Jahrgangsstufe 8</p>
            </h2>

            <br>

            <h3>
                Differenzierungskurs Latein in der Jahrgangsstufe 8 Liebe Schülerinnen und Schüler, liebe Eltern !
                <br> <br> Nachfolgend könnt ihr und können Sie das Angebot sehen, das der Fachbereich Latein für den Wahlpflichtunterrcht ab der Jahrgangsstufe 8 bereithält:
            </h3>

            <img src="assets/sgw-official/Differenzierungskurs LATEIN (400x300).jpg" alt="" width="35%">
        </section>
    </main>
</body>

</html>