<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <main class="main-content">
        <h1>Musik</h1>

        <hr align="center" width="95%">

        <h3>
            "Ohne Musik wäre das Leben ein Irrtum" ~ Nietzsche
        </h3>

        <div class="center-max-div rw-flex em2-gap MaxWidth" style="align-items: start;">
            <img src="assets/sgw-official/Musik.jpg" alt="" width="60%">

            <table>
                <tr>
                    <th style="text-align: center;" colspan="2">Kolleginnen und Kollegen im Fach Musik</th>
                </tr>
                <tr>
                    <td>Franziska Ovenhausen</td>
                    <td>Silke Vogel</td>
                </tr>
                <tr>
                    <td>Simeon Brück</td>
                    <td>Andreas Frömmel</td>
                </tr>
            </table>
        </div>

        <div>
            <h2 class="pk-theme">Leistungsbewertung in Fach Musik</h2>

            <br>

            <h3>
                Schulinterner Lehrplan Musik: Bewertung nach Leistungsstufen Die Leistungsbeurteilung bezieht sich auf
            </h3>

            <br>

            <h3>
                <ol type="A">
                    <li>den Grad der Fähigkeit, Musik ausgehend von subjektiven Höreindrücken zu analysieren und zu deuten (Rezeption),</li>
                    <li>den Grad der Fähigkeit, klangliche Gestaltungen umzusetzen, und den Grad der Fähigkeit, Kompositionen zu präsentieren (Produktion),</li>
                    <li>den Grad der Fähigkeit, Arbeitsergebnisse zu verbalisieren und in gegebene thematische Zusammenhänge einzuordnen, und den Grad der Fähigkeit, Urteile über Musik unter einer leitenden Fragestellung zu begründen (Reflexion),</li>
                    <li>den Nachweis von Kenntnissen im Umgang mit Ordnungssystemen und Strukturen der Musik.</li>
                </ol>
            </h3>

            <br>

            <h3>
                Eine tabellarische Zusammenstellung der Leistungen im Zusammenhang mit den Notenstufen finden Sie <a href="assets/sgw-official/Leistungsbewertung Musik.pdf" class="color-link">hier</a>.
            </h3>

            <br>

            <p>04.09.2016</p>

            <br>
            <hr align="cener" width="95%">

            <div>
                <h2 class="pk-theme">Schulinternes Curriculum Jahrgangsstufen 5/6 (G9)</h2>

                <br>

                <h3>
                    <a href="assets/sgw-official/Schulinterner Lehrplan Musik (G9) Klasse 5 - 6.pdf" class="color-link">Schulinternes Curriculum Jgst. 5/6 (G9)</a>
                </h3>
                <h3>
                    <a href="assets/sgw-official/g9_mu_klp_ 3406_2019_06_23.pdf" class="color-link">Kernlehrplan Musik für die Sekundarstufe I Gymnasium in NRW</a>
                </h3>

                <br><br>

                <h3>Das Fach Musik in den Klassen 5 und 6</h3>

                <br>

                <h3>
                    Musik machen! Sich über Musik informieren!
                    <br><br> Das ist nicht nur eines unserer Ziele, sondern gleichzeitig ein Weg, in die Geheimnisse der Musik einzutauchen. Dabei entdecken wir die Musik anderer Länder oder anderer Zeiten. Wir erforschen gemeinsam die „geheimen Baupläne“
                    der Musik, um auch selbst als Komponistin oder Komponist aktiv zu werden und mit der ganzen Klasse zu musizieren. Hierbei kann unsere Stimme als Instrument dienen, aber natürlich auch viele Instrumente, die uns im Musikraum zur Verfügung
                    stehen.
                    <br><br> Musik hören! Über Musik nachdenken!
                    <br><br> Wie wirkt Musik eigentlich auf uns? Warum empfinden wir sie manchmal entspannend oder beruhigend und ein anderes Mal anstrengend oder stressig? Nicht nur die Lautstärke spielt dabei eine Rolle. Wir werden intensiv unterschiedlicher
                    Musik lauschen und über sie nachdenken, um herauszufinden, welche Geheimnisse sich hinter den Gefühlen, die sie in uns hervorruft, verbergen.
                    <br><br> Um diesen Geheimnissen auf die Spur zu kommen, begleiten wir zum Beispiel unseren musikalischen Freund Ludowigus bei seiner Reise durch das Mittelalter, lernen das Leben eines Spielmannes kennen, lauschen den Gesängen der
                    Mönche und komponieren unsere eigene Tanzmusik.
                    <br><br> Was eine Karnevalssitzung ist, das wissen wir - klar! Aber feiern denn auch Tiere Karneval? Und wie sie das tun - da bleibt kein Auge trocken! Der französische Komponist Camille Saint-Saens hat versucht, diese Karnevalssitzung
                    in Musik umzusetzen, den "Karneval der Tiere", der uns dazu einlädt, in den verschiedenen Stücken die sich dahinter versteckenden Tiere zu entdecken, nachzuspielen oder fantasievolle kleine Texte dafür zu entwerfen.
                    <br><br> Was braucht man, um zaubern zu können? Keine Frage - eine Flöte. Nanu- eine Flöte? Ja, eine Flöte und gute Freunde, die den Mut dazu haben, sich in ein großes Abenteuer in der Unterwelt zu begeben. Mit Mozarts Oper "Die Zauberflöte"
                    steigen wir hinab in das Reich Sarastros, begegnen der Königin der Nacht und lachen mit dem schrägen Vogel Papageno.
                    <br><br> Wir freuen uns auf Euch!

                </h3>

                <br>
                <hr align="cener" width="95%">

                <h2 class="pk-theme">Schulinternes Curriculum Jahrgangsstufen 7-9</h2>
                <br>

                <div class="big-lh">
                    <h3>
                        <a href="assets/sgw-official/schulinternes Curriculum 7 - 9.pdf" class="color-link">Schulinternes Curriculum Jahrgangsstufen 7-9 (G8)</a>
                    </h3>
                    <h3>
                        <a href="assets/sgw-official/Schulinterner Lehrplan Musik (G9) Klasse 7 - 9.pdf" class="color-link">Schulinternes Curriculum Jahrgangsstufen 7-9 (G9)</a>
                    </h3>
                    <h3>
                        <a href="assets/sgw-official/g9_mu_klp_ 3406_2019_06_23 (1).pdf" class="color-link">Kernlehrplan Musik für die Sekundarstufe I Gymnasium in NRW</a>
                    </h3>
                </div>

                <br>
                <hr align="cener" width="95%">

                <h2 class="pk-theme">Schulinternes Curriculum der Jahrgangstufe II</h2>
                <br>

                <h3>Die Umsetzung der neuen Kernlehrpläne in ein schulinternes Curriculum ist zur Zeit in Arbeit!</h3>

                <br>
                <hr align="cener" width="95%">

                <h2 class="pk-theme">Konzerte</h2>

                <div class="inner-list">
                    <h3>Choas im Nimmerland</h3>

                    <br>

                    <p>
                        Die Aufregung hat sich gelohnt. Am Wochenende war es wieder so weit, wir haben unser Musical auf die Bühne gebracht!
                    </p>

                    <br>

                    <p>
                        Mit zitternden Händen und klopfenden Herzen fieberten wir unserem Auftritt entgegen und der tosende Applaus bewies uns: Es war ein voller Erfolg! Vom ersten Lied bis zur letzten Pose war das Publikum gefesselt von den Ereignissen rund um Nimmerland, von
                        den bösen Schimpfereien der Herzkönigin, von den frechen verlorenen Kindern und hilflosen Schlümpfen, von einem strengen Gargamel, der Peter Pan unter einen schrecklichen Bann stellte und schließlich von einem fröhlichen Happy
                        End nach dem finalen Kampf für die Freiheit. Ein ganzes Jahr lang schrieben und probten wir, die Theater-AG und der Chor Joycing, für unser ganz eigenes Musical. Wir wendeten viel Zeit auf für das Theaterstück, die Liedtexte und
                        Chorarrangements, wir gestalteten unsere Kostüme, bastelten Requisiten und schmückten unsere Bühne. Die Technik-AG spendete Licht und Ton und die Aufführungen konnten beginnen. Wir hatten riesigen Spaß und danken dem tollen Publikum
                        für unvergessliche Momente! Seid gespannt auf ein neues spannendes Projekt!
                    </p>

                    <br>

                    <h3>Das gestohlene Märchen
                    </h3>
                    <br>

                    <p>
                        Musicalprojekt feiert großen Erfolg!
                        <br><br> Wer kennt sie nicht, die beliebten Figuren aus den berühmten Kindermärchen? Peter und Liese alias Hän­sel und Gretel, die Hexe mit ihrem Knusperhäuschen, Rotkäppchen und ihre Großmutter, das Tap­fere Schneiderlein, kleine
                        Wichtel, Schneewittchen, Rapunzel, das Sterntalerkind und sogar der Mär­chenkönig samt Hofpoet tummelten sich am Freitag, Sonntag und Montag auf der Bühne im PZ des Städtischen Gymnasiums und zogen Groß und Klein in ihren Bann.
                        <br><br> Gezeigt wurde dort die Geschichte vom „Gestohlenen Märchen“ – ein musikalisches Gemein­schafts­pro­jekt des Städtischen Gymnasiums und der Schwanenschule, welches das Publikum an allen Tagen begeisterte.
                        <br><br> Das Märchen erzählt die Geschichte von Peter (Paul Schreiter) und Liese (Hanna-Sophie Verhelst), die in den Wald gehen, um das aus Großmutter Fabels (Annika Vogel) Buchladen gestohlene Mär­chen­buch zu suchen. Eine alte
                        Frau (Maria Eichhorst als Hexe) hatte es gestohlen, um die darin le­ben­de Prinzessin Märchen (Sophie Wolters) zu vernichten. Schneider (Florian Drosten), Bäcker (Na­ra und Valeria Sibilja), Förster (Ida Schmitt) und Nachtwächter
                        (Nele Krispin) machen sich auf den Weg, um die vermissten Kinder zu suchen. Sie erleben viele spannende Abenteuer im Märchen­wald, ebenso wie die Kinder, denen es schließlich gelingt, Prinzessin Märchen zu befreien und so­mit alle
                        Märchen zu retten.
                    </p>

                    <br>

                    <p>
                        Das Schauspiel übernahmen 21 Kinder des Deutsch-Forderkurses des 4. Jahrgangs der Schwanen­schu­le unter der Leitung von Susanne Horrix. Ihr gelang es hervorragend, den umfangreichen Text mit den Kindern einzustudieren und auf der Bühne in Aktion umzusetzen.
                        Die Kinder zeigten alle Fa­cetten, die ein Kindertheater zu bieten hat und glänzten in ihren Rollen. Eine wahrlich enorme Lei­s­tung, die die Kinder zwischen 9 und 11 Jahren da zeigten!
                    </p>

                    <br>

                    <p>
                        Die beiden weiteren wesentlichen Bestandteile der Inszenierung waren die Musikklassen der Jahr­gangs­stu­fe 6 des Städtischen Gymnasiums sowie der Kinderchor, der sich aus den Chorkindern der Mu­sikklassen sowie den schaupielernden Kindern zusammensetzte.
                        Jede Hauptfigur bekam eine spe­zi­fische Erkennungsmelodie, welche die Auftritte der jeweiligen Figur auf der Bühne begleitete. So erklang von den Flöten für den Peter stets die bekannte Melodie aus „Peter und der Wolf“ und von
                        der Geige für Liese das Hauptmotiv aus „Für Elise“ von Ludwig van Beethoven, während die He­xe zu den Klarinetten- und Saxophonklängen des „Pink Panthers“ die Bühne unsicher machte. Darüber hinaus gab es Orchesterstücke, die einzelne
                        Szenen kommentierten oder Tänze, wie z. B. das Märchenhofballett, begleiteten. Hier war eindrücklich zu hören, welch große Fortschritte die bei­den Musikklassen-Orchester in den vergangenen zwei Jahren am Gymnasium unter der Leitung
                        von Marita Bahr und Andreas Frömmel, die auch die Orchesterarrangements geschrieben hatten, ge­macht haben. Dies zeigte sich deutlich in der Beherrschung der Instrumente sowie im Zusammen­spiel der jeweiligen Orchester.

                        <br> <br> Der Chor trat gemeinsam mit den Orchestern aber auch mit Klavierbegleitung auf. Hierbei gelang es Silke Vogel mit großem Einfühlungsvermögen, die Schülerinnen und Schüler beider Schulen (un­terstützt von zwei Schülerinnen
                        der Oberstufe) zu einem gemeinsamen Chor mit eigenen Arran­ge­ments zusammenwachsen zu lassen. Das Repertoire reichte von klassischen Kinderliedern bis hin zu Songs aus dem Popbereich, die mal auf Deutsch mal auf Englisch vom Chor
                        oder den jungen So­lis­tin­nen gesungen wurden und mit schwung­vollen Choreographien sowie eigenen, zum jeweiligen In­halt passenden Texten ver­se­hen worden waren.

                    </p>

                    <br>

                    <p>
                        Nicht unerwähnt bleiben sollte das Bühnenbild, welches in liebevoller Arbeit von der AG „Schulge­stal­tung“ unter der Leitung von Svea Reichel erstellt worden war. Ergänzt durch Kulissen der Schwa­­­nenschule und Requisiten, die von allen Beteiligten
                        beigesteuert wurden, Kostümen aus dem Fun­­dus der Ballettschule „Momo“ sowie der professionellen technischen Umsetzung ergab sich ein Ge­­samteindruck, der nicht nur die Zuschauer sondern auch alle Akteure vollkommen begeisterte.
                    </p>

                    <br>

                    <p>
                        Die gut achtmonatige Probenzeit hat sich absolut gelohnt und beruht nicht zuletzt auf einer sehr gu­ten Zusammenarbeit zwischen den einzelnen Gruppen und allen Beteiligten. Wir freuen uns schon auf das nächste Projekt!
                    </p>
                </div>

                <br>
                <hr align="cener" width="95%">

                <h2 class="pk-theme">Bundeswettbewerb "Jugend musiziert"</h2>
                <br>

                <h3>
                    Pfingsten fand in Lübeck der diesjährige Bundeswettbewerb "Jugend musiziert" statt. Dort haben einige unserer Schülerinnen und Schüler teilgenommen, die zuvor beim Landeswettbewerb erste Preise errungen hatten.
                    <br><br> Dies waren Carolin und Sarah Baecker, Katja und Pia Rossow, Roland Nitsch und Benedikt Schulz in den Kategorien Cello, Gitarrenquartett und Alte Musik.
                    <br><br> Die sechs Schüler/innen haben in verschiedenen Altersklassen einen 1., 2. oder 3. Platz erreicht. Wir gratulieren herzlich!
                </h3>

                <br>
                <hr align="cener" width="95%">

                <h2 class="pk-theme">Vokalpraktischer Kurs</h2>
                <br>

                <h3>
                    Für den vokalpraktischen Kurs sollten Sie den folgenden Auszug aus den Richtlinien in Ihre Überlegungen vor der Wahl miteinbeziehen:
                    <br> <br>aus "Sekundarstufe II GY/GE – Richtlinien und Lehrpläne Musik" (Schule in NRW)
                </h3>

                <br>

                <h2>
                    7 Instrumental- und vokalpraktische Kurse
                </h2>

                <br>

                <h3>
                    „Schülerinnen und Schüler haben die Möglichkeit, instrumental- und vokalpraktische Kurse in die Gesamtqualifikation einzubringen (§ 11 Abs. 2, Ziff. 4 APO-GOSt). Diese Kurse haben als Schwerpunkt die Vermittlung musikpraktischer Fertigkeiten und ihre
                    Präsentation im Rahmen des Schullebens, setzen sich auf theoretischer Ebene mit Inhalten und Methoden instrumentaler und vokaler Praxis auseinander und unterstützen die Entwicklung kreativer, kommunikativer und sozialer Fähigkeiten
                    und Fertigkeiten in wachsender Selbstständigkeit. Wegen der Vergleichbarkeit mit den Grundkursen im Fach Musik geht die Arbeit in den musikpraktischen Kursen über eine Chor- oder Orchesterpraxis hinaus und ist didaktisch auf die Bereiche
                    des Faches bezogen. Schülerinnen und Schüler sollen in instrumental- und vokalpraktischen Kursen <br>
                    <br>• Notationsformen von Musik, aufführungsrelevante Zeichen und Begriffe inter- pretatorisch umsetzen können
                    <br>• Ausdrucksmöglichkeiten der menschlichen Stimme, des jeweiligen Instrumentes oder des jeweiligen Apparates (...) erproben und einsetzen können
                    <br>• auf Zeichen reagieren können
                    <br>• sich um einer Ensembleleistung willen in eine Gruppe einordnen, dabei auch eigene Initiative einbringen können
                    <br>• musikalische Strukturen erfassen und durch angemessene Einordnung des eigenen Parts darstellen können
                    <br>• die eigene Realisation/lnterpretation eines Stückes im Vergleich mit anderen Realisationen/Interpretationen beurteilen können
                    <br>• sich unter Berücksichtigung der Realisierbarkeit, des Anlasses, der Adressaten- gruppe und der beabsichtigten Wirkung an der Auswahl von Stücken (Programmgestaltung) beteiligen können.“ aus "Sekundarstufe II GY/GE – Richtlinien
                    und Lehrpläne Musik" (Schule in NRW): An unserer Schule wird der Vokalpraktische Kurs als Alternative zur Wahl der Fächer Literatur, Kunst oder Musik in der Jahrgangsstufe 12 angeboten. <br> <br> Anhand des folgenden Unterrichtsbeispiels
                    sollen die allgemeinen und musik-spezifischen Fähigkeiten und Fertigkeiten dargestellt werden, welche als Voraussetzung für die Teilnahme an dem Vokalpraktischen Kurs notwendig sind oder innerhalb der beiden Halbjahre erlernt, geübt
                    und gefestigt werden sollen.
                </h3>

                <br>

                <h3>
                    <p class="pk-theme">Beispiel: Ein Musicalprojekt</p>
                    <br> In der Vorbereitung des Vokalpraktischen Kurses wurden - zunächst nur auf der Seite der Lehrkräfte - Überlegungen zu möglichen Themen und damit verbundenen möglichen Kooperationen für ein Musicalprojekt besprochen. In den ersten
                    Unterrichtsstunden (1-3) fand dann ein Abgleich dieser Ideen mit den Vorstellungen der SchülerInnen statt. Unter Berücksichtigung der curricularen Vorgaben und der gegenseitigen Interessen einigten wir uns auf ein Zielprojekt. Um dieses
                    innerhalb eines Jahres auf die Bühne zu bringen, war es notwendig, die Arbeit aufzuteilen. Hier bot sich eine Kooperation mit einem der Literaturkurse an. Dieser kümmerte sich um die Erstellung des Storybooks mit seinen Dialogen und
                    Regieanweisungen und stellte die Schauspieler zur Verfügung. Dabei gab es immer wieder Rücksprachen mit den Mitgliedern des Vokalpraktischen Kurses. Der Vokalpraktische Kurs übernahm die Verantwortung für alle musikalischen Aspekte
                    des Musicalprojekts. Wir entschieden uns für eine Vorlage, die es auch in einer Playbackversion gab, um uns voll und ganz auf die vokale Praxis konzentrieren zu können. Die Erarbeitung der einzelnen Lieder, die alle für mehrere Stimmen
                    arrangiert werden sollten, erfolgte im Plenum sowie in Kleingruppen. Im Plenum wurden zunächst nur von der Lehrkraft vorbereitete Lieder einstudiert. Dabei ging es nicht nur darum, die Melodien zu erlernen, sondern auch um:
                </h3>

                <br>

                <ul class="inner-list">
                    <li>Das Entwickeln eines Bewusstseins für die eigene Stimme und ihre Funktionen</li>
                    <li>Die vielfältigen Möglichkeiten des Stimmeinsatzes (herkömmlich / außergewöhnlich)</li>
                    <li>Möglichkeiten der Stimmbildung auch durch SchülerInnen</li>
                    <li>Das Kennenlernen und Üben von Atemtechniken</li>
                    <li>Die Schulung des Gehörs</li>
                    <li>Das Üben von einstimmigem und mehrstimmigem Gesang</li>
                    <li>Die Vorgehensweise bei der Erstellung von Arrangements (Kriterien)</li>
                    <li>Möglichkeiten und Gebrauch von Zeichen zur musikalischen Verständigung</li>
                    <li>Das Erfassen und Anwenden musikalischer Strukturen (z.B. Abläufe)</li>
                    <li>Möglichkeiten der Notation auch mit dem Computer</li>
                    <li>Die Bedeutung von Ausstrahlung, Körpereinsatz und Bewegung beim Singen</li>
                </ul>

                <br>

                <h3>
                    Bei der Erarbeitung der Stücke in den Kleingruppen waren weitere Aspekte von besonderer Bedeutung:
                </h3>


                <ul class="inner-list">
                    <li>Das Einordnen der eigenen in die Interessen und Fähigkeiten der Gruppe</li>
                    <li>Das Berücksichtigen des Könnensstands der gesamten Lerngruppe</li>
                    <li>Die Beurteilung der Realisationsmöglichkeiten im Hinblick auf die Aufführung</li>
                    <li>Die Berücksichtigung der Adressaten und der Wirkung im Rahmen des Projekts</li>
                    <li>Die eigenen kreativen Fähigkeiten</li>
                    <li>Das Kommunikationsvermögen</li>
                    <li>Die eigene Kritikfähigkeit und Reflexionsvermögen</li>
                    <li>Das Üben von konstruktiver Kritik (Reflexionsvermögen)</li>
                    <li>Das Diskutieren und Auswählen anhand für das Projekt wesentlicher Kriterien</li>
                    <li>Das Erweitern und Üben des selbstständigen Arbeitens</li>
                    <li>Das Entwickeln, Erweitern und Festigen der sozialen Fähigkeiten</li>
                </ul>

                <br>

                <h3>
                    Nach Erarbeitung und Niederschrift (Kopiervorlage für die anderen Kursmitglieder) der einzelnen Stücke in den Kleingruppen war es Aufgabe der jeweiligen Gruppe, „ihr Werk“ den anderen Kursteilnehmern beizubringen. Dabei benötigten die SchülerInnen zunehmend
                    weniger Unterstützung durch die Lehrkraft. Hierbei spielten die oben genannten Aspekte ebenfalls eine große Rolle. Neben dem Erlernen, Üben und Festigen der eigenen Stimme, dem gezielten Einsatz des Körpers und das gegenseitige bewusste
                    Hören standen hier vor allem das Üben und Annehmen von konstruktiver Kritik, das gemeinsame Arbeiten und die Reflexion des geplanten im Hinblick auf die Bühnenpräsentation im Vordergrund.
                    <br> <br> Nachdem der Vokalpraktische Kurs alle Stücke erlernt und geübt hatte, galt es, weitere, für die Aufführung wesentliche Aufgaben zu bewältigen. Die einzelnen Lieder mussten in die Theaterszenen fließend eingegliedert werden.
                    Dazu waren einige gemeinsame Proben erforderlich. Nach Möglichkeit fanden diese während der wöchentlichen Kursstunden statt, mussten aber auch in Form von Probetagen bzw. -wochenenden durchgeführt werden. Zudem mussten alle Kursmitglieder
                    der beiden Kurse bei der Gestaltung des Bühnenbildes, der Kostüme, der Beschaffung der Requisiten und des Auf- und Abbaus der Bühne mitarbeiten. Hier wird deutlich, welch großer Einsatz von den Schülerinnen und Schülern für die Realisation
                    einer öffentlichen Bühnenpräsentation gezeigt werden muss.
                </h3>

                <br>

                <h3>
                    Abschließend folgen einige Aspekte der Leistungsbewertung. Beurteilt wurden:
                </h3>

                <br>

                <ul class="inner-list">
                    <li>Der individuelle Fortschritt bei dem Einsatz der eigenen Stimme</li>
                    <li>Die Beteiligung an der Übernahme von Übungen zur Stimmbildung</li>
                    <li>Die Qualität der einzelnen Übungen zur Stimmbildung</li>
                    <li>Die Sicherheit und Qualität bei dem Singen der erlernten Melodien</li>
                    <li>Die Kenntnis der erlernten Kriterien des Arrangierens</li>
                    <li>Die Qualität bei der Anwendung der erlernten Kriterien im Zuge des Arrangierens</li>
                    <li>Die Kreativität bei dem Arrangieren der Stücke</li>
                    <li>Die Kenntnis und Anwendung musikalischer Zeichen zur besseren Verständigung</li>
                    <li>Die Ausführung der Notationen</li>
                    <li>Der Ideenreichtum bei der Gestaltung der Choreographien</li>
                    <li>Der individuelle Fortschritt bei der Ausführung der erlernten Choreographien</li>
                    <li>Die Textsicherheit</li>
                    <li>Die Sicherheit in der Kenntnis des Gesamtablaufs</li>
                    <li>Die Selbstständigkeit bei der Erarbeitung der Stücke</li>
                    <li>Das Arbeitsverhalten im Allgemeinen</li>
                    <li>Die Kommunikationsfähigkeit in den kleinen Gruppen und im Plenum</li>
                    <li>Die Kritikfähigkeit</li>
                    <li>Das Reflexionsvermögen</li>
                    <li>Der individuelle Einsatz bei der Erstellung des Bühnenbildes</li>
                    <li>Der individuelle Einsatz bei der Beschaffung von Kostümen und Requisiten</li>
                    <li>Der individuelle Einsatz bei der Organisation des Caterings</li>
                    <li>Der individuelle Einsatz bei dem Auf- und Abbau der Bühne</li>
                    <li>Der individuelle Einsatz bei dem Aufbau, dem Abbau und der Betreuung des Caterings</li>
                    <li>Die individuelle Leistung bei den jeweiligen Bühnenpräsentationen</li>
                </ul>

                <br>
                <hr align="cener" width="95%">

                <h2 class="pk-theme">Musikklasse</h2>
                <br>

                <h3>
                    Orchester- und Chorklasse <br> am Städtischen Gymnasium Wermelskirchen
                </h3>

                <br>

                <h3>
                    Wir bieten den Schülerinnen und Schülern unserer Erprobungsstufe zwei Möglichkeiten, an eigens eingerichteten Musikklassen teilzunehmen:
                </h3>

                <br>

                <h3>
                    1. Orchesterklasse (Schülerinnen und Schüler mit Instrumentalerfahrung) <br> 2. Chorklasse
                </h3>

                <br>

                <br>

                <h3>
                    Musik hören und verstehen ist gut, Musik machen ist besser!
                </h3>

                <br>

                <h3>
                    Der Begriff Musikklasse soll für einen lebendigen Musikunterricht stehen, der die Vermittlung musikalischen Basiswissens und das praktische Musizieren mit Orchesterinstrumenten oder das gemeinsame Singen im Klassenverband von Beginn an miteinander verbindet.
                    <br> Inhaltliche Aspekte des Musikunterrichtes der 5. und 6. Klassen sollen - ausgehend von den elementa­ren Grundlagen der allgemeinen Musiklehre (s. schulinterner Lehrplan) bis hin zu musikalischen Gestaltungsprinzipien der For­menlehre
                    - durch das gemeinsame Musizieren anwendungs­orientiert erlernt werden. Damit werden zusätzlich Voraussetzungen sowohl für den weiterführenden schulischen als auch außerschulischen Musikunterricht geschaffen. Der praktischen Musikerfahrung
                    im Klassenverband kann das individuelle Musizieren, aber auch die intellektuelle, analytische Ausei­nandersetzung mit Musik folgen. Die Schule möchte mit diesem schulmusikalischen Angebot neben den kognitiven be­sonders die emotionalen,
                    kreativen und sozialen Fähigkeiten der Schülerinnen und Schüler fördern. Es gibt wissenschaftliche Untersuchungen, die zeigen, dass das gemeinsame Musizieren Leistungsfähigkeit, Disziplin, Konzentration, Ausdauer, Kooperationsbereitschaft,
                    Teamfähigkeit, Solidarität und Rücksichtnahme fördern kann.
                </h3>

                <br>

                <h3>
                    <strong class="pk-theme">1. Orchesterklasse (Schülerinnen und Schüler mit Instrumentalerfahrung)</strong> <br> Es soll wieder eine Musikklasse für fortgeschrittene Instrumentalistinnen und Instrumentalisten eingerichtet werden. Die
                    Kinder der Musikklasse führen ihren Instrumentalunterricht privat oder in der Musikschule selbstständig weiter. Sie verpflichten sich, diesen Unterricht für zwei (Schul)Jahre, also während der Erprobungsstufe, fortzuführen. Der Musikunterricht
                    der Orchesterklasse wird von einer Musiklehrkraft des Gymnasiums erteilt. Er umfasst insgesamt je zwei Wochenstunden, die folgendermaßen aufgeteilt werden:
                    <br><br> - eine Stunde allgemeinbildender Musikunterricht
                    <br><br> - eine Stunde gemeinsames Musizieren im Klassenverband
                    <br> <br> Die Leistungsbewertung erfolgt durch die Beurteilung der mündlichen und praktischen Mitarbeit.
                </h3>

                <br>

                <h3>
                    <strong class="pk-theme">2. Chorklasse</strong>
                    <br> Für die Dauer von zwei Schuljahren erlernt jede Schülerin bzw. jeder Schüler dieser Klasse Grundlagen von Stimmbildung und Gesangstechniken, so dass der Unterricht durch eine enge Verbindung von praktischen Erfahrungen und theoretischer
                    Reflexion geprägt ist. Die Leitung der Chorklasse und damit der allgemeinbildende Musikunterricht sowie Stimmbildung und Chorgesang werden von einer Musiklehrkraft des Gymnasiums übernommen. Der Lernstoff der Klassen 5 und 6 wird in
                    enger Anlehnung an die gemeinsam erarbeiteten Musikstücke „spielerisch“ und anwendungsorientiert vermittelt. Die Leistungsbewertung erfolgt durch die Beurteilung der mündlichen und praktischen Mitarbeit.
                    <br>
                    <br> Für beide Klassen gilt: <br> Einmal pro Schuljahr werden voraussichtlich verbindliche Probentage durchgeführt, um intensiv für die Vorbereitung von Konzerten üben zu können. Die Termine dafür werden rechtzeitig bekannt gegeben.
                </h3>
            </div>

            <br>
            <hr align="center" width="95%">

            <br>

            <h3>
                <ul class="rw-flex em2-gap">
                    <li>
                        <a href="" class="pk-theme">Konferenz der Tiere</a>
                    </li>
                    <li>
                        <a href="" class="pk-theme">Orchesterfahrt</a>
                    </li>
                </ul>
            </h3>
        </div>
    </main>
</body>

</html>