<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th,
    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>

<body>
    <main class="main-content">
        <h1>Pädagogik</h1>

        <hr width="95%" align="center">

        <div class="center-max-div rw-flex em2-gap MaxWidth" style="align-items: start;">
            <img src="assets/sgw-official/Download (12).png" alt="" width="40%">

            <table>
                <tr>
                    <th style="text-align: center;" colspan="2">Kolleginnen und Kollegen im Fach Pädagogik</th>
                </tr>
                <tr>
                    <td>Katja Limberg</td>
                    <td>Saadeddine Kamar</td>
                </tr>
                <tr>
                    <td>Marcus Augustin</td>
                    <td>Christian Ovelhey</td>
                </tr>
            </table>
        </div>

        <h1>Was ist Pädagogik?</h1>

        <h3>
            „Der Mensch ist das einzige Geschöpf, das erzogen werden muss….Der Mensch kann nur Mensch werden durch Erziehung. Er ist nichts, als was Erziehung aus ihm macht.….….Die Erziehung ist eine Kunst, deren Ausübung durch viele Generationen vervollkommnet werden
            muss….Wenn man das aber reiflich überdenkt, so findet man, dass dieses sehr schwer sei. Daher ist die Erziehung das größte Problem, und das schwerste, was dem Menschen kann aufgegeben werden.“ Diese Sätze stammen von dem Philosophen Immanuel
            Kant, er formulierte sie in den Jahren 1776 – 1787. An dieser Aussage scheint sich bis heute nicht viel verändert zu haben, wenn man aufmerksam die Buchtitel der Bestsellerlisten der letzten Jahre verfolgt. Der Markt für pädagogische Ratgeber
            boomt und belegt die tiefe Unsicherheit vieler Menschen, die sich Erziehungsaufgaben gegenüber sehen. So weisen Petra Gerster und Christian Nürnberger auf den „Erziehungsnotstand“ in unserer Gesellschaft in ihrem Buch „Die Erziehungskatastrophe“
            hin. Pädagogikunterricht vermittelt pädagogisches Wissen und schafft so Voraussetzungen, wie Erziehung und Förderung der nachwachsenden Generation gelingen kann. Pädagogikunterricht unterstützt aber auch die Persönlichkeitsentwicklung von
            Menschen, indem Bedingungen und Möglichkeiten von Entwicklung und Lernen konkret thematisiert werden z. B. über die Behandlung von Entwicklungs-, Persönlichkeits-, Identitäts- und Devianzmodellen etc. Dabei werden im Pädagogikunterricht Theoriewissen
            und praktische Erfahrungen immer wieder miteinander verknüpft. Das Unterrichtsfach Pädagogik kann neben pädagogischer Fachkompetenz die Selbst- und Sozialkompetenz in einzigartiger Weise fördern, weil es die für die persönliche Entwicklung
            der Schülerinnen und Schüler und die gesellschaftliche Entwicklung zentrale Inhalte vermittelt. Das Einüben von Kommunikations- und Teamfähigkeit, Förderung von Motivation, Reflexion über das Lernen (Lernen lernen), unterstützen beim Herausfinden
            von Fähigkeiten und Interessen, Erarbeitung von Lösungswegen bei Konflikten oder auch Krisen, Diagnostizieren von Problemen und Schwierigkeiten sowie die Anleitung zu systematischem, vernetztem, flexiblem und kreativem Denken als kontinuierliche
            Ziele dieses Faches, auch in kritischer Auseinandersetzung mit modernen Medien.
        </h3>

        <br>

        <h1>
            Schulinterne Lehrpläne und Leistungsbewertung
        </h1>

        <h3>
            <ul class="em2-gap rw-flex">
                <li>
                    <a href="assets/sgw-official/Schulinterner Lehrplan WK Pädagogik _Stand 26.11.201 5_ - Druckversion_Homepage.pdf" class="pk-theme">Schulinterner Lehrplan</a>
                </li>
                <li>
                    <a href="assets/sgw-official/Leistungsbewertungskonzept (Stand 06.08.2020) - Druckversion_Homepage.pdf" class="pk-theme">Leistungsbewertungskonzept</a>
                </li>
                <li>
                    <a href="assets/sgw-official/Übersichtsraster  Pädagogik Einführnugsphase.pdf" class="pk-theme">Übersichtsraster Uniterrichtsinhalte EF</a>
                </li>
                <li>
                    <a href="assets/sgw-official/Übersichtsraster Unterrichtsinhalte Q-Phase (Stand 14.11.2019).pdf" class="pk-theme">Übersichtsraster Unterrichtsinhalte Q-Phase 2022</a>
                </li>
                <li>
                    <a href="assets/sgw-official/schulinternes Übersichtsraster WK Pädagogik Abi 2023 (Stand 25.05.2021)_2.pdf" class="pk-theme">Übersichtsraster Unterrichtsinhalte Q-Phase 2023</a>
                </li>
            </ul>
        </h3>
    </main>
</body>

</html>