<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th,
    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>

<body>
    <main class="main-content" style="align-items: start;">
        <h1>Philosophie</h1>

        <hr width="95%" align="center">

        <div class="center-max-div rw-flex em2-gap MaxWidth" style="align-items: start;">
            <img src="assets/sgw-official/Fachschaft_PP_Foto2019-web.jpg" alt="" width="90%">

            <table>
                <tr>
                    <th style="text-align: center;" colspan="2">Kolleginnen und Kollegen im Fach Philosophie</th>
                </tr>
                <tr>
                    <td>Raphael Kemna</td>
                    <td>Juliana Seidlez</td>
                </tr>
                <tr>
                    <td>Saadeddine Kamar</td>
                    <td>Sandra Meurer (FV)</td>
                </tr>
                <tr>
                    <td>Dimitrios Apostolidis</td>
                    <td>Juliana Seidlez</td>
                </tr>
                <tr>
                    <td>Metin Genç</td>
                    <td><strong>Referendare:</strong> Metin Genç</td>
                    <!-- This cell is empty to maintain consistency in the table structure -->
                </tr>
            </table>
        </div>

        <h1>Philosophie Sekundarstufe II</h1>

        <h3>
            <a class="color-link" href="assets/sgw-official/Lehrplan - PL _1.pdf">Curriculum PL</a>
        </h3>

        <hr width="95%" align="center">


        <h2 class="pk-theme">
            Schüler*innenarbeiten
        </h2>

        <img src="assets/sgw-official/Robinsonade_0.jpg" alt="">
        <p>Q1 Anthropologie</p>

        <br>

        <p>Im Anhang sind philosophische Essays von Schüler*innen zu finden.</p>

        <h3>Anhang</h3>

        <h3>
            <ul class="rw-flex em2-gap">
                <li><a href="assets/sgw-official/Freiheit_Philosophie.pdf" class="pk-theme">Freiheit_Philosophie.pdf</a></li>
                <li><a href="assets/sgw-official/Freiheit2_Philosophie.pdf" class="pk-theme">Freiheit2_Philosophie.pdf</a></li>
                <li><a href="assets/sgw-official/Gerechtigkeit_Philosophie.pdf" class="pk-theme">Gerechtigkeit_Philosophie.pdf</a></li>
                <li><a href="assets/sgw-official/Gerechtigkeit2_Philosophie.pdf" class="pk-theme">Gerechtigkeit2_Philosophie.pdf</a></li>
            </ul>

        </h3>

        <hr width="95%" align="center">

        <h1>Philosophie Sekundarstufe I</h1>

        <img src="assets/sgw-official/20181109_111334.jpg" alt="" width="40%">
        <p>Stufe 7 - Fragekreis 1: Wer bin ich?</p>

        <h3>
            <a class="color-link" href="assets/sgw-official/Lehrplan - PP _0.pdf">Curriculum PP (Stand 2020)</a>
        </h3>

        <hr width="95%" align="center">


        <h2 class="pk-theme">
            Schüler*innenarbeiten
        </h2>

        <img src="assets/sgw-official/Freizeitinsel_Stufe6.jpg" alt="" style="width: 40%;">
        <p>Jahrgangsstufe 6: Freizeitinsel - Bild 1</p>

        <br>

        <img src="assets/sgw-official/Freizeitinsel2_Stufe6.jpg" alt="" style="width: 40%;">
        <p>Jahrgangsstufe 6: Freizeitinsel - Bild 2</p>

        <br>

        <img src="assets/sgw-official/Klasse7_Masken.jpg" alt="" style="width: 40%;">
        <p>Jahrgangsstufe 7: Frage nach dem Ich - Masken</p>

        <br>

        <img src="assets/sgw-official/Klasse7_Kurzgeschichten.jpg" alt="" style="width: 40%;">
        <p>Jahrgangsstufe 7: Gefühl und Verstand - Kurzgeschichten</p>

        <br>

        <hr width="95%" align="center">

        <h1>
            Leistungskonzept für das Fach Praktische Philosophie / Sekundarstufe I
        </h1>

        <br>

        <h3>
            Die rechtlich verbindlichen Grundsätze der Leistungsbewertung sind im Schulgesetz (§48 Schlug) sowie in der Ausbildungs- und Prüfungsordnung der Sekundarstufe I (§6 APO-SI) dargestellt.
            <br><br> Im Fach Praktische Philosophie sind in der Sekundarstufe I keine Klassenarbeiten und Lernstandserhebungen vorgesehen. Die Leistungsbewertung erfolgt daher ausschließlich im Beurteilungsbereich “Sonstige Mitarbeit“. Dazu zählen u.
            a.:
            <br><br> - mündliche Beiträge zum Unterricht (z. B. Beiträge zum Unterrichtsgespräch, Kurzreferate), - schriftliche Beiträge zum Unterricht (z. B. Protokolle, Materialsammlungen, Hefte, Portfolios, Lerntagebücher), die Arbeitsergebnisse fachgerecht
            dokumentieren, - Gestaltung von praktischen Arbeiten (Collagen, Plakate, Fotoserien, Bilder und ggf. Videofilme) sowie Rollenspielen und szenischen Darstellungen, - selbstständige Beschaffung von Informationen und Arbeitsmaterialien, - kurze
            schriftliche Lernzielkontrollen mit einer maximalen Dauer von 15 Minuten (hierbei wird vorrangig das Erreichen der für die entsprechende Jahrgangsstufe aufgeführten Kompetenzen überprüft).
            <br><br> Wegen der weltanschaulichen und religiösen Neutralität des Faches Praktische Philosophie bleiben Wertungen und Urteile von Schülerinnen und Schülern, in denen sich ihre weltanschauliche und religiöse Bindung ausdrückt, von der Bewertung
            ausgenommen. Die Leistungsbewertung bezieht sich insgesamt auf die für die einzelnen Jahrgangsstufen ausgewiesenen Kompetenzen. Sie trägt den wachsenden Kenntnissen und Fertigkeiten der Schülerinnen und Schüler Rechnung und berücksichtigt
            Lernzuwächse und Entwicklungen der Schülerinnen und Schüler. Es werden der Umfang, die selbstständige und richtige Anwendung sowie die Art der Darstellung der im Unterricht vermittelten Kenntnisse, Fähigkeiten und Fertigkeiten bewertet. Unter
            Berücksichtigung der Lernprogression in den einzelnen Jahrgangsstufen kommen die unten ausgewiesenen allgemeinen Kriterien für die Beurteilung der sonstigen Mitarbeit im Unterricht zur Geltung:
            <br><br>
            <p class="pk-theme">sehr gut:</p>
            <br> - Beteiligung ist kontinuierlich hoch; - Beiträge sind sprachlich durchweg korrekt; - Fachterminologie wird stets sinnvoll verwendet; - Beiträge sind stets problemorientiert (sie problematisieren, sind problemlösend und unterstützen den
            Fortgang des Unterrichtes); - Verständnis der behandelten Probleme und Sachverhalte sind durchweg gegeben; - Reproduktion von Sachverhalten und Problemen ist stets korrekt; - Argumentationen sind dicht, komplex und schlüssig; - Methodenbewusstsein
            ist deutlich erkennbar; - hohe kommunikative Kompetenz.
            <br><br>
            <p class="pk-theme">gut:</p>
            <br> - häufige Beteiligung; - Beiträge sind überwiegend sprachlich korrekt; - Fachterminologie wird meist richtig verwendet; - Problemorientierung ist meist gegeben; - Verständnis der behandelten Probleme und Sachverhalte ist meist gegeben;
            - Reproduktion ist überwiegend korrekt; - Argumentationen sind meist dicht, schlüssig und komplex; - Methodenbewusstsein ist meist erkennbar; - kommunikative Kompetenz ist gegeben.
            <br><br>
            <p class="pk-theme">befriedigend:</p>
            <br> - regelmäßige, aber nicht häufige Beteiligung; - sprachlich angemessen, aber nicht durchweg korrekt; - Fachterminologie wird überwiegend korrekt verwendet; - Grundverständnis des Problems / der Problemlösung ist gegeben; - Beiträge sind
            eher reproduzierend als problematisierend und problemlösend; - Argumentationen sind regelmäßig komplex, weisen aber auch Lücken auf; -ein hinreichendes Methodenbewusstsein ist gegeben; - kommunikative Kompetenz ist teilweise nur eingeschränkt
            erkennbar.
            <br><br>
            <p class="pk-theme">ausreichend:</p>
            <br> - seltene Beiträge; - sprachliche Schwächen; - geringes Verständnis des Problems / der Problemstellung; - Schwächen in der Reproduktion; - Argumentationen sind häufig lückenhaft und selten komplex; - eingeschränktes Methodenbewusstsein;
            - geringe kommunikative Kompetenz.
            <br><br>
            <p class="pk-theme">mangelhaft:</p>
            <br> - kaum Beiträge; - große sprachliche Schwächen; - geringes Verständnis des Problems / der Problemlösung; - Reproduktion nur sehr fehlerhaft und unvollständig; - große Schwierigkeiten, ein Problem schlüssig argumentativ zu bearbeiten;
            - sehr eingeschränktes Methodenbewusstsein; - geringe kommunikative Kompetenz.
            <br><br>
            <p class="pk-theme">ungenügend:</p>
            <br> - keine bis äußerst seltene Beiträge; - sprachlich unangemessene Beiträge; - ein Verständnis des Problems / der Problemlösung ist nicht vorhanden; - kein argumentativer Umgang mit Problemen und Sachverhalten erkennbar; - kein Methodenbewusstsein,
            äußerst eingeschränkte kommunikative Kompetenz.
        </h3>
    </main>
</body>

</html>