<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <main class="main-content">
        <h1>PhysikTechnik</h1>

        <hr align="center" width="95%">

        <div>
            <h3>
                Seit dem Schuljahr 2005/06 bietet der Fachbereich Physik im Differenzierungsbereich der Mittelstufe das Fach Physik-Technik an.
                <br> <br> Bisher unterrichten das Fach
                <br> <br> Heiner Kalenberg
                <br> Christiane Schnepper
            </h3>
            <br>

            <div class="rw-flex">
                <img src="assets/sgw-official/PhysikTechnikImage1.png" alt="">
                <img src="assets/sgw-official/PhysikTechnikImage2.png" alt="">
            </div>
            <br>

            <h3>
                Neugierig? <br>
                <br> Weitere Details hier:
            </h3>
            <br>

            <hr align="center" width="95%">

            <div>
                <h1 class="bigh1">Inhalte</h1>

                <h3>
                    <h1>I. Astronomie</h1>
                    <ol>
                        <li>
                            <h2>Einführung in die Astronomie</h2>
                            <p>z. B. Orientierung am Sternenhimmel, Erde, Mondphasen und Finsternisse, Jahreszeiten,</p>
                        </li>
                        <li>
                            <h2>Die Entwicklung des heutigen Weltbildes</h2>
                            <p>z. B. die Kugelgestalt der Erde: Eratosthenes und der Erdumfang, Keplersche Gesetze,</p>
                        </li>
                        <li>
                            <h2>Das Sonnensystem</h2>
                            <p>z. B. Planetensystem, Planetoiden, Meteore und Kometen</p>
                        </li>
                        <li>
                            <h2>Sterne und Sternsysteme</h2>
                            <p>z. B. die Sonne und ihr Aufbau, Entfernungsmessung, Lebensweg eines Sterns</p>
                        </li>
                        <li>
                            <h2>Optische Voraussetzungen</h2>
                            <p>z. B. Aufbau eines Keplerschen Fernrohrs, Spiegelteleskope</p>
                        </li>
                    </ol>

                    <h1>II. Thermodynamik</h1>
                    <ol>
                        <li>
                            <h2>Grundlagen / Wiederholung</h2>
                            <p>z. B. Temperaturskalen, Ausdehnung von Gasen, allg. Zustandsgleichung der Gase</p>
                        </li>
                        <li>
                            <h2>Innere Energie</h2>
                            <p>z. B. Energiebegriff, Energiearten, spez. Wärmekapazität, Hauptsatz der Wärmelehre</p>
                        </li>
                        <li>
                            <h2>Kreisprozesse, verschiedene Motoren</h2>
                            <p>z. B. Stirling, Otto, Diesel</p>
                        </li>
                        <li>
                            <h2>Bau eines Stirlingmotors</h2>
                        </li>
                    </ol>

                    <h1>III. Elektromotoren und Getriebe</h1>
                    <ol>
                        <li>
                            <h2>Wiederholung Grundbegriffe Elektrizitätslehre</h2>
                            <p>Strom, Spannung, Schaltsymbole, Energie, Leistung</p>
                        </li>
                        <li>
                            <h2>Elektromagnetismus</h2>
                            <p>magnetische Wirkung des Stroms, Magnetfelder, Magnetfeld einer Spule, Magnetismus</p>
                        </li>
                        <li>
                            <h2>Gleichstrommotoren</h2>
                            <p>Bau von EMW, Reedkontaktmotor, Gleichstrommotor</p>
                        </li>
                        <li>
                            <h2>Getriebe</h2>
                            <p>(Drehzahlen, Drehmoment, Wirkungsgrad), Bau von Elektroautos</p>
                        </li>
                        <li>
                            <h2>Relais</h2>
                            <p>Funktionsweise, Schaltungen mit Relais</p>
                        </li>
                    </ol>

                    <h1>IV. Einführung in die analoge Elektronik</h1>
                    <ol>
                        <li>
                            <h2>Widerstände im el. Stromkreis, Potentiometer, licht- oder temperaturabhängige Widerstände, Leiter, Halbleiter und Nichtleiter, Kondensator</h2>
                        </li>
                        <li>
                            <h2>Die Halbleiterdiode</h2>
                            <p>Aufbau und Herstellung, Anwendung</p>
                        </li>
                        <li>
                            <h2>Der Transistor</h2>
                            <p>Transistor als Schalter, Dämmerungsschalter, Zeitschalter, Lichtschranke etc., Transistor als Verstärker: Mikrofonverstärker und MW-Empfänger</p>
                        </li>
                    </ol>
                </h3>

                <hr align="center" width="95%">

                <h1 class="bigh1">Astronomie</h1>

                <h3>
                    Ein Themenschwerpunkt ist die Astronomie (ca. 1 Halbjahr). Es folgen Links mit interessanten Darstellungen zu astronomischen Problemen:
                </h3>

                <h3>
                    <ol type="1" class="big-lh">
                        <li>
                            <a class="color-link" href="http://www.venus-transit.de/transit/index.html">Venustransit (Kurze Erklärungen zum Venustransit 2004 / 2012)</a>
                        </li>
                        <li>
                            <a href="https://www.geogebra.org" class="color-link">Venustransit Simulation: Warum ist der Transit so selten?</a>
                        </li>
                        <li>
                            <a href="https://www.ardalpha.de/wissen/weltall/astronomie/sterngucker/erde-sonne-drehung-umlaufbahn-100.html" class="color-link">Sonne und Erde</a> (Informationen über das System Sonne - Erde)
                        </li>
                        <li>
                            <a href="http://ww16.sternenhimmel-aktuell.de/Hauptseite.htm?sub1=20240217-2306-559f-9e22-4dd7d67cdc62" class="color-link">Der Wegweiser an den Sternenhimmel</a> (Vielzahl von Informationen rund um die Astronomie)
                        </li>
                        <li>
                            <a href="https://www.geogebra.org/de/upload/files/dynamische_arbeitsblaetter/kalenberg/Schleifenbahn_Mars_Simulation.html" class="color-link">Darstellung der Schleifenbahn des Mars</a>
                        </li>
                        <li>
                            <a href="https://www.zum.de/Faecher/Materialien/gebhardt/astronomie/mondphasen/mondph.html" class="color-link">Mondphasen</a> (Schematische Darstellung und reale Mondphasen)
                        </li>
                        <li>
                            <a href="http://cgi.stadtklima-stuttgart.de/mirror/sonne.exe" class="color-link">Sonnenstand</a> (Berechnung des Sonnenstandes nach Datum und Ort)
                        </li>
                    </ol>
                </h3>

                <hr align="center" width="95%">

                <h1 class="bigh1">Elektromotoren 2, neu</h1>

                <h3>
                    Da wir nun besseres Werkzeug zur Verfügung haben, sind wir in der Lage, die Motoren etwas aufwendiger zu gestalten:
                </h3>
                <br>

                <div class="box-grid" style="height: max-content;grid-template-columns: repeat(2, auto);">
                    <div>
                        <p>
                            Der Reedkontaktmotor:
                        </p>

                        <img src="assets/sgw-official/Reed-M Holz Version 2 (4) red.jpg" alt="">
                    </div>

                    <div>
                        <p>
                            Mit LED als Kontrollleuchte zur Überwachung der richtigen Polung!
                        </p>

                        <img src="assets/sgw-official/Reed-M Holz Version 2 (3) red.jpg" alt="">
                    </div>

                    <div>
                        <p>
                            Detailansicht: Reedkontakt
                        </p>

                        <img src="assets/sgw-official/Reed-M Holz Version 2 red.jpg" alt="">
                    </div>

                    <div>
                        <p>
                            Der "große" Motor!
                        </p>

                        <img src="assets/sgw-official/großer Motor Holz (1) red.jpg" alt="" width="100%">
                    </div>

                    <div>
                        <p>
                            mit einer (fast) sauber gewickelten Ankerspule
                        </p>

                        <img src="assets/sgw-official/großer Motor Holz (4) red.jpg" alt="" width="100%">
                    </div>

                    <div>
                        <p>
                            und "echtem" Kommutator!
                        </p>

                        <img src="assets/sgw-official/großer Motor Holz red.jpg" alt="" width="100%">
                    </div>

                    <div>
                        <p>
                            und fachmännisch angebrachten Dauermagneten
                        </p>

                        <img src="assets/sgw-official/großer Motor Holz (6) red.jpg" alt="" width="100%">
                    </div>


                </div>

                <hr align="center" width="95%">

                <h1 class="bigh1">Elektromotoren</h1>

                <h3>
                    Einige Beispiele selbstgebauter Motoren:

                    <br> <br> Ganz einfach, aber er läuft:
                    <br> <br> ein Stück Kupferlackdraht, ein Magnet und eine Batterie!
                    <br> <br> Los geht´s....
                </h3>
                <br> <br>

                <div>

                    <h3> Hier das Gehäuse für eine 4,5 V Flachbatterie.</h3>

                    <div>
                        <img src="assets/sgw-official/EMW 1,5 V rotierend red 400.jpg" alt="">
                    </div>

                    <h3>
                        <br> <br> Zugegeben, 2 Cent und ein wenig Kupferband kommt noch dazu.
                    </h3>

                    <div>
                        <img src="assets/sgw-official/EMW 4,5 V ohne Bat red 400.jpg" alt="">
                    </div>
                    <br>

                    <h3>
                        Es geht aber auch anders.
                        <br><br> Nun rotiert der Magnet, nicht die Spule. Es ist aber ein Reedkontakt erforderlich!
                    </h3>

                    <div>
                        <img src="assets/sgw-official/Reed-M Draufsicht Motor Foto red 400.jpg" alt="">
                    </div>
                    <br>

                    <h3>
                        Nun schon ein bisschen professioneller:
                        <br><br> Modell eines Gleichstrommotors mit rotierender Spule und Kommutator
                    </h3>

                    <div>
                        <img src="assets/sgw-official/großer Motor Draufsicht 1 red 400.jpg" alt="">
                    </div>

                    <br>

                    <h3>
                        Links mit Erklärungen zum Gleichstrommotor:
                    </h3>
                    <br>
                    <a href="http://www.brunnermeiers.de/kasim/seite2.htm" class="color-link">
                        <h3>Grundlagen des Gleichstrommotors, einfache Darstellung mit Applets</h3>
                    </a>
                    <br>

                    <a href="http://www.emot.de/wissen/motor/kap3.htm" class="color-link">
                        <h3>Gleichstrommotoren, Darstellung für den Fachmann</h3>
                    </a>
                    <br>
                    <br>

                    <h3>
                        Simulationen mit GeoGebra (GeoGebra muss auf dem eigenen Rechner installiert sein):
                    </h3>
                    <br>

                    <h3>
                        <ul class="rw-flex em2-gap">
                            <li>
                                <a class="color-link" href="assets/sgw-official/Reed-Kontakt-Motor.ggb">Reedkontakt-Motor </a>
                            </li>

                            <li>
                                <a class="color-link" href="assets/sgw-official/2-T-Anker-Motor.ggb">2-T-Anker-Motor  </a>
                            </li>

                            <li>
                                <a type="download" class="color-link" href="assets/sgw-official/3_T_Anker_Motor.ggb">3-T-Anker-Motor </a>
                            </li>
                        </ul>
                    </h3>
                </div>

                <hr align="center" width="95%">

                <h1 class="bigh1">Elektronik Grundlagen</h1>

                <h3>
                    <a class="pk-theme" href="http://www.zum.de/dwu/depotan/apet101.htm">Einfaches Applet zur Halbleiterdiode</a>
                </h3>

                <hr align="center" width="95%">

                <h1 class="bc-theme">Gründung des zdi-Zentrums "MINT-Netzwerk Rhein-Berg" --- das Gymnasium Wermelskirchen ist Gründungsmitglied</h1>
                <br>

                <h3>
                    Am 11. Juni 2012 wurde das 34. Zentrum der Initiative "Zukunft durch Innovation" in NRW im Beisein von Landrat Dr. Tebroke gegründet. Die zdi-Zentren ermöglichen es den Schülerinnen und Schülern in der Nähe eines zdi-Zentrums, sich mit Projekten aus Technik
                    und Naturwissenschaft praxisnah und berufsorientiert zu beschäftigen. Viele Projekte werden von Unternehmen aus der Region unterstützt und ermöglichen es den Schülerinnen und Schülern, einen Einblick in die Abläufe eines Unternehmens
                    zu bekommen und die Anforderungen von Berufen in diesem Bereich und Unternehmen kennen zu lernen. Das städtische Gymnasium Wermelskirchen ist mit Dr. Peters im Beirat des neuen zdi-Zentrums vertreten und wird in naher Zukunft Projekte
                    im Bereich Physik/Technik und Chemie in Zusammenarbeit mit dem "MINT-Netzwerk Rein-Berg" anbieten.
                </h3>

                <br>
                <img src="assets/sgw-official/hart1.jpg" alt="">
                <img src="assets/sgw-official/hart2.jpg" alt="">

                <hr align="center" width="95%">

                <h1 class="bigh1">Heißer Draht</h1>
                <br>

                <h3>
                    Aufgabe:
                    <br><br> Bau des Geschicklichkeitsspiels „Heißer Draht“
                    <br> Anforderungen:
                    <br> Selbständige Planung und Bau des Gerätes. Wird der Draht einmal berührt, so muss eine Anzeigeleuchte dauerhaft leuchten. Durch einen Reset-Knopf wird das Spiel neu gestartet. Erweiterungen oder Varianten sind nach Absprache möglich.
                    <br> Bewertet wird Orginalität, Funktion und Sorgfalt beim Bau (60 %).
                    <br> Ausarbeitung bestehend aus Beschreibung Relais, Schaltplan des Gerätes, Bedienungsanleitung für Anwender, Beschreibung der Funktionsweise der Schaltung bzw. des Gerätes.
                    <br> Bewertet wird Sorgfalt, Vollständigkeit und Inhalt (40 %)
                    <br> Abgabe: Nach der Aktionswoche, Mittwoch 31.10.2012!
                </h3>


                <hr align="center" width="95%">

                <h1 class="bigh1">Raspberry Pi - Werkstatt</h1>
                <br>

                <img src="assets/sgw-official/raspi5.jpg" alt="">

                <br>
                <h3>
                    Ein Computer zum Anfassen - der kleine1 GHz Quad-Core Handy-Prozessor mit einem leistungsfähigen Grafikchip sowie 4 USB-, Audio-, HDMI-, Micro-USB-, LAN- und vor allem einer 40-poligen RPOI-Schnittstelle machen den RaspberryPi für nur 35,- € zu einem
                    universellen Alles-Könner, der in nur zwei Jahren eine riesige Fangemeinde ins Leben gerufen hat.
                </h3>
                <br> <br>

                <h3>
                    Auch an unserer Schule ist es dank der Unterstützung des Schulvereins sowie der ortsansässigen Fa. Compuserv nun seit einigen Wochen möglich, die Welten von Hardware und Software in kleinen Projekten zu verbinden.
                </h3>
                <br>

                <img src="assets/sgw-official/raspi1.jpg" alt="">
                <br>

                <h3>
                    Florian Ernst, Julien Giusti, Artemis Siemetzki und Robin Meermeyer (oben bei einem Besuch der MINT-Kooperationspartner Herrn Fellmann und Herrn Berg von der Fa. Compuserv) haben seit Ende April das Betriebssystem Linux kennen gelernt, das der Pi nutzt,
                    die Mini-PCs installiert, die RPOIs erkundet und in der Programmiersprache Python LEDs gesteuert. Eine Fußgänger-Ampelschaltung war nach wenigen Stunden der erste Zwischenerfolg. Temperatursensoren, A/D-Wandler, Schritt-Motoren, LCD-Displays,
                    HD-Kamera machen den Pi zu einer Spielwiese und Experimentierfeld. So verbindet das Projekt die Anforderungen der Informatik mit denen der Technik, wenn Schaltungen richtig gesteckt und Widerstände korrekt berechnet werden müssen.
                </h3>
                <br><br>

                <h3>
                    Die Werkstatt leitet im kommenden Jahr wahrscheinlich Herr Münch gemeinsam mit Herrn Weber für einen kleinen Kreis ernsthaft interessierter Schüler der EF.
                </h3>

                <div>
                    <img src="assets/sgw-official/raspi4.jpg" alt="">

                    <img src="assets/sgw-official/raspi2.jpg" alt="">
                </div>

                <br>
                <hr align="center" width="95%">

                <br><br>

                <h2>Weitere Ereignisse und Projekte:</h2>
                <br>

                <h3>
                    <ul class="em2-gap box-grid">
                        <li class="pk-theme">Elektronischer Spürhund - selbstgebaut, Projekt in der Aktionswoche 2013</li>
                        <li class="pk-theme">Elektronischer Spürhund - selbstgebaut, Projektwoche 2014</li>
                        <li class="pk-theme">Elektronischer Spürhund 3.0 - Projektwoche 2015</li>
                        <li class="pk-theme">Elektronischer Spürhund 4.0 - Projektwoche 2016</li>
                        <li class="pk-theme">Mausefallenfahrzeug</li>
                        <li class="pk-theme">Miniboombox</li>
                        <li class="pk-theme">Rauchmelder</li>
                        <li class="pk-theme">Sponsoring Bayer-Stiftung: Science & Eduction Foundation</li>
                        <li class="pk-theme">Stirling-Motor</li>
                        <li class="pk-theme">Wettbewerb "Lernfreude wecken" (2014) 6000€ Preisgeld</li>
                    </ul>
                </h3>
            </div>

        </div>
    </main>
</body>

</html>