<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th,
    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>

<body>
    <main class="main-content">
        <h1>Sozialwissenschaften / Politik</h1>

        <div class="center-max-div rw-flex em2-gap MaxWidth">
            <img src="assets/sgw-official/Fachschaft_01_2021-1.png" alt="" width="40%">

            <table>
                <tr>
                    <th style="text-align: center;" colspan="2">Kolleginnen und Kollegen im Fach Pädagogik</th>
                </tr>
                <tr>
                    <td>Arne Fröhlingsdorf (nicht auf dem Bild)</td>
                    <td>Marc Mattiesson</td>
                </tr>
                <tr>
                    <td>Delal Tugcu (nicht auf dem Bild)</td>
                    <td>Lars Klein</td>
                </tr>
                <tr>
                    <td>Christian Rolhauser (nicht auf dem Bild)</td>
                    <td>Timo Stallmann</td>
                </tr>
            </table>
        </div>

        <br>
        <h2>informieren - diskutieren - beurteilen</h2>
        <h3>
            Ob beim Bau und dem Unterhalt von Schulen, der Frage nach einer "guten" Kinderbetreuung oder dem "sinnvollen" Umgang mit Geld - überall müssen Entscheidungen getroffen werden, die für uns alle mehr oder weniger direkt von Bedeutung sind.

            <br><br> Der Unterricht im Fach "Politik/Wirtschaft" - ab der Oberstufe "Sozialwissenschaften" genannt - hat das Ziel, zur aktiven Beteiligung an diesen Entscheidungen zu befähigen und zu ermutigen. Die Schüler*innen sollen befähigt werden,
            Probleme zu analysieren, eigene Lösungen zu entwicklen sowie ein eigenes, begründetes Urteil bilden und auch vertreten zu können.
            <br><br> Dazu nimmt das Fach die Strukturen, Bedingungen und Formen des menschlichen Zusammenlebens näher in den Blick.Zur Frage, was das konkret für die Unter-, Mittel- und Oberstufe bedeutet, finden sich unten weitere Informationen.

        </h3>
        <br>
        <hr width="95%">

        <h2>Unterrichtsinhalte</h2>

        <h3 class="pk-theme">
            Veröffentlichungen des Ministeriums:
        </h3>

        <h3>
            <ol type="A">
                <li>
                    <a class="color-link" href="https://www.schulentwicklung.nrw.de/lehrplaene/lehrplan/174/gym8_politik-wirtschaft.pdf" target="_blank">Kernlehrplan Politik/Wirtschaft Sek I (G8)</a>
                </li>

                <li>
                    <a class="color-link" href="https://www.schulentwicklung.nrw.de/lehrplaene/lehrplan/215/g9_wipo_klp_%203429_2019_06_23.pdf" target="_blank">Kernlehrplan Wirtschaft-Politik Sek I (G9)</a>
                </li>

                <li>
                    <a class="color-link" href="https://www.schulentwicklung.nrw.de/lehrplaene/lehrplan/194/KLP_GOSt_SoWi.pdf" target="_blank">Kernlehrplan Sozialwissenschaften Sek II</a>
                </li>

                <li>
                    <a class="color-link" href="https://www.standardsicherung.schulministerium.nrw.de/cms/zentralabitur-gost/faecher/fach.php?fach=30" target="_blank">Vorgaben Abitur 2022/2023/2024</a>
                </li>

                <li>
                    <a class="color-link" href="https://www.standardsicherung.schulministerium.nrw.de/cms/zentralabitur-gost/faecher/getfile.php?file=3947" target="_blank">Operatorenübersicht
                    </a>
                </li>
            </ol>
        </h3>

        <h3 class="pk-theme">
            schulinterne Lehrpläne:
        </h3>

        <h3>
            <ol type="A">
                <li>
                    <a class="color-link" href="assets/sgw-official/schuleigener Lehrplan_Klasse 8 (G9).pdf" target="_blank">schulinterner Lehrplan für die Erprobungsstufe (G9)</a>
                </li>

                <li>
                    <a class="color-link" href="assets/sgw-official/schuleigener Lehrplan_Klasse 8 (G9) (1).pdf" target="_blank">schulinterner Lehrplan für die Klasse 8 (G9)</a>
                </li>

                <li>
                    <a class="color-link" href="assets/sgw-official/schuleigener Lehrplan_Klasse 9 (G8).pdf" target="_blank">schulinterner Lehrplan für die Klasse 9 (G8)</a>
                </li>

                <li>
                    <a class="color-link" href="assets/sgw-official/schuleigener Lehrplan_Einführungsphase_compressed.pdf" target="_blank">schulinterner Lehrplan für die Einführungsphase</a>
                </li>

                <li>
                    <a class="color-link" href="assets/sgw-official/schuleigener Lehrplan_Qualifikationsphase.pdf" target="_blank">schulinterner Lehrplan für die Qualifikationsphase</a>
                </li>
            </ol>
        </h3>

        <h3 class="pk-theme">
            Leistungsbewertung:
        </h3>

        <h3>
            <ol type="A">
                <li>
                    <a class="color-link" href="assets/sgw-official/SoWi Grundsätze der Leistungsbewertung im Distanzlernen.pdf" target="_blank">Grundsätze der Leistungsbewertung im Distanzunterricht</a>
                </li>

            </ol>
        </h3>

        <hr width="95%">

        <h2>
            LK Sowi lernt für's Leben
        </h2>

        <img src="assets/sgw-official/Download (17).png" alt="">

        <h3>
            "Ich bin fast 18 und hab keine Ahnung von Steuern, Miete oder Versicherungen. Aber ich kann 'ne Gedichtsanalyse schreiben. In 4 Sprachen.“ Das schrieb eine 17-jährige Gymnasiastin vor einigen Jahren auf Twitter und trat damit eine breite Debatte darüber
            los, wie lebensnah denn der Unterricht sei.
            <br><br> Zumindest der LK Sowi aus der Q2 dürfte sich jetzt etwas besser auf das Leben nach der Schule vorbereitet fühlen, denn am vergangenen Donnerstag (16.12.) bekamen sie Besuch von zwei Mitarbeitenden der Sparkasse Wermelskirchen, die
            sich ihren Fragen und Anliegen stellten.
            <br><br> Die Inhalte hatte der Kurs vorab in Absprache mit der Sparkasse selbst festgelegt. In 90 Minuten bekamen die Schüler*innen viele Informationen zu den Themen Miete, Geldanlage und Versicherungen. „Toll, dass wir lernen uns schon jetzt
            Gedanken zu machen statt und nicht erst dann, wenn es schon zu spät ist“, ist sich Fynn Glücks sicher. „Gut war auch, dass sie uns darauf hingewiesen haben uns auch das Kleingedruckte gut durchzulesen und uns nichts aufschwatzen zu lassen“
            merkt Lydia Schneider noch an.
            <br><br> Lernt man tatsächlich nur für die Schule und nicht für das Leben? Klar ist: Hätte die 17-jährige Tweeterin den Sowi-LK am Gymnasium Wermelskirchen besucht, hätte es diesen Tweet wahrscheinlich nicht gegeben.


        </h3>
    </main>
</body>

</html>