<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <main class="main-content">
        <h1>Spanisch</h1>

        <hr align="center" width="95%">

        <h3>
            <ul class="rw-flex em2-gap">
                <li>
                    <a class="pk-theme" href="assets/sgw-official/Leistungsbewertung Spanisch_Stand 10.12.2015.pdf">Leistungsbewertungskonzept der Fachschaft Spanisch (Stand: 10.12.2015)</a>
                </li>
                <li>
                    <a class="pk-theme" href="assets/sgw-official/Schulinterner Lehrplan Spanisch_ Stand 08.2018_0.pdf">Schulinternes Curriculum der Fachschaft Spanisch</a>
                </li>
            </ul>
        </h3>
    </main>
</body>

</html>