<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <main class="main-content" style="align-items: start;">
        <h1>Spanisch</h1>

        <hr width="95%" align="center">

        <h3>In Arbeit</h3>
    </main>
</body>

</html>