<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main class="main-content">
        <h1>Französisch</h1>

        <hr width="95%" align="center">

        <img src="assets/sgw-official/Download (8).png" width="40%">

        <h3>
            <a target="_blank" href="assets/sgw-official/Franz ab 8 Homepage2.pdf" class="pk-theme">Wie gestaltet sich der Französisch Unterricht ab Klasse 8?</a>
        </h3>
    </main>
</body>

</html>