<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content">
        <h1>Leistungsbewertung</h1>
        <br>
        <p>Das Leistungskonzept des Städtischen Gymnasiums Wermelskirchen finden Sie demnächst wieder hier - zur Zeit in Bearbeitung.</p>

        <p>Fachbezogene Ausgestaltungen finden sich unter den einzelnen Fachbereichen.</p>
    </main>
</body>

</html>