<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content">
        <h1>Gestaltung des Schullebens</h1>

        <h3>
            <ul class="rw-flex" style="gap: 2em;">
                <li><a class="pk-theme" href="/node/2209">Pausenangebote</a></li>
                <li><a class="pk-theme" href="/arbeitsgemeinschaften">Arbeitsgemeinschaften</a></li>
                <li><a class="pk-theme" href="/node/2213">Ausgezeichnet</a></li>
                <li><a class="pk-theme" href="/node/2214">Kulturscouts</a></li>
                <li style="display:flex;"><a class="pk-theme" href="/node/2216">Schülerzeitung</a></li>
                <li><a class="pk-theme" href="/node/2217">Schülerbücherei</a></li>
                <li><a class="pk-theme" href="/node/2212">Verkehrserziehung</a></li>
                <li><a class="pk-theme" href="/node/2651">Laufveranstaltungen</a></li>
                <li><a class="pk-theme" href="/2605">Projekte</a></li>
            </ul>
        </h3>
    </main>
</body>

</html>