<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content">
        <h1>Strukturierung von Lernprozessen</h1>

        <h3 style="width: 75%;margin-top:1em;text-align:left;" class="card">
            Lernen vollzieht sich im regulären Fachunterricht, aber auch – und das heute mehr denn je – in speziell konzipierten Unterrichts- und Fördermaßnahmen. Wir beginnen schon früh in der Jgst. 5 auf breiter Basis mit der Vermittlung von allgemeinen Arbeits-
            und Lernformen (ALF), die vom richtigen Packen der Schultasche bis zur übersichtlichen Mindmap-Erstellung viele Alltagskompetenzen, die in allen Unterrichtsfächern gebraucht werden, umfassen. Im Sozialen Lernen steht das Miteinander der Schülerinnen
            und Schüler im Mittelpunkt, wie ein gutes Klassenklima erreicht wird, wie eine gepflegte Kommunikation untereinander mit gesitteten Streitlösungen vonstattengehen kann oder wie der Klassenrat funktioniert. In der Begabtenförderung können sich
            leistungsstarke, hochmotivierte Schülerinnen und Schüler zusätzlich der Bearbeitung eigens gewählter Spezialthemen widmen.
            <br> <br>Im Förderunterricht werden leistungsschwächere Schüler in Zuge der Lern- und Leistungsförderung zusätzlich in den Kernfächern unterrichtet, in Forderkursen können Interessensgebiete vertieft oder ausgelebt werden, die sonst nicht
            oder zu wenig zum Tragen kommen, z.B. der Erwerb eines Sprachzertifikates (Französisch), das praktische Arbeiten mit Elektrogeräten oder der Erwerb eines PC-Führerscheins sowie körperbetonte Aktionsformen wie Theater, Tanz und Judo.
            <br><br> In den Lernzeiten gestalten sich alle Schüler einer Klasse selbst ihren eigenen kernfachbezogenen Förderunterricht mit Arbeitskarteien.
            <br> <br>Beim Drehtürmodell können leistungsstarke Schülerinnen und Schüler anstelle des eigenen Unterrichts zusätzlichen Fachunterricht (auch in höheren Jahrgangsstufen) besuchen und wenn Schüler Schülern helfen, geben sie vor allem schulisch
            organisierten Nachhilfeunterricht.
            <br> <br>Die ausgewiesenen Fachbereiche stellen ihre besonderen Arbeits- und Unterrichtsentwicklungsschwerpunkte für die nächste Zeit vor.
        </h3>

        <h3>
            <ul class=" rw-flex" style="gap: 2em;">
                <li><a class="pk-theme" href="/node/2169">Förderkonzept Sek 1</a></li>
                <li><a class="pk-theme" href="/node/2177">Methodenkonzept</a></li>
                <li><a class="pk-theme" href="/node/2178">Hausaufgabenkonzept</a></li>
                <li><a class="pk-theme" href="/node/2179">Medienkonzept</a></li>
                <li><a class="pk-theme" href="/node/2180">Fachbereiche</a></li>
            </ul>
        </h3>
    </main>
</body>

</html>