<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <div class="main-content">
        <h1 class="bc-theme">Schnee, Ski und Sonne im Zillertal</h1>

        <img src="assets/sgw-official/2024_01_16_Foto_Skifahrt_SGW.jpeg" alt="skifahrt" class="list-image">

        <p>(Foto: Markus Weber)</p>

        <br>

        <h3>
            Seit mehr als vierzig Jahren heißt es für die Schülerinnen und Schüler einer ganzen Jahrgangsstufe des Städtischen Gymnasiums „ab in den Schnee“. Diese bewährte Tradition – aber an neuem Ort – brachte die diesjährige Jahrgangsstufe 9 vom 06.01. bis 13.01.2024
            auf die Gerlosplatte ins Zillertal. 150 Schülerinnen und Schüler und 16 Lehrkräfte verbrachten eine erlebnisreiche, sportlich aktive Woche im Jugendgästehaus Gerlosplatte in Hochkrimml. An dieser Stelle möchten wir uns ganz herzlich bei Herrn
            Ernst Adam und Robin Ramspott bedanken, die uns als externe qualifizierte Skilehrer bei der großen Anzahl an Schülerinnen und Schülern unterstützt haben.
        </h3>

        <h3>
            Direkt aus dem Haus ging es auf die Piste – in 15 Skigruppen wurde auf verschiedenen Niveaus das Skifahren erlernt oder gefestigt. Alle begleitenden Lehrkräfte sind für den alpinen Skiunterricht qualifiziert. Dank schneereicher Tage im Vorfeld der Fahrt
            konnten wir uns bei besten Pistenverhältnissen an Pulverschnee bei strahlendem Sonnenschein erfreuen.
        </h3>

        <h3>
            Zum ersten Mal waren wir zu Besuch im Jugendgästehaus Gerlosplatte. Die freundliche Teamleitung hatte für alle Fragen und Sorgen ein offenes Ohr. Das erst 2020 eröffnete Haus bot viel Platz für unsere große Gruppe. Darüber hinaus gab es viele Angebote
            für die Jugendlichen und ihre begleitenden Lehrkräfte, sich auch abseits der Piste sportlich zu betätigen. Volleyball, Soccer, Tischtennis, Klettern, Billard, uvm. waren ebenso möglich wie der Besuch eines hausinternen Kinos. In den Speisesälen
            saß man abends zusammen und spielte Gesellschaftsspiele. Für die Jugendlichen und die begleitenden Lehrkräfte gab es auch eine abendliche Après-Ski-Veranstaltung mit heißem Skiwasser und Tanz am Feuer. Insgesamt bot die Woche im Schnee viele
            Möglichkeiten für Erlebnisse, die das Gemeinschaftsgefühl stärkten.
        </h3>

        <h3>
            Daher können wir sagen: Neustart nach 40 Jahren Obertauern gelungen – Zillertal, wir kommen wieder!
        </h3>

        <!-- links don't work -->
        <!-- <span>Zum <a href="assets/Zillertal_RGA.jpg" class="color-link">Artikel</a> im RGA</span>
        <span>Zum <a href="assets/Zillertal_BM.jpg" class="color-link">Artikel</a> in der BM</span> -->
    </div>
</body>

</html>