<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content">
        <h1>Fahrtenprogramm</h1>

        <h2 style="margin-top: 1em;">
            <ul class="big-lh rw-flex" style="gap: 2em;">
                <li><a href="#1" class="pk-theme">Schulfahrten</a></li>
                <li><a href="#2" class="pk-theme">Austauschprogramme</a></li>
            </ul>
        </h2>

        <hr align="center" width="95%">

        <a name="1"></a>
        <section style="width: 100%;text-align:start;">
            <div class="rw-flex" style="justify-content: space-between;">
                <div>
                    <h2 class="second-class-title">Schulfahrten</h2>
                    <h4>Schulfahrten am Städtischen Gymnasium Wermelskirchen</h4>
                    <br>

                    <ol type="A">
                        <li>dreitägige Fahrt in der Jgst. 5</li>
                        <li>dreitägige Fahrt in der Jgst. 7</li>
                        <li>Skikurs Obertauern (Jgst. 9)</li>
                        <li>Studienfahrt der Leistungskurse (Jgst. 12 Q2)</li>
                    </ol>
                </div>

                <div>
                    <h2>
                        Skikurs Obertauern
                    </h2>

                    <br>

                    <img src="assets/sgw-official/Download (23).png" alt="" class="border">
                </div>
            </div>

            <br><br>
            <hr width="95%">

            <a name="2"></a>
            <h1>
                <center><u>Austauschprogramme</u></center>
            </h1>

            <br>

            <div class="clm-flex">
                <br>
                <center>
                    <h2><a href="https://de.wikipedia.org/wiki/Loches" target="_blank" class="color-link">Loches</a></h2>
                    <h4>in der Tourine, Frankreich.</h4>
                </center>

                <div class="rw-flex">
                    <div>
                        <h3>Der nächste Austausch</h3>

                        <p>
                            Zur Zeit gibt es noch keinen Termin für den nächsten Austausch.
                        </p>

                        <br>

                        <h3>Die Partnerschule <a href="https://de.wikipedia.org/wiki/Alfred_de_Vigny" class="color-link">Lycée Alfred de Vigny</a>.</h3>

                        <br>

                        <h3>Das Konzept</h3>

                        <ol type="A">
                            <li>seit 1969 jährlich stattfindender Schüleraustausch zwischen dem Städt. Gymnasium Wermelskirchen und dem Lycée Alfred de Vigny in Loches, hervorgegangen aus einer Privatinitiative von Vertretern beider Schulen. Die Städtepartnerschaft
                                zwischen Wermelskirchen und Loches ging 1974 aus der Schulpartnerschaft hervor.</li>
                            <li>Dauer: insgesamt 12 Tage</li>
                            <li>Zeitpunkt: eine Woche in den Herbstferien und die darauffolgende Schulwoche</li>
                            <li>Unterbringung der Schüler in französischen Gastfamilien für 10‑12 Tage</li>
                            <li>der Gegenbesuch der französischen Austauschpartner findet meist kurz vor den Osterferien statt</li>
                        </ol>

                        <h3>
                            Die Auswahlkriterien:
                        </h3>

                        <ol type="A">
                            <li>Vergabe der durch die französischen Gastfamilien beschränkten Anzahl an Austauschplätzen an Schüler der Jahrgangsstufen 10 durch ein Verfahren, das die Kriterien Leistung und unterrichtliches Verhalten 1:1 berücksichtigt, bei
                                gleicher Qualifikation entscheidet das Los</li>
                            <li>Voraussetzung ist die Belegung des Fachs Französisch als 2. oder 3. Fremdsprache</li>
                        </ol>

                        <h3>
                            Die Pädagogischen Intentionen:
                        </h3>

                        <ol type="A">
                            <li>Verbesserung der französischen Sprachkenntnisse</li>
                            <li>Kennenlernen des französischen Nachbarlands und seiner Bewohner mit dem Ziel, langfristig Kontakte aufzubauen und aufrechtzuerhalten</li>
                            <li>Persönliche Bereicherung durch das "Erleben" einer französischen Familie und deren französischer Lebensart</li>
                        </ol>

                        <h3>
                            Der Ablauf:
                        </h3>

                        <ol type="A">
                            <li>zweitägiges Besichtigungsprogramm in Paris zu Beginn der Fahrt</li>
                            <li>Besichtigung der Partnerstadt und des mittelalterlichen Schlosses</li>
                            <li>Besuch der etwa 40 km nördlich gelegenen Stadt Tours an der Loire und des Futuroscope in der Nähe von Poitiers</li>
                        </ol>

                        <h3>Zusätzlich:</h3>

                        <ol type="A">
                            <li>
                                In der Jahrgangsstufe 11 besteht im Oktober / November die Möglichkeit eines vierwöchigen Aufenthalts in Loches mit Schulbesuch und Leben in einer französischen Familie. Ziel: Vertiefung der erworbenen Sprachkenntnisse und der Erfahrungen in einem europäischen
                                Nachbarland
                            </li>
                        </ol>
                    </div>

                    <img src="assets/sgw-official/LochesWappenKlein.jpg" alt="" class="border" style="height: min-content;">
                </div>
                <hr width="95%">

                <center>
                    <h2><a href="https://de.wikipedia.org/wiki/Loches" target="_blank" class="color-link">Baud</a></h2>
                    <h4>in der Bretagne, Frankreich</h4>

                    <br>

                    <div>
                        <p>Baud ist eine französische Gemeinde im Département Morbihan in der Region Bretagne. Baud gehört zum Arrondissement Pontivy.</p>

                        <p>
                            Pontivy ist die übergeordnete Gemeinde und Sitz der Kantonsverwaltung. Sie wurde im 7. Jahrhundert gegründet.
                        </p>
                    </div>
                    <br>
                    <img src="assets/sgw-official/Baud.png" alt="" style="height: min-content;">

                </center><br>

                <br>
                <hr width="95%">

                <center>
                    <h2><a href="https://de.wikipedia.org/wiki/Loches" target="_blank" class="color-link">Union</a></h2>
                    <h4>in Boone County, Kentucky/USA</h4>

                </center><br>

                <div class="rw-flex em2-gap">
                    <img src="assets/sgw-official/Kentucky.jpg" alt="" style="height: min-content;">

                    <div>
                        <h3>Unser Austausch mit der Larry A. Ryle High School in Kentucky (USA)</h3>
                        <br>

                        <p>
                            „Zoomen“ wir uns langsam an unsere amerikanische Partnerschule heran und wir entdecken sie in <a href="https://de.wikipedia.org/wiki/Boone_County_(Kentucky)" class="color-link">Boone County</a>, Kentucky, einem Verwaltungsbezirk
                            mit ca. 115.000 Einwohnern, genauer in Union, einem Ort mit ca.3.500 Einwohnern. (Das Boone County ist benannt nach <a href="https://de.wikipedia.org/wiki/Daniel_Boone" class="color-link">Daniel Boone</a>, einem amerikanischen
                            Pionier, der Pate für die literarische Figur des "Lederstrumpfs" von James Fenimore Cooper stand.)
                        </p>

                        <br>

                        <p>
                            Die Larry A. Ryle High School wird von 1.300 Schülerinnen und Schülern der Jahrgangsstufen 9 bis 12 besucht, die von ca. 95 Lehrerinnen und Lehrern unterrichtet werden. Bevor wir allerdings ins Detail gehen, sollte ein kurzer Blick darauf geworfen, wie
                            unsere Partnerschaft zustande kam. Zunächst einmal hatten wir unsere irische Partnerschule aus mangelndem Interesse an Deutsch als Fremdsprache bereits seit mehreren Jahren verloren und waren auf der Suche nach einer englischen
                            Schule. Jedoch ohne Erfolg ! Da kam uns der Zufall zu Hilfe: Einer unserer ehemaligen Schüler, Herr Peter Fricke, der Geschäftsführer von TENTE – International, fragte an, ob wir uns für die Idee einer Partnerschaft mit einer
                            Schule in Kentucky erwärmen könnten. Die Dr. Dietrich Fricke – Stiftung wolle eine solche Partnerschaft ideell und finanziell fördern und unterstützen.
                        </p>

                        <br>

                        <p>
                            Zur Information: Der Firmensitz einer Tochter des Mutterkonzerns TENTE ist in Hebron, Kentucky, angesiedelt, und sehr viele amerikanische Familien mit deutschen Wurzeln haben sich in Kentucky niedergelassen, so dass dort ein außergewöhnlich hohes Maß
                            an Deutschfreundlichkeit vorzufinden ist.
                        </p>

                        <br>

                        <p>
                            Nachdem erste e-mail-Kontakte zwischen dem ehemaligen Schulleiter und mir stattgefunden hatten, wurden live-Kontakte hüben wie drüben arrangiert, und wir kamen überein, dass unsere beiden Schulen ein gutes Austausch – Team werden könnten. Und dies hat
                            sich seit 2006 bewahrheitet.
                        </p>

                        <br>

                        <p>
                            Die amerikanischen Schülerinnen und Schüler besuchen unsere Schule im Frühsommer, und unsere Schülerinnen und Schüler schwärmen in den zweiwöchigen Herbstferien und einer weiteren Woche zu einem Gegenbesuch aus.
                        </p>

                        <br>

                        <p>
                            Teilnehmen können alle Schülerinnen und Schüler, die sich im Austauschjahr in der Jahrgangsstufe 11 Q1 befinden. Sehr gute schulische Leistungen spielen keine entscheidende Rolle, jedoch sind ein sehr gutes Sozialverhalten, Aufgeschlossenheit gegenüber
                            Neuem und Anpassungsfähigkeit an andere Sitten Grundvoraussetzungen für eine Teilnahme.
                        </p>

                        <br>

                        <p>
                            An dieser Stelle gilt es, der Dr. Dietrich Fricke – Stiftung, Herrn Dr. Fricke und Herrn Peter Fricke sehr herzlich für ihr außergewöhnliches Engagement zu danken.
                        </p>

                        <br>

                        <h3>
                            Schule und Unterricht
                        </h3>

                        <br>

                        <p>
                            In die vielfältigen neuen Eindrücke von Land und Leuten sollte auch als wichtiges Element der Unterricht einbezogen werden, den die begleitenden Lehrkräfte und unsere Schülerinnen und Schüler regelmäßig besuchen. Die Unterrichtsorganisation ist völlig
                            unterschiedlich zu unserem System:
                        </p>

                        <br>

                        <p>
                            Die Lehrkräfte haben Stammräume, die die Schüler aufsuchen, so dass während des Wechsels von Unterrichtsstunden Schülermassen zu den Lehrerräumen strömen. Hat ein Schüler erst einmal seine Fächer gewählt, so findet dieser Unterricht an jedem Wochentag
                            und zur gleichen Zeit statt, dass heißt, einmal Mathematik in der ersten Stunde, immer Mathematik in der ersten Stunde.
                        </p>

                        <br>

                        <p>
                            Neben der Teilnahme am Unterricht ihrer Austauschpartner, der um 8 Uhr mit den Morning Announcements und dem Treueschwur auf die amerikanische Flagge beginnt, stehen auch für unsere Schülerinnen und Schüler außerunterrichtliche Veranstaltungen, etwa Arbeitsgemeinschaften,
                            Marching Band und diverse Sportaktivitäten, am Nachmittag auf dem Programm. Der Unterricht endet um 15.30. Alle bei uns angebotenen Fächer können auch an der Larry A. Ryle High School belegt werden, wobei sich der Geschichtsunterricht
                            auf die amerikanische Geschichte bezieht und kein Religionsunterricht wegen der Trennung von Staat und Kirche angeboten wird.
                        </p>

                        <br>

                        <p>
                            Anlässlich des Austausches im Jahr 2008 wurde sogar ein deutsch-amerikanischer Freundschaftschor gegründet, dessen Darbietungen bei den Morning Announcements der Schule in alle Klassenräume übertragen wurde.
                        </p>

                        <br>

                        <p>
                            Wenn das kein gutes Omen für die deutsch – amerikanische Freundschaft im Kleinen ist ! May it grow, flourish and prosper !
                        </p>

                        <br>

                        <h3>
                            Umgebung
                        </h3>

                        <br>

                        <p>
                            <b>Was erwartet unsere Schülerinnen und Schüler in Kentucky ?</b>
                        </p>

                        <br>

                        <p>
                            Kentucky ist ein sehr grüner und hügeliger Staat, ein wenig vergleichbar mit dem Bergischen Land. Beeindruckend sind die unendlichen Weiten der riesigen, mit weißen Zäunen umgebenen Pferdekoppeln, auf denen so viele Vollblüter grasen, dass nicht nur Pferdenarren
                            das Herz höher schlägt.
                        </p>

                        <br>

                        <p>
                            Die Großstadt Cincinnati bietet neben Wolkenkratzern, hervorragenden Theatern, sehr guten Museen und riesigen Baseball – Stadien den träge dahin fließenden Ohio mit seinen Schaufelraddampfern, die an die Südstaatenromantik erinnern. Zu all’ diesen Sehenswürdigkeiten
                            stellen die amerikanischen Gastgeber jeweils diverse Besichtigungsprogramme zusammen. Lohnend ist auch ein sehr informativer Besuch der TENTE – Niederlassung in Hebron mit anschließendem Pizza – Essen.
                        </p>

                        <br>

                        <p>
                            Die Gastfreundschaft der amerikanischen Gastgeber ist unbeschreiblich: Nach wenigen Tagen sind unsere Schülerinnen und Schüler selbstverständlicher Teil der Gastfamilien, und am Tag des Abschieds vergießen Gastkinder und Gasteltern heiße Tränen über den
                            gegenseitigen Verlust. Es ist bemerkenswert, dass sich aus dem Austausch bereits einige Freundschaften entwickelt haben, in die durch wechselseitige Besuche auch Eltern und Geschwister aus beiden Ländern einbezogen worden sind.
                        </p>
                    </div>

                </div>

                <br>
                <hr width="95%">

                <center>
                    <h2><a href="https://de.wikipedia.org/wiki/Loches" target="_blank" class="color-link">Makarska</a></h2>
                    <h4>in Kroatien</h4>
                    <br>
                    <p> Austausch im Jahr 2013, 2014, 2015 und 2016.
                    </p>
                    <img src="assets/sgw-official/slika_za_web_stranicu_skole.png" alt="" style="height: min-content;">
                </center>

                <br>
                <hr width="95%">

                <center>
                    <h2><a href="https://de.wikipedia.org/wiki/Loches" target="_blank" class="color-link">Helsinki</a></h2>
                    <h4>in Finnland</h4>

                </center><br>

                <div class="rw-flex em2-gap">
                    <img src="assets/sgw-official/Fin.png" alt="" style="height: min-content;" width="20%" height="20%" class="border">

                    <div>
                        <h2>Finnland, wir kommen!</h2>

                        <br>

                        <p>
                            Erstmalig führen wir in diesem Schuljahr einen Schüler:innen-Austausch mit der Deutschen Schule in Helsinki durch.
                        </p>

                        <br>

                        <p>
                            22 Schülerinnen und Schüler, die in die 6. Klasse der Deutschen Schule in Helsinki gehen und dort Deutsch als Fremdsprache lernen, kommen im März für eine Woche nach Wermelskirchen, um hier neben der Anwendung der deutschen Sprache auch das Alltagsleben
                            in Deutschland kennenzulernen. Im April brechen dann 22 Schülerinnen und Schüler der Jahrgangsstufen 6 und 7 unserer Schule zum Gegenbesuch nach Helsinki auf.
                        </p>

                        <br>

                        <p>
                            Wir freuen uns über die Möglichkeit, unser Austauschprogramm zu erweitern und jetzt auch jüngeren Schülerinnen und Schülern die Chance zu interkultureller Begegnung zu ermöglichen.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>