<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content">
        <div style="margin-top: 3.5em;" class="card">
            <h1>Schwerpunkte der Fachbereiche</h1>

            <h3 style="align-self: center;margin-top:2em;">
                <ul class="rw-flex" style="gap: 2em;">
                    <li><a class="pk-theme" href="/node/">Sprachlich-literarischer Bereich</a></li>
                    <li><a class="pk-theme" href="/node/">Gesellschaftswissenschaftlicher Bereich</a></li>
                    <li><a class="pk-theme" href="/node/">MINT-Bereich</a></li>
                    <li><a class="pk-theme" href="/node/">Fachbereich Kunst und Schulgestaltung</a></li>
                    <li><a class="pk-theme" href="/node/">Sportlicher Bereich</a></li>
                </ul>
            </h3>
        </div>
    </main>
</body>

</html>