<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content" style="margin-top: 0;">
        <h1 style="font-size: 60px;align-self:center;" class="bc-theme">Kooperationen</h1>

        <div class="card" style="align-items:center;">
            <h2 style="align-self: center;" class="pk-theme">Unsere Schule arbeitet in besonderem Maße mit folgenden Kooperationspartnern zusammen</h2>

            <br>

            <div class="rw-flex center-max-div">
                <img src="assets/sgw-official/TenteRollen.jpg" alt="">

                <div class="rw-flex em2-gap">
                    <h3>Lernpartnerschaft</h3>
                    <h3>finanzielle Unterstützung des Schüleraustauschs durch die Dr. Dietrich Fricke - Stiftung</h3>
                </div>
            </div>

            <br>

            <div class="rw-flex center-max-div">
                <img src="assets/sgw-official/Ortlinghaus-Logo2_cmyk_rot.jpg " alt=" " class="img-small ">

                <h3>
                    <ul class="big-lh rw-flex em2-gap">
                        <li>Lernpartnerschaft</li>
                        <li>Berufsorientierung</li>
                        <li>Schülerexperimentierwerkstatt</li>
                    </ul>
                </h3>
            </div>

            <br>

            <div class="rw-flex center-max-div">
                <img src="assets/sgw-official/SpkInstitut rot.jpg" alt="" class="img-small">

                <h3>
                    <ul class="rw-flex em2-gap big-lh">
                        <li>Lernpartnerschaft</li>
                        <li>Unterstützung des Fördervereins</li>
                        <li>Berufsorientierung</li>
                        <li>"Spaß im Netz, aber sicher" (Veranstaltung zum Urheberrecht für alle Klassen 7 in Kooperation mit der Verbraucherzentrale Bergisch Gladbach)</li>
                    </ul>
                </h3>

            </div>

            <br>

            <div class="rw-flex center-max-div">
                <img src="assets/sgw-official/Stadtbuecherei.jpg" alt="">

                <h3>
                    <ul class="rw-flex em2-gap big-lh">
                        <li>Kooperation seit 2006</li>
                        <li>Leseförderung; Facharbeit</li>
                    </ul>
                </h3>
            </div>

            <br>

            <div class="rw-flex center-max-div">
                <img src="assets/sgw-official/544_1.png" alt="" class="img-small">

                <h3>

                    <ul class="rw-flex em2-gap big-lh">
                        <li>Handball AG für die Klassen 5+6, Leitung durch qualifizierte Fachtrainer</li>
                        <li>Sichtung und Mitbetreuung der Handballschulmannschaften</li>
                        <li>kostenloses Schnuppertraining beim TuS Wermelskirchen</li>
                    </ul>
                </h3>
            </div>

            <br>

            <div class="rw-flex center-max-div">
                <img src="assets/sgw-official/544_2.png" alt="" class="img-small">

                <h3>
                    <ul class="rw-flex em2-gap big-lh">
                        <li>Judo AG für die Klassen 5-9, Leitung durch qualifizierte Fachtrainer</li>
                        <li>Sichtung und Betreuung der Judo Schulmannschaften</li>
                        <li>kostenloses Schnuppertraining beim JCWK</li>
                    </ul>
                </h3>
            </div>

            <br>

            <div class="rw-flex center-max-div">
                <img src="assets/sgw-official/544_3.png" alt="" class="img-small">

                <h3>
                    <ul class="rw-flex em2-gap big-lh">
                        <li>Leichtathletik Trainingsgruppe für die Sport-Leistungskurse des Gymnasiums</li>
                        <li>Vorbereitung der Schülerinnen und Schüler auf die praktische Prüfung des Zentralabiturs</li>
                        <li>Trainingspraktische Betreuung der Schülerinnen und Schüler der Leistungskurse</li>
                    </ul>
                </h3>
            </div>

            <br>

            <div class="clm-flex center-max-div">
                <img src="assets/sgw-official/BannerJC_600x160_3.jpg" alt="">
            </div>

        </div>
    </main>
</body>

</html>