<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
    <link rel="stylesheet" href="style/style.css">
    <script src="https://kit.fontawesome.com/8f7afdedcd.js" crossorigin="anonymous"></script>

    <script defer src="js/dom_elements.js"></script>
    <script defer src="js/main.js"></script>
</head>

<body>
    <main class="main-content">
        <h1 class="bc-theme" style="font-size: 60px;">Pausenregelungen</h1>

        <div class="card">
            <h2>Kurzpausen</h2>
            <p>Als Kurzpausen bezeichnen wir die fünfminütige Pause innerhalb einer 90minütigen Unterrichtseinheit. Diese Pause wird von der Lehrkraft flexibel innerhalb der Unterrichtseinheit gelegt. Hier bleiben Schülerinnen und Schüler außer für Toilettengänge
                im Unterrichtsraum.</p>

            <h2>Hofpausen</h2>
            <p>Hofpausen finden von 09:20 - 09:40 Uhr und von 11:15 - 11:35 Uhr statt. Schülerinnen und Schüler der Sekundarstufe I verlassen das Gebäude und verbringen die Pause auf dem Schulhof (Regenpausen ausgenommen). Schülerinnen und Schüler der Sekundarstufe
                II dürfen sich im Gebäude im Bereich des PZ und der Bühne aufhalten.</p>

            <h2>Wechselpausen</h2>
            <p>Wechselpausen sind alle fünf- oder zehnminütigen Pausen zwischen einzelnen Unterrichtseinheiten. Sie dienen zum Raum- bzw. Gebäudewechsel. Schülerinnen und Schüler suchen selbstständig den nächsten Unterrichtsraum auf. Schülerinnen und Schüler,
                die in dieser Zeit keinen Raumwechsel vornehmen müssen, bleiben außer für Toilettengänge im Unterrichtsraum.</p>

            <p>Für die Sekundarstufe II findet in der Regel in der 7. Stunde in der Zeit von 13:15 - 14:15 Uhr eine einstündige Mittagspause statt.</p>

        </div>
    </main>
</body>

</html>