<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content">
        <br><br><br><br><br>

        <h1>Patenkinder unserer Schule</h1>

        <br>

        <div>
            <h3>
                Sammlung f端r Patenkinder (Kindernothilfe) Seit vielen Jahren begleitet unsere Schulgemeinschaft Patenkinder, vermittelt durch die Kindernothilfe - <a href="https:/www.kindernothilfe.de" target="_blank" class="color-link">www.kindernothilfe.de</a>. Eine ausf端hrliche Darstellung 端ber unsere Sammlung und die aktuellen Patenkinder finden Sie <a target="_blank" class="bc-theme" href="assets/sgw-official/Patenkinder_2023.pdf">hier</a>. <br> <br> Ansprechpartnerin f端r die Patenkinder
                unserer Schule ist Frau Schmid.
            </h3>
        </div>

        <br> <br><br><br> <br><br>
    </main>
</body>

</html>