<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <div class="main-content" style="margin-top: 0 !important;">
        <h1>Anmeldung</h1>
        <h4>Bitte kommen Sie zu den Anmeldegesprächen in das Nebengebäude des Gymnasiums (Schillerstr.) und folgen den Hinweisschildern.</h4>

        <div class="grid-container main-box-grid">
            <a class="no-color-on-hover" href="/node/2250">
                <div class="box">
                    <h1 class="fa-solid fa-person" style="font-size: 80px;"></h1>

                    <h1 style="font-size:35px;">Klasse 5</h1>
                    <span>Anmeldung für die kommende Klasse 5</span>
                </div>
            </a>

            <a class="no-color-on-hover" href="/node/2580">
                <div class="box">
                    <h1 class="fa-solid fa-person" style="font-size: 80px;"></h1>

                    <h1 style="font-size:35px;">Klasse 6</h1>
                    <span>Anmeldung unterjährig für Klasse 6</span>
                </div>
            </a>

            <a class="no-color-on-hover" href="/node/2443">
                <div class="box">
                    <h1 class="fa-brands fa-google-scholar" style="font-size: 80px;"></h1>
                    <h1 style="font-size:35px;">Klasse 7-10</h1>
                    <span>
                        Anmeldung unterjährig für Klassen 7 - 10
                    </span>
                </div>
            </a>

            <a class="no-color-on-hover" href="/node/2616">
                <div class="box">
                    <h1 class="fa-solid fa-graduation-cap" style="font-size: 80px;"></h1>
                    <h1 style="font-size:35px;">Oberstufe</h1>
                    <span>
                        Anmeldung für die kommende Einführungsphase Oberstufe
                    </span>
                </div>
            </a>
        </div>

    </div>
</body>

<script>
    let mainBoxGridForAnmaeldung = document.querySelector(".main-box-grid");

    // When page is loaded the main boxes get a fade in animation
    function MainBoxesAnimation() {
        for (const [i, val] of[...mainBoxGridForAnmaeldung.children].entries()) {
            let boxes = val.children[0];

            setTimeout(() => {
                boxes.style.opacity = "1";
            }, 100);
        };
    };
    MainBoxesAnimation();
</script>

</html>