<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content">
        <h1>Hilfe im Schulumfeld</h1>

        <div class="card">
            <h3>
                <ul class="rw-flex em2-gap">
                    <li>
                        <a class="pk-theme" href="#0">Beratungsstelle für Eltern, Kinder, Jugendliche und junge Erwachsene in der Jahnstr. 20</a>
                    </li>
                    <li>
                        <a class="pk-theme" href="#1">Frau Wichelmann vom Schulpsychologischen Dienst Bergisch Gladbach</a>
                    </li>
                    <li>
                        <a class="pk-theme" href="#2">Suchtberatung und Sexualpädagogik</a>
                    </li>
                    <li>
                        <a class="pk-theme" href="#3">Die Polizei - in der Stadt und im Kreis</a>
                    </li>
                    <li>
                        <a class="pk-theme" href="#4">Frau Sieglar - Schulsozialarbeiterin und BUT-Beauftragte</a>
                    </li>
                    <li>
                        <a class="pk-theme" href="#5">Klinik für Kinder- und Jugendpsychiatrie Köln-Holweide</a>
                    </li>
                </ul>
            </h3>

            <hr width="100%">
            <br>

            <div class="center-max-div" style="align-items: start;text-align:left;">
                <div>
                    <a name="0"></a>

                    <h2>Beratungsstelle für Eltern, Kinder, Jugendliche und junge Erwachsene in der Jahnstr. 20</h2>

                    <br>
                    <h3>
                        Das Team der Beratungsstelle in Wermelskirchen steht Schülerinnen und Schülern sowie Eltern gleichermaßen in sämtlichen Lebensfragen mit Rat und Tat zur Seite:
                    </h3>
                    <br>
                    <strong>
                        Tel.: (02196) 1022 <br>
                        Fax: (02196) 1023
                    </strong>
                    <br>
                    <h3>E-Mail: eb(at)wermelskirchen.de</h3>
                    <br>
                    <strong>
                        <h3>
                            Jahnstr. 20 <br>
                            42929 Wermelskirchen
                        </h3>
                    </strong>
                    <br>
                    <img src="assets/sgw-official/Beratungsstelle.jpg" alt="" width="45%">
                    <br>
                    <h3>
                        Die Beratungsstelle führt auch psychologische Tests durch und diskutiert mit den Teilnehmern die Ergebnisse. Auf Wunsch werden weitere Anlaufstellen vermittelt.
                    </h3>
                    <br>
                    <p>Zur Homepage geht es <a target="_blank" class="color-link" href="https://www.stadt-wk.de">hier</a></p>
                </div>

                <hr width="100%">
                <br>

                <div>
                    <a name="1"></a>

                    <h2>Frau Wichelmann vom Schulpsychologischen Dienst Bergisch Gladbach</h2>

                    <br>

                    <h3>
                        Über diesen <a target="_blank" href="https://www.rbk-direkt.de/schulpsychologischer-dienst.aspx" class="color-link">Link</a> gelangen Sie und gelangt ihr zum Schulpsychologischen Dienst in Bergisch Gladbach, der auch für Wermelskirchen
                        zuständig ist.
                    </h3>
                    <br>
                    <h3>
                        Wermelskirchen wird von Frau Eva Wichelmann betreut:
                    </h3>
                    <br>
                    <h3>
                        <strong>Eva Wichelmann </strong>(Psychologin, M. Sc.)
                    </h3>
                    <br>
                    <table class="contact-table revert-table">
                        <tr>
                            <td><strong>Schulpsychologischer Dienst</strong></td>
                            <td><strong>donnerstags nach Vereinbarung</strong></td>
                        </tr>
                        <tr>
                            <td>
                                Hauptstr. 71 <br> 51465 Bergisch Gladbach <br> Tel.: 0 22 02 13-90 11 <br> Fax: 0 22 02 13-10 40 18 <br>
                            </td>
                            <td>
                                Wirtsmühler Str. 12 <br> 42929 Wermelskirchen <br> Tel.: 0 22 02 13-90 11 <br>
                            </td>
                        </tr>
                    </table>

                </div>

                <hr width="100%">
                <br>

                <div>
                    <a name="2"></a>
                    <h2>Suchtberatung und Sexualpädagogik</h2>

                    <br>

                    <h3>
                        Unser Gymnasium arbeitet eng mit der Suchtberatungsstelle der Diakonie des Evangelischen Kirchenkreises Lennep zusammen. Sie können bzw. du kannst über
                    </h3>

                    <br>

                    <h3>
                        Frau Ridder oder Herrn Sohmen
                    </h3>

                    <br>

                    <h3>
                        eine Kontaktvermittlung zur Suchtberatungsstelle erhalten oder einfach selbst hingehen:
                    </h3>

                    <br>

                    <h3>
                        Ansprechpartner ist Herr
                    </h3>

                    <br>

                    <h3>
                        <strong class="pk-theme">Jürgen Salewski</strong> <br> Markt 7 <br> 42929 Wermelskirchen <br> Tel.: 02196 / 93431 <br>
                    </h3>

                    <br>

                    <h3>
                        Im selben Haus finden Sie und findest du auch Frau
                    </h3>

                    <br>

                    <h3>
                        <strong class="pk-theme">Sabine Henke</strong>, <br> die auf Fragen zur Gesundheit, Sexualität und AIDS-Prävention professionelle Antworten geben kann.
                    </h3>
                </div>

                <hr width="100%">
                <br>

                <div>
                    <a name="3"></a>
                    <h2>Die Polizei - in der Stadt und im Kreis</h2>
                    <br>

                    <h3>Der für unsere Schule zuständige Bezirks-Wachtmeister ist Herr</h3>

                    <h3>
                        Polizeikommissar Heiko Mann <br> Sprechzeiten nach Vereinbarung <br> Regionalkommissariat Wermelskirchen <br> Telegrafenstraße 35 <br> 42929 Wermelskirchen <br>
                    </h3>

                    <br>

                    <h3>
                        Tel.: 02196 / 7 06 98 64
                    </h3>

                    <br>

                    <h3>
                        Außerhalb der Dienstzeiten (Mo - Do 07:00 Uhr - 15:00 Uhr, Fr 07:00 Uhr - 13.30 Uhr) ist auch die folgende Polizeiwache zuständig:
                    </h3>

                    <br>

                    <h3>
                        Polizeiwache Burscheid <br> Großbrucher Straße 7 <br> 51399 Burscheid <br> 02174/6481-0 <br>
                        <br> Notruf: 110 <br>
                    </h3>

                    <hr width="100%">

                    <h3>
                        In Bergisch Gladbach arbeitet unsere Hauptansprechpartnerin für Fragen der Vorbeugung und des Opferschutzes, Frau
                    </h3>

                    <br>

                    <h3 style="line-height: 1.5em;">
                        <strong>                        Kriminalkommissarin Susanne Krämer <br>
                            (Opferschutz, Verhaltensprävention)</strong> <br> Termine nach Vereinbarung
                    </h3>

                    <br>

                    <h3>
                        Kreispolizeibehörde <br> Kommissariat Vorbeugung Opferschutz <br> An der Gohrsmühle 25 <br> 51465 Bergisch Gladbach <br>
                    </h3>

                    <br>

                    <h3>Tel.: 02202/205-433 oder 205-0</h3>
                    <h3>Email: <a target="_blank" href="mailto:vorbeugung.rheinisch-bergischer-kreis@polizei.nrw.de" class="bc-theme">vorbeugung.rheinisch-bergischer-kreis@polizei.nrw.de</a></h3>
                </div>

                <hr width="100%">
                <br>

                <div>
                    <a name="4"></a>
                    <h2>Frau Sieglar - Schulsozialarbeiterin und BUT-Beauftragte</h2>
                    <br>
                    <h3>
                        Frau Simona Sieglar ist die Bildungs- und Teilhabeberaterin in Wermelskirchen. Als Schulsozialarbeiterin ist sie mit der Umsetzung des Bildungs- und Teilhabepaketes (BUT), einem Programm des Landes NRW, beauftragt.
                    </h3>
                    <br>

                    <h3>
                        <ul class="big-lh inner-list">
                            <li>Kontaktaufnahme über unser Gymnasium (Schulleitung, Sekretariat, Herr Sohmen)</li>
                            <li>Unterstützung von Kindern und Jugendlichen im Einvernehmen mit den Erziehungsberechtigten</li>
                            <li>Informationsvermittlung und Beratung zum BUT</li>
                            <li>Hilfestellung bei der Antragstellung sowie Folgeanträgen</li>
                            <li>Kontaktpflege zu Partnern wie Vereinen u.a. örtlichen Maßnahmeveranstaltern</li>
                        </ul>
                    </h3>

                    <br>

                    <p>Zusätzliche Hinweise und Kontaktdaten erhaltet ihr und erhalten Sie in diesem <a target="_blank" class="bc-theme" href="assets/sgw-official/Flyer_Bildung_und_Teilhabe_Wermelskirchen_Juni_2017.pdf">Flyer</a>.</p>
                </div>

                <hr width="100%">
                <br>

                <div>
                    <a name="5"></a>
                    <h2>Klinik für Kinder- und Jugendpsychiatrie Köln-Holweide</h2>

                    <br>

                    <img src="assets/sgw-official/Holweide (400x91).jpg" alt="">

                    <h3>Sollte es einmal zu einer hochgradig akuten psychischen Krise bei einem Kind oder einem/r Jugendlichen kommen, kann man sich direkt an ein Krankenhaus, an eine/n niedergelassene/n Psychiater/In oder an die Klinik Holweide wenden.</h3>

                    <br>

                    <h3>
                        Klinik für Kinder- und Jugendpsychiatrie und Psychotherapie <br> Florentine-Eichler-Str. 1 <br> 51067 Köln-Holweide
                    </h3>

                    <br>

                    <h3>
                        E-Mail: ChefsekretariatKJPP(at)kliniken-koeln.de
                    </h3>

                    <br>

                    <h3>
                        Notfall: <br> Dienstarzt über Pforte <br> Tel.: 0221-8907-0
                    </h3>

                    <br>

                    <h3>
                        <a href="https://www.kliniken-koeln.de/KJPP_Startseite.htm?ActiveID=1631" target="_blank" class="color-link">Hier</a> gelangt man zur Homepage der Klinik.
                    </h3>

                    <br>

                    <h3>
                        Bei Gefahr für Leib und Leben oder Fremdgefährdung <br> bitte sofort 112 anrufen !
                    </h3>
                </div>
            </div>
        </div>
    </main>
</body>

</html>