<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content">
        <h1>Gestaltung der einzelnen Schulstufen</h1>


        <h2 style="margin-top: 2em;">
            <ul class="rw-flex" style="gap: 2em;">
                <li><a href="/node/2158">Erprobungsstufe (5-6)</a></li>
                <li><a href="/node/2160">Mittelstufe (Jahrgangsstufen 7-10)</a></li>
                <li><a href="/node/2161">Sekundarstufe II (EF - QII)</a></li>
            </ul>
        </h2>
    </main>
</body>

</html>