<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content" style="margin-top: 0;">
        <h1 style="font-size: 60px;align-self:center;" class="bc-theme">Unsere Schule</h1>

        <div class="card" style="text-align: start;">
            <h2>Historischer Hintergrund</h2>
            <p>1867 erteilte die Königliche Regierung Düsseldorf die Genehmigung, die seit 1859 bestehende „Private Höhere Rektoratschule“ als höhere Gemeindeschule von Wermelskirchen weiterzuführen. Dieser Beschluss gilt als Gründungsdatum unseres städtischen
                Gymnasiums, das sich allmählich aus der öffentlichen Rektoratschule entwickelt hat. Somit feiern wir 2018 das 150jährige Bestehen unserer Schule. Die Entwicklung der Schule ist eng mit der der Stadt Wermelskirchen verbunden.</p>

            <h2>Schülerentwicklung</h2>
            <p>Seit Gründung der Schule ist ein ständiger Aufwärtstrend in Bezug auf Schülerzahlen zu verzeichnen, dem Rat und Verwaltung in der Vergangenheit mit der Genehmigung zahlreicher An-, Um- und Neubauten begegneten. Zurzeit besuchen etwa 937 Schülerinnen
                und Schüler unsere Schule.</p>

            <h2>Vielfältige Angebote</h2>
            <p>Da unser Gymnasium das einzige am Ort ist und unsere Schülerschaft nicht nur aus den umliegenden kleineren Ortschaften Wermelskirchens stammt, sondern auch aus größeren Nachbargemeinden, kann sein Fortbestand langfristig als gesichert gelten.
                Daraus folgend entwickeln wir kein Schulprofil, welches auf Spezialisierung zielt, sondern möchten für die Schülerinnen und Schüler vielfältige besondere Angebote bereit halten, da sie am Ort nicht unter verschieden schulischen Profilen
                an unterschiedlichen Gymnasien wählen können. Wir möchten unserer Aufgabe in dieser Stadt gerecht werden, möglichst vielen und damit vielseitig begabten Schülerinnen und Schülern eine möglichst umfassende Bildung und Erziehung in allen
                Fachbereichen zuteilwerden zu lassen. Dies gilt seit 2017 besonders auch für die Unterstützung und Förderung der neu zugewanderten Kinder und Jugendlichen. Hier arbeiten wir an der Entwicklung und Verbesserung von Konzepten, um diesen
                Schülerinnen und Schülern den deutschen Sprachraum, die Kultur und Geschichte näher zu bringen und sie in die Klassen zu integrieren.</p>

            <h2>Kooperationen</h2>
            <p>Unsere Schule öffnet sich im Unterricht und in zahlreichen Projekten nach außen. Wir kooperieren mit etlichen Partnern aus Wirtschaft, Kultur, Sport und Gesundheit.</p>

            <h2>Schulleben</h2>
            <p>Wichtiger Bestandteil heutigen Schullebens sind die Gestaltung der Pausenzeiten, insbesondere am Mittag zwischen Vormittags- und Nachmittagsunterricht, und die Betreuung von Kindern und Jugendlichen am Nachmittag. Hierzu haben wir Konzepte
                entwickelt, die wir mit professioneller Unterstützung umsetzen können.</p>

            <h2>Schulprogramm</h2>
            <p>Das Schulprogramm wird ständig den aktuellen Anforderungen an Schule angepasst. Es soll jeweils einen Überblick über das geben, was wir erreicht haben, und das, was wir uns für die Zukunft vornehmen werden.</p>

            <h2>Ausblick</h2>
            <p>Wir freuen uns auf den Dialog mit allen, die sich unserem Gymnasium verbunden fühlen und es mit uns gemeinsam weiterentwickeln wollen.</p>
        </div>
    </main>
</body>

</html>