<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th,
    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>

<body>
    <main class="main-content">
        <h1>Mathematik</h1>

        <div class="center-max-div rw-flex em2-gap MaxWidth" style="align-items: start;">
            <img src="assets/sgw-official/Mathe_0.png" alt="" width="40%">

            <table>
                <tr>
                    <th style="text-align: center;" colspan="2">Kolleginnen und Kollegen im Fach Pädagogik</th>
                </tr>
                <tr>
                    <td>Caroline Brüggemann</td>
                    <td>Marco Berscheidt</td>
                </tr>
                <tr>
                    <td>Daphne Frenzel</td>
                    <td>Jakub Gaicki</td>
                </tr>
                <tr>
                    <td>Ramona Gläser</td>
                    <td>Heiner Kalenberg</td>
                </tr>
                <tr>
                    <td>Raphael Kemna</td>
                    <td>Manuel Metzner</td>
                </tr>
                <tr>
                    <td>Dr. Philipp Naumann</td>
                    <td>Marvin Nölle</td>
                </tr>
                <tr>
                    <td>Elvira Persian</td>
                    <td>Marc Rodermund</td>
                </tr>
                <tr>
                    <td>Stephanie Richter</td>
                    <td>Charlotta Schreiber</td>
                </tr>
                <tr>
                    <td>Christiane Schnepper</td>
                    <td>Elena Sparwasser</td>
                </tr>
                <tr>
                    <td>Valea Stumpf</td>
                    <td></td>
                </tr>
            </table>

        </div>

        <div style="text-align: left;" class="MaxWidth">
            <div>
                <br>
                <a name="#1"></a>
                <h2 class="second-class-title">Mathematik-Wettbewerbe</h2>
                <br>
                <hr align="center" width="95%">

                <h2>Känguru-Wettbewerb</h2>
                <br>

                <p>2014 nahmen 197 Schülerinnen und Schüler am Mathematik Wettbewerb Känguru teil. Die Teilnahme der gesamten JS 5 wurde durch den Schulverein finanziert.</p>
                <br>
                <div class="rw-flex em2-gap">
                    <img src="assets/sgw-official/546.png" class="border" alt="">
                    <p>
                        Dabei nahmen Shirin Abu-Aishah (6d), Dominik Sewina (5e) und Max Müßener (5e) einen 1.Preis in Empfang. <br><br> Einen 2. Preis erhielten Constantin Wiegand (8b), Moritz Schreiter (5e), Chiara Marie Schröder (5e) und Cornelius
                        Göritz (5c). <br><br> Ein 3.Preis wurde an Joscha Klimpel (8b), Patric Mücher (11Q1), Florian Gaschler (5d), Helen Charlotte Schopphoff (5a) und Wiebke Jaeger (5a) vergeben.
                    </p>
                </div>
                <br>

                <h3>Die Aufgaben und Lösungen des diesjährigen Wettbewerbs sind zu finden unter:</h3>
                <br>
                <a href="http://www.mathe-kaenguru.de/chronik/aufgaben/index.html" class="color-link">http://www.mathe-kaenguru.de/chronik/aufgaben/index.html </a><br>
                <a href="http://www.mathe-kaenguru.de/wettbewerb/loesung/index.html" class="color-link">http://www.mathe-kaenguru.de/wettbewerb/loesung/index.html</a>
                <br><br>
                <hr align="center" width="95%">

                <h2><a target="_blank" href="https://www.mathematik-olympiaden.de/">Mathematik-Olympiade</a></h2>
                <br>

                <div class="rw-flex em2-gap">
                    <img src="assets/sgw-official/MatheOlympiade.jpg" alt="" class="border" width="10%" height="10%">
                    <p>
                        Ein Wettbewerb für Schülerinnen und Schüler der Klassenstufen 3/4 und 5 bis 13 unter der Schirmherrschaft des Bundespräsidenten
                    </p>
                </div>

                <br>
                <hr align="center" width="95%">
                <h2>macht mathe</h2>
                <p>Internationale Mathematikwettbewerbe</p>
                <br>

                <p>
                    Alympiade und B-Tag sind jährliche Mathematikwettbewerbe für Schülerinnen und Schüler der Jahrgangsstufen 10 bis 13 an Schulen in Nordrhein-Westfalen mit offenen und originellen Aufgaben. In den Niederlanden sind sie höchst populär und gelten als unverzichtbare
                    Bereicherung für den Mathematikunterricht der Oberstufe. Sie werden vom Utrechter Freudenthal-Institut ausgerichtet und sollen Problemlösen, kritische Bewertung mathematischer Modelle, Modellieren, Argumentieren und Teamarbeit motivieren.
                </p>
                <br>

                <p>Weitere Informationen unter <a href="www.machtmathe.de" class="color-link">www.machtmathe.de</a></p>
            </div>

            <div>
                <br>
                <a name="#2"></a>
                <h2 class="second-class-title">Ein paar Mathematische Dinge</h2>

                <div>
                    <br>
                    <hr align="center" width="95%">
                    <h2>Integralrechnung</h2>
                    <br>
                    <p>Einführung in die Integralrechnung am Beispiel eines anfahrenden U-Bahnzugs. Zum Verständnis der GeoGebra-Datei muss Schritt III des Scripts bearbeitet werden.</p>
                    <br>

                    <div class="rw-flex em2-gap">
                        <a target="_blank" href="https://www.geogebra.org/m/zY92zVQr" class="color-link">Skript</a>
                        <a target="_blank" href="https://www.geogebra.org/m/zY92zVQr" class="color-link">GeoGebra-Datei im Browser</a>
                        <a href="U-Bahn-Anfahrt-perfekt.ggb" download="U-Bahn-Anfahrt-perfekt.ggb" class="color-link">GeoGebra-Datei Download</a>
                    </div>

                </div>

                <div>
                    <br>
                    <hr align="center" width="95%">
                    <h2>Funktionen in der Mittelstufe</h2>
                    <br>

                    <ul class="big-lh">
                        <li>Lineare Funktion (Gerade)</li>
                        <li>Parabelfunktion</li>
                        <li>Exponentialfunktion</li>
                    </ul>

                </div>

                <div>
                    <br>
                    <hr align="center" width="95%">
                    <h2>Volumen</h2>
                    <br>

                    <ul class="big-lh">
                        <li>Wie tief taucht ein Holzkegel in Wasser ein? <a href="assets/sgw-official/Eintauchtiefe-Kegel.pdf" class="color-link">Anschauen/Download</a></li>
                        <li>Kenntnisse rund um Volumenberechnungen. <a class="color-link" href="assets/sgw-official/Checkliste-Volumen.pdf">Anschauen/Download</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </main>
</body>

</html>