<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content">
        <h1>Beratung und pädagogische Betreuung</h1>

        <br>
        <h3>
            <ul style="gap: 2em;" class="rw-flex">
                <li><a class="pk-theme" href="#1">Das Beratungsteam</a></li>
                <li><a class="pk-theme" href="#2">Gewaltprävention und Krisenintervention</a></li>
                <li><a class="pk-theme" href="#3">Lerncoaching</a></li>
            </ul>
        </h3>

        <br>
        <hr align="center" width="95%">
        <a name="1"></a>
        <h2 class="second-class-title">Das Beratungsteam</h2>
        <br>

        <section>
            <img src="assets/sgw-official/Beratungsteam.jpg" width="75%" height="75%">
            <br><br>

            <p class="bold">Wir beraten:</p>
            <p>Schülerinnen & Schüler, Eltern, Lehrerinnen & Lehrer, die Schulleitung</p>

            <br>

            <p class="bold">Wir helfen bei:</p>
            <p>Problemen im (Schul-)Alltag, z.B.</p>

            <ol type="A">
                <li>Lern- und Konzentrationsschwierigkeiten, Demotivation, Schulangst,</li>
                <li>Disziplinproblemen, (Cyber-)Mobbing, Beziehungsproblemen,</li>
                <li>Lebenskrisen, Depressionen, SVV, Schwierigkeiten in der Familie,</li>
                <li>Gewalterfahrungen, Gesundheitsfragen, Fragen zur sexuellen Orientierung</li>
                <li>sowie bei der Kontaktsuche zu Fachberatungsstellen u.v.m.</li>
            </ol>
            <br>

            <p class="bold">Wir garantieren:</p>

            <ol type="A">
                <li>Verschwiegenheit, Freiwilligkeit,</li>
                <li>Zeit & Ruhe, Hilfe zur Selbsthilfe</li>
            </ol>
            <br>

            <p class="bold">Wir sind zu erreichen:</p>

            <ol type="A">
                <li>über die Klassenlehrer*innen und Jahrgangsstufenleiter*innen</li>
                <li>über das Sekretariat und die Stufenkoordinator*innen</li>
                <li>über eine Notiz-Abgabe in unsere Fächer (Lehrerzimmer / Sekretariat)</li>
                <li>durch persönliches Ansprechen</li>
                <li>über eine Email an: <a class="color-link" href="mailto:beratungsteam@sgw-schule.de">beratungsteam@sgw-schule.de</a></li>
            </ol>
            <br>

            <h2>
                Beratungsarbeit im Detail und Kontakt
            </h2>
            <br>

            <p>
                Allen Ratsuchenden stehen jeweils zwei Kolleginnen, Beate Draber und Sandra Meurer, bzw. zwei Kollegen, Lars Klein und Andree Sohmen, zur Verfügung.
            </p>
            <br>

            <p>
                Über Grundsätze, Ziele und Methoden der speziellen Beratung an unserem Gymnasium könnt ihr euch und können Sie sich
                <a target="_blank" href="assets/sgw-official/Beratung am Städtischen Gymnasium Wermelskirchen Juli_2023.pdf" class="color-link">hier</a> informieren.
            </p>
            <br>

            <p>
                Um per Email Kontakt zu einem Mitglied des Beratungsteams aufzunehmen, kann die folgende Adresse verwendet werden:
            </p>
            <br>
            <a class="color-link" href="mailto:beratungsteam@sgw-schule.de">beratungsteam@sgw-schule.de</a>

            <br><br>

            <p>
                <big>Diese Emailadresse ist auch und gerade für dich als Schülerin oder Schüler gedacht</big>. Wenn du gerne mal mit jemandem von uns vielleicht nur schriftlich und nicht direkt in einem persönlichen Gespräch "reden" möchtest, dann schreib'
                uns, ggf. mit dem Namen der Beratungslehrerin oder des Beratungslehrers deiner Wahl.
            </p>
        </section>

        <br>
        <hr align="center" width="95%">
        <a name="2"></a>
        <h2 class="second-class-title">Gewaltprävention und Krisenintervention</h2>
        <br>

        <section>
            <img src="assets/sgw-official/AK Krise und Gewalt Überbau Homepage_0.jpg">

            <br>

            <h2>
                AK Mediation
            </h2>

            <h5>
                AK Mediation (Streitschlichtung), Leitung: Herr Damm
            </h5>
            <br>

            <p>
                Dieser AK setzt ein seit Jahren bewährtes und gut strukturiertes System zur Bewältigung von Konflikten unter Schülerinnen und Schülern um:
            </p>

            <ol type="A" class="big-lh">
                <li>Mediatoren aus der Mittel- und Oberstufe arbeiten im Haupteinsatzgebiet „Unter- und Mittelstufe“</li>
                <li>ein zusätzlicher Bestandteil der Arbeit des AK ist die Gestaltung eines Spiele-Nachmittags und Antigewalt-Tages mit dem Fachbereich Sport in der Unterstufe</li>
                <li>ZIELE: Schüler_innen managen Schüler_innen ; Ausbildung von Klassenmediatoren ; Förderung sozialen Engagements durchgehend von der Erprobungsstufe bis zur QII</li>
            </ol>

            <br>

            <h3>Nachwuchs gesucht!
            </h3>
            <br>

            <p>
                Ihr wollt lernen, wie man Streit lösen kann? Wie man mit Gewalt umgeht? Und wie man effektiv gegen Mobbing vorgeht? Hier, im AK-Mediation zeigen wir euch, wie man einen Streit so löst, dass alle Beteiligten zufrieden sind und nachhaltig kein neuer Streit
                entsteht. Wir lernen das anhand von eigenen Rollenspielen, Diskussionen und weiteren interessanten Aktionen. Wir lernen aber nicht nur, wie man mit Streit umgeht, sondern schlichten auch echte Fälle, verhelfen Klassen zu einem besseren
                Klima und übernehmen Sportstunden und zeigen so Schülern, wie man mit Gewalt am besten umgehen kann.
            </p>
            <br><br>

            <h3>Mehr Informationen</h3>

            <img src="assets/sgw-official/AK_mediation.png">
        </section>

        <br>
        <hr align="center" width="95%">
        <a name="3"></a>
        <h2 class="second-class-title">Lerncoaching</h2>

        <section>
            <ol type="A">
                <li>„Ich würde ja gerne bessere Noten schreiben, aber es klappt einfach nicht.“</li>
                <li>„Ich bin immer so schnell abgelenkt.“</li>
                <li>„Ich schaffe es einfach nicht mich selber zu organisieren.“</li>
                <li>„Ich kann mich einfach nicht zum Lernen motivieren.“</li>
                <li>„Ich arbeite im Unterricht zu wenig mit.“</li>
            </ol>
            <br>

            <p class="bold">Kennst du das?</p>

            <br>

            <p>Lerncoaching ist genau das richtige für dich.</p>

            <br>

            <p class="bold">Was ist Lerncoaching?</p>

            <br>

            <p>
                Lerncoaching soll dich in deinem Lernprozess unterstützen, ist also keine Nachhilfe in einem bestimmten Fach. Von einem konkreten Anliegen ausgehend entwickelt der Lerncoach gemeinsam mit dir eine Strategie, die dir hilft, mit deinen Fähigkeiten und Stärken
                deine schulischen Ziele zu erreichen.
            </p>

            <br>

            <p class="bold">
                Wie funktioniert Lerncoaching?
            </p>

            <br>

            <p>
                Ein Team von aktuell sechs Lerncoaches wurde dazu ausgebildet, Schülerinnen und Schüler in Lern- und Motivationskrisen zu helfen, diese zu überwinden. Dazu analysieren wir gemeinsam die Situation, in der du dich als Coachee gerade befindest. So finden
                wir die eigentliche Schwierigkeit heraus und entwickeln aufbauend auf dem, was du gut kannst, einen Plan, um diese Schwierigkeit zu bewältigen.
            </p>

            <br>

            <p>
                Diesen Plan dann in kleinen Schritten umzusetzen, ist deine Aufgabe. Zwischen zwei Lerncoaching-Sitzungen vergehen zwei Wochen, in denen du Zeit hast, die gemeinsam formulierten Ziele zu erreichen. Im Anschluss wird dann geschaut, ob du deine Ziele erreicht
                hast oder nicht und wenn nicht, wieso. Manchmal hat man nämlich einfach nicht das richtige Ziel.
            </p>

            <br>

            <p class="bold">
                Wer kann gecoacht werden?
            </p>

            <br>

            <p>
                Lerncoaching kann ab der siebten Klasse in Anspruch genommen werden und richtet sich somit an alle Schüler*innen der Mittel- und Oberstufe. Die Teilnahme ist freiwillig. Lediglich die Informationsveranstaltung zu Halbjahresbeginn ist verpflichtend für
                diejenigen, die eine Einladung dazu erhalten.
            </p>

            <br>

            <p class="bold">
                Interesse? Dann melde dich entweder per Mail bei
            </p>

            <br>

            <p>
                <a href="mailto:lerncoaches@sgw-schule.de" class="color-link">lerncoaches@sgw-schule.de</a>
            </p>

            <br>

            <p class="bold">
                oder sprich
            </p>

            <ol type="A" class="big-lh">
                <li>Frau Kramer,</li>
                <li>Frau Kaufmann,</li>
                <li>Frau Wachnowezki,</li>
                <li>Herrn Ovelhey oder</li>
                <li>Herrn Augustin</li>
            </ol>

            <p>direkt an.</p>
        </section>
    </main>
</body>

</html>