<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content">
        <div style="margin-top: 3.5em;" class="card">
            <h1>Schwerpunkte der Fachbereiche</h1>

            <h3 style="align-self: center;margin-top:2em;">
                <ul class="rw-flex" style="gap: 2em;">
                    <li><a class="pk-theme" href="#1">Sprachlich-literarischer Bereich</a></li>
                    <li><a class="pk-theme" href="#2">Gesellschaftswissenschaftlicher Bereich</a></li>
                    <li><a class="pk-theme" href="#3">MINT-Bereich</a></li>
                    <li><a class="pk-theme" href="#4">Fachbereich Kunst und Schulgestaltung</a></li>
                    <li><a class="pk-theme" href="#5">Sportlicher Bereich</a></li>
                </ul>
            </h3>

            <br>
            <hr align="center" width="95%">
            <a name="1"></a>
            <h2 class="second-class-title">Sprachlich-literarischer Bereich</h2>
            <h4>Der sprachlich-literarische Bereich am Städtischen Gymnasium Wermelskirchen</h4>
            <br>

            <section>
                <p>
                    Sprachen verbinden Menschen, Länder und Kulturen. Insbesondere im Zeitalter der Globalisierung eröffnen sie jungen Menschen persönliche und berufliche Chancen, indem kulturelles Verständnis gefördert, individuelle Lebensperspektiven entwickelt und internationale
                    Mobilität unterstützt werden. Dieser Leitidee verpflichten sich die zum sprachlich-literarischen Aufgabenfeld gehörenden Fächer Deutsch, Englisch, Französisch, Spanisch und Literatur.
                </p>
                <br>

                <p>
                    Im Rahmen unseres Fremdsprachenkonzeptes bieten wir unseren Schülerinnen und Schülern folgendes Angebot:
                </p>

                <br>

                <ol type="A" class="big-lh">
                    <li>Englisch für alle Lernenden ab Klasse 5</li>
                    <li>Französisch oder Latein als zweite Fremdsprache ab Klasse 6</li>
                    <li>Spanisch oder Französisch als Differenzierungskurs ab Klasse 8</li>
                    <li>Französisch oder Spanisch als fortgeführte oder neu einsetzende Fremdsprache in der Sekundarstufe II ab der Einführungsphase</li>
                </ol>

                <br>

                <img src="assets/sgw-official/Download (18).png">
                <br><br>

                <p>
                    Der Fachunterricht in den Sprachen bildet einen wichtigen Schwerpunkt am Städtischen Gymnasium Wermelskirchen, in dessen Mittelpunkt die systematische Förderung kommunikativer, interkultureller und methodischer Kompetenzen steht. Er zielt darauf ab, vielfältige,
                    authentische Situationen zum kooperativen und selbstständigen Sprachenlernen zu eröffnen, u. a. durch die Realisierung von Unterrichtsvorhaben zum individualisierten Lernen in jeder Jahrgangsstufe sowie durch zahlreiche alternative
                    Formen der Leistungsüberprüfung, wie z. B. im Deutschunterricht ein Lesetagebuch oder ein Berufsportfolio.
                </p>
                <br>
                <p>
                    Um dem Leitziel der interkulturellen Handlungsfähigkeit Rechnung zu tragen, kommt der Mündlichkeit ein besonderer Stellenwert im Fremdsprachenunterricht zu, was sowohl Ausdruck in einer Vielzahl die Sprechfähigkeit fördernder Lernarrangements findet,
                    als auch in der umfassenden Etablierung mündlicher Kommunikationsprüfungen anstelle ausgewählter schriftlicher Klassenarbeiten.
                </p>
                <br>
                <p>
                    Angereichert wird das sprachlich-literarische Aufgabenfeld regelmäßig durch zahlreiche weitere Angebote, die aktuell weiter ausgebaut werden:
                </p>
                <br>

                <ol type="A" class="big-lh">
                    <li>Internationale Unterrichtsprojekte (z. B. Briefpartnerschaften mit Bois-le-Roi in Französisch Kl. 6 oder ein Blog-Projekt mit der Yale University im LK Englisch),</li>
                    <li>Förder- und Forderkurse in der Sekundarstufe I (z. B. e-Twinning Französisch, English book club, drama club, kreatives Schreiben),</li>
                    <li>Literaturkurse in der Qualifikationsphase I,</li>
                    <li>Wettbewerbe (z. B. Vorlesewettbewerb Kl. 5/6, The Big Challenge Kl. 5-9, Certamen Carolinum, Internet-Teamwettbewerb Französisch),</li>
                    <li>die Vorbereitung auf den Erwerb von Fremdsprachenzertifikaten (z. B. DELF),</li>
                    <li>eine jährliche Autorenlesung,</li>
                    <li>vielfältige Arbeitsgemeinschaften (z. B. Theater-AG),</li>
                    <li>Rechtschreibförderung in Klasse 5,</li>
                    <li>Exkursionen (z. B. Lüttich, Osnabrück Kalkriese),</li>
                    <li>Austauschprogramme (z. B. Baud & Saint-Malo/Frankreich in Kl. 8, Union/Kentucky in Q1 sowie zahlreiche individuell vermittelte Auslandsaufenthalte im Rahmen des Brigitte-Sauzay-Programms und Partnership International).</li>
                </ol>
                <br>

                <p>
                    Das Leitziel der interkulturellen kommunikativen Kompetenz wird insbesondere durch den persönlichen Kontakt mit Sprache, Menschen und Kultur der jeweiligen Länder im Rahmen unserer Schulfahrten und Austauschprogramme eingelöst.
                </p>

                <br>
                <br>
                <h3>Zugrundeliegende Textstruktur (für die interne Diskussion):</h3>

                <ol type="A" class="big-lh">
                    <li>Allgemeine Relevanz des Fachbereichs</li>
                    <li>Nennung und Abfolge der Fächer + Abbildung</li>
                    <li>Leitideen des Fachunterrichts</li>
                    <li>Besonderheiten Leistungsbewertung: Mündliche Prüfungen</li>
                    <li>Ergänzende Angebote</li>
                    <li>Internationale Begegnung</li>
                </ol>

                <br>
                <p>Ansprechpartnerin: Frau Meurer</p>
            </section>

            <br>
            <hr align="center" width="95%">
            <a name="2"></a>
            <h2 class="second-class-title">Gesellschaftswissenschaftlicher Bereich</h2>
            <h4>Der gesellschaftswissenschaftliche Bereich am Städtischen Gymnasium Wermelskirchen</h4>
            <br>

            <section>
                <p>
                    In den gesellschaftswissenschaftlichen Fächern steht der gesellschaftliche Kontext, in dem der Mensch als soziales Wesen agiert, im Vordergrund. Dieser ist so komplex, dass er in den Fächern jeweils aus unterschiedlicher Perspektive betrachtet wird. Die
                    fachlichen Zugänge sollen den Schülern helfen, sich kritisch mit der Realität auseinanderzusetzen, eigene und fremde, vergangene und gegenwärtige Standorte und Gegebenheiten zu reflektieren und an der Entwicklung und Gestaltung dieser
                    Lebenswirklichkeit mitzuarbeiten.
                </p>
                <br>
                <p>
                    Ziel der gesellschaftswissenschaftlichen Fächer ist die Ausbildung und Entwicklung der Sach-, Methoden-, Urteils- und Handlungskompetenz. Die Schüler sollen ein Orientierungs-, Kultur- und Weltwissen aufbauen, ihre eigene Persönlichkeit entwickeln sowie
                    zu mündigen und verantwortungsbewussten Mitgliedern der Gesellschaft werden.
                </p>
                <br>
                <p>
                    An unserer Schule werden im gesellschaftswissenschaftlichen Bereich die Fächer Erdkunde, Geschichte, Philosophie und Politik/Sozialwissenschaften angeboten. Politik/Sozialwissenschaften beinhalten die Disziplinen Soziologie, Politikwissenschaften und
                    Ökonomie.
                </p>
                <br>

                <h3>Die Stundentafel der gesellschaftwissenschaftlichen Fächer</h3>

                <ol type="A" class="big-lh">
                    <li>Erdkunde: In der Sekundarstufe I wird Erdkunde in drei von vier Schuljahren (Stufe 5, 7, 9) unterrichtet. In der Sekundarstufe II ist es Wahlfach.</li>
                    <li>Geschichte: Geschichte wird in der Sekundarstufe I in drei Schuljahren (6., 7. und 9. Schuljahr) angeboten. In der Qualifikationsphase ist Geschichte in einem Schuljahr verpflichtend. Geschichte oder Sozialwissenschaften müssen außerdem
                        in der 10 EF angewählt werden.</li>
                    <li>Philosophie: Philosophie wird als Alternative zu Religion in jedem Schuljahr unterrichtet. In der Oberstufe besteht die Verpflichtung, Religion oder Philosophie in der Einführungsphase sowie mindestens ein Jahr lang in der Qualifikationsphase
                        zu belegen.</li>
                    <li>Politik: In der Sekundarstufe I steht Politik in den Jahrgangsstufen fünf, acht und neun auf der Stundentafel. In der Oberstufe wird Politik durch das Fach Sozialwissenschaften ersetzt. Eine Belegverpflichtung besteht für ein Jahr
                        der Qualifikationsphase. Darüber hinaus müssen die Schüler in der Einführungsphase entweder Geschichte oder Sozialwissenschaften wählen.</li>
                </ol>
                <br>

                <p>
                    Alle gesellschaftswissenschaftlichen Fächer werden in der Sekundarstufe I im Umfang von zwei bzw. drei Wochenstunden unterrichtet. Leistungskurse werden fünfstündig belegt. Alle Fächer werden als Leistungskurse angeboten und entsprechend der Anwahl der
                    Schüler eingerichtet. In der Regel gibt es pro Schuljahr zwei Leistungskurse im gesellschaftswissenschaftlichen Bereich.
                </p>
                <br>

                <p>
                    Informationen zu den Curricula der Fächer, zur Leistungsbewertung sowie den unterrichtenden Kollegen finden Sie unter dem Menüpunkt <a class="color-link" href="/faecher">Fächer</a>.
                </p>
                <br>

                <h3>Die außerunterrichtlichen Angebote des gesellschaftswissenschaftlichen Bereichs im Überblick</h3>

                <br>
                <p>Der gesellschaftswissenschaftliche Bereich bietet verschiedene Angebote, die über den Unterricht in den einzelnen Fächern hinausgehen.</p>
                <br>
                <p>
                    Kooperationen mit Unternehmen:
                </p>
                <br>
                <p>Sparkasse, Tente und Ortlinghaus (Ansprechpartner sind Christian Vorkauf und Heiner Kalenberg)</p>
                <br>

                <p class="bold">
                    Exkursionen
                </p>

                <br>

                <ol type="1" class="big-lh">
                    <li>Werksbesichtigung/Betriebserkundung bei Tente-Rollen mit Standortplanung (Leistungskurse Erdkunde der QI)</li>
                    <li>Werksbesichtigung/Betriebserkundung des Hochregallagers bei Tente-Rollen (1-2 Klassen 5)</li>
                    <li>Besichtigung des Konzentrationslagers Auschwitz-Birkenau (AG „Gegen das Vergessen“): Viertägige Fahrt für Schüler/innen der Jahrgangsstufen 10EF und Q1; Neben der Besichtigung des KZs findet ein Rundgang durch das jüdische Viertel
                        Krakaus sowie ein Zeitzeugengespräch statt</li>
                </ol>
                <br>

                <p class="bold">
                    Expertenvorträge
                </p>

                <br>

                <ol type="1" class="big-lh">
                    <li>Referent der Firma TENTE-Rollen: Globalisierung (für Schüler/innen der Leistungskurse Erdkunde der Q1)</li>
                    <li>AZUBIS der Firma TENTE-Rollen: Moderne Logistik (für Schüler/innen aller Erdkunde-Grundkurse der 10EF)</li>
                </ol>
                <br>

                <p class="bold">
                    Patenschaft
                </p>

                <ol type="1" class="big-lh">
                    <li>Pflege der Wermelskirchener Stolpersteine: Im Schuljahr 2017/18 hat unsere Schule die Patenschaft für die in Wermelskirchen verlegten Stolpersteine übernommen. Die Steine sind Teil des Projekts des Künstlers Gunter Demning und erinnern
                        an Opfer des Nationalsozialismus. Im Rahmen der Patenschaft werden die Steine zweimal jährlich gepflegt.</li>
                </ol>
                <br>

                <p class="bold">
                    Arbeitsgemeinschaften
                </p>

                <ol type="1" class="big-lh">
                    <li>AG „Vielfalt“: Schüler/innen der Jahrgangsstufen 9 bis Q2 beschäftigen sich mit Fragen rund um das Thema Gender.</li>
                    <li>AG „Gegen das Vergessen“: Vor- und Nachbereitung der Projektfahrt nach Auschwitz-Birkenau</li>
                </ol>
                <br>

                <p class="bold">
                    Differenzierungskurse mit gesellschaftswissenschaftlichem Schwerpunkt
                </p>

                <ol type="1" class="big-lh">
                    <li>Politik - Kunst in den Jahrgangsstufen 8/9</li>
                </ol>
                <br>

                <p>
                    Forderkurse mit gesellschaftswissenschaftlichem Schwerpunkt jährlich wechselnd
                </p>
                <br>

                <p>Ansprechpartnerin: Frau Stroman</p>
            </section>

            <br>
            <hr align="center" width="95%">
            <a name="3"></a>
            <h2 class="second-class-title">MINT-Bereich</h2>
            <h4>MINT in aller Munde - ...</h4>
            <h4>... wir am Städtischen Gymnasium Wermelskirchen realisieren und fördern MINT-Bildung...</h4>

            <section>
                <ol class="big-lh">
                    <li>... im Unterricht</li>
                    <li>... außerschulisch und eng verknüpft mit dem Unterricht</li>
                    <li>... in Projektwochen</li>
                    <li>... außerunterrichtlich</li>
                    <li>... außerunterrichtlich und außerschulisch</li>
                </ol>
                <br>

                <p class="bold">... aber was ist eigentlich MINT?</p>
                <br>
                <p>MINT ist eine Abkürzung und gleichzeitig eine Zusammenfassung, es steht für die Fächer bzw. Fachbereiche Mathematik, Informatik, Naturwissenschaften, Technik.</p>
                <br>

                <p>
                    ... warum brauchen wir heute "MINT-Ausbildung" mehr denn je?
                </p>
                <br>

                <p>
                    Es muss demnach unser aller Interesse sein, die MINT-Begeisterung Ihrer Kinder zu wecken, Ihre MINT-Begabungen zu wecken und frühzeitig zu fördern und sie auf diesem Weg nachhaltig für zukunftsichere MINT-Berufe zu begeistern.
                </p>
                <br>

                <p>
                    MINT - eine Chance für uns alle!
                </p>
                <br>

                <p>
                    Dr. Martina Pesch (Biologie-/Chemielehrerin) Stephanie Richter (Mathe-/Chemielehrerin)
                </p>
                <br>

                <p>
                    Bei Rückfragen stehen wir Ihnen gerne zur Verfügung.
                </p>
                <br>

                <p class="bold">
                    martina.pesch(at)sgw-schule.de | stephanie.richter(at)sgw-schule.de
                </p>
                <br>

                <p>
                    Das Städtische Gymnasium Wermelskirchen ist seit September 2016 MINT-freundliche Schule.
                </p>
            </section>

            <br>
            <hr align="center" width="95%">
            <a name="4"></a>
            <h2 class="second-class-title">Fachbereich Kunst und Schulgestaltung</h2>
            <br>

            <section>
                <p class="bold">
                    Fachbereich Kunst
                </p>
                <br>

                <p>
                    Die Freude an der eigenen Kreativität zu wecken, zu vertiefen und zu pflegen ist eines der wichtigsten Anliegen unseres Kunstunterrichts. Die direkte sinnliche Erfahrung mit den Materialien spielt hierbei eine große Rolle. Zudem ist die Auseinandersetzung
                    mit Bildern und ästhetischen Fragen in einer Zeit, in der unsere Wahrnehmung immer mehr durch medial vermittelte Bilder geprägt ist, von grundlegender Bedeutung. Es gilt bewusstes Sehen zu fördern und die Schülerinnen und Schüler dabei
                    zu unterstützen, selbstbestimmte Persönlichkeiten mit eigenen Werten und frei entfalteter Kreativität zu werden. Hierbei spielt die Vermittlung von kultureller Bildung eine wesentliche Rolle, da kunstgeschichtliches Wissen Vorstellungskraft
                    und Empathievermögen fördert und eng verwoben ist mit gesellschaftlichen und politischen Hintergründen.
                </p>
                <br>

                <p class="bold">
                    Schulgestaltung
                </p>
                <br>

                <p>
                    Die künstlerische Gestaltung des Schulgebäudes ist uns ein großes Anliegen. Große Wandbilder oder Collagen, die in Projektwochen entstehen, die farbliche Gestaltung einzelner Räume und die Präsentation von Schülerarbeiten in Rahmen und Vitrinen tragen
                    zu einem Lernumfeld bei, in der sich die Schülerinnen und Schüler wohl fühlen und mit ihrer Schule identifizieren können.
                </p>
            </section>

            <br>
            <hr align="center" width="95%">
            <a name="5"></a>
            <h2 class="second-class-title">Sportlicher Bereich</h2>
            <br>

            <section>
                <p>
                    Sport ist am Städt. Gymnasium Wermelskirchen mehr als „nur“ ein Unterrichtsfach. Wir bieten sportinteressierten Schülerinnen und Schülern nicht nur die Möglichkeit, sich schulisch in diesem Bereich zu spezialisieren, sondern wir bieten auch Unterstützung
                    und Training, sich auf Landes- und Bundesebene mit anderen Sportlern zu messen und großartige Wettkämpfe zu erleben.
                </p>
                <br>

                <p>
                    Aktuell läuft das Fach Sport in allen Altersstufen in der Regel dreistündig. Ab der Klasse 8 besteht zudem die Möglichkeit, Sport - in Kombination mit Biologie und Sozialwissenschaften - zusätzlich als Differenzierungsfach zu wählen, wodurch sechs Stunden
                    sportbezogener Unterricht in den Jahrgangsstufen 8 und 9 möglich werden. In der Oberstufe ist die Wahl des Faches als Leistungskurs möglich, um das Abitur im Fach Sport abzulegen.
                </p>
                <br>

                <p>
                    Außerdem bieten wir aktuell „Forder“kurse in den Bereichen Tanz und Judo in der Sekundarstufe 1 an.
                </p>
                <br>

                <p>
                    Im außerunterrichtlichen Bereich gibt es Arbeitsgemeinschaften im Bereich Volleyball und Mädchenfußball. Zudem bieten wir hier die Möglichkeit für interessierte Schülerinnen und Schüler, sich in den Bereichen der DFB-Trainer-Ausbildung, der Sporthelferausbildung
                    oder - in der Oberstufe - in der Rettungsschwimmerausbildung weiter zu qualifizieren. Auf Nachfrage bieten wir auch die Abnahme der Sportabzeichen (z.B. für die Bewerbung bei der Polizei) und das Training für den Sporteignungstest
                    an.
                </p>
                <br>

                <p>
                    Ein weiterer fester Bestandteil unseres außerunterrichtlichen Sportangebots sind die Wettkämpfe unserer Schulmannschaften (s. o.), welche wir teilweise in Kooperation mit den ortsansässigen Vereinen vorbereiten und unterstützen. So bieten wir in den Bereichen
                    Volleyball, Fußball, Handball, Leichtathletik, Schwimmen, Tischtennis, Völkerball und Judo unseren Schülerinnen und Schülern immer wieder die Möglichkeit, sich unter professionellem Coaching mit anderen Schulen zu vergleichen, was
                    uns unter anderem auch die Teilnahme an Landesmeisterschaften und Deutschen Meisterschaften in einzelnen Sportarten ermöglicht.
                </p>
                <br>

                <p>
                    Auch Sportfeste für die Jüngeren (Jgst. 5/6) bis hin zu Sporttagen für die Mittel- und die Oberstufe sind fester Bestandteil unseres sportlichen Profils.
                </p>
                <br>

                <p class="bold">
                    Weiter Informationen finden Sie unter <a href="/sport" class="color-link">Sport</a>.
                </p>
            </section>
        </div>
    </main>
</body>

</html>