<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main class="main-content">
        <h1>Aktions- und Projektwochen</h1>

        <hr width="95%">

        <div style="text-align: center;">
            Der grundlegende Gedanke bei der Einführung der Aktions- bzw. Projektwoche war die Vermeidung von Unterrichtsausfall durch eine Bündelung von Exkursionen und Lernprogramme, die sonst über das ganze Jahr verteilt waren. Den Jahrgangsstufen wird ein breites
            Spektrum an Aktivitäten angeboten.
            <br><br> Die aktuellen Informationen und rückblickenden Berichte zu den Aktions- und Projektwochen der einzelnen Jahre erhalten Sie in den Unterverzeichnisssen zu jedem Jahr.
        </div>
    </main>
</body>

</html>