<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th,
    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>

<body>
    <main class="main-content">
        <h1>Mathematik</h1>

        <div class="center-max-div rw-flex em2-gap MaxWidth" style="align-items: start;">
            <img src="assets/sgw-official/Mathe_0.png" alt="" width="40%">

            <table>
                <tr>
                    <th style="text-align: center;" colspan="2">Kolleginnen und Kollegen im Fach Pädagogik</th>
                </tr>
                <tr>
                    <td>Caroline Brüggemann</td>
                    <td>Marco Berscheidt</td>
                </tr>
                <tr>
                    <td>Daphne Frenzel</td>
                    <td>Jakub Gaicki</td>
                </tr>
                <tr>
                    <td>Ramona Gläser</td>
                    <td>Heiner Kalenberg</td>
                </tr>
                <tr>
                    <td>Raphael Kemna</td>
                    <td>Manuel Metzner</td>
                </tr>
                <tr>
                    <td>Dr. Philipp Naumann</td>
                    <td>Marvin Nölle</td>
                </tr>
                <tr>
                    <td>Elvira Persian</td>
                    <td>Marc Rodermund</td>
                </tr>
                <tr>
                    <td>Stephanie Richter</td>
                    <td>Charlotta Schreiber</td>
                </tr>
                <tr>
                    <td>Christiane Schnepper</td>
                    <td>Elena Sparwasser</td>
                </tr>
                <tr>
                    <td>Valea Stumpf</td>
                    <td></td>
                </tr>
            </table>

        </div>
    </main>
</body>

</html>