<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content" style="margin-top: 0;">
        <h1 style="font-size: 60px;align-self:center;" class="bc-theme">Das Schulprogramm</h1>

        <div class="card">

            <h2>Aktuelles Schulprogramm</h2>
            <p>Unter den folgenden Menüpunkten finden Sie unser aktuelles Schulprogramm aufgeschlüsselt.</p>

            <ol>
                <li>
                    <h3><a class="color-link" href="/node/2157">Schulstufen und formale Gestaltung</a></h3>
                    <p>Lesen Sie etwas über unsere Konzepte zur <a class="color-link" href="/node/2162">Gestaltung von Lernprozessen</a> im Sinne einer <a class="color-link" href="/node/2169">individuellen Förderung</a> über den Fachunterricht hinaus. Hier
                        geht es um Lernen Lernen, Methoden- und soziales Lernen sowie besondere Modelle der Begabtenförderung.</p>
                </li>
                <br>
                <li>
                    <h3><a href="/node/2179" class="color-link">Medienkonzept</a></h3>
                    <p>Erläutert die Einbindung digitaler Medien in den Regelunterricht und Medienerziehung gemäß Medienkompetenzrahmen NRW.</p>
                </li>
                <br>
                <li>
                    <h3><a href="/node/2178" class="color-link">Hausaufgabenkonzept</a></h3>
                    <p>Liefert hausinterne Regelungen zu Menge und Verteilung der Hausaufgaben über die Woche.</p>
                </li>
                <br>
                <li>
                    <h3><a href="/node/2180" class="color-link">Fachbereiche</a></h3>
                    <p>Stellen besondere Arbeits- und Unterrichtsentwicklungsschwerpunkte für die nächste Zeit vor.</p>
                </li>
                <br>
                <li>
                    <h3><a href="/node/2163" class="color-link">Leistungsbewertungskonzept</a></h3>
                    <p>Erklärt rechtliche und formale Grundlagen aller Arten der Leistungsbewertung an unserer Schule sowie hausinterne Regelungen für die Bewertung der Facharbeiten und die „Sonstige Mitarbeit“.</p>
                </li>
                <br>
                <li>
                    <h3>Institutionen</h3>
                    <p>Beschreibungen zu Institutionen in unserer Schule, <a href="/node/2164" class="color-link">die individuelle Beratung, pädagogische Betreuung</a>, <a href="/node/2165" class="color-link"><a href="/node/2180" class="color-link">Studien- und Berufsorientierung anbieten</a></a>.</p>
                </li>
                <br>
                <li>
                    <h3>Veranstaltungen und Einrichtungen</h3>
                    <p>Aspekte zu Veranstaltungen und Einrichtungen, die das Schulleben über den Unterricht hinaus bereichern wie Arbeitsgemeinschaften, Übermittagsangebote und pädagogisch-didaktische Specials.</p>
                </li>
                <br>
                <li>
                    <h3>Klassen- und Stufenfahrten, Exkursionen und Austausche</h3>
                    <p>Übersichtliche <a href="/node/2167" class="color-link">Darstellung</a> aller implementierten Klassen- und Stufenfahrten, Exkursionen und Austausche.</p>
                </li>
                <br>
                <li>
                    <h3>Kooperationen</h3>
                    <p>Hinweise zu <a class="color-link" href="/node/2168">Kooperationen</a> mit außerschulischen Partnern aus Wirtschaft und Kultur im Großraum Wermelskirchen.</p>
                </li>
            </ol>

        </div>
    </main>
</body>

</html>