<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content">
        <h1>
            Das Beratungsteam
        </h1>

        <hr width="95%">

        <div>

        </div>
    </main>
</body>

</html>