<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content">
        <h1>Fahrtenprogramm</h1>

        <h2 style="margin-top: 1em;">
            <ul class="big-lh rw-flex" style="gap: 2em;">
                <li><a href="/node/2243" class="pk-theme">Schulfahrten</a></li>
                <li><a href="/node/2244" class="pk-theme">Austauschprogramme</a></li>
            </ul>
        </h2>
    </main>
</body>

</html>