<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content">
        <h1>Förderkonzept für die Sekundarstufe I</h1>

        <div class="card rw-flex" style="align-items: center;justify-content:space-around;">
            <img width="25%" src="assets/sgw-official/FoerderkonzeptSekundarstufe1.png" alt="">

            <h3>
                <ul style="line-height: 3em;">
                    <li><a href="/node/2170">ALF in der Jgst. 5</a></li>
                    <li><a href="/node/2171">Soziales Lernen in der Jgst. 5</a></li>
                    <li><a href="/node/2172">Lernzeit in den Jgst. 5 - 7</a></li>
                    <li><a href="/node/2173">Forder- bzw. Förderunterricht in den Jgst. 7 - 9</a></li>
                    <li><a href="/node/2174">Begabtenförderung</a></li>
                    <li><a href="/node/2175">Drehtürmodell in den Jgst. 6 - 9</a></li>
                    <li><a href="/node/2176">Schüler:innen helfen Schüler:innen</a></li>
                </ul>
            </h3>
        </div>
    </main>
</body>

</html>