<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content">
        <h1>Gestaltung des Schullebens</h1>

        <h3 style="display: flex;justify-content:center;align-items:center;flex-direction:column;">
            <ul class="rw-flex" style="gap: 2em;margin-top:1em;">
                <li><a class="pk-theme" href="#1">Pausenangebote</a></li>
                <li><a class="pk-theme" href="/arbeitsgemeinschaften">Arbeitsgemeinschaften</a></li>
                <li><a class="pk-theme" href="#2">Ausgezeichnet</a></li>
                <li><a class="pk-theme" href="#3">Kulturscouts</a></li>
                <!-- <li style="display:none;"><a class="pk-theme" href="/node/2216">Schülerzeitung</a></li> -->

            </ul>

            <ul class="rw-flex" style="gap: 2em;margin-top:1em;">
                <li><a class="pk-theme" href="#6">Schülerbücherei</a></li>
                <li><a class="pk-theme" href="#7">Verkehrserziehung</a></li>
                <li><a class="pk-theme" href="#4">Laufveranstaltungen</a></li>
                <li><a class="pk-theme" href="#5">Projekte</a></li>
                <li><a class="pk-theme" href="#8">Crash Kurs NRW</a></li>
            </ul>
        </h3>

        <br>
        <hr align="center" width="95%">
        <br>
        <a name="1"></a>
        <section style="width: 100%;text-align:start;">
            <h2 class="second-class-title">Pausenangebote</h2>

            <br>

            <p>In Arbeit</p>
        </section>

        <br>
        <hr align="center" width="95%">
        <br>
        <a name="2"></a>
        <section>
            <h2 class="second-class-title">Ausgezeichnet</h2> <br>
            <h4>"Ausgezeichnet!" - Wer möchte das nicht gerne hören?</h4>
            <br>

            <p>Ausgezeichnet ist eine jährlich stattfindende Veranstaltung unserer Schule, bei der Schülerinnen und Schüler für ihre besonderen Leistungen auf verschiedenen Gebieten - fachlich, wissenschaftlich, sportlich, musikalisch, künstlerisch, sozial,
                kreativ, engagiert - geehrt werden.</p>

            <br>

            <p>
                Das Vorschlagsrecht liegt bei Lehrern und Eltern, eine durch die Schulkonferenz benannte Jury wählt aus den Vorschlägen aus.
            </p>

            <br>

            <p>
                Bei der Ehrung im PZ wird eine Urkunde und ein thematisch passender Preis überreicht.
            </p>
        </section>

        <br>
        <hr align="center" width="95%">
        <br>

        <a name="3"></a>
        <section>
            <h2 class="second-class-title">Kulturscouts</h2> <br>

            <div class="rw-flex">
                <img src="assets/sgw-official/LOGO_KSBL_final_web.png" alt="" width="70%" height="70%">
                <img src="assets/sgw-official/Bauerngarten Führung_1.jpg" alt="" width="70%" height="70%">
            </div>
            <i>Foto: © Oberbergischer Kreis</i>

            <br><br>

            <p>
                KulturScouts auf Entdeckungstour! Seit dem Schuljahr 2015/16 nimmt das Städtische Gymnasium Wermelskirchen an dem Projekt „KulturScouts Bergisches Land“ teil. Eine Klasse der Sekundarstufe I verlegt zweimal im Schuljahr das Klassenzimmer an einen Kulturort
                in der Region. Denn es gibt viel zu entdecken im Bergischen Land: 24 Kulturorte bieten ein vielfältiges Programm, das anschaulich und praxisnah an lehrplanrelevante Themen verschiedenster Fächer anknüpft.
            </p>

            <br>

            <p>
                Die Realisierung des Projektes findet statt in enger Zusammenarbeit zwischen der Geschäftsstelle KulturScouts Bergisches Land, getragen vom Rheinisch-Bergischen Kreis, sowie dem Kreis Mettmann, dem Oberbergischen Kreis und den Städten Remscheid, Solingen
                und Wuppertal. Das Ministerium für Kultur und Wissenschaft des Landes NRW fördert die KulturScouts Bergisches Land.
            </p>

            <br>

            <p>
                Weiterführende Informationen unter: <a href="www.kulturscouts-bl.de" class="color-link">www.kulturscouts-bl.de</a>
            </p>
        </section>

        <br>
        <hr align="center" width="95%">
        <br>

        <a name="4"></a>
        <section>
            <h2 class="second-class-title">Laufveranstaltungen</h2>
            <h4>Wir nehmen Teil!</h4> <br>

            <img src="assets/sgw-official/Stadtlauf_Gruppe.jpg" alt="" class="border">
            <br><br>

            <p>
                Mit großem Einsatz und Erfolg haben zahlreiche Schülerinnen und Schüler sowie einige Lehrkräfte am diesjährigen Stadtlauf teilgenommen.
            </p>

            <br>

            <p>
                Als sportbegeisterte Schule wollten wir dieses Event nicht verpassen. Dieser Lauf und auch der im Juni stattfindende Mittsommernachtslauf in Dhünn (zum Vormerken: 17.6.2023) sollen zum Anlass genommen werden, auch außerhalb der Schule zusammen zu kommen
                und gemeinsam aktiv zu sein. Vielleicht kann so eine Lauftradition an unserer Schule initiiert werden.
            </p>

            <br>

            <p>
                Neben den offiziellen Siegerehrungen durch den WTV konnten unsere Schülerinnen und Schüler für ihre Klassen zusätzlich einen weiteren Wandertag oder Geld für die Abikasse gewinnen.
            </p>

            <br>

            <p>
                Eine tolle Möglichkeit als Team zu starten bot die Staffel über 3 km. Hierbei waren 3 Runden à 1 km durch die Wermelskirchener Innenstadt vorgesehen, die von 3 Teilnehmer:innen gelaufen werden mussten. Aber auch an Einzelwertungen nahmen Schülerinnen
                und Schüler unserer Schule teil.
            </p>

            <br>

            <p>
                Wir danken dem WTV für die gelungene Organisation!
            </p>

            <br>

            <div class="rw-flex">
                <img src="assets/sgw-official/Stadtlauf_Sieger1_0.jpg" alt="" width="20%" height="20%" class="border">
                <img src="assets/sgw-official/Stadtlauf_Sieger2.jpg" alt="" width="20%" height="20%" class="border">
            </div>
        </section>

        <br>
        <hr align="center" width="95%">
        <br>

        <a name="5"></a>
        <section>
            <h2 class="second-class-title">Projekte</h2>

            <br>

            <h3>Kulturabend: Musik, Tanz, Theater, Poetry Slam und Kunst</h3>
            <br>

            <div class="rw-flex">
                <img src="assets/sgw-official/Kulturabend.png" alt="" class="border">

                <br> <br>

                <div>
                    <p>
                        Am Donnerstag, den 15.06.2023 lädt das Städtische Gymnasium Wermelskirchen um 18 Uhr zu einem Kulturabend der besonderen Art. „OK, Kulturabend. Ist das ein Schulkonzert?“ „Nein.“ „Ach so, mehr so eine Theateraufführung?“ „Fehlanzeige.“ „Dann muss es ja
                        mit Tanz zu tun haben. Oder etwa Richtung Poetry Slam? Vielleicht auch etwas mit Kunst?“ Die unaufgeregt bescheidene Antwort lautet: „Von allem etwas!“ Man könnte auch sagen: „Von ALLEN etwas“.
                        <br><br> So fühlt es sich zumindest an, wenn an diesem Abend rund 120 Schüler*innen auf der Bühne zu bestaunen sein werden. Die Veranstaltung findet im Rahmen von „150 Jahre Wermelskirchen“ statt und trägt liebevoll den Titel „Der
                        Kultur auf der Spur“. Das bunt gemischte Programm des Abends verschreibt sich eben diesem Motto.
                    </p>
                    <br>

                    <p>
                        Der Eintritt ist frei – um Spenden wird gebeten.
                    </p>

                    <br>

                    <p>
                        <b>Organisatorische Hinweise:</b>
                    </p>

                    <br>

                    <p>
                        Um die maximale Auslastung des PZ nicht zu überschreiten, bitten wir um vorherige Anmeldung unter Angabe des Nachnamens per E-Mail an <a href="mailto:kultur.abend@sgw-schule.de">kultur.abend@sgw-schule.de</a> spätestens bis Dienstag,
                        den 13.06.2023 (max. 3 Reservierungen pro Familie). Allen am Programm beteiligten Schüler*innen werden zwei Plätze auf dieser Gästeliste garantiert. Hier bitten wir ebenfalls um Anmeldung über die angegebene E-Mail-Adresse spätestens
                        bis Freitag, den 09.06.2023. Danach werden die freien Plätze für die Allgemeinheit freigegeben. Etwaige verbleibende freie Plätze, die nicht vorab per E-Mail reserviert wurden, werden am Kulturabend der Reihenfolge nach vergeben.
                    </p>

                    <br>

                    <p>
                        Außerdem btten wir darum, reservierte Plätze bis spätestens 17:55 Uhr wahrzunehmen. Danach werden sie ggf. an Wartende weiter vergeben. Einlass ist um 17:30 Uhr, Veranstaltungsbeginn um 18:00 Uhr.
                    </p>
                </div>
            </div>
        </section>

        <br>
        <hr align="center" width="95%">
        <br>

        <a name="6"></a>
        <section>
            <h2 class="second-class-title">Schülerbücherei</h2>
            <br>

            <h3>... für die Jgst. 5 + 6</h3>

            <br>

            <div class="rw-flex">
                <div class="clm-flex">
                    <img src="assets/sgw-official/IMG_2940.jpg" alt="">
                </div>

                <br>

                <div>
                    <p>
                        In unserer Schülerbücherei im Nebengebäude findet Ihr jede Menge spannende, interessante und schöne Bücher zum kostenlosen Ausleihen. Unsere Räume laden ein zum Schmökern und Verweilen.
                    </p>

                    <br>

                    <p>
                        Offen ist die Bücherei, die von Müttern betreut wird, in jeder großen Pause, also zweimal am Tag von montags bis freitags.
                    </p>

                    <br>

                    <p>
                        Dann stehen wir Euch auch gerne für Fragen zur Verfügung.
                    </p>

                    <br>

                    <p>
                        Kommt vorbei und schaut euch um!
                    </p>
                    <br>

                    <p>
                        Wir freuen uns auf Euch!
                    </p>
                </div>
            </div>

            <br>
            <h3>... für die Jgst. 7 - 9</h3>
            <br>

            <p>
                Wir, die Schülerinnen und Schüler von der Schülerbücherei, laden euch herzlich ein montags, mittwochs und freitags in der ersten Pause bei uns, in Raum 171, vorbeizuschauen. Ihr benötigt euren Schülerausweis und könnt in der Bücherei lesen und Bücher
                ausleihen.
            </p>

            <br>

            <p>
                Wir sind ein Team aus sechs SchülerInnen und einer Lehrerin und freuen uns auf euren Besuch!
            </p>

            <br>

            <p>
                Lynn Heldt, Celine Hocke, Josefine Kleist, Ida Schmitt, Jannes Löster, Fabian Pausch und Carina Hartmann
            </p>
        </section>

        <br>
        <hr align="center" width="95%">
        <br>

        <a name="7"></a>
        <section>
            <h2 class="second-class-title">Verkehrserziehung</h2>
            <br>

            <h3>
                Schülerlotsen
            </h3>

            <br>

            <p>
                Information über den Schülerlotsendienst am Städt. Gymnasium Wermelskirchen Schülerlotsen haben die Aufgabe, den Schulweg ihrer unerfahrenen jüngeren Mitschülerinnen und Mitschüler zu sichern. An unserem Gymnasium sichern jeweils zwei Schüler/innen täglich
                zwischen 7.25 und 7.40 Uhr den Übergang auf der Schillerstraße direkt an der Kölner Straße. Da in der Regel insgesamt acht Schülerlotsen diesen Dienst verrichten, wird jeder einzelne nur alle vier Wochen jeweils für eine Woche lang die
                Sicherungspflicht wahrnehmen. Insgesamt handelt es sich um ca. l0 Wochen Dienst pro Schuljahr. Die betreffenden Schüler/innen werden von der Verkehrspolizei für diesen Dienst ausgebildet und sind während ihres Dienstes versichert. Der
                Dienst selbst ist ehrenamtlich. Als kleines Dankeschön wird jedoch meist gegen Ende des betreffenden Schuljahres ein Tagesausflug gemacht. Ziele waren: Phantasialand, der WDR in Köln mit an- schließendem Essen, ein Musicalbesuch, eine
                Indoorkartbahn usw. Organisiert wird der Dienst durch den Verkehrsbeauftragten der Schule, Herrn Kalenberg. Falls Ihr Fragen habt, wendet Euch an Ihn oder an direkt an die Schülerlotsen.
            </p>

            <br><br>

            <div class="clm-flex center">
                <h3>Artikel</h3>

                <ul class="rw-flex big-lh inner-list">
                    <li class="pk-theme">Fahrt zum Landtag in Düsseldorf am 02.02.2012</li>
                    <li class="pk-theme">Tom Boddenberg gewinnt den Schülerlotsenwettbewerb NRW 2019</li>
                    <li class="pk-theme">Tom Boddenberg ist bester Schülerlotse Deutschlands 2019</li>
                </ul>
            </div>
        </section>

        <br>
        <hr align="center" width="95%">
        <br>

        <a name="8"></a>
        <section>
            <h2 class="second-class-title">Crash Kurs NRW</h2>
            <br>

            <div class="rw-flex">
                <div>
                    <p>Die Präventionskampagne für mehr Verkehrssicherheit</p>
                    <br>
                    <p>aktuell</p>
                    <br>
                    <p>für die Jgst. Q1 am 24.01.2024!</p>

                    <br>

                    <p>
                        "Crash Kurs NRW" ist eine bundesweit einzigartige Kampagne der Polizei in Nordrhein-Westfalen, um die Zahl von schweren Verkehrsunfällen, an denen junge Fahrerinnen und Fahrer beteiligt sind, nachhaltig zu verringern. (...)
                    </p>

                    <br>

                    <p>
                        Während der Crash-Kurs-Veranstaltung schildern Polizisten, Rettungssanitäter, Notärzte, Notfallseelsorger und Angehörige von Unfallopfern als direkt Betroffene. Sie erzählen von ihren persönlichen Erfahrungen. (...)
                    </p>

                    <br>

                    <p>
                        Ein Polizist erzählt, wie er an einer Unfallstelle schwerverletzte und tote Jugendliche vor­fand und wie es zu dem verheerenden Unfall kam. Eine Notärztin schildert den vergeblichen Versuch, einen Schwerstverletzten zu reanimieren. Ein Notfallseelsorger
                        beschreibt die Reak­tionen der Angehörigen, die von lautem Schreien über Wut auf den Notarzt bis hin zur totalen Starre reichen.
                    </p>

                    <br>

                    <p>
                        Die authentischen Berichte vermitteln die harte Realität. (...)
                    </p>

                    <br>

                    <p>
                        Quelle: Flyer Crash Kurs NRW, Ministerium für Inneres und Kommunales des Landes Nordrhein-Westfalen
                    </p>

                    <br>

                    <p>
                        Diese (Pflicht-)Veranstaltung findet am <b>Mittwoch, 24.01.2024</b>, <b>um 10.00 Uhr</b> im großen Saal des Bürgerzentrums für die gesamte Jahrgangsstufe Q1 statt. Sie dauert ca. 70 Minuten. Alle Schü­lerinnen und Schüler treffen
                        sich mit ihren Kursen, die an diesem Tag im zweiten Block Unterricht haben, um 9.40 Uhr im PZ oder auf dem oberen Schulhof und gehen gemeinsam zum Bürgerzentrum. Diejenigen, die im zweiten Block frei haben, gehen mit Herrn Weber
                        zum Bürgerzentrum.
                    </p>

                    <br>

                    <p>
                        Danach findet im 3. Block eine Aussprache in den dann planmäßigen Kursen statt. Alle Kurse werden dazu in die Räume R141 bis R149 verlegt. Es fallen keine Kurse aus, ggf. werden sie vertreten! Danach läuft der Unterricht nach Plan weiter. Auch der erste
                        Block verläuft nach Plan!
                    </p>

                    <br>

                    <p>
                        Weitere Informationen gerne bei Herrn Klein!
                    </p>

                    <br>

                    <a href="assets/sgw-official/Elternbrief-Crash Kurs der Polizei Version ab 2020_0.pdf" class="color-link">Hier geht´s zum Anschreiben der Polizei!</a>
                </div>

                <img src="assets/sgw-official/crash (1).jpg" alt="" style="image-rendering: pixelated;
                height: fit-content;">
            </div>

            <br>
            <hr width="95%"><br>
            <h3>Crash Kurs NRW 2020 unserer Schule</h3>
            <br>

            <p>Am 29.01.2020 hat an unserer Schule der Crash-Kurs NRW für die Q1 stattgefunden.</p>

            <br>

            <p>
                <b>Ein Erfahrungsbericht:</b>
            </p>

            <br>

            <p>
                Normalerweise schreibe ich einen Artikel am liebsten direkt nach dem Ereignis, wenn die Eindrücke noch ganz frisch sind und man eigentlich einfach alles so herunterschreiben kann.
            </p>

            <br>

            <p>
                Naja, dieses Mal waren die Eindrücke sehr bewegend und so klar, dass sich alles erstmal etwas setzen musste.
            </p>

            <br>

            <p>
                Am Mittwoch den 29.01.2020 machte sich die ganze Q1 auf den Weg ins Bürgerzentrum um dort an dem sogenannten Crashkurs teilzunehmen.
            </p>

            <br>

            <p>
                Wir wussten, dass es eine Unfallpräventionsveranstaltung sein sollte, in der mehrere Akteure, die in Unfälle verwickelt waren, berichten sollten. Doch wie es sich anfühlen würde, das wussten wir nicht.
            </p>

            <br>

            <p>
                Polizei, Feuerwehr, der Notarzt, ein Notfallseelsorger und sogar ein Unfallopfer berichteten sehr genau wie sie Unfälle erlebt und wie sie sich dabei gefühlt haben.
            </p>

            <br>

            <p>
                Der Polizist der zusehen muss wie ein Unfallopfer verbrennt ohne irgendetwas tun zu können und das im Beisein eines verzweifelten Praktikanten, der gerade mal in den ersten Tagen seines Praktikums stand. Dann daran anschließend die Mitteilung des schrecklichen
                Sachverhaltes gegenüber den Hinterbliebenen.
            </p>

            <br>

            <p>
                Die Feuerwehr, die mit schwerem Gerät versucht die Autoinsassen zu befreien ohne ihnen weitere Schäden zuzufügen.
            </p>

            <br>

            <p>
                Der Notarzt, der während diesem oft langwierigen Prozess noch nichts tun kann.
            </p>

            <br>

            <p>
                Der junge Mann, der mit schweren Verletzungen überlebte, aber seinen besten Freund verloren hat.
            </p>

            <br>

            <p>
                In dem Moment in dem diese Menschen vor einem stehen und man realisiert, dass es sich nicht um einen dramatischen Actionfilm handelt, sondern um die Realität, treffen die Tatsachen einen zutiefst.
            </p>

            <br>

            <p>
                Der Veranstaltung anschließend hatten wir die Möglichkeit zum Gespräch mit unseren LehrerInnen und MitschülerInnen, das war auch gut so. Auch wenn viele Reaktionen und Emotionen wahrscheinlich so persönlich sind, dass man sie kaum in Worte fassen kann,
                hatte man doch das Gefühl etwas gemeinsam durchgestanden und auch verstanden zu haben.
            </p>

            <br>

            <p>
                Viele von uns haben gerade begonnen zu fahren, hängen noch an der Theorie oder werden bald damit beginnen, doch egal an welchem Punkt unserer Fahrausbildung wir uns befinden, ich glaube wir werden alle ein großes Stück mehr Achtung gegenüber hohen Geschwindigkeiten,
                Ablenkung diverser Art und weiteren Gefahren im Straßenverkehr an den Tag legen.
            </p>

            <br>

            <p>
                Chiara Schröder, Q1
            </p>
        </section>
    </main>
</body>

</html>