<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content" style="margin-top: 0;">
        <h1 style="font-size: 60px;align-self:center;" class="bc-theme">Leitbild</h1>

        <h1>des Städtischen Gymnasiums Wermelskirchen</h1>

        <div class="card" style="align-items: start;">
            <img style="align-self: center;" src=" assets/sgw-official/6_SGW-LEITBILD_THIN_3Farben.png " alt=" " width="50% ">

            <br><br>
            <h2>Präambel</h2>
            <p>Unser Leitbild schafft Transparenz und Klarheit über gemeinsame Werte und Ziele unserer Schulgemeinde. Es ist der Ankerpunkt für alles, was wir an unserer Schule tun, gibt uns Leitlinien für das Miteinander in der Gegenwart und ist Grundlage
                aller zukünftigen Entscheidungen.</p>
            <br>
            <h2>WIR</h2>
            <p>Schülerinnen und Schüler, Lehrerinnen und Lehrer, Eltern und weitere an unserer Schule mitwirkende Menschen</p>
            <br>

            <ul>
                <li>
                    <h3>...handeln <strong>gemeinschaftlich</strong></h3>
                    <p>und gehen achtsam mit Mitmenschen und Natur um. Hierbei sind Empathie, Toleranz, Rücksichtnahme und Wertschätzung in unserer Schulgemeinschaft bedeutsam. Ebenso wichtig wie Demokratiebewusstsein, Kommunikation und Kooperation ist ein
                        nachhaltiger Umgang mit unserer Umwelt. Dabei sehen wir uns fest verwurzelt in unserer Region.</p>
                </li>
                <br>
                <li>
                    <h3>...sind mit Herz und Verstand dabei</h3>
                    <p>und schaffen durch ein breites Angebot ein Umfeld, in dem jeder Akteur unserer Schulgemeinde sein Potential entfalten kann und Verantwortung übernimmt. Kreativität, Engagement, Selbstständigkeit, die Fähigkeit zur Selbstreflexion,
                        Medienkompetenz und sinnliches Erfahren sind Voraussetzungen für gelingendes Lernen. Gemeinsam bilden wir Identität, Kritikfähigkeit und motorische Fähigkeiten aus. Hierzu tragen die Fächer und die außerunterrichtlichen Angebote
                        in ihrer Vielfalt bei.</p>
                </li>
                <br>

                <li>
                    <h3>...bilden uns für das Leben</h3>
                    <p>und wissen, dass Bildung für die Gegenwart und Zukunft unserer Gesellschaft existentiell ist. Deshalb werden an unserer Schule ein fundiertes Allgemeinwissen, Fachkompetenz und Medienmündigkeit vielseitig vermittelt. Die Freude an
                        lebenslangem Lernen und kulturellem Erleben zu wecken ist uns allen ein wichtiges Anliegen.</p>
                </li>
            </ul>

        </div>
    </main>
</body>

</html>