<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content Unterrichtsorga-main-content" style="margin-top: 0;">
        <h1 class="bc-theme" style="font-size: 60px;">Unterrichtsorganisation</h1>
        <br>
        <h2>Unterrichtsschluss an besonderen Tagen:</h2>

        <table class="Calender-table Unterrichtsorga-table card" cellspacing="1" callpadding="1">
            <tr>
                <th>Ereignis</th>
                <th>Zeit</th>
            </tr>
            <tr>
                <td>Kirmesmontag</td>
                <td>13:15 Uhr</td>
            </tr>
            <tr>
                <td>Projektwoche</td>
                <td>mittags (ggf. nach Absprache)</td>
            </tr>
            <tr>
                <td>Elternsprechtage</td>
                <td>13:15 Uhr</td>
            </tr>
            <tr>
                <td>Freitag des Halbjahresendes</td>
                <td>Zeugnisausgabe am Ende der UE II.1 (10:25 Uhr)</td>
            </tr>
            <tr>
                <td>Altweiber (Donnerstag)</td>
                <td>normaler Unterricht einschließlich Nachmittag</td>
            </tr>
            <tr>
                <td>Freitag vor den Herbst- und Osterferien</td>
                <td>normaler Unterricht einschließlich Nachmittag</td>
            </tr>
            <tr>
                <td>Letzter Tag vor den Weihnachtsferien</td>
                <td>13:15 Uhr</td>
            </tr>
            <tr>
                <td>Freitag des Schuljahresendes</td>
                <td>Zeugnisausgabe am Ende der UE II.1 (10:25 Uhr, anschließend Dienstbesprechung)</td>
            </tr>
        </table>

        <br>
        <h1 class="bc-theme" style="font-size: 60px;">
            Unterrichtszeiten - neu -
        </h1>

        <div class="card" style="align-items: center;">
            <h2>Unterrichtszeiten</h2>

            <img width="70%" style="height: 60vh;" src="assets/sgw-official/Unterrichtszeiten.png" alt="">

            <p>UE = 45minütige Unterrichtseinheit </p>
        </div>

        <div class="card" style="align-items: center;">
            <h3 style="text-align: center;">
                <p>Im Stundenplan der EF gibt es an einzelnen Tagen Doppelstunden, die 14-tägig im Wechsel stattfinden. A-Wochen sind gerade Kalenderwochen, B-Wochen ungerade Kalenderwochen.</p>

                <p>Im Nachmittagsunterricht der Sekundarstufe II gibt es hallenbedingt folgende Sportzeiten:</p>
            </h3>

            <img width="30%" style="height: 50vh;" src="assets/sgw-official/SportzeitenSEKII.png" alt="">
        </div>

        <h1 class="bc-theme" style="font-size: 60px;">Stundentafel im Schuljahr 2023/24</h1>

        <div class="card" style="align-items: center;">
            <img width="70%" style="height: 60vh;" src="assets/sgw-official/Stundentafel.png" alt="">
        </div>
    </main>
</body>

</html>