<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content">
        <h1>Gestaltung des Schullebens</h1>

        <h3 style="display: flex;justify-content:center;align-items:center;flex-direction:column;">
            <ul class="rw-flex" style="gap: 2em;margin-top:1em;">
                <li><a class="pk-theme" href="/node/2209">Pausenangebote</a></li>
                <li><a class="pk-theme" href="/arbeitsgemeinschaften">Arbeitsgemeinschaften</a></li>
                <li><a class="pk-theme" href="/node/2213">Ausgezeichnet</a></li>
                <li><a class="pk-theme" href="/node/2214">Kulturscouts</a></li>
                <li style="display:none;"><a class="pk-theme" href="/node/2216">Schülerzeitung</a></li>
            </ul>

            <ul class="rw-flex" style="gap: 2em;margin-top:1em;">
                <li><a class="pk-theme" href="/node/2217">Schülerbücherei</a></li>
                <li><a class="pk-theme" href="/node/2212">Verkehrserziehung</a></li>
                <li><a class="pk-theme" href="/node/2651">Laufveranstaltungen</a></li>
                <li><a class="pk-theme" href="/2605">Projekte</a></li>
            </ul>
        </h3>

        <br>
        <hr align="center" width="95%">
        <br>

        <section style="width: 100%;text-align:start;">
            <h2 class="second-class-title">Pausenangebote</h2>

            <br>

            <p>In Arbeit</p>
        </section>

        <br>
        <hr align="center" width="95%">
        <br>

        <section>
            <h2 class="second-class-title">Ausgezeichnet</h2> <br>
            <h4>"Ausgezeichnet!" - Wer möchte das nicht gerne hören?</h4>
            <br>

            <p>Ausgezeichnet ist eine jährlich stattfindende Veranstaltung unserer Schule, bei der Schülerinnen und Schüler für ihre besonderen Leistungen auf verschiedenen Gebieten - fachlich, wissenschaftlich, sportlich, musikalisch, künstlerisch, sozial,
                kreativ, engagiert - geehrt werden.</p>

            <br>

            <p>
                Das Vorschlagsrecht liegt bei Lehrern und Eltern, eine durch die Schulkonferenz benannte Jury wählt aus den Vorschlägen aus.
            </p>

            <br>

            <p>
                Bei der Ehrung im PZ wird eine Urkunde und ein thematisch passender Preis überreicht.
            </p>
        </section>

        <br>
        <hr align="center" width="95%">
        <br>

        <section>
            <h2 class="second-class-title">Kulturscouts</h2> <br>

            <div class="rw-flex">
                <img src="assets/sgw-official/LOGO_KSBL_final_web.png" alt="" width="70%" height="70%">
                <img src="assets/sgw-official/Bauerngarten Führung_1.jpg" alt="" width="70%" height="70%">
            </div>
            <i>Foto: © Oberbergischer Kreis</i>

            <br><br>

            <p>
                KulturScouts auf Entdeckungstour! Seit dem Schuljahr 2015/16 nimmt das Städtische Gymnasium Wermelskirchen an dem Projekt „KulturScouts Bergisches Land“ teil. Eine Klasse der Sekundarstufe I verlegt zweimal im Schuljahr das Klassenzimmer an einen Kulturort
                in der Region. Denn es gibt viel zu entdecken im Bergischen Land: 24 Kulturorte bieten ein vielfältiges Programm, das anschaulich und praxisnah an lehrplanrelevante Themen verschiedenster Fächer anknüpft.
            </p>

            <br>

            <p>
                Die Realisierung des Projektes findet statt in enger Zusammenarbeit zwischen der Geschäftsstelle KulturScouts Bergisches Land, getragen vom Rheinisch-Bergischen Kreis, sowie dem Kreis Mettmann, dem Oberbergischen Kreis und den Städten Remscheid, Solingen
                und Wuppertal. Das Ministerium für Kultur und Wissenschaft des Landes NRW fördert die KulturScouts Bergisches Land.
            </p>

            <br>

            <p>
                Weiterführende Informationen unter: <a href="www.kulturscouts-bl.de" class="color-link">www.kulturscouts-bl.de</a>
            </p>
        </section>
    </main>
</body>

</html>