<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content">
        <h1>Methodenkonzept für die SI und SII</h1>

        <div class="card" style="text-align: left;">
            <h3>
                Die Förderung der Methodenkompetenz der Schülerinnen und Schüler spielt eine wichtige Rolle, da diese die grundlegende Voraussetzung für ein eigenständiges und fortschreitendes Lernen darstellt. <br> Im konzeptionellen Rahmen der Schulung
                der Methodenkompetenz geht es darum, den Schülerinnen und Schülern frühzeitig und kontinuierlich unterstützendes Strategien und „Handwerkzeug“ an die Hand zu geben, die sie zum selbstständigen Arbeiten befähigen, und sie somit methodisch
                auszubilden für einen dauerhaften, zielführenden Wissens- und Kompetenzerwerb inner- und außerhalb der Schule.
            </h3>
            <br> <br>
            <h2>
                Das Methodenkonzept des Städtischen Gymnasiums Wermelskirchen besteht aus vier Bausteinen:
            </h2>


            <ol style="list-style-position: inside;" class="big-lh">
                <h3>
                    <li>ALF, den Arbeits- und Lernformen im ersten Halbjahr der Jahrgangsstufe 5</li>
                    <li> Allgemeine Unterrichtsmethoden</li>
                    <li>Fachspezifische Unterrichtsmethoden.</li>
                    <li>Methodentage EF und Q1</li>
                </h3>
            </ol>

            <br>

            <div>
                <h2>1. ALF</h2>

                <div class="inner-list">
                    <h3>
                        Den ersten Baustein ALF durchlaufen alle Schülerinnen und Schüler im ersten Halbjahr der Jahrgangsstufe 5. Hierfür stehen den Klassenlehrerinnen und Klassenlehrern einmal wöchentlich 45 Minuten Unterrichtszeit zur Verfügung. Intensiviert wird ALF an drei
                        Kompakttagen, die parallel zur Projektwoche der Jahrgangsstufen 6 bis Q1 durchgeführt werden.
                    </h3>
                    <br>
                    <h3>
                        Die Klassenlehrinnen und Klassenlehrer wählen aus dem Angebot zu den einzelnen Themengebieten entsprechend der Bedürfnisse ihrer Lerngruppe die Materialien aus und setzen individuell Schwerpunkte. Im Material wird eine Bearbeitungsreihenfolge vorgeschlagen,
                        die jedoch nicht bindend ist. Am Ende des Halbjahres werden die Schülerinnen und Schüler gezielt auf die Lernzeit vorbereitet, die die ALF-Stunde im zweiten Halbjahr ersetzt. Schwerpunkte liegen hierbei in dem Bereich der Selbstorganisation,
                        -motivation und -reflexion.
                    </h3>
                    <br>
                    <h3>
                        Die folgenden Themengebiete sind mögliche Unterrichtsgegenstände in ALF:
                    </h3>

                    <br>

                    <ol type="A">
                        <li>Kennenlernspiele, soziale Interaktion</li>
                        <li>Organisation und Struktur am Arbeitsplatz</li>
                        <li>Tasche packen</li>
                        <li>Klassenregeln entwickeln</li>
                        <li>Lerntypen, Lerntechniken</li>
                        <li>Lesetechniken</li>
                        <li>Markiertechniken</li>
                        <li>Mindmapping</li>
                        <li>Hausaufgaben</li>
                        <li>Vorbereitung von Klassenarbeiten</li>
                        <li>Aktives Zuhören – Gesprächskompetenz</li>
                        <li>Partner- und Gruppenarbeit</li>
                        <li>Lerntempoduett</li>
                        <li>Heftführung</li>
                        <li>Selbstorganisation</li>
                        <li>Nachschlagen und Recherchieren</li>
                        <li>Selbstmotivation</li>
                        <li>Konzentration</li>
                        <li>Selbstreflexion</li>
                        <li>Lernmut und Lernspaß</li>
                    </ol>
                    <br>
                    <p>
                        Die in ALF während des ersten Halbjahres eingeführten Methoden und Techniken werden sukzessive im Fachunterricht aufgegriffen und vertieft. Anhand einer tabellarischen Übersicht im Klassenbuch wird die Einführung und Vertiefung dokumentiert.
                    </p>
                </div>
                <br>
                <h1>2. Allgemeine Unterrichtsmethoden</h1>

                <div class="inner-list">
                    <p>
                        In ALF werden die Schülerinnen und Schüler bereits an elementare allgemeine Unterrichtsmethoden herangeführt. Im Fachunterricht werden diese vertieft sowie weitere überfachliche Methoden eingeführt, u.a.:
                    </p>


                    <ol type="A" class="big-lh">
                        <li>Internetrecherche</li>
                        <li>Ein Referat halten</li>
                        <li>Umgang mit Statistiken</li>
                        <li>Eine Karikatur analysieren</li>
                        <li>Partner- und Gruppenpuzzle</li>
                        <li>Stationenlernen</li>
                        <li>Projektarbeit</li>
                    </ol>

                    <p>
                        Eine Übersicht, aus der hervorgeht, wann welches Fach welche Methode behandelt, wird den Kolleginnen und Kollegen in Form einer Synopse zur Verfügung gestellt um darauf für ihren Unterricht zurückgreifen zu können.
                    </p>
                </div>

                <br>
                <h1>3. Fachspezifische Unterrichtsmethoden</h1>

                <div class="inner-list">
                    <p>Um eine einheitliche Methodenschulung innerhalb der einzelnen Fächer zu gewährleisten, haben sich die Fachschaften darauf verständigt, einheitliche Leitlinien für fachmethodische Vorgehensweisen zu verabreden. Dafür wurden so genannte
                        Methodenkoffer erstellt – je ein Koffer für den Unterricht in der Sekundarstufe I und einer mit größerem Umfang und höherem Anspruch für die Sekundarstufe II. In den Koffern gibt es für alle wichtigen fachspezifischen Methoden
                        eine Anleitung sowie sinnvolles und nützliches Fachvokabular. Die Methodenkoffer stehen Kolleginnen und Kollegen zur Verfügung. Sie geben die einzelnen Bausteine an entsprechender Stelle im Unterricht an die Schülerinnen und Schüler
                        weiter. </p>
                </div>

                <br>
                <h1>4. *In Bearbeitung</h1>
            </div>
        </div>
    </main>
</body>

</html>