<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content" style="margin-top: 0;">
        <h1 style="font-size: 60px;align-self:center;" class="bc-theme">Kooperationen</h1>
    </main>
</body>

</html>