<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content">
        <h1>Studien- und Berufsorientierung</h1>

        <div class="card">
            <h2>Hier finden Sie / findest Du Informationen zu studien- und berufsvorbereitenden Maßnahmen an unserer Schule.</h2>

            <br>

            <h2>Das Team:</h2>

            <h3 class="inner-list">
                <ul class="big-lh rw-flex" style="justify-content: space-around;">
                    <li class="box">Herr Arne Fröhlingsdorf (Sek. I)</li>
                    <li class="box">Herr Marc Mattiesson (Sek. II)</li>
                    <br>

                    <br>
                    <li class="box">Arne.Froehlingsdorf (at) sgw-schule.de</li>
                    <li class="box">Marc.Mattiesson (at) sgw-schule.de</li>
                </ul>
            </h3>
            <br>
            <h3 style="display: flex;flex-flow:wrap;">
                Auch die&nbsp;
                <p class="pk-theme">Bundesagentur für Arbeit </p> bietet regelmäßig Beratungstermine für Schüler*innen, Studieninteressierte, Studierende und Eltern zu den Themen Ausbildung, Studium und Beruf direkt in der Schule, in den Räumen der Arbeitsagentur oder auch
                telefonisch/per Videokonferenz an. Mehr Informationen dazu gibt es HIER. Den Link zur Online-Terminliste findet ihr im internen Bereich im Abschnitt "Beratung Oberstufe".
            </h3>
        </div>

        <h3>
            <ul class="rw-flex" style="gap: 2em;">
                <li><a class="bc-theme" href="/sekundarstufe-i">Sekundarstufe I</a></li>
                <li><a class="bc-theme" href="/sekundarstufe-ii">Sekundarstufe II</a></li>
                <li><a class="bc-theme" href="/links-zur-studien-und-berufsorientierung">Links zur Studien- und Berufsorientierung</a></li>
            </ul>
        </h3>

        <hr align="center" width="95%">

        <section>
            <h2 class="second-class-title">Weblinks zur Studien- und Berufsorientierung</h2>

            <div>
                <img src="assets/sgw-official/Berufsorientierung_links1.jpg">
                <img src="assets/sgw-official/Berufsorientierung_links2.jpg .jpg">
            </div>
        </section>
    </main>
</body>

</html>