<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content">
        <h1>Hausaufgabenkonzept f체r die Sek I</h1>

        <div class="card">
            <h3>In Zusammenarbeit mit Sch체lern, Eltern und Lehrern des St채dtischen Gymnasiums Wermelskirchen ist ein Hausaufgabenkonzept entstanden, welches von der Lehrerkonferenz beschlossen wurde.</h3>

            <br>

            <h3>Dieses wird zur Zeit 체berarbeitet.</h3>
        </div>
    </main>
</body>

</html>