<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content">
        <h1>Medienkonzept</h1>

        <div class="card">
            <h2>Informationen zum Medienkonzept des Städtischen Gymnasiums Wermelskirchen</h2>

            <br>

            <h3>
                Im Zuge der Digitalisierung ist zunehmend sowohl im privaten Umfeld als auch in der (beruflichen) Ausbildung eine kritisch reflektierte Handlungskompetenz im Umgang mit Medien gefordert.
            </h3>

            <br>

            <h3>
                Die Schule spielt dabei eine wichtige Rolle. Um die Schüler*innen bei den Anforderungen der heutigen Medienwelt zu unterstützen, hat das Städtische Gymnasium Wermelskirchen ein Medienkonzept entwickelt, das drei Kernbereiche fokussiert:
            </h3>

            <h3>
                <ol type="A" class="big-lh">
                    <li>die schulische Ausstattung</li>
                    <li>die Unterrichtsentwicklung</li>
                    <li>sowie die Fortbildungsplanung für das Kollegium</li>
                </ol>
            </h3>

            <h3>
                Das Medienkonzept verfolgt das Ziel, digitale Medien sinnvoll in den Fachunterricht zu integrieren und die Schüler*innen zu einem selbstbestimmten, verantwortungsvollen Umgang mit diesen zu befähigen.
            </h3>

            <br>

            <h3>
                Gleichermaßen werden in der reflektierten Auseinandersetzung mit Medieninhalten deren Chancen und Risiken aufgezeigt, um die Schüler*innen zu einer kritischen, aber auch zu einer produktiven und kreativen Mediennutzung anzuleiten.
            </h3>

            <br>

            <h3>
                Die Grundlage unseres Medienkonzepts bildet der Medienkompetenzrahmen NRW, der neben einer systematischen Vermittlung von Medienkompetenz ebenso die Vermittlung einer informatischen Grundbildung umfasst. Dies erfolgt nicht isoliert, sondern eingebettet
                in den Kontext fachspezifischer Unterrichtsvorhaben, die auf den Vorgaben der schulinternen Curricula sowie der Kernlehrpläne NRW basieren.
            </h3>

            <br>

            <h3>Insgesamt werden sechs Kompetenzbereiche unterschieden:</h3>

            <h3>
                <ol class="big-lh">
                    <li>Der Bereich <b class="bc-theme">Bedienen und Anwenden</b> beschreibt die technische Fähigkeit, Medien sinnvoll einzusetzen und ist die Voraussetzung jeder aktiven und passiven Mediennutzung.</li>
                    <li>Der Bereich <b class="bc-theme">Informieren und Recherchieren</b> umfasst die sinnvolle und zielgerichtete Auswahl von Quellen sowie die kritische Bewertung und Nutzung von Informationen.</li>
                    <li>Der Bereich <b class="bc-theme">Kommunizieren und Kooperieren</b> beinhaltet, Regeln für eine sichere und zielgerichtete Kommunikation zu beherrschen und Medien verantwortlich zur Zusammenarbeit zu nutzen.</li>
                    <li>Der Bereich <b class="bc-theme">Produzieren und Präsentieren</b> beinhaltet, mediale Gestaltungsmöglichkeiten zu kennen und diese kreativ bei der Planung und Realisierung eines Medienproduktes einzusetzen.</li>
                    <li>Der Bereich <b class="bc-theme">Analysieren und Reflektieren</b> ist doppelt zu verstehen: Einerseits umfasst diese Kompetenz das Wissen um die Vielfalt der Medien, andererseits die kritische Auseinandersetzung mit Medienangeboten
                        und dem eigenen Mediennutzungsverhalten. Ziel der Reflexion ist es, zu einem selbstbestimmten und selbstregulierten Umgang mit der eigenen Mediennutzung zu gelangen.</li>
                    <li>Der Bereich <b class="bc-theme">Problemlösen und Modellieren</b> bezieht sich auf das Entwickeln von Strategien zur Problemlösung, die Modellierung und Zerlegung in Teilschritte (beispielsweise mittels Algorithmen). Es wird eine informatische
                        Grundbildung als elementarer Bestandteil im Bildungssystem verankert, nämlich die Vermittlung von Fähigkeiten im Programmieren, die Reflexion der Einflüsse von Algorithmen und die Auswirkung der Automatisierung von Prozessen in
                        der digitalen Welt.
                    </li>
                </ol>
            </h3>

            <br>

            <p>(Quelle und weiterführende Informationen zum Medienkompetenzrahmen NRW: medienkompetenzrahmen.nrw.de)
            </p>
        </div>

        <br>
        <hr width="70%">

        <h3>
            <ul class="rw-flex" style="gap: 2em;">
                <li>
                    <a target="_blank" href="assets/sgw-official/Medienkonzept.pdf" class="pk-theme">Medienkonzept</a>
                </li>
                <li><a class="pk-theme" href="https://padlet.com/gymnasium_wermelskirchen/digitales-curriculum-p0y42cg42yl9bde9" target="_blank">Digitales Curriculum</a></li>
                <li><a class="pk-theme" href="/node/2578">Digitale Selbstverteidigung</a></li>
            </ul>
        </h3>
    </main>
</body>

</html>