<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main class="main-content">
        <h1>Forder- bzw. Förderunterricht in den Jgst. 7 - 9</h1>

        <div class="card">
            <h2>Forderunterricht:</h2>

            <h3 class="pk-theme">
                Organisation:
            </h3>

            <h3>
                Forderunterricht als Fach findet in den Klassen 7, 8 und 9 statt. Dafür stehen 45 Minuten Unterrichtszeit in der Woche zur Verfügung. In der Jahrgangsstufe 7 ist die Teilnahme für alle Schülerinnen und Schüler, die nicht dem Förderunterricht zugeteilt
                werden, verpflichtend. In den Jahrgangsstufen 8 und 9 können Eltern ihre Kinder vom Forderunterricht freistellen (Beschluss der Schulkonferenz). Der Forderunterricht wird klassenübergreifen erteilt. Es findet keine Leistungsbewertung statt.
            </h3>

            <br>

            <h3 class="pk-theme">
                Ziele und Inhalte:
            </h3>

            <h3>
                Entdecken neuer Inhalte, Spaß am Ausprobieren von Neuem, Steigerung der Lernmotivation
            </h3>

            <br>

            <h3 class="pk-theme">
                Beispiele für Angebote aus dem letzten Schuljahr:
            </h3>

            <h3>
                <ul>
                    <li>Computerführerschein</li>
                    <li>Judo für Anfänger und Fortgeschrittene</li>
                    <li>Bau eines elektronischen Gerätes</li>
                    <li>Gesellschaftsspiele entwickeln</li>
                    <li>Wir machen Theater</li>
                    <li>Das kommt mir Spanisch vor</li>
                    <li>DELF</li>
                </ul>
            </h3>

            <br>

            <h2>Förderunterricht:</h2>

            <h3 class="pk-theme">
                Organisation:
            </h3>

            <h3>
                Förderunterricht als Fach findet in den Klassen 7, 8 und 9 statt. Dafür stehen 45 Minuten Unterrichtszeit pro Förderfach in der Woche zur Verfügung. Fachlehrer erteilen den Unterricht in kleinen Lerngruppen für die Fächer Deutsch, Englisch, Mathe, Latein
                und Französisch. Schülerinnen und Schüler, deren Leistungen in einem dieser Fächer die Versetzung gefährden könnten, werden von der Zeugniskonferenz dem Förderunterricht in einem Fach für das kommende Halbjahr zugeteilt. Die Teilnahme
                ist dann für die Jahrgangsstufe 7 verpflichtend. In den Jahrgangsstufen 8 und 9 können Eltern ihre Kinder vom Förderunterricht freistellen (Beschluss der Schulkonferenz). Der Förderunterricht wird klassenübergreifend erteilt. Es findet
                keine Leistungsbewertung statt.
            </h3>

            <h3 class="pk-theme">
                Ziele und Inhalte:
            </h3>

            <h3>
                <ul>
                    <li>
                        gezielte Unterstützung und Förderung in einem Unterrichtsfach, in welchem das Kind Leistungsdefizite hat
                    </li>
                    <li>
                        Schülerinnen und Schüler erhalten passgenaues Material, mit dem sie Inhalte wiederholen und vertiefen können
                    </li>
                    <li>
                        die anwesenden Fachlehrer können intensiv unterstützen, da die Lerngruppen kleiner sind als im Klassenverband
                    </li>
                </ul>
            </h3>
        </div>
    </main>
</body>

</html>