<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content">
        <h1>Zugang zu Office-Produkten</h1>

        <hr align="center" width="95%">

        <div style="text-align: center;">
            Microsoft Office 2019 /2021 Pro und MS Office 365 Pro Plus for Teachers und MS Office 365 Pro Plus for Students
            <br><br> Auf allen Schulrechnern unseres Gymnasiums ist MS Office 2019 / 2021 Professional installiert. Aufgrund dieser Anschaffung des Gymnasiums sind wir als Bildungseinrichtung berechtigt, allen Schülerinnen und Schülern eine persönliche
            Nutzungslizenz für MS Office 365 Pro Plus bereitzustellen.
            <br><br> Allen Schülerinnen und Schülern wird kurz nach dem Start am Gymnasium per IServ eine E-Mail mit den Nutzungsdaten geschickt. Solltest Du keine E-Mail erhalten haben oder der IServ-Zugang nicht funktionieren, dann mit eine E-Mail an
            it.problem(at)sgw-schule.de senden mit Deinem Vornamen und Nachnamen und der Klasse.
            <br><br> Bei weiteren Fragen wendet euch bitte an Raphael Kemna, Administrator
            <br><br> E-Mail an: <a href="mailto:raphael.kemna(at)sgw-schule.de" class="bc-theme">raphael.kemna(at)sgw-schule.de</a>
        </div>
    </main>
</body>

</html>