<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main class="main-content">
        <h1>Digitale Selbstverteidigung</h1>

        <br>

        <div class="card">
            <h2 style="text-align: center;">"Ich habe seit fünf Jahren ein Handy, aber noch nie hat mir jemand etwas darüber erklärt.“ Eine Aussage wie diese ist vielfach von Schülerinnen und Schülern zu hören.</h2>

            <img style="align-self: center;" width="40%" src="assets/sgw-official/2022_02_10_Bild_Digitale Selbstverteidigung.jpg" alt="">

            <br> <br>

            <h3>Ist einerseits bei unseren Kindern und Jugendlichen die Rede von „digital natives“, so macht sich andererseits bei Nachfragen zu möglichen Gefahren der Nutzung von Smartphones und von sozialen Netzwerken bei ihnen eine große Ratlosigkeit und
                Unbedarftheit breit.</h3>
            <br>

            <h3>Aus diesem Grund leistet das Städtische Gymnasium Wermelskirchen schon seit geraumer Zeit Präventions- und Interventionsarbeit im Hinblick auf Chancen und Risiken der Nutzung von Smartphones und damit – oftmals untrennbar – verbunden, von
                sozialen Netzwerken.</h3>
            <br>
            <h3>Ein Baustein dieser Arbeit besteht in Unterrichtseinheiten der Verbraucherzentrale NRW mit dem markanten Titel „Digitale Selbstverteidigung“.</h3>
            <br>

            <h3>In diesem Schuljahr haben diese Einheiten am 1., 2. und 9. Februar für alle siebten Klassen stattgefunden. In Person von Frau Vogt aus der Beratungsstelle Bergisch-Gladbach (Verbraucherzentrale Nordrhein-Westfalen) wurden folgende Aspekte
                und Fragestellungen thematisiert.</h3>
            <br>
            <h2 class="pk-theme">Wie mache ich mein Smartphone sicher?</h2>

            <b class="inner-list">            
                <ul>
                    <li>Virenschutz</li>
                    <li>Software-Updates</li>
                    <li>Sicheres Passwort</li>
                </ul>
            </b>

            <h2 class="pk-theme">Wie schütze ich mich vor hohen Rechnungen und Abzocke?</h2>

            <b class="inner-list">
                <ul>
                    <li>Abzockfallen erkennen</li>
                    <li>Phishing-Mails</li>
                    <li>In-App-Käufe</li>
                    <li>App-Berechtigungen: Was Apps über mich wissen wollen</li>
                    <li>WhatsApp nutzen: Tipps zu Datenschutz-Einstellungen</li>
                </ul>
            </b>
            <br>
            <h3>
                Die Veranstaltung ist eingebettet in eine Reihe von medienpädagogischen Einheiten und Veranstaltungen im Jahrgang 7 des Städtischen Gymnasiums Wermelskirchen zu Chancen und Risiken der Nutzung von Smartphones und sozialen Netzwerken. So werden in zwei
                weiteren Einheiten Aspekte wie:
            </h3>
            <br>
            <h3>Wie reagieren wir auf Inhalte / Posts, die unseren Vorstellungen von Toleranz, Akzeptant und Vielfalt widersprechen? und</h3>
            <br>
            <h3>Welche Möglichkeit haben wir, um auf unangemessene Inhalte einzugehen, anstatt sie bloß zu konsumieren oder gar zustimmend zu kommentieren?</h3>
            <br>
            <p>thematisiert und pädagogisch aufgegriffen.</p>
        </div>

        <h3><a href="/node/2179" class="bc-theme">Zurück zum Medienkonzept</a></h3>
    </main>
</body>

</html>