<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content">
        <h1>Beratung und pädagogische Betreuung</h1>

        <br>
        <h3>
            <ul style="gap: 2em;" class="rw-flex">
                <li>Das Beratungsteam</li>
                <li>Gewaltprävention und Krisenintervention</li>
                <li>Lerncoaching</li>
            </ul>
        </h3>
    </main>
</body>

</html>