<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- title %>
    </title>
</head>

<body>
    <main class="main-content">
        <h1>Schulzeitung - Tintenkiller</h1>

        <hr align="center" width="95%">

        <div style="text-align: center;">
            <p>
                Willkommen auf der Seite des TintenKillers, der Schulzeitung des Städtischen Gymnasiums Wermelskirchen.
            </p>
            <br>
            <p>
                Auf unserer Instagram Seite findet ihr zu den verschiedensten Themen, die euch interessieren: kontrovers, informativ und unterhaltsam.
            </p>
            <br>
            <p>
                Ihr wünscht euch, dass wir über ein konkretes Thema berichten? Ihr habt im Unterricht etwas Großartiges erarbeitet, dass die ganze Schulgemeinschaft zu Gesicht bekommen soll? Ihr habt eine Frage zu einem Artikel oder wollt etwas kritisieren?
            </p>
            <br>
            <p>
                Dann schreibt uns doch einfach eine Mail an <a class="bc-theme" href="mailto:schulzeitung@sgw-schule.de">schulzeitung@sgw-schule.de</a>.
            </p>
            <br>

            <img src="assets/sgw-official/Schulzeitung.png">
        </div>

        <hr align="center" width="95%">

    </main>
</body>

</html>